@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.NotificationSettingsViewModel>
@{ViewBag.Title = "Notification Settings"; }
@{ViewBag.HideNav = "true"; }

<form method="post">

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Notification Settings</h1>

            @Html.AntiForgeryToken()

            <input type="hidden" value="@Model.Data.HashedId" name="HashedId" />
            
            <table>
                <thead>
                    <tr>
                        <td>Account name</td>
                        <td>Emails</td>
                        <td>No emails</td>
                    </tr>
                </thead>
                <tbody>
                   
                    @for (var i = 0; i < Model.Data.NotificationSettings.Count; i++)
                    {
                        var setting = Model.Data.NotificationSettings[i];

                        <tr>
                            <td>
                                @setting.Name
                                @Html.Hidden($"NotificationSettings[{i}].HashedAccountId", setting.HashedAccountId)
                                @Html.Hidden($"NotificationSettings[{i}].Name", setting.Name)
                                @Html.Hidden($"NotificationSettings[{i}].Id", setting.Id)
                            </td>
                            <td>
                                @Html.RadioButton($"NotificationSettings[{i}].ReceiveNotifications", true, setting.ReceiveNotifications)
                            </td>
                            <td>
                                @Html.RadioButton($"NotificationSettings[{i}].ReceiveNotifications", false, !setting.ReceiveNotifications)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            
            <button type="submit" class="button">Update</button>
            
            <br/><br/>
            
            <a href="@Url.Action("Index", "Home")">Cancel</a>

        </div>
    </div>

</form>