@using SFA.DAS.EAS.Support.Web.Services
@model SFA.DAS.EAS.Support.Web.Models.ChallengeViewModel


@if (Model.Characters.Any())
{
    if (Model.HasError)
    {
        <div class="error-summary">
            <p>Incorrect information entered.</p>
        </div>
    }

    <h1>Finance</h1>

    using (Html.BeginForm())
    {

        <p class="lede">Enter the following information to verify the caller's identity:</p>

        <input name="url" type="hidden" value="@Model.Url" />
        <input name="id" type="hidden" value="@Model.Id" />
        <input name="firstCharacterPosition" type="hidden" value="@Model.Characters[0]" />
        <input name="secondCharacterPosition" type="hidden" value="@Model.Characters[1]" />


        <label class="form-label" for="challenge1">@ChallengeHelper.GetChallengeMessage(Model.Characters)</label>
        <div class="form-group form-date">
            <div class="form-group form-group-day">
                <input class="form-control" name="challenge1" id="challenge1" type="password" maxlength="1" data-next-id="challenge2" />
            </div>
            <div class="form-group form-group-month">
                <input class="form-control" name="challenge2" id="challenge2" type="password" maxlength="1" data-next-id="balance" />
            </div>
        </div>


        <div class="form-group">
            <label class="form-label" for="balance">
                Current levy balance (exclude pence, commas and don't round up):
            </label>
            <input name="balance" id="balance" type="text" class="form-control form-control-1-4" />
        </div>

        <div class="form-group">
            <input type="submit" class="button" />
        </div>

    }
}
else
{
    <div class="error-summary">
        <p> No PAYE scheme setup for this account. Please setup a PAYE Scheme to continue.</p>
    </div>
}

