@using SFA.DAS.EAS.Web.ViewModels.ManageApprenticeships
@model SFA.DAS.EAS.Web.OrchestratorResponse<UpdateApprenticeshipViewModel>
@{
    ViewBag.Title = "Confirm changes";
    ViewBag.PageID = "confirm-edited-changes";

    Model.Data.CurrentTableHeadingText = "Current";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("SubmitChanges")" novalidate="novalidate">
            
            @Html.AntiForgeryToken()

            <h1 class="heading-xlarge">Confirm changes</h1>
            
            @Html.Partial("ApprenticeshipUpdate", Model.Data)
                <h2 class="heading-medium">Do you want to make these changes?</h2>
                <div class="form-group @(!string.IsNullOrEmpty(Model.Data.ChangesConfirmedError) ? "error" : "")">
                    <fieldset>
                        <legend class="visually-hidden">Do you want to make these changes?</legend>
            
                        <div id="ChangesConfirmed"></div>
                        @if (!string.IsNullOrEmpty(Model.Data.ChangesConfirmedError))
                        {
                            <span class="error-message" id="error-message-ChangesConfirmed">@Model.Data.ChangesConfirmedError</span>
                        }

                        <label class="block-label selection-button-radio" for="changes-confirmed-true">
                            @Html.RadioButton("ChangesConfirmed", true, new { id = "changes-confirmed-true" })
                            Yes, change these details
                        </label>
                        <label class="block-label selection-button-radio" for="changes-confirmed-false">
                            @Html.RadioButton("ChangesConfirmed", false, new { id = "changes-confirmed-false" })
                            No, don't change these details
                        </label>
                    </fieldset>
                </div>

                <button type="submit" class="button" aria-label="Finish">Finish</button>
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Details", "EmployerManageApprentices")" aria-label="Back to apprentice details" class="back-link">Back to apprentice details</a>
    </div>
}
