@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.ManageApprenticeships.UpdateApprenticeshipViewModel>
@{
    ViewBag.Title = "Confirm changes";
    ViewBag.PageID = "confirm-edited-changes";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Confirm changes</h1>

        <table class="edited-changes">
            <thead>
                <tr>
                    <th></th>
                    <th>Current</th>
                    <th>Changed to</th>
                </tr>
            </thead>
            <tbody>
            @if (!string.IsNullOrEmpty(Model.Data.FirstName))
            {
                <tr>
                    <td>First name</td>
                    <td>@Model.Data.OriginalApprenticeship.FirstName </td>
                    <td class="changed-item">@Model.Data.FirstName</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.Data.LastName))
            {
                <tr>
                    <td>Last name</td>
                    <td>@Model.Data.OriginalApprenticeship.LastName </td>
                    <td class="changed-item">@Model.Data.LastName</td>
                </tr>
            }

            @if (Model.Data.DateOfBirth?.DateTime != null)
                        {
                <tr>
                    <td>Date of birth</td>
                    <td>@Model.Data.OriginalApprenticeship.DateOfBirth.Value.ToGdsFormat() </td>
                    <td class="changed-item">@Model.Data.DateOfBirth.DateTime.Value.ToGdsFormat()</td>
                </tr>
            }

            @if (Model.Data.TrainingName != null)
            {
                <tr>
                    <td>Apprenticeship training course</td>
                    <td>@Model.Data.OriginalApprenticeship.TrainingName </td>
                    <td class="changed-item">@Model.Data.TrainingName</td>
                </tr>
            }

            @if (Model.Data.StartDate?.DateTime != null)
            {
                <tr>
                    <td>Planned training start date</td>
                    <td>@Model.Data.OriginalApprenticeship.StartDate.Value.ToGdsFormat() </td>
                    <td class="changed-item">@Model.Data.StartDate.DateTime.Value.ToGdsFormat()</td>
                </tr>
            }


            @if (Model.Data.EndDate?.DateTime != null)
                        {
                <tr>
                    <td>Planned training end date</td>
                    <td>@Model.Data.OriginalApprenticeship.EndDate.Value.ToGdsFormat() </td>
                    <td class="changed-item">@Model.Data.EndDate.DateTime.Value.ToGdsFormat()</td>
                </tr>
            }

            @if (Model.Data.Cost != null)
            {
                <tr>
                    <td>Cost</td>
                    <td>@Model.Data.OriginalApprenticeship.Cost.FormatCost() </td>
                    <td class="changed-item">@Model.Data.Cost.FormatCost() </td>
                </tr>
            }



            @if (Model.Data.EmployerRef != null)
                        {
                <tr>
                    <td>Reference</td>
                    <td>@Model.Data.OriginalApprenticeship.EmployerRef</td>
                    <td class="changed-item">@Model.Data.EmployerRef</td>
                </tr>
            }

            @*<tr>
                <td>Date of birth </td>
                <td>28 February 1997 </td>
                <td class="changed-item">1 March 1995 </td>
            </tr>*@
            </tbody>
        </table>

        <h1 class="heading-medium">Do you want to make these changes?</h1>

        <form>
            <div class="form-group">
                <fieldset>
                    <legend class="visually-hidden">Do you want to make these changes?</legend>

                    <label class="block-label selection-button-radio" for="radio-1">
                        <input id="radio-1" type="radio" name="radio-group" value="yes change">
                        Yes, change these details
                    </label>
                    <label class="block-label selection-button-radio" for="radio-2">
                        <input id="radio-2" type="radio" name="radio-group" value="no change">
                        No, don't change these details
                    </label>
                </fieldset>
            </div>
        </form>
        
        <button type="submit" class="button" aria-label="Finish">Finish</button>

        <div class="column-one-thirds">

        </div>

    </div>
</div>


@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("ListAll", "EmployerManageApprentices")" aria-label="Back to all apprentices" class="back-link">Back</a>
    </div>
}