@using SFA.DAS.EAS.Web.Extensions
@using SFA.DAS.EAS.Web.ViewModels.ManageApprenticeships
@model SFA.DAS.EAS.Web.OrchestratorResponse<ApprenticeshipDetailsViewModel>

@{
    ViewBag.Title = "Apprentice detail";
    ViewBag.PageId = "apprentices-detail";
}


<div class="grid-row">
    <div class="column-two-thirds">
       <h1 class="heading-xlarge">@Model.Data.FirstName @Model.Data.LastName</h1>

            @if (Model.Data.PendingChanges == PendingChanges.ReadyForApproval)
            {
                <div class="panel panel-border-wide alert-default">
                    <h3>Changes for review</h3>
                    <p>
                        There are changes to this apprentice's details that you need to review.
                    </p>
                    <p>
                        <a href="@Url.RouteUrl("ReviewChanges")">Review changes</a>
                    </p>
                </div>
            }
            else if (Model.Data.PendingChanges == PendingChanges.WaitingForApproval)
            {
                <div class="panel panel-border-wide">
                    <h3>Changes pending</h3>
                    <p>
                        There are changes to this apprentice's details that are waiting for approval by the training provider.
                        <p>
                            <a href="@Url.RouteUrl("ViewPendingChanges")">View changes</a>
                        </p>
                    </p>
                </div>
            }

            <table id="app-status">
                <thead>
                    <tr>
                        <th colspan="3" class="visually-hidden">Apprentice Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Status</td>
                        <td>@Model.Data.Status</td>
                        <td>
                            @*<a href="#">Edit status</a>*@
                        </td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <th colspan="2">Overview</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Training provider</td>
                        <td>@Model.Data.ProviderName</td>
                    </tr>
                    <tr>
                        <td>Cohort reference</td>
                        <td>@Model.Data.CohortReference</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <th colspan="2">
                            Apprentice
                            @if (Model.Data.PendingChanges == PendingChanges.None)
                            {
                                <a href="@Url.RouteUrl("EditApprovedApprentice")" class="float-right">Edit</a>
                            }
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>@Model.Data.FirstName @Model.Data.LastName</td>
                    </tr>
                    <tr>
                        <td>Date of birth</td>
                        <td>
                            @if (Model.Data.DateOfBirth.HasValue)
                            {
                                @Model.Data.DateOfBirth.Value.ToGdsFormat()
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Apprenticeship training course </td>
                        <td>@Model.Data.TrainingName </td>
                    </tr>
                    @*<tr>
                        <td>End-point assessor </td>
                        <td>@Model.Data.EndPointAssessor</td>
                    </tr>*@
                    <tr>
                        <td>Training start date </td>
                        <td>
                            @if (@Model.Data.StartDate.HasValue)
                            {
                                @Model.Data.StartDate.Value.ToGdsFormat()
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Training end date </td>
                        <td>
                            @if (Model.Data.EndDate.HasValue)
                            {
                                @Model.Data.EndDate.Value.ToGdsFormat()
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Total cost of training </td>
                        <td>@FormatCost(Model.Data.Cost) </td>
                    </tr>
                    <tr>
                        <td>Reference </td>
                        <td>@Model.Data.EmployerReference</td>
                    </tr>
                </tbody>
            </table>
    
        </div>
    <div class="column-one-thirds">

    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("ListAll", "EmployerManageApprentices")" aria-label="Back to manage your apprentices" class="back-link">Back to manage your apprentices</a>
    </div>
}

@functions {
    public string FormatCost(decimal? cost)
    {
        if (!cost.HasValue)
            return string.Empty;

        return $"£{cost.Value:n0}";
    }
}