@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.ExtendedApprenticeshipViewModel>

@{
    ViewBag.Title = "Edit Apprentice detail";
    ViewBag.PageId = "edit-apprentices-detail";
}

@section pageSpecificJS {
    @Scripts.Render("~/bundles/apprentice")
    @Scripts.Render("~/bundles/characterLimitation")
}

<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("ConfirmChanges")" novalidate="novalidate">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <h1 class="heading-xlarge">Edit apprentice details</h1>
                <fieldset>
                    <legend class="visuallyhidden">Edit apprentice</legend>

                    @if (Model.Data.Apprenticeship.HasStarted)
                    {
                        @Html.Partial("EditStartedApprenticeship", Model.Data)
                    }
                    else
                    {
                        @Html.Partial("EditApprenticeship", Model.Data)
                    }
                </fieldset>
            </div>

            <div class="form-group end-point-assessment">
                <hr />
                <div class="grey-background">
                    <p class="form-label-bold">End-point assessments</p>
                    <p>If you've chosen an apprenticeship standard, we'll ask you to confirm the <a href="https://www.gov.uk/government/publications/using-the-register-of-apprentice-assessment-organisations" target="_blank" title="Opens in a new window" rel="external">apprentice assessment organisation</a> for this apprentice. We'll do this before the end of the apprenticeship.</p>
                    <p>
                        Apprenticeship frameworks have different assessment arrangements and don't need end-point assessments.
                    </p>
                </div>
            </div>

            @Html.Hidden("hashedAccountId", Model.Data.Apprenticeship.HashedAccountId)
            @Html.Hidden("hashedApprenticeshipId", Model.Data.Apprenticeship.HashedApprenticeshipId)
            @Html.Hidden("hashedCommitmentId", Model.Data.Apprenticeship.HashedCommitmentId)
            @Html.Hidden("uln", Model.Data.Apprenticeship.ULN)
            @Html.Hidden("HasStarted", Model.Data.Apprenticeship.HasStarted)
            <button type="submit" class="button" aria-label="Add">Update details</button>
            <a class="button text-link" href="@Url.Action("Details", new { hashedAccountId = Model.Data.Apprenticeship.HashedAccountId, hashedCommitmentId = Model.Data.Apprenticeship.HashedCommitmentId })" aria-label="Cancel">
                Cancel and return
            </a>
        </form>
    </div>

    <div class="column-one-thirds">
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Details", "EmployerManageApprentices", new { Model.Data.Apprenticeship.HashedAccountId, Model.Data.Apprenticeship.HashedApprenticeshipId} )" aria-label="Back to apprentice details" class="back-link">Back to apprentice details</a>
    </div>
}