@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.ManageApprenticeships.ApprenticeshipDetailsViewModel>

@{
    ViewBag.Title = "Apprentice detail";
    ViewBag.PageId = "apprentices-detail";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">@Model.Data.FirstName @Model.Data.LastName</h1>
        </div>

        <table class="status-section">
            <thead>
            <tr>
                <th colspan="2">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Status</td>
                <td>@Model.Data.Status</td>
            </tr>
            </tbody>
        </table>

        <table class="apprentice-section">
            <thead>
            <tr>
                <th colspan="2">Apprentice</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Name</td>
                <td>@Model.Data.FirstName @Model.Data.LastName</td>
            </tr>
            <tr>
                <td>Date of birth</td>
                <td>
                    @if (Model.Data.DateOfBirth.HasValue)
                    {
                        @Model.Data.DateOfBirth.Value.ToGdsFormat()
                    }
                </td>
            </tr>
            </tbody>
        </table>

        <table class="training-section">
            <thead>
            <tr>
                <th colspan="2">Training</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Apprenticeship training course</td>
                <td>@Model.Data.TrainingName</td>

            </tr>
            <!--
                enhancement    
            <tr>
                <td>Provider</td>
                <td>@Model.Data.ProviderName</td>

            </tr>
            -->

            <!--
                enhancement    
            <tr>
                <td>End-point assessor</td>
                <td>Pham Assessment Ltd</td>
            </tr>
            -->

            </tbody>
        </table>

        <table class="dates-section">
            <thead>
            <tr>
                <th colspan="3">Dates</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Training start date</td>
                <td>
                    @if (@Model.Data.StartDate.HasValue)
                    {
                        @Model.Data.StartDate.Value.ToGdsFormat()
                    }
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Training end date</td>
                <td>
                    @if (Model.Data.EndDate.HasValue)
                    {
                        @Model.Data.EndDate.Value.ToGdsFormat()
                    }
                </td>
                <td>&nbsp;</td>
            </tr>
            <!--
                enhancement    
            <tr>
                <td>Time left</td>
                <td> 10 months</td>
                <td>&nbsp;</td>
            </tr>
            -->

            </tbody>
        </table>

        <table class="payment-section">
            <thead>
            <tr>
                <th colspan="3">Payment</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Total training cost</td>
                <td>@FormatCost(Model.Data.Cost)</td>
                <td>&nbsp;</td>
            </tr>
            <!--
                enhancement
            <tr>
                <td>Amount paid to date</td>
                <td>&pound;1,312.56</td>
                <td><a href="#">View</a></td>
            </tr>
            <tr>
                <td>Balance</td>
                <td>&pound;1,645.00</td>
                <td><a href="#">View</a></td>
            </tr>

            -->
            </tbody>
        </table>

    </div>

    <div class="column-one-thirds">

    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("ListAll", "EmployerManageApprentices")" aria-label="Back to all apprentices" class="back-link">Back</a>
    </div>
}

@functions {
    public string FormatCost(decimal? cost)
    {
        if (!cost.HasValue)
            return string.Empty;

        return $"£{cost.Value:n0}";
    }
}