@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.ManageApprenticeships.PaymentOrderViewModel>

@{
    ViewBag.Title = "Default payment order";
    ViewBag.PageId = "payment-order";
}


@section pageSpecificJS {
    @Scripts.Render("~/bundles/apprentice")
    @Scripts.Render("~/bundles/paymentOrder")
}

<div class="grid-row">
    <div class="column-two-thirds">
        @Html.Partial("ValidationSummary", Html.ViewData.ModelState)

        <h1 class="heading-xlarge">Set payment order</h1>
        <p>The training provider lister first will be paid first from your available funds.</p>
        <form method="POST" action="@Url.Action("PaymentOrderPost")" novalidate="novalidate" id="sort-it">
            @Html.AntiForgeryToken()
            <ol>
                @{
                    var itemCount = -1;
                }
                @foreach (var item in Model.Data.Items)
                {
                    itemCount++;
                    <li>
                        @item.ProviderName
                        <label for="paymentOrderItem.items[@itemCount].NewOrder">New order:</label>
                        <input id="custom-number-@item.InitialOrder" name="paymentOrderItem.items[@itemCount].NewOrder" max="@Model.Data.Items.Count()" type="number" value="@item.InitialOrder">
                        @Html.Hidden($"paymentOrderItem.items[{itemCount}].InitialOrder", item.InitialOrder)
                        @Html.Hidden($"paymentOrderItem.items[{itemCount}].ProviderId", item.ProviderId)
                        @Html.Hidden($"paymentOrderItem.items[{itemCount}].ProviderName", item.ProviderName)
                    </li>
                }
            </ol>


            <!--static code-->
            <ol id="order-payment">
                <li>
                    <select class="provider-list">
                        <option value="AK">Alaska and the list of alaska</option>
                        <option value="HI">Hawaii</option>
                        <option value="CA">California</option>
                        <option value="NV">Nevada</option>
                        <option value="OR">Oregon</option>
                        <option value="WA">Washington</option>
                        <option value="AZ">Arizona</option>
                        <option value="CO">Colorado</option>
                        <option value="ID">Idaho</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NM">New Mexico</option>
                        <option value="ND">North Dakota</option>
                        <option value="UT">Utah</option>
                        <option value="WY">Wyoming</option>
                    </select>
                    </li>
                <li>
                    <select class="provider-list">
                        <option value="AK">Alaska</option>
                        <option value="HI">Hawaii</option>
                        <option value="CA">California</option>
                        <option value="NV">Nevada</option>
                        <option value="OR">Oregon</option>
                        <option value="WA">Washington</option>
                        <option value="AZ">Arizona</option>
                        <option value="CO">Colorado</option>
                        <option value="ID">Idaho</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NM">New Mexico</option>
                        <option value="ND">North Dakota</option>
                        <option value="UT">Utah</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </li>
            </ol>



            <input id="manual-sort" class="button" type="submit" value="Save">
            <a class="button text-link" href="#Continue to wherever" title="continue">Continue to wherever</a>
        </form>

        @*<h1 class="heading-xlarge">Default payment order</h1>
            <form id="sort-it">
                <ol>
                    <li>
                        DEFENCE MINISTRY
                        <label for="custom-number-1">New order:</label>
                        <input id="custom-number-1" name="custom-number-1" type="number" value="1">
                    </li>
                    <li>
                        VALTECH LIMITED
                        <label for="custom-number-2">New order:</label>
                        <input id="custom-number-2" name="custom-number-2" type="number" value="2">
                    </li>
                    <li>
                        MARKS &amp; SPENCERS
                        <label for="custom-number-3">New order:</label>
                        <input id="custom-number-3" name="custom-number-3" type="number" value="3">
                    </li>
                    <li>
                        JOHN LEWIS PARTNERSHIP
                        <label for="custom-number-4">New order:</label>
                        <input id="custom-number-4" name="custom-number-4" type="number" value="4">
                    </li>
                    <li>
                        EDUCATIONAL AND SKILLS FUNDING AGENCY
                        <label for="custom-number-5">New order:</label>
                        <input id="custom-number-5" name="custom-number-5" type="number" value="5">
                    </li>
                    <li>
                        INTELECTUAL PROPERTY OFFICE
                        <label for="custom-number-6">New order:</label>
                        <input id="custom-number-6" name="custom-number6" type="number" value="6">
                    </li>
                    <li>
                        NATIONAL HEALTH SERVICE (NHS)
                        <label for="custom-number-7">New order:</label>
                        <input id="custom-number-7" name="custom-number-7" type="number" value="7">
                    </li>
                </ol>
                <input id="manual-sort" class="button" type="submit" value="Save">
                <a class="button text-link" href="#Continue to wherever" title="continue">Continue to wherever</a>
            </form>*@

        </div>
    </div>



@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Index", "EmployerCommitments")" aria-label="Back" class="back-link">Back to start page</a>
    </div>
}
