@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.ManageApprenticeships.PaymentOrderViewModel>

@{
    ViewBag.Title = "Default payment order";
    ViewBag.PageId = "payment-order";

    var postModelName = "newProviderOrder.Priorities";
}

@section pageSpecificJS {
    @Scripts.Render("~/bundles/apprentice")
    @Scripts.Render("~/bundles/paymentOrder")
}

<div class="grid-row">
    <div class="column-two-thirds">
        @Html.Partial("ValidationSummary", Html.ViewData.ModelState)

        <h1 class="heading-xlarge">Set payment order</h1>
            
        <form method="POST" action="@Url.Action("PaymentOrderPost")" novalidate="novalidate" id="sort-it">
            @Html.AntiForgeryToken()
            <div class="form-error-group form-group @Html.AddClassIfPropertyInError(postModelName, "error")">

                <p>The training provider listed first will be paid first from your available funds.</p>
                @Html.ValidationMessage(postModelName, "Each training provider can only appear once in the list", new { id = "error-message-" + Html.Id(postModelName) , @class = "error-message" })

                @functions{

                    public IEnumerable<SelectListItem> GetList(int priorityNumber)
                    {
                        return Model.Data.Items.Select(x => new SelectListItem { Text = x.ProviderName, Value = x.ProviderId.ToString(), Selected = x.Priority == priorityNumber });
                    }
                }

                <!--payment order list for iteration-->
                <ol id="order-payment">
                    @for (int i = 1; i <= Model.Data.Items.Count(); i++)
                    {
                        <li>
                            <label class="visually-hidden" for="providerList">Select a provider to set order of payment</label>
                            @Html.DropDownList($"{postModelName}[{i - 1}]", GetList(i), new { aria_label = "Select a provider", @class = "provider-list" })
                        </li>
                    }
                </ol>
            </div>
                <input id="manual-sort" class="button" type="submit" value="Save and continue">
                <a class="button text-link" href="@Url.RouteUrl("CommitmentsHome")" title="continue">Cancel and return</a>
        </form>
    </div>
</div>



@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Index", "EmployerCommitments")" aria-label="Back" class="back-link">Back to start page</a>
    </div>
}
