@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.ManageApprenticeships.DataLockStatusViewModel>

@{
    ViewBag.Title = "Restart Apprenticeship";
}


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Change apprentice details</h1>

        <p>@Model.Data.ProviderName have requested these updates:

        <table class="edited-changes">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Period</th>
                <th scope="col">Current details</th>
                <th scope="col">Change to</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Data.CurrentProgram.Id != Model.Data.IlrProgram.Id)
            {
                <tr>
                    <td>Apprenticeship training course</td>
                    <td>
                        @if (Model.Data.PeriodStartData.HasValue)
                        {
                            @Model.Data.PeriodStartData.Value.ToGdsFormat()
                        }
                        else
                        {
                            <span>--</span>
                        }
                    </td>
                    <td>@Model.Data.CurrentProgram.Title</td>
                    <td>@Model.Data.IlrProgram.Title</td>
                </tr>
            }

            </tbody>
        </table>

        <p>
            To update this apprentice's training details, you need to do the following:
        </p>

        <ul class="list-bullet">
            <li>
                change the apprentice's status to 'stopped'
            </li>
            <li>
                add the apprentice to a new cohort, using the updated details
            </li>
        </ul>

        <div class="panel panel-border-wide">
            <p>
                The apprentice's new training start date must be at least the day after the stop date of the current course.
            </p>
        </div>
        <div>
            <a href="@Url.Action("Details", "EmployerManageApprentices", new { Model.Data.HashedAccountId, Model.Data.HashedApprenticeshipId} )" aria-label="Back to apprentice details">Back to apprentice details</a>
        </div>
    </div>
</div>



@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Details", "EmployerManageApprentices", new { Model.Data.HashedAccountId, Model.Data.HashedApprenticeshipId} )" aria-label="Back to apprentice details" class="back-link">Back to apprentice details</a>
    </div>
}