@{
    ViewBag.Title = "Review Changes";
    ViewBag.PageId = "review-datalock-changes";
}

@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.ManageApprenticeships.DataLockStatusViewModel>

@{
    ViewBag.Title = "Change Apprenticeship";
}


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Review changes</h1>

        <table class="core-detail">
            <tr>
                <td class="first-child">Name</td>
                <td class="first-child">@Model.Data.LearnerName</td>
            </tr>
            @if (Model.Data.DateOfBirth != null)
            {
                <tr>
                    <td>Date of birth</td>
                    <td>@Model.Data.DateOfBirth.Value.ToGdsFormat()</td>
                </tr>
            }
        </table>

        <p>@Model.Data.ProviderName has requested these changes:</p>
        @foreach (var p in Model.Data.PriceChanges)
        {
            <h2 class="heading-small">@p.Title</h2>
                        <table class="changes">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="current">Currently</th>
                                    <th class="changed">Change to</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>From date</td>
                                    <td>
                                        @{
                                            if (!p.MissingPriceHistory)
                                            {
                                                <span>@p.CurrentStartDate.Date.ToGdsFormat()</span>
                                            }
                                        }
                                    </td>
                                    <td>@p.IlrStartDate.Date.ToGdsFormat()</td>
                                </tr>
                                <tr>
                                    <td>Total apprenticeship training price</td>
                                    <td>
                                        @{
                                            if (!p.MissingPriceHistory)
                                            {
                                                <span>@FormatCost(p.CurrentCost)</span>
                                            }
                                        }
                                    </td>
                                    <td>@FormatCost(p.IlrCost)</td>
                                </tr>
                            </tbody>
                        </table>
                }
        <form method="POST" action="@Url.Action("ConfirmRequestChanges")" novalidate="novalidate" id="approve-changes">
            @Html.AntiForgeryToken()
            <h3 class="heading-medium">Are you happy to approve these changes?</h3>
            <div class="form-group @(!string.IsNullOrEmpty(Model.Data.ChangesConfirmedError) ? "error" : "")">
                <fieldset>
                    <legend class="visually-hidden">Are you happy to approve these changes?</legend>

                    <div id="ChangesConfirmed"></div>
                    @if (!string.IsNullOrEmpty(Model.Data.ChangesConfirmedError))
                    {
                        <span class="error-message" id="error-message-ChangesConfirmed">@Model.Data.ChangesConfirmedError</span>
                    }

                    <label class="block-label selection-button-radio" for="changes-approve-true">
                        @Html.RadioButton("ChangesConfirmed", true, new { id = "changes-approve-true" })
                        Yes, approve these changes
                    </label>
                    <label class="block-label selection-button-radio" for="changes-approve-false">
                        @Html.RadioButton("ChangesConfirmed", false, new { id = "changes-approve-false" })
                        No, reject these changes
                    </label>
                </fieldset>
            </div>
            <button type="submit" class="button" aria-label="Continue">Continue</button>           
            <a class="button-link break-line" href="@Url.Action("Details", "EmployerManageApprentices", new { Model.Data.HashedAccountId, Model.Data.HashedApprenticeshipId })" aria-label="Back to apprentice details">
                Cancel and return
            </a>          
            @Html.Hidden("HashedAccountId", Model.Data.HashedAccountId)
            @Html.Hidden("HashedApprenticeshipId", Model.Data.HashedApprenticeshipId)
        </form>
</div>
</div>



@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Details", "EmployerManageApprentices", new { Model.Data.HashedAccountId, Model.Data.HashedApprenticeshipId} )" aria-label="Back to apprentice details" class="back-link">Back to apprentice details</a>
    </div>
}

@functions {
    public string FormatCost(decimal? cost)
    {
        if (!cost.HasValue)
            return string.Empty;

        return $"£{cost.Value:n0}";
    }
}