@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.ManageApprenticeships.UpdateApprenticeshipViewModel>

@{
    ViewBag.Title = "Review changes";
    ViewBag.PageID = "review-changes";

    Model.Data.CurrentTableHeadingText = "Previous";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("ReviewChanges")" novalidate="novalidate">
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            @Html.AntiForgeryToken()

            <h1 class="heading-xlarge">View changes</h1>

            @Html.Partial("ApprenticeshipUpdate", Model.Data)
            <h1 class="heading-medium">Do you want to undo these changes?</h1>
            <div class="form-group">
                <fieldset>
                    <legend class="visually-hidden">Do you want to undo these changes?</legend>

                    <label class="block-label selection-button-radio" for="changes-approve-true">
                        @Html.RadioButton("ApproveChanges", true, new { id = "changes-approve-true" })
                        Yes, approve these changes
                    </label>
                    <label class="block-label selection-button-radio" for="changes-approve-false">
                        @Html.RadioButton("ApproveChanges", false, new { id = "changes-approve-false" })
                        No, reject these changes
                    </label>
                </fieldset>
            </div>

            @Html.Hidden("OriginalApprenticeshipDecoded", @Json.Encode(Model.Data.OriginalApprenticeship))
            <button type="submit" class="button" aria-label="Continue">Continue</button>

            <a href="@Url.Action("Details", "EmployerManageApprentices", new { Model.Data.HashedAccountId, Model.Data.HashedApprenticeshipId })" aria-label="Back to apprentice details">
                Cancel and return
            </a>
        </form>

        <div class="column-one-thirds">
        </div>

    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Details", "EmployerManageApprentices", new { Model.Data.HashedAccountId, Model.Data.HashedApprenticeshipId} )" aria-label="Back to apprentice details" class="back-link">Back to apprentice details</a>
    </div>
}