@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.ManageApprenticeships.UpdateApprenticeshipViewModel>

@{
    ViewBag.Title = "Review changes";
    ViewBag.PageID = "review-changes";

    Model.Data.CurrentTableHeadingText = "Previous";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("ReviewChanges")" novalidate="novalidate">
            
            @Html.AntiForgeryToken()

            <h1 class="heading-xlarge">Review changes</h1>
            <p class="lede">@Model.Data.ProviderName have suggested these changes: </p>

            @Html.Partial("ApprenticeshipUpdate", Model.Data)

            <h2 class="heading-medium">Are you happy to approve these changes?</h2>
            <div class="form-group @(!string.IsNullOrEmpty(Model.Data.ChangesConfirmedError) ? "error" : "")">
                <fieldset>
                    <legend class="visually-hidden">Are you happy to approve these changes?</legend>
                    
                    <div id="ChangesConfirmed"></div>
                    @if (!string.IsNullOrEmpty(Model.Data.ChangesConfirmedError))
                    {
                        <span class="error-message" id="error-message-ChangesConfirmed">@Model.Data.ChangesConfirmedError</span>
                    }

                    <label class="block-label selection-button-radio" for="changes-approve-true">
                        @Html.RadioButton("ChangesConfirmed", true, new { id = "changes-approve-true" })
                        Yes, approve these changes
                    </label>
                    <label class="block-label selection-button-radio" for="changes-approve-false">
                        @Html.RadioButton("ChangesConfirmed", false, new { id = "changes-approve-false" })
                        No, reject these changes
                    </label>
                </fieldset>
            </div>

            <button type="submit" class="button" aria-label="Continue">Continue</button>

            <a class="button-link" href="@Url.Action("Details", "EmployerManageApprentices", new { Model.Data.HashedAccountId, Model.Data.HashedApprenticeshipId })" aria-label="Back to apprentice details">
                Cancel and return
            </a>
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Details", "EmployerManageApprentices", new { Model.Data.HashedAccountId, Model.Data.HashedApprenticeshipId} )" aria-label="Back to apprentice details" class="back-link">Back to apprentice details</a>
    </div>
}