@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.ManageApprenticeships.UpdateApprenticeshipViewModel>

@{
    ViewBag.Title = "View changes";
    ViewBag.PageID = "view-changes";

    Model.Data.CurrentTableHeadingText = "Previous";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("ViewChanges")" novalidate="novalidate">

            @Html.AntiForgeryToken()

            <h1 class="heading-xlarge">View changes</h1>
            <p class="lede">@Model.Data.ProviderName are reviewing these changes:</p>
            @Html.Partial("ApprenticeshipUpdate", Model.Data)

            <h2 class="heading-medium">Do you want to undo these changes?</h2>
            <div class="form-group @(!string.IsNullOrEmpty(Model.Data.ChangesConfirmedError) ? "error" : "")">
                <fieldset>
                    <legend class="visually-hidden">Do you want to undo these changes?</legend>

                    <div id="ChangesConfirmed"></div>
                    @if (!string.IsNullOrEmpty(Model.Data.ChangesConfirmedError))
                    {
                        <span class="error-message" id="error-message-ChangesConfirmed">@Model.Data.ChangesConfirmedError</span>
                    }

                    <label class="block-label selection-button-radio" for="changes-undo-true">
                        @Html.RadioButton("ChangesConfirmed", true, new { id = "changes-undo-true" })
                        Yes, undo these changes
                    </label>
                    <label class="block-label selection-button-radio" for="changes-undo-false">
                        @Html.RadioButton("ChangesConfirmed", false, new { id = "changes-undo-false" })
                        No, keep these changes
                    </label>
                </fieldset>
            </div>

            <button type="submit" class="button" aria-label="Continue">Continue</button>
        </form>

    </div>
</div>


@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Details", "EmployerManageApprentices", new { Model.Data.HashedAccountId, Model.Data.HashedApprenticeshipId} )" aria-label="Back to apprentice details" class="back-link">Back to apprentice details</a>
    </div>
}