@using SFA.DAS.EAS.Web
@using SFA.DAS.EAS.Web.Extensions
@using SFA.DAS.EAS.Web.ViewModels.ManageApprenticeships
@model OrchestratorResponse<WhenToMakeChangeViewModel>

@{
    ViewBag.Title = "Change apprentice status";
    ViewBag.PageId = "change-apprentice-status";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <form method="post" action="@Url.RouteUrl("PostWhenToApplyChange")" novalidate>
            @Html.AntiForgeryToken()
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            
            <h1 class="heading-xlarge">Date of status change</h1>
            
            <fieldset>
                <p class="form-label-bold">When did this apprentice stop?</p>
                <div class="form-group">
                    <legend class="visually-hidden">Date of status change</legend>
                   
                    @Html.ValidationMessage("WhenToMakeChange", "Please choose an option", new { id = "error-message-WhenToMakeChange" })
                    <label for=@($"WhenToMakeChange-{WhenToMakeChangeOptions.Immediately}") class="block-label selection-button-radio">
                        @Html.RadioButton("WhenToMakeChange", WhenToMakeChangeOptions.Immediately, new { id = $"WhenToMakeChange-{WhenToMakeChangeOptions.Immediately}" })
                        Today
                    </label>

                    <label for=@($"WhenToMakeChange-{WhenToMakeChangeOptions.SpecificDate}") class="block-label selection-button-radio">
                        @Html.RadioButton("WhenToMakeChange", WhenToMakeChangeOptions.SpecificDate, new { id = $"WhenToMakeChange-{WhenToMakeChangeOptions.SpecificDate}" })
                        Before today
                    </label>
                </div>

                <div class="form-error-group form-group @Html.AddClassIfPropertyInError("DateOfChange", "error")" id="stop-effective">
                    <span class="form-label-bold">Date the change took effect</span>
                    <span class="form-hint">The earliest date you can enter is @Model.Data.StartDate.ToFullDateEntryFormat()</span>

                    <div class="form-date">
                        @Html.ValidationMessage("DateOfChange", new { id = "error-message-DateOfChange", @class = "error-message" })
                        <div class="form-group form-group-day">
                            <label for="DateOfChange.Day">
                                Day
                            </label>
                            @Html.TextBox("DateOfChange.Day", Model.Data.ChangeStatusViewModel.DateOfChange.Day, new { @class = "form-control", type = "number", aria_labelledby = "DateOfChange.Day" })
                        </div>
                        <div class="form-group form-group-month">
                            <label for="DateOfChange.Month">
                                Month
                            </label>
                            @Html.TextBox("DateOfChange.Month", Model.Data.ChangeStatusViewModel.DateOfChange.Month, new { @class = "form-control", type = "number", aria_labelledby = "DateOfChange.Month" })

                        </div>
                        <div class="form-group form-group-year">
                            <label for="DateOfChange.Year">
                                Year
                            </label>
                            @Html.TextBox("DateOfChange.Year", Model.Data.ChangeStatusViewModel.DateOfChange.Year, new { @class = "form-control", type = "number", aria_labelledby = "DateOfChange.Year" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="button" type="submit">Continue</button>
                </div>
                <div class="form-group">
                    <a class="text-link" href=@Url.RouteUrl("OnProgrammeApprenticeshipDetails") aria-label="Cancel">Cancel and return</a>
                </div>

            </fieldset>
        </form>
    </div>
</div>



@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.RouteUrl("OnProgrammeApprenticeshipDetails")" aria-label="Back to apprentices details" class="back-link">Back</a>
    </div>
}

