@using System.Globalization
@using SFA.DAS.EAS.Support.ApplicationServices.Models
@model SFA.DAS.EAS.Support.Web.Models.FinanceViewModel

@{
    var culture = new CultureInfo("en-GB");
}

@if (Model.Account != null)
{
    <h1 class="heading-xlarge">Finance</h1>
    <div id="tabs-container">
        <ul class="js-tabs">
            <li class="current"><a href="#tab-1">PAYE schemes</a></li>
            <li class=""><a href="#tab-2">Transactions</a></li>
        </ul>
        <div id="tab-1" class="js-tab-pane">

            @if (Model.Account.PayeSchemes.Any())
            {
                <table class="responsive">
                    <thead>
                        <tr>
                            <th scope="col" class="">PAYE ref</th>
                            <th scope="col" class="">Name</th>
                            <th scope="col" class="">Date added</th>
                            <th scope="col" class=""></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var paye in Model.Account.PayeSchemes)
                        {

                            string portallink = $"/resource/index/{Model.Account.HashedAccountId}/?childId={paye.HashedPayeRef}&key={SupportServiceResourceKey.EmployerAccountPayeSchemeLevys}";

                        <tr>
                            <td data-label="Paye Schene Ref" id="PayeSchemeRef">
                                @paye.ObscuredPayeRef
                            </td>
                            <td data-label="Name" id="PayeSchemeName">
                                @paye.Name
                            </td>
                            <td data-label="Date Added" id="PayeSchemeDateAdded">
                                @paye.AddedDate
                            </td>
                            <td data-label="View" id="view">
                                <a href="@portallink"> view</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            }

        </div>

        <div id="tab-2" class="js-tab-pane" style="display: none;">
            <div class="data data__purple-block">
                <span class="data-item bold-xlarge">@Model.Balance.ToString("C2", culture)</span>
                <span class="data-item bold-xsmall">Current balance</span>
            </div>

            @if (Model.Account.Transactions.Any())
            {
                <table class="responsive">
                    <thead>
                        <tr>
                            <th scope="col">Payment date</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Account.Transactions)
                        {
                            <tr>
                                <td data-label="Payment date" id="transactionPaymentDate">
                                    @item.DateCreated.ToString("dd/MM/yyyy")
                                </td>
                                <td data-label="Description" id="transactionDescription">
                                    @item.Description
                                </td>
                                <td data-label="Amount" id="transactionAmount">
                                    @item.Amount.ToString("C2", culture)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>There are no transactions for this account</p>
            }
        </div>


    </div>

}
else
{
    <p>Account not found</p>
}

