@using HMRC.ESFA.Levy.Api.Types
@model SFA.DAS.EAS.Support.Web.Models.PayeSchemeLevyDeclarationViewModel

<style>

    .late {
        color: #b10e1e !important;
    }

    .latestSubmission {
        font-weight: bold !important;
    }
</style>


<h2 class="heading-large"> @Model.PayeSchemeRef Levy declarations</h2>

    @if (!string.IsNullOrWhiteSpace(Model.PayeSchemeFormatedAddedDate))
    {
        <h5 class="heading-small"> @Model.PayeSchemeName</h5>
    }
    @if (!string.IsNullOrWhiteSpace(Model.PayeSchemeFormatedAddedDate))
    {
        <p> PAYE scheme added @Model.PayeSchemeFormatedAddedDate  </p>  
    }

<br />


@if (Model.LevyDeclarations != null && Model.LevyDeclarations.Any())
{
    <div class="column-full">

        <table id="submission-details" class="responsive">
            <thead>
                <tr>
                    <th scope="col" class="">Submission date</th>
                    <th scope="col" class="">Payroll date</th>
                    <th scope="col" class="">Id</th>
                    <th scope="col" class="">Description</th>
                    <th scope="col" class="">Levy YTD</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var levySubmission in Model.LevyDeclarations)
                {
                    var rowClassToUse = "unprocessed-submission";

                    if (levySubmission.SubmissionStatus == LevyDeclarationSubmissionStatus.LateSubmission)
                    {
                        rowClassToUse = "late";
                    }
                    if (levySubmission.SubmissionStatus == LevyDeclarationSubmissionStatus.LatestSubmission)
                    {
                        rowClassToUse = "latestSubmission";
                    }

                    <tr>
                        <td class="@rowClassToUse">
                            @levySubmission.SubmissionDate
                        </td>
                        <td class="@rowClassToUse">
                            @levySubmission.PayrollDate
                        </td>
                        <td class="@rowClassToUse">
                            @levySubmission.LevySubmissionId
                        </td>
                        <td class="@rowClassToUse">
                            @levySubmission.LevyDeclarationDescription
                        </td>
                        <td class="@rowClassToUse">
                            @levySubmission.YearToDateAmount
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

}
else
{
    if (Model.UnexpectedError)
    {
        <p>The system is currently busy. Please try again later</p>
    }
    else
    {
        <p>There are no levy declarations for this PAYE scheme </p>
    }
}
