@model OrchestratorResponse<OrganisationAddedNextStepsViewModel>

@{
    ViewBag.PageID = "page-onboard-organisation-added-what-next";
    ViewBag.Title = "What's next";
    ViewBag.Section = "organisations";
    ViewBag.ZenDeskLabel = "eas-organisation-has-been-added";
    ViewBag.GaData.Vpv = "/accounts/organisations/nextStep/page-onboard-organisation-added-what-next";
    ViewBag.ShowNav = false;
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">What's next?</h1>

        <form asp-route="@RouteNames.OrganisationGoToNextStep" asp-route-HashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]" method="post">
            <fieldset>

                <legend>
                    <span class="vh">What's next?</span>
                    @if (!string.IsNullOrEmpty(Model.Data.ErrorMessage))
                    {
                        <span class="error-message">@Model.Data.ErrorMessage</span>
                    }
                </legend>

                <div class="form-group @(!string.IsNullOrEmpty(Model.Data.ErrorMessage) ? "error" : "")">

                    <label for="acceptAgreement" class="block-label">
                        <span class="form-label">Sign an agreement to allow @Model.Data.OrganisationName to spend funds</span>
                        <input type="radio" name="nextStep" value="agreement" id="acceptAgreement" />
                    </label>

                    <label for="teamMembers" class="block-label">
                        <span class="form-label">Check which team members can sign the agreement</span>
                        <input type="radio" name="nextStep" value="teamMembers" id="teamMembers" />
                    </label>
                    <label for="addAnotherOrganisation" class="block-label">
                        <span class="form-label">Add another organisation</span>
                        <input type="radio" name="nextStep" value="addOrganisation" id="addAnotherOrganisation" />
                    </label>

                    <label for="GoToDashboard" class="block-label">
                        <span class="form-label">"Return to homepage"</span>
                        <input type="radio" name="nextStep" value="dashboard" id="GoToDashboard" />
                    </label>

                </div>

                <input type="hidden" name="organisationName" value="@Model.Data.OrganisationName" />

                <div class="form-group">
                    <button type="submit" class="button">Continue</button>
                </div>

            </fieldset>
        </form>
    </div>
</div>

