@using SFA.DAS.EmployerAccounts.Web.Extensions
@model OrchestratorResponse<ReviewOrganisationAddressViewModel>
@{
    ViewBag.Title = "Update an organisation";
    ViewBag.Section = "organisations";
    ViewBag.PageID = "update-organisation-details";
}

@{Layout = "~/Views/Shared/_Layout_CDN.cshtml"; }

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Review your details</h1>

        <p class="govuk-body">Here are the most up-to-date details we found for your organisation. These details are the same as those previously held.</p>

        <div class="govuk-form-group">
            <dl class="das-definition-list das-definition-list--table das-definition-list--table">
                <dt class="das-definition-list__title das-definition-list__title--spacer">Information from</dt>
                <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Model.Data.DataSourceFriendlyName</dd>

                <dt class="das-definition-list__title das-definition-list__title--spacer">Organisation name</dt>
                <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Model.Data.RefreshedName</dd>

                <dt class="das-definition-list__title das-definition-list__title--spacer">Organisation address</dt>
                <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Html.CommaSeperatedAddressToHtml(@Model.Data.RefreshedAddress)</dd>
            </dl>

            <div class="govuk-inset-text">
                If these details are incorrect, you need to update them at @Model.Data.DataSourceFriendlyName. This update can take up to 7 working days to process.
            </div>

            <p class="govuk-body">If you have done this and the updated information is still not displayed here, please <a href="@Url.Action("Help", "Home")" class="govuk-link govuk-link--no-visited-state">contact support</a> for further help.</p>
        </div>

        <form action="@Url.Action("GoToPostUpdateSelection", "Organisation")" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">What's next?</h1>
                    </legend>

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" type="radio" id="review-opt-1" name="nextStep" value="dashboard">
                            <label class="govuk-label govuk-radios__label" for="review-opt-1">
                                Go to your organisations and agreements
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" type="radio" id="review-opt-2" name="nextStep" value="homepage">
                            <label class="govuk-label govuk-radios__label" for="review-opt-2">
                                Go to the homepage
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="govuk-form-group govuk-!-margin-top-5">
                <button type="submit" class="govuk-button">Continue</button>
            </div>
        </form>

    </div>
</div>


@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <a href="@Url.Action("Index", "EmployerAgreement")" class="govuk-back-link">Back to your organisations</a>
    </div>
}
