@model OrchestratorResponse<ReviewOrganisationAddressViewModel>
@{
    ViewBag.Title = "Update an organisation";
    ViewBag.Section = "organisations";
    ViewBag.PageID = "update-organisation-details";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Review your details</h1>
        <p>We've retrieved the most up-to-date details we could find for your organisation.</p>

        <div class="form-group">
            <table class="details-list">
                <tbody>
                    <tr>
                        <td>Information from</td>
                        <td>@Model.Data.DataSourceFriendlyName</td>
                    </tr>
                    <tr>
                        <td>Organisation name</td>
                        <td>@Model.Data.RefreshedName</td>
                    </tr>
                    <tr>
                        <td>Organisation address</td>
                        <td>@Html.CommaSeperatedAddressToHtml(@Model.Data.RefreshedAddress)</td>
                    </tr>
                </tbody>
            </table>

            <form method="POST" 
                asp-route="@RouteNames.ProcessOrganisationReview" 
                asp-route-hashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]">
                <input type="hidden" name="organisationName" value="@Model.Data.RefreshedName" />
                <input type="hidden" name="organisationAddress" value="@Model.Data.RefreshedAddress" />
                <input type="hidden" name="accountLegalEntityPublicHashedId" value="@Model.Data.HashedAccountLegalEntityId" />
                <input type="hidden" name="dataSourceFriendlyName" value="@Model.Data.DataSourceFriendlyName" />

                <div class="form-group">
                    <h2 class="heading-medium">
                        Are these details correct?
                    </h2>
                    <div class="multiple-choice">
                        <input id="update" type="radio" name="updateChoice" value="update" />
                        <label for="update">
                            Yes, update my details using this information
                        </label>
                    </div>
                    <div class="multiple-choice">
                        <input id="cancel" type="radio" name="updateChoice" value="incorrectDetails" />
                        <label for="cancel">
                            No, these details are incorrect
                        </label>
                    </div>
                </div>
                <button type="submit" class="button" id="accept">Continue</button>
            </form>
        </div>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerAgreement")" class="back-link">Back to your organisations</a></li>
        </ol>
    </div>
}
