@using SFA.DAS.EmployerAccounts.Web.Extensions
@model OrchestratorResponse<ReviewOrganisationAddressViewModel>
@{
    ViewBag.Title = "Update an organisation";
    ViewBag.Section = "organisations";
    ViewBag.PageID = "update-organisation-details";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Review your details</h1>
        <p>Here are the most up-to-date details we found for your organisation. These details are the same as those previously held.</p>

        <div class="form-group">
            <table class="details-list">
                <tbody>
                    <tr>
                        <td>Information from</td>
                        <td>@Model.Data.DataSourceFriendlyName</td>
                    </tr>
                    <tr>
                        <td>Organisation name</td>
                        <td>@Model.Data.RefreshedName</td>
                    </tr>
                    <tr>
                        <td>Organisation address</td>
                        <td>@Html.CommaSeperatedAddressToHtml(@Model.Data.RefreshedAddress)</td>
                    </tr>
                </tbody>
            </table>

            <div class="panel panel-border-wide">
                If these details are incorrect, you need to update them at @Model.Data.DataSourceFriendlyName. This update can take up to 7 working days to process.
            </div>

            <p>If you have done this and the updated information is still not displayed here, please <a href="@Url.Action("Help", "Home")">contact support</a> for further help.</p>

            <form asp-route="@RouteNames.OrganisationPostUpdateSelection" asp-route-hashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]" method="post">
                <div class="form-group">
                    <h2 class="heading-large">
                        What's next?
                    </h2>

                    <div class="multiple-choice">
                        <input type="radio" name="nextStep" value="dashboard" />
                        <label for="acceptAgreement">Go to your organisations and agreements</label>
                    </div>
                    <div class="multiple-choice">
                        <input type="radio" name="nextStep" value="homepage" />
                        <label for="teamMembers">Go to the homepage</label>
                    </div>
                </div>
                <button type="submit" class="button">Continue</button>
            </form>
        </div>
    </div>

</div>


@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerAgreement")" class="back-link">Back to your organisations</a></li>
        </ol>
    </div>
}
