@using SFA.DAS.EAS.Domain
@model SFA.DAS.EAS.Domain.ViewModels.UserInvitationsViewModel
@{ViewBag.Title = "Invitations"; }


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Invitations</h1>
        @if (Model.Invitations.Count == 0)
        {
            <p>You have no invitations. Invitations expire after 7 days.</p>
            <p><a class="button" href="@Url.Action("Index","Home")">Return to your profile</a></p>
        }
        else
        {
            
            <form method="post" action="~/Invitation/Accept">
                @Html.AntiForgeryToken()
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Account name</th>
                            <th scope="col">What you can do</th>
                            <th scope="col">Expires in</th>
                            <th> </th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (var index = 0; index < Model.Invitations.Count; index++)
                        {
                            var invitation = Model.Invitations[index];
                            <tr>
                                <td>
                                    <div>@invitation.AccountName</div>
                                    <input type="hidden" name="Invitations[@index].AccountName" value="@invitation.AccountName"/>
                               
                                </td>
                                <td>
                                
                                    <div>@RoleStrings.GetRoleDescription(@invitation.RoleName)</div>
                                </td>
                                <td>
                                 
                                    <div>@invitation.ExpiryDays()</div>
                                </td>
                                <td class="link-right">
                                    <div>
                                        <input type="hidden" name="Invitations[@index].Id" value="@invitation.Id" />
                                        <button type="submit" id="invitationId" value="@invitation.Id" name="invitation" class="link-button">Accept <span class="vh">invitation to @invitation.AccountName</span></button>
                                    </div>
                                 
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        }
    </div>
</div>


@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li>Invitations</li>
        </ol>
    </div>
}