@using SFA.DAS.EmployerAccounts.Web.Helpers
@model OrchestratorResponse<OrganisationDetailsViewModel>
@{ViewBag.PageID = "enter-organisation-type"; }
@{
    ViewBag.Title = "Enter your organisation name";
    ViewBag.Section = "organisations";

    var hasHashedOrganisationId = this.ViewContext.RouteData.Values[ControllerConstants.AccountHashedIdRouteKeyName] != null;
    
    ViewBag.HideNav = hasHashedOrganisationId == false;
}

@{
    ViewBag.GaData.Vpv = "/onboarding/custom/add/enter-organisation-type";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Enter your organisation name
        </h1>
        <form action="@Url.Action("AddOtherOrganisationDetails", "OrganisationShared")" method="post">
            @Html.AntiForgeryToken()
            @if (hasHashedOrganisationId)
            {
                <input type="hidden" value="@Model.Data.HashedId" name="HashedId"/>
            }

            <div class="form-group @(!string.IsNullOrEmpty(Model.Data.NameError) ? "error" : "")">
                <label id="NewName-label" for="Name" class="form-label-bold">
                    <span class="form-label-bold">Name</span>
                    @if (!string.IsNullOrEmpty(Model.Data.NameError))
                    {
                        <span class="error-message" id="error-message-newname">@Model.Data.NameError</span>
                    }
                </label>
                @Html.TextBoxFor(
                    m => m.Data.Name,
                    new
                    {
                        Id = "Name",
                        Name = "Name",
                        @class = "form-control organisationName",
                        MaxLength = 100,
                        aria_required = "true",
                        aria_describedby = !string.IsNullOrEmpty(Model.Data.NameError) ? "error-message-newname" : ""
                    })
            </div>
            <div class="form-group">
                <button type="submit" class="button" id="accept">Continue</button>
                <a class="button-link" href="@Url.Action("Index", "Home")">Cancel</a>
            </div>
        </form>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs" id="js-breadcrumbs">
    </div>
}
