
@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.ConfirmNewPayeScheme
@{ViewBag.Title = "Search for your company";}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Search for your company</h1>
        <p>
            We need to add a company name to the contract between you and the Skills Funding Agency.
            To find your company enter the company number of your organisation that is registered with Companies House.
        </p>
        <form method="POST" action="@Url.Action("SelectCompany")">
            @Html.AntiForgeryToken()
            <div class="form-group @(TempData["companyNumberError"] != null ? "error" : "")">
                <label class="form-label" for="EmployerRef">Companies House number</label>

                @if (TempData["companyNumberError"] != null)
                {
                    <legend>
                        <span class="error-message">@TempData["companyNumberError"]</span>
                    </legend>
                }
                
                <input class="form-control form-control-3-4" id="EmployerRef" name="LegalEntityCode" type="text"
                       aria-required="true"/>
            </div>
            <input type="hidden" value="@Model.PayeScheme" name="PayeScheme"/>
            <input type="hidden" name="HashedId" value="@Model.HashedId" />
            <input type="hidden" value="@Model.RefreshToken" name="RefreshToken"/>
            <input type="hidden" value="@Model.AccessToken" name="AccessToken"/>
            <button type="submit" class="button" id="continue">Continue</button>
        </form>
    </div>
</div>