@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.Models.AddNewPayeScheme>
@{ViewBag.PageID = "page-paye-scheme-confirm";} 
@{ViewBag.Title = "Confirm PAYE Scheme";} 
@{ViewBag.Section = "paye";} 

@if (string.IsNullOrEmpty(Model.Data.PayeScheme))
{
    ViewBag.PageID = "page-paye-scheme-in-use-error"; 
    ViewBag.Title = "PAYE scheme already in use";
}

<div class="grid-row">
    <div class="column-two-thirds">

        @if (!string.IsNullOrEmpty(Model.Data.PayeScheme))
        {
            <h1 class="heading-large"><span class="heading-secondary">Confirm PAYE scheme</span> @Model.Data.PayeScheme</h1>
            <form method="post">
                @Html.AntiForgeryToken()
                
                <p>Is this the correct PAYE scheme?</p>

                <input type="hidden" value="@Model.Data.HashedAccountId" name="HashedId"/>
                <input type="hidden" value="@Model.Data.PayeScheme" name="PayeScheme"/>
                <input type="hidden" value="@Model.Data.RefreshToken" name="RefreshToken"/>
                <input type="hidden" value="@Model.Data.AccessToken" name="AccessToken"/>

                <div class="form-group">
                    <button type="submit" class="button" id="accept">Yes, continue</button>
                    <a class="button button-link" href="@Url.Action("Getgateway", "EmployerAccountPaye", new {confirmPayeVisibility = true})">No, use different details</a>
                </div>
            </form>
        }
        else if (Model.Data.EmprefNotFound)
        {
            @Html.Partial("_PayeNotFound", Url.Action("Getgateway", "EmployerAccountPaye", new { confirmPayeVisibility = true }))
        }
        else
        {
            <h1 class="heading-xlarge">PAYE scheme already in use</h1>
            <p>The PAYE scheme for the Government Gateway details you entered is already added to an account. </p>
            <p><a class="button" href="@Url.Action("Getgateway", "EmployerAccountPaye", new {confirmPayeVisibility = true})">Use different details</a></p>
        }

    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerAccountPaye", new { HashedAccountId = Model.Data.HashedAccountId })" class="back-link">Back to PAYE schemes</a></li>
        </ol>
    </div>
}
