@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.PayeSchemeDetailViewModel>

@{
    ViewBag.Title = "View PAYE scheme";
    ViewBag.PageID = "page-paye-schemes-view";
    ViewBag.Section = "paye";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">PAYE scheme </span>
            @Model.Data.EmpRef
        </h1>
        
    </div>
    <div class="column-one-third">
        <a aria-label="Remove PAYE scheme @Model.Data.EmpRef"
               title="Remove PAYE scheme @Model.Data.EmpRef"
               href="@Url.Action("Remove", new {empRef = Model.Data.EmpRef.FormatPayeForUrl()})" class="button action-add">Remove PAYE scheme</a>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerTeam")">Home</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountPaye")">PAYE schemes</a></li>
            <li>PAYE scheme @Model.Data.EmpRef </li>
        </ol>
    </div>
}
