
@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.Models.EmployerAccountPayeListViewModel>
@{
    ViewBag.PageID = "page-paye-schemes-index";
    ViewBag.Title = "PAYE Schemes";

    if (TempData.ContainsKey("payeSchemeAdded"))
    {
        ViewBag.PageID = "page-paye-scheme-added";
        TempData.Remove("payeSchemeAdded");
    }
    if (TempData.ContainsKey("payeSchemeDeleted"))
    {
        ViewBag.PageID = "page-paye-scheme-deleted";
        TempData.Remove("payeSchemeDeleted");
    }
}

<div class="grid-row header-index">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">PAYE Schemes</h1>
        <p class="lede">Add PAYE schemes to allow levy funds to be added to your account.</p>
    </div>
    <div class="column-one-third pull-right">
        <form action="@Url.Action("GatewayInform")" method="GET">
            <input class="button action-add" id="addNewPaye" type="submit" value="Add new scheme">
        </form>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.Data.PayeSchemes.Any())
        {
            <table>
                <thead>
                    <tr>
                        <th scope="col">Scheme ID</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var scheme in Model.Data.PayeSchemes)
                    {
                        <tr>
                            <td>@scheme.EmpRef</td>       
                            <td class="link-right">
                                <a aria-label="Details for PAYE scheme @scheme.EmpRef"
                                   title="Details for PAYE scheme @scheme.EmpRef"
                                   href="@Url.Action("Details", new {empRef = scheme.EmpRef.FormatPayeForUrl()})">Details<span class="vh"> for PAYE scheme @scheme.EmpRef</span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="panel panel-no-records">
                <p>There are no PAYE schemes associated with this organisation.</p>
            </div>
        }
    </div>
</div>


@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam")">Employer Account Homepage</a></li>
            <li>PAYE Schemes</li>
        </ol>
    </div>
}