@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.Models.RemovePayeScheme>
@{ViewBag.PageID = "page-remove-paye-scheme";} 
@{ViewBag.Title = "Remove PAYE scheme";}
@{ViewBag.Section = "paye";} 

@if (!Model.Data.Valid)
{
    <div class="grid-row">
        <div class="column-full error-summary-wrapper">
            <div tabindex="-1" role="group" class="error-summary">
                <h1 id="error-summary" class="heading-medium error-summary-heading">
                    Errors to fix
                </h1>
                <p>Check the following details:</p>
                <ul class="error-summary-list">
                    <li><a href="#confirm">Please confirm you wish to remove the scheme</a></li>
                </ul>
            </div>
        </div>
    </div>
}


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Remove this scheme?</h1>
        <h2 class="heading-medium">@Model.Data.PayeRef</h2>
        <p>The @Model.Data.AccountName levy account will stop receiving funds through this PAYE scheme.</p>
        <form method="post" action="@Url.Action("RemovePaye","EmployerAccountPaye")">
            @Html.AntiForgeryToken()    
            <input type="hidden" value="@Model.Data.PayeRef" name="PayeRef"/>
            <input type="hidden" value="@Model.Data.HashedAccountId" name="HashedId"/>

            <div class="form-group @(Model.Data.Valid ? "" : "error")">

                <fieldset class="" id="confirm">
                    <legend class="vh">Remove this PAYE scheme</legend>
                    @if (!Model.Data.Valid)
                    {
                        <span class="error-message">@Model.Data.RemoveSchemeErrorMessage</span>
                    }
                    <label class="block-label">
                        <input type="radio" name="RemoveScheme" value="2" />
                        <span class="heading-small">Yes, remove scheme</span>
                    </label>
                    <label class="block-label">
                        <input type="radio" name="RemoveScheme" value="1" />
                        <span class="heading-small">No, don't remove</span>
                    </label>
                </fieldset>
            </div>
            <div class="form-group">
                <button type="submit" class="button">Continue</button>
            </div>
         </form>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam")">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountPaye")">PAYE Schemes</a></li>
            <li>Remove PAYE Scheme</li>
        </ol>
    </div>
}