@using SFA.DAS.EmployerAccounts.Web.Helpers
@model OrchestratorResponse<NotificationSettingsViewModel>

@{
    ViewBag.Title = "Notification Settings";
    ViewBag.PageId = "notification-settings";
    ViewBag.ShowNav = false;
}

<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Notification settings</h1>
            
            @if (Model.Data.UseGovSignIn)
            {
                <p>Choose which accounts you want to receive cohort and apprentice updates from. The updates will be sent to the email address you use for 
                    <a href="https://home.account.gov.uk/settings" rel="noopener" class="govuk-link" rel="external" target="_blank" title="Opens in a new window">your GOV.UK One Login (opens in new tab).</a>
                </p>    
            }
            else
            {
                <p>Choose which accounts you want to receive cohort and apprentice updates from.</p>
            }
            
            <p>Changes to these settings won't affect service emails, such as password resets.</p>

            <input type="hidden" value="@Model.Data.HashedId" name="HashedId" />


            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Account name</th>
                        <th scope="col" class="govuk-table__header">Emails</th>
                        <th scope="col" class="govuk-table__header">No emails</th>
                    </tr>
                </thead>

                <tbody class="govuk-table__body">
                    @for (var i = 0; i < Model.Data.NotificationSettings.Count; i++)
                    {
                        var setting = Model.Data.NotificationSettings[i];

                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                @setting.Name

                                @Html.Hidden($"NotificationSettings[{i}].HashedAccountId", setting.HashedAccountId)
                                @Html.Hidden($"NotificationSettings[{i}].Name", setting.Name)
                                @Html.Hidden($"NotificationSettings[{i}].Id", setting.Id)
                            </td>

                            <td class="govuk-table__cell">
                                @{
                                    var trueId = $"NotificationSettings-true-{i}";
                                    var falseId = $"NotificationSettings-false-{i}";
                                }
                                <div class="govuk-radios__item">
                                    @Html.RadioButton($"NotificationSettings[{i}].ReceiveNotifications", true, setting.ReceiveNotifications, new { id = trueId, @class = "govuk-radios__input" })
                                    <label for="@trueId" class="govuk-label govuk-radios__label"><span class="govuk-visually-hidden">Send emails</span></label>
                                </div>
                            </td>
                            <td class="govuk-table__cell">
                                <div class="govuk-radios__item">
                                    @Html.RadioButton($"NotificationSettings[{i}].ReceiveNotifications", false, !setting.ReceiveNotifications, new { id = falseId, @class = "govuk-radios__input" })
                                    <label for="@falseId" class="govuk-label govuk-radios__label">
                                        <span class="govuk-visually-hidden">Stop emails</span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button">Update</button>
                <a href="@Url.Action("Index", "Home")" class="govuk-link">Cancel</a>
            </div>
        </div>
    </div>
</form>


@section breadcrumb {
    <a href="@Url.Action("Index", "Home")" aria-label="Back" class="govuk-back-link">Back</a>
}