@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.Organisation.FindOrganisationAddressViewModel>
@{
    ViewBag.Title = "Find address";
    ViewBag.PageID = "find-organisation-address";
    ViewBag.HideNav = "true";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Find organisation address</h1>

        <form action="@Url.Action("SelectAddress")" method="POST" novalidate>
            @Html.AntiForgeryToken()
            <div class="form-group  @(!string.IsNullOrEmpty(Model.Data.PostcodeError) ? "error" : "")">
                <label for="Postcode">
                    <span class="form-label-bold">Enter postcode</span>
                    @if (!string.IsNullOrEmpty(Model.Data.PostcodeError))
                    {
                        <span class="error-message" id="error-message-postcode">@Model.Data.PostcodeError</span>
                    }
                </label>
                
                <span>
                    <input type="text" id="Postcode" name="postcode" value="@Model.Data.Postcode" class="form-control" required="required" aria-required="true"
                           @(!string.IsNullOrEmpty(Model.Data.PostcodeError) ? "aria-invalid=true aria-describedby=error-message-postcode" : "" ) />
            
                    
                </span>
            </div>
            <input type="hidden" id="organisationName" name="organisationName" value="@Model.Data.OrganisationName" />
            <input type="hidden" id="OrganisationReferenceNumber" name="OrganisationReferenceNumber" value="@Model.Data.OrganisationReferenceNumber" />
            <input type="hidden" id="OrganisationDateOfInception" name="OrganisationDateOfInception" value="@Model.Data.OrganisationDateOfInception" />
            <input type="hidden" id="OrganisationType" name="OrganisationType" value="@Model.Data.OrganisationType" />
            <input type="hidden" id="PublicSectorDataSource" name="PublicSectorDataSource" value="@Model.Data.PublicSectorDataSource" />
            <input type="hidden" id="Sector" name="Sector" value="@Model.Data.Sector" />
            <div class="form-group">
                <input class="button" type="submit" value="Find address" />
                <a class="button-link" href="@Url.Action("AddOrganisationAddress", new
                             {
                                 Model.Data.OrganisationName,
                                 Model.Data.OrganisationReferenceNumber,
                                 Model.Data.OrganisationDateOfInception,
                                 Model.Data.OrganisationType,
                                 Model.Data.PublicSectorDataSource,
                                 Model.Data.Sector
                             })">Enter address manually</a>
            </div>
        </form> 
        <p></p>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("SelectEmployer", "EmployerAccount")" class="link-back">Back</a>
    </div>
}