@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.Models.RenameEmployerAccountViewModel>

@{ViewBag.PageID = "page-change-account-name"; }
@{ViewBag.Title = "Rename levy account"; }

<form method="post">

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Rename levy account</h1>
            
            @Html.AntiForgeryToken()

            <input type="hidden" value="@Model.Data.HashedId" name="HashedId" />
            <input type="hidden" value="@Model.Data.CurrentName" name="CurrentName" />

            <div class="form-group">
                @Html.LabelFor(m => m.Data.CurrentName, "Current name", new {Id = "CurrentName-label", @class = "form-label-bold"})
                @Html.TextBoxFor(m => m.Data.CurrentName, new {disabled = "disabled", Name = "CurrentName", @class = "form-control currentAccountName", aria_required = "true", aria_labelledby = "CurrentName-label"})
            </div>

            <div class="form-group @(!string.IsNullOrEmpty(Model.Data.NewNameError) ? "error" : "")">

                <label id="NewName-label" for="NewName" class = "form-label-bold">New Account Name</label>

                @if (!string.IsNullOrEmpty(Model.Data.NewNameError))
                {
                    <span class="error-message" id="error-message-newname">@Model.Data.NewNameError</span>
                }

                @Html.TextBoxFor(m => m.Data.NewName, new { Id="NewName", Name = "NewName", @class = "form-control newAccountName", MaxLength=100, aria_required = "true", aria_labelledby = "NewName-label" })
            </div>

            <div class="form-group">
                <button type="submit" class="button" id="accept">Save and continue</button>
                <a class="button button-link" href="@Url.Action("Index", "Home")">Cancel</a>
            </div>

        </div>
    </div>

</form>


@section breadcrumb {
    <div class="breadcrumbs">
        <ol>
            <li><a href="/" class="back-link">Back to Your User Profile</a></li>
        </ol>
    </div>
}
    
