@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.Models.RenameEmployerAccountViewModel>

@{ViewBag.PageID = "page-change-account-name"; }
@{ViewBag.Title = "Rename Account Name"; }
@{ViewBag.HideNav = "true"; }

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Rename levy account</h1>
    </div>
</div>

<form method="post">
    @Html.AntiForgeryToken()

    <div>
        Current account name : @Model.Data.CurrentName
    </div>

    <input type="hidden" value="@Model.Data.HashedId" name="HashedId"/>
    <input type="hidden" value="@Model.Data.CurrentName" name="CurrentName"/>
    <input type="hidden" value="@Model.Data.HideBreadcrumb" name="HideBreadcrumb"/>

    <label for="NewName">New account name</label>
    <input type="text" id="NewName" value="@Model.Data.NewName" name="NewName"/>

    <div class="form-group">
        <button type="submit" class="button" id="accept">Save and continue</button>
        <a class="button button-link" href="@Url.Action("Index", "Home")">Cancel</a>
    </div>

</form>


@if (!Model.Data.HideBreadcrumb)
    {
        @section breadcrumb {
            <div class="breadcrumbs">
                <ol>
                    <li><a href="/" class="back-link">Back to Your User Profile</a></li>
                </ol>
            </div>
        }
    }
