@using SFA.DAS.EAS.Domain
@using SFA.DAS.EAS.Domain.Models.Organisation
@model SFA.DAS.EAS.Web.Models.SummaryViewModel

@{ViewBag.PageID = "page-onboard-paye-check-details"; }
@{ViewBag.Title = "Check Details"; }
@{ViewBag.HideNav = "true"; }

@if (string.IsNullOrEmpty(Model.PayeReference))
{
    ViewBag.PageID = "page-onboard-paye-scheme-in-use";
    ViewBag.Title = "PAYE scheme already in use";
}
@if (Model.EmpRefNotFound)
{
    ViewBag.PageID = "page-onboard-paye-scheme-not-linked-to-credentials";
    ViewBag.Title = "PAYE scheme not linked to credentials";
}

<div class="grid-row">
    <div class="column-two-thirds">
        @if (string.IsNullOrEmpty(Model.PayeReference) && !Model.EmpRefNotFound)
        {
            <h1 class="heading-xlarge">PAYE scheme already in use</h1>
            <p>The PAYE scheme for the Government Gateway details you entered is already added to an account.</p>
            <p><a class="button" id="search_again" href="@Url.Action("Gateway","EmployerAccount")">Use different details</a></p>
        }
        else if (Model.EmpRefNotFound)
        {
            @Html.Partial("_PayeNotFound", @Url.Action("Gateway", "EmployerAccount"))
        }
        else
        {
            <h1 class="heading-xlarge">Check details</h1>
            <table class="top-border">
                <tr>
                    <th scope="row">
                        Organisation
                    </th>
                    <td>
                        <dl class="inline">
                            <dt>Name:</dt>
                            <dd>@Model.OrganisationName</dd>
                            
                            <dt>Address:</dt>
                            <dd>@Model.RegisteredAddress</dd>
                            
                            @if (Model.OrganisationType == OrganisationType.CompaniesHouse || Model.OrganisationType == OrganisationType.Charities)
                           {
                               if (Model.OrganisationType == OrganisationType.CompaniesHouse)
                               {
                                   <dt>Companies House number:</dt>
                               }
                               else
                               {
                                    <dt>Charity number:</dt>
                               }
                               <dd>@Model.OrganisationReferenceNumber</dd>
                           }
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        PAYE scheme
                    </th>
                    <td>
                        <dl class="inline">
                            <dt>@Model.PayeReference</dt>
                            @if (!string.IsNullOrEmpty(Model.EmployerRefName))
                            {
                                <dt>@Model.EmployerRefName</dt>
                            }
                        </dl>
                    </td>
                </tr>
            </table>
            <form method="POST" action="@Url.Action("LegalAgreement", "EmployerAccount")">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <button type="submit" class="button" id="continue">These details are correct</button>
                    <a class="button-link" href="@Url.Action("SelectEmployer", "EmployerAccount")">Change details</a>
                </div>
            </form>
        }
    </div>
</div>

    @section breadcrumb {
        <div class="breadcrumbs">
            <a href="/" class="back-link">Back to your accounts</a>
        </div>
    }
