@model SFA.DAS.EAS.Web.Models.SummaryViewModel

@{ViewBag.PageID = "page-onboard-paye-check-details"; }
@{ViewBag.Title = "Check Details"; }


@if (string.IsNullOrEmpty(Model.EmployerRef))
{
    ViewBag.PageID = "page-onboard-paye-scheme-in-use";
    ViewBag.Title = "PAYE scheme already in use";
}

<div class="grid-row">
    <div class="column-two-thirds">
        @if (string.IsNullOrEmpty(Model.EmployerRef) && !Model.EmpRefNotFound)
        {
            <h1 class="heading-xlarge">PAYE scheme already in use</h1>
            <p>The PAYE scheme for the Government Gateway details you entered is already added to an account.</p>
            <p><a class="button" id="search_again" href="@Url.Action("Gateway","EmployerAccount")">Use different details</a></p>
        }
        else if (Model.EmpRefNotFound)
        {
            @Html.Partial("_PayeNotFound", @Url.Action("Gateway", "EmployerAccount"))
        }
        else
        {
            <h1 class="heading-xlarge">Check details</h1>
            <table class="top-border">
                <tr>
                    <th scope="row">
                        Organisation
                    </th>
                    <td>
                        <dl class="inline">
                            <dt>Name:</dt>
                            <dd>@Model.CompanyName</dd>
                            <dt>Companies House number:</dt>
                            <dd>@Model.CompanyNumber</dd>
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        PAYE scheme
                    </th>
                    <td>
                        @Model.EmployerRef
                    </td>
                </tr>
            </table>
            <form method="POST" action="@Url.Action("CreateAccount", "EmployerAccount")">
                @Html.AntiForgeryToken()
                <input id="radio1" type="hidden" name="confirm_create" checked="checked" value="1">
                <div class="form-group">
                    <button type="submit" class="button" id="continue">These details are correct</button>
                    <a class="button-link" href="@Url.Action("SelectEmployer", "EmployerAccount")">Change details</a>
                </div>
            </form>
        }
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol>
            <li><a href="/" class="back-link">Back to Your User Profile</a></li>
        </ol>
    </div>
}