@using SFA.DAS.EmployerApprenticeshipsService.Web.Controllers
@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.UserAccountsViewModel

<div class="grid-row">
    <div class="column-half">
        @if (Model.Accounts.AccountList.Count == 0)
        {
            <h1 class="heading-xlarge">Create an Account</h1>
        }
        else
        {
            <h1 class="heading-xlarge">Choose Account</h1>
        }
        
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.Accounts.AccountList.Count == 0)  {
            <p>Create a new Employer Account</p>
        }
        else
        {
            <p>You have several accounts registered</p>
            <p>Please choose the account you wish to view.</p>
            <table>
                <thead>
                    <tr>
                        <th>Account Name</th>
                        <th>Account Number</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var account in Model.Accounts.AccountList)
                    {
                        <tr>
                            <td>@account.Name</td>
                            <td>@account.Id</td>
                            <td><a href="@Url.Action("Index", "EmployerAccountTransactions", new {accountId = account.Id})">View</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        <p></p>
        <a href="@Url.Action("Index", "EmployerAccount")" class="button">New</a>
        <p></p>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.Invitations.Count == 0)
        {
            <p>You do not have any invitations</p>
        }
        else
        {
            <p>You have several invitations</p>
            <p>Please choose the invitation you wish to view.</p>
            <table>
                <thead>
                    <tr>
                        <th>Account Name</th>
                        <th>Expiry Date</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var invitation in Model.Invitations)
                    {
                        <tr>
                            <td>@invitation.AccountName</td>
                            <td>@invitation.ExpiryDate.ToShortDateString()</td>
                            <td>@invitation.RoleName</td>
                            <td>@invitation.Status.ToString()</td>
                            <td><a href="@Url.Action("Index", "EmployerAccountTransactions", new {invitationId = invitation.Id})">View</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>
</div>
