@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.SignInUserViewModel

<div class="grid-row">
    <div class="column-half">
        <h1 class="heading-xlarge">Employer Apprenticeships Service</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <h2 class="heading-medium">Create your apprenticeship account</h2>
            <a href="@Url.Action("Index","EmployerAccount")" class="button">Create Account</a>
        }
        else
        {
            <h2 class="heading-medium">Choose your user to impersonate</h2>
            <form method="POST" action="@Url.Content("~/home/SignInUser")">
                @for (var i = 0; i < Model.AvailableUsers.Count; i++)
                {
                    <div class="form-group">

                        <label class="form-label"><input type="radio" name="AvailableUsers[@i].UserSelected" value="@Model.AvailableUsers[i].UserId"/> 
                            @Model.AvailableUsers[i].FirstName @Model.AvailableUsers[i].LastName</label>
                        <input type="hidden" name="AvailableUsers[@i].UserId" value="@Model.AvailableUsers[i].UserId" />
                        <input type="hidden" name="AvailableUsers[@i].FirstName" value=" @Model.AvailableUsers[i].FirstName" />
                        <input type="hidden" name="AvailableUsers[@i].LastName" value="@Model.AvailableUsers[i].LastName" />
                        <input type="hidden" name="AvailableUsers[@i].Email" value="@Model.AvailableUsers[i].Email" />
                    </div>
                }
                <button type="submit" class="button">Sign in</button>
                
            </form>
        }
        <p></p>
    </div>
</div>

