@using SFA.DAS.EmployerAccounts.Web.Helpers
@model SFA.DAS.EmployerAccounts.Web.ViewModels.OrganisationAgreementViewModel
@inject IUrlActionHelper UrlHelper;
    
<div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-@Model.Id">
                @Model.Template.PublishedInfo
            </span>
        </h2>
        <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-3">
            Accepted on @Model.SignedDateText
        </strong>
    </div>
    <div id="accordion-default-content-@Model.Id" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-@Model.Id">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-m">
                    @Model.Template.PublishedInfo
                </span>
                <h3 class="govuk-heading-m">
                    Agreement between @Model.AccountLegalEntity.Name and <abbr>DfE</abbr>
                </h3>
                <div class="govuk-inset-text">
                    @ViewData[ControllerConstants.InsetText]
                </div>
                <span class="govuk-caption-m">
                    This agreement allows you to spend funds for <b>@Model.AccountLegalEntity.Name</b>.
                </span>
                <hr class=" govuk-!-margin-top-9   govuk-!-margin-bottom-9">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <p class="govuk-body">
                            <b>Parties</b>
                        </p>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <p class="govuk-body">
                            <i>
                                <b>The Secretary of State for Education, acting through the Department for Education including its executive agencies including but not limited to the Education and Skills Funding Agency (<abbr>ESFA</abbr>)</b><br>
                                Cheylesmore House<br>
                                Quinton Road<br>
                                Coventry<br>
                                CV1 2WT
                            </i>
                        </p>
                        @if (Model.OrganisationLookupPossible)
                        {
                            <i>
                                <p class="govuk-body">
                                    <b>@Model.AccountLegalEntity.Name</b><br>
                                    @Html.CommaSeperatedAddressToHtml(@Model.AccountLegalEntity.Address)

                                </p>
                            </i>
                            <p>
                                <i>
                                    <a href="@Url.Action("review", "organisation", new
                                             {
                                                 Model.HashedAccountId,
                                                 Model.HashedAgreementId,
                                                 Model.AccountLegalEntityPublicHashedId
                                             })" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Update these details</a>
                                </i>
                            </p>
                        }
                    </div>
                </div>
                <div class="govuk-grid-row govuk-!-margin-top-9   govuk-!-margin-bottom-9">
                    <div class="govuk-grid-column-one-third">
                        <p class="govuk-body">
                            <b>Document</b>
                        </p>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <div class="app-document">
                            <div class="app-document__icon">
                                <a asp-route="@RouteNames.AgreementView" 
                                   asp-route-hashedAccountId="@Model.HashedAccountId" 
                                   asp-route-hashedAgreementId="@Model.HashedAgreementId" 
                                   aria-hidden="true">
                                    <div class="govuk-body app-document__icon-text">HTML</div>
                                    <div class="app-document__icon-image">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 283" aria-hidden="true" focusable="false">
                                            <rect x="26.4" y="24.2" fill="currentColor" width="146.2" height="64.7"/>
                                            <rect x="26.4" y="113.2" fill="currentColor" width="15.7" height="17.8"/>
                                            <rect x="26.4" y="113.2" fill="currentColor" width="15.7" height="17.8"/>
                                            <rect x="26.4" y="151.4" fill="currentColor" width="15.7" height="17.8"/>
                                            <rect x="26.4" y="189.5" fill="currentColor" width="15.7" height="17.8"/>
                                            <rect x="26.4" y="227.6" fill="currentColor" width="15.7" height="17.8"/>
                                            <rect x="62.7" y="113.2" fill="currentColor" width="109.9" height="17.8"/>
                                            <rect x="62.7" y="151.4" fill="currentColor" width="72.1" height="17.8"/>
                                            <rect x="62.7" y="189.5" fill="currentColor" width="109.9" height="17.8"/>
                                            <rect x="62.7" y="227.6" fill="currentColor" width="92.3" height="17.8"/>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="app-document__details">
                                <p class="govuk-!-margin-bottom-1">
                                    <a asp-route="@RouteNames.AgreementView"
                                   asp-route-hashedAccountId="@Model.HashedAccountId"
                                   asp-route-hashedAgreementId="@Model.HashedAgreementId" 
                                   class="govuk-link">View your agreement</a> </p>
                                <p>HTML</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class=" govuk-!-margin-top-9   govuk-!-margin-bottom-9">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h3 class="govuk-heading-m">
                            This agreement has been accepted
                        </h3>
                        <table class="govuk-table">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Accepted by:</th>
                                <td class="govuk-table__cell">@Model.SignedByName</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header"><span class="das-no-wrap">On behalf of:</span></th>
                                <td class="govuk-table__cell">@Model.AccountLegalEntity.Name</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Address: </th>
                                <td class="govuk-table__cell">@Model.AccountLegalEntity.Address</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Accepted on:</th>
                                <td class="govuk-table__cell">@Model.SignedDateText</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header"><span class="das-no-wrap">Agreement ID:</span></th>
                                <td class="govuk-table__cell">@Model.AccountLegalEntityPublicHashedId</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>