@using SFA.DAS.EmployerAccounts.Web.Helpers
@model SFA.DAS.EmployerAccounts.Web.ViewModels.OrganisationAgreementViewModel
@inject IUrlActionHelper UrlHelper;

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Agreement between @Model.AccountLegalEntity.Name and  Department for Education (<abbr>DfE</abbr>)</h2>
    </div>
</div>
<strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-3">
    Awaiting acceptance
</strong>
<p class="govuk-body-l">
    @Model.Template.PublishedInfo
</p>
<p></p>
@if (ViewData[ControllerConstants.InsetText] as string != string.Empty)
{
    <div class="govuk-inset-text">
        @ViewData[ControllerConstants.InsetText]
    </div>
}
<p class="govuk-body">
    This agreement creates a legal contract between @Model.AccountLegalEntity.Name and  Department for Education (<abbr>DfE</abbr>). It allows you to transfer funds to other employers and pay training providers for apprenticeships.
</p>
<p></p>
<p class="govuk-body">
    You need to ensure you have authority from your organisation before you accept this agreement on their behalf.
</p>

<form 
    method="get"
    asp-route="@RouteNames.AboutYourAgreement"
    asp-route-hashedAccountId="@Model.HashedAccountId"
    asp-route-hashedAgreementId="@Model.HashedAgreementId">
    <input class="govuk-button" type="submit" value="View agreement" />
</form>

<hr class=" govuk-!-margin-top-6   govuk-!-margin-bottom-9" />