@using SFA.DAS.EmployerAccounts.Web.Helpers
@{
    ViewBag.PageID = "accepted-employer-agreement";
    ViewBag.Title = "You’ve accepted the employer agreement";
    ViewBag.Section = "organisations";
    ViewBag.GaData.Vpv = "/accounts/agreements/accepted-employer-agreement";
    ViewBag.ZenDeskLabel = "eas-accepted-employer-agreement";
    ViewBag.ShowNav = false;
    var hashedAccountId = ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId];
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                You’ve accepted the employer agreement
            </h1>
        </div>

        <p class="govuk-body">
            <a class="govuk-link" asp-route="@RouteNames.GetSignedPdfAgreement" asp-route-HashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]" asp-route-hashedAgreementId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAgreementId]" target="_blank">
                Download your accepted agreement
            </a>
            &nbsp;(<abbr>PDF</abbr>, 225<abbr>KB</abbr>)
        </p>

        <h3 class="govuk-heading-m">What happens next</h3>
        <p class="govuk-body">@ViewBag.CompanyName can now get funding for apprenticeship training.</p>
        <p class="govuk-body">If you’ve already started using your account, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>submit any adverts you’ve created</li>
            <li>approve any apprentice details you’ve added</li>
        </ul>

        @if (ViewBag.HasFurtherPendingAgreements)
        {
            <div class="govuk-inset-text">
                You still need to <a class="govuk-link" asp-route="@RouteNames.EmployerAgreementIndex" asp-route-hashedAccountId="@hashedAccountId">review and accept your other agreements</a>.
            </div>
        }

        <a class="govuk-button" asp-route="@RouteNames.EmployerTeamIndex" asp-route-hashedAccountId="@hashedAccountId">View your account</a>
    </div>
</div>