@using SFA.DAS.EmployerAccounts.Web.Helpers
@model OrchestratorResponse<ConfirmOrganisationToRemoveViewModel>

@{
    ViewBag.PageID = "organisations-remove-confirmation";
    ViewBag.Title = "Remove organisation";
    ViewBag.Section = "organisations";
    ViewBag.ZenDeskLabel = "eas-remove-organisation";
    ViewBag.GaData.Vpv = "/accounts/agreements/remove/organisation-remove-confirmation";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="govuk-error-summary__title" id="error-summary-heading">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#yes">Select yes if you want to remove @Model.Data.Name</a>
                        </li>
                    </ul>
                </div>
            </div>
        }

        <h1 class="govuk-heading-xl">Are you sure you want to remove @Model.Data.Name?</h1>
        @if (Model.Data.HasSignedAgreement)
        {
            <p class="govuk-body">This will end @Model.Data.Name’s agreement with ESFA.</p>
        }
        <form method="POST" 
            asp-route-hashedAccountId="@Model.Data.HashedAccountId" 
            asp-route-accountLegalEntityHashedId="@Model.Data.HashedAccountLegalEntitytId" 
            asp-route="@RouteNames.PostConfirmRemoveOrganisation">
            <input type="hidden" value="@Model.Data.Name" name="Name" />
            <input type="hidden" value="@Model.Data.CanBeRemoved.ToString()" name="CanBeRemoved" />
            <input type="hidden" value="@Model.Data.HasSignedAgreement.ToString()" name="HasSignedAgreement" />
            <input type="hidden" value="@Model.Data.HashedAccountId" name="HashedAccountId" />
            <input type="hidden" value="@Model.Data.HashedAccountLegalEntitytId" name="HashedAccountLegalEntitytId" />

            <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")" id="can-remove-organisation">
                <fieldset class="govuk-fieldset" aria-describedby="can-remove-organisation">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" aria-hidden="false" id="can-remove-organisation-error">
                            Select yes if you want to remove @Model.Data.Name
                        </span>
                    }

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="remove-yes" name="Remove" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" for="yes">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="remove-no" name="Remove" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" for="no">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <button class="govuk-button" type="submit" id="can-remove-organisation-button">Continue</button>
            </div>
        </form>
    </div>
</div>

@section breadcrumb
{
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" asp-route="@RouteNames.EmployerTeamIndex" asp-route-hashedAccountId="@Model.Data.HashedAccountId">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" asp-route="@RouteNames.EmployerAgreementIndex" asp-route-hashedAccountId="@Model.Data.HashedAccountId">Your organisations and agreements</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Remove organisation</li>
        </ol>
    </div>
}