@using SFA.DAS.EmployerAccounts.Web.Extensions
@model OrchestratorResponse<EmployerAgreementViewModel>
@{
    ViewBag.PageID = "organisations-agreements-details";
    ViewBag.Title = "Employer agreement";
    ViewBag.Section = "organisations";
}

@{
    ViewBag.GaData.Vpv = "/accounts/agreements/view-your-agreement/agreement-details";
}

@{Layout = "~/Views/Shared/_Layout_CDN.cshtml"; }

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">@Model.Data.EmployerAgreement.LegalEntityName<span class="govuk-visually-hidden">:</span> </span>
            Your <abbr>ESFA</abbr> agreement
        </h1>

        <p class="govuk-body">This agreement allows you to spend funds for <b>@Model.Data.EmployerAgreement.LegalEntityName</b>.</p>

    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Parties</h2>
    </div>

    <div class="govuk-grid-column-two-thirds">
        <address class="govuk-body das-text--normal">
            <span class="govuk-!-font-weight-bold">
                The Secretary of State for Education acting through the Education and Skills Funding Agency an executive agency of the Department for Education<span class="govuk-visually-hidden">: </span>
            </span><br>
            Cheylesmore House<span class="govuk-visually-hidden">, </span><br>
            Quinton Road<span class="govuk-visually-hidden">, </span><br>
            Coventry<span class="govuk-visually-hidden">, </span><br>
            CV1 2WT
        </address>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds das-float-right">
        <address class="govuk-body das-text--normal">
            <span class="govuk-!-font-weight-bold">
                @Model.Data.EmployerAgreement.LegalEntityName
            </span><br>

            @Html.CommaSeperatedAddressToHtml(@Model.Data.EmployerAgreement.LegalEntityAddress)
        </address>

        @if (Model.Data.OrganisationLookupPossible)
        {
        <p class="govuk-body">
            <a href="@Url.Action("review", "organisation", new
            {
                Model.Data.EmployerAgreement.HashedAccountId,
                Model.Data.EmployerAgreement.HashedAgreementId,
                Model.Data.EmployerAgreement.AccountLegalEntityPublicHashedId
            })" class="govuk-link">Update these details</a>
        </p>
        }
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Document</h2>
    </div>

    <div class="govuk-grid-column-two-thirds">

        <a href="@Url.Action("View", "EmployerAgreement")" class="das-pub-cover-link das-float-left govuk-!-margin-right-4" aria-hidden="true">
            <img src="/dist/images/pub-cover-html.png" alt="HTML document icon">
        </a>
            
        <p class="govuk-body">
            <a href="@Url.Action("View", "EmployerAgreement")" class="govuk-link govuk-link--no-visited-state">Your <abbr>ESFA</abbr> agreement</a>
            <span class="govuk-visually-hidden">. </span><br>
            <span class="govuk-visually-hidden">Document type: </span><span class="govuk-body-s das-text--muted">HTML</span>
        </p>

    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">This agreement has been accepted</h3>
    </div>

    <div class="govuk-grid-column-two-thirds">
        <dl class="das-definition-list das-definition-list--table das-definition-list--table-narrow">
            <dt class="das-definition-list__title das-definition-list__title--spacer">Accepted by</dt>
            <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Model.Data.EmployerAgreement.SignedByName</dd>

            <dt class="das-definition-list__title das-definition-list__title--spacer">On behalf of</dt>
            <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Model.Data.EmployerAgreement.LegalEntityName</dd>

            <dt class="das-definition-list__title das-definition-list__title--spacer">Address</dt>
            <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Model.Data.EmployerAgreement.LegalEntityAddress</dd>

            <dt class="das-definition-list__title das-definition-list__title--spacer">Accepted on</dt>
            <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Model.Data.EmployerAgreement.SignedDate.Value.ToString("d MMMM yyyy")</dd>
        </dl>
    </div>
</div>

@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list" role="navigation">
            <li class="govuk-breadcrumbs__list-item"><a href="@Url.Action("Index", "EmployerTeam")" class="govuk-breadcrumbs__link">Home</a></li>
            <li class="govuk-breadcrumbs__list-item"><a href="@Url.Action("Index", "EmployerAgreement")" class="govuk-breadcrumbs__link">Your organisations and agreements</a></li>
            <li class="govuk-breadcrumbs__list-item">Your <abbr>ESFA</abbr> agreement</li>
        </ol>
    </div>
}
