@using SFA.DAS.EmployerAccounts.Web.Helpers
@model OrchestratorResponse<EmployerAgreementListViewModel>

@inject IHtmlHelpers HtmlHelpers;

@{
    ViewBag.PageID = "organisations-agreements-home";
    ViewBag.Title = "Organisations";
    ViewBag.Section = "organisations";
    ViewBag.GaData.Vpv = "/accounts/agreements/organisations-agreements-home";
    ViewBag.ZenDeskLabel = "eas-your-organisation-and-agreements";

    if (!string.IsNullOrEmpty(Model.FlashMessage?.HiddenFlashMessageInformation))
    {
        ViewBag.PageID = Model.FlashMessage.HiddenFlashMessageInformation;
    }
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your organisations and agreements</h1>
        <p class="govuk-body">Add organisation(s) that employ apprentices.</p>
        <div class="govuk-inset-text">
            <p>To add apprentices you need to tell us which organisation (employer) they will be working for.</p>
            <p>If you work with more than one organisation, they will need their own agreement with the Department for Education (<abbr>DfE</abbr>).<p>
            <p>If the organisation is not listed below you will need to add them.</p>
        </div>
        <p class="govuk-body">You can add as many <a class="govuk-link" href="https://www.gov.uk/government/publications/employment-allowance-more-detailed-guidance" rel="noopener" target="_blank">connected organisations</a> as you need to.</p>
        <p class="govuk-body">
            Transfers status:&nbsp;
            <span>
                @{
                    if (@Model.Data.EmployerAgreementsData.MinimumSignedAgreementVersion >= 3)
                    {
                        @:enabled.
                    }
                    else
                    {
                        @:disabled.
                    }
                }
            </span>
        </p>
        <p class="govuk-!-margin-bottom-8">
            <a asp-controller="@ControllerConstants.SearchOrganisationControllerName" asp-action="@ControllerConstants.SearchForOrganisationActionName" asp-route-HashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]" class="govuk-button govuk-!-margin-bottom-0">Add an organisation</a>
        </p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table govuk-!-margin-bottom-8">
            <caption class="govuk-table__caption govuk-heading-l govuk-visually-hidden">Organisations</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Organisation name</th>
                    <th scope="col" class="govuk-table__header">Latest agreement status</th>
                    <th scope="col" class="govuk-table__header" colspan="2"><span class="govuk-visually-hidden">Actions</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var employerAgreement in Model.Data.EmployerAgreementsData.EmployerAgreements)
                {
                    var routeData = new Dictionary<string, string>() { { RouteValueKeys.HashedAccountId, ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId].ToString() }, { RouteValueKeys.HashedAccountLegalEntityId, employerAgreement.LegalEntity.AccountLegalEntityPublicHashedId } };

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @employerAgreement.LegalEntity.Name
                        <span class="govuk-caption-m">Agreement ID: @employerAgreement.LegalEntity.AccountLegalEntityPublicHashedId</span>
                    </td>
                    <td class="govuk-table__cell">
                        @if (employerAgreement.HasPendingAgreement)
                        {
                            @:Not yet accepted
                        }
                        else if (employerAgreement.HasSignedAgreement)
                        {
                            @:Accepted
                        }
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a asp-controller="@ControllerConstants.EmployerAgreementControllerName" asp-action="@ControllerConstants.ViewAllAgreementActionName" asp-all-route-data="@routeData" class="govuk-link">View all agreements</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        @if (Model.Data.EmployerAgreementsData.EmployerAgreements.Count > 1)
                        {
                                <a asp-controller="@ControllerConstants.EmployerAgreementControllerName" asp-action="@ControllerConstants.RemoveOrganisationActionName" asp-all-route-data="@routeData" class="govuk-link">Remove organisation</a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    How transfers status is worked out
                </span>
            </summary>
            <div class="govuk-details__text">
                Transfers are enabled if all the organisations in your account have accepted the latest agreement.
            </div>
        </details>
    </div>
</div>

@section breadcrumb
{
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" asp-controller="@ControllerConstants.EmployerTeamControllerName" asp-action="@ControllerConstants.IndexActionName" asp-route-HashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Your organisations and agreements</li>
        </ol>
    </div>
}