@using SFA.DAS.EmployerAccounts.Web.Extensions
@using SFA.DAS.EmployerAccounts.Web.Helpers
@model EmployerAgreementViewModel
@{
    ViewBag.PageID = "agreement-sign";
    ViewBag.Title = "Agreement";
    ViewBag.Section = "organisations";
    ViewBag.GaData.Vpv = "/accounts/agreements/sign-your-agreement/agreement-sign";
    ViewBag.HideNav = true;
}

@if (Html.ViewExists(Model.EmployerAgreement.TemplatePartialViewName + "_changes"))
{
    @Html.Partial(Model.EmployerAgreement.TemplatePartialViewName + "_changes");
}

<div class="grid-row" id="publication-banner">
    <div class="column-third">
        <div class="sfa-logo">
            <h1>
                <span class="organisation-logo">
                    <span>
                        Education &amp; Skills <br>
                        Funding Agency
                    </span>
                </span>
            </h1>
        </div>
    </div>
    <div class="column-two-thirds">
        <a href="@Url.Action("GetPdfAgreement","EmployerAgreement")" target="_blank" class="download">Save this agreement as a PDF</a>
    </div>
</div>

@Html.Partial(@Model.EmployerAgreement.TemplatePartialViewName)

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action(ControllerConstants.AboutYourAgreementActionName, ControllerConstants.EmployerAgreementControllerName)" class="back-link">Back</a></li>
        </ol>
    </div>
}

@Html.SetZenDeskLabels(ZenDeskLabels.ReviewTheEmployerAgreement)