@using SFA.DAS.EmployerAccounts.Web.Helpers
@model EmployerAgreementViewModel
@{
    ViewBag.PageID = "agreement-view";
    ViewBag.Title = "Agreement view";
    ViewBag.Section = "organisations";
}
@{
    ViewBag.GaData.Vpv = "/accounts/agreements/view-your-agreement/agreement-view";
}
<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
            <span class="heading-secondary">@Model.EmployerAgreement.LegalEntityName</span>
            Your ESFA agreement
        </h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <table>
            <tr>
                <th scope="row"><span class="no-wrap">Signed by:</span></th>
                <td>@Model.EmployerAgreement.SignedByName</td>
            </tr>
            <tr>
                <th scope="row"><span class="no-wrap">On behalf of:</span></th>
                <td>@Model.EmployerAgreement.LegalEntityName</td>
            </tr>
            <tr>
                <th scope="row">Address:</th>
                <td><span class="table-address">@Model.EmployerAgreement.LegalEntityAddress</span></td>
            </tr>
            <tr>
                <th scope="row"><span class="no-wrap">Signed on:</span></th>
                <td>@Model.EmployerAgreement.SignedDate.Value.ToLongDateString()</td>
            </tr>
        </table>
    </div>
</div>
<div class="grid-row" id="publication-banner">
    <div class="column-third">
        <div class="sfa-logo">
            <h1>
                <span class="organisation-logo">
                    <span>
                        Education &amp; Skills <br>
                        Funding Agency
                    </span>
                </span>
            </h1>
        </div>
    </div>
    <div class="column-two-thirds">
        <a href="@Url.Action(ControllerConstants.GetSignedPdfAgreementActionName, ControllerConstants.EmployerAgreementControllerName)" target="_blank" class="download">Save this agreement as a PDF</a>
    </div>
</div>

@if (Html.ViewExists(Model.EmployerAgreement.TemplatePartialViewName + "_body"))
{
    @Html.Partial(Model.EmployerAgreement.TemplatePartialViewName + "_body");
}
else
{
    @Html.Partial(Model.EmployerAgreement.TemplatePartialViewName)
}

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action(ControllerConstants.IndexActionName, ControllerConstants.EmployerTeamControllerName)">Home</a></li>
            <li><a href="@Url.Action(ControllerConstants.IndexActionName, ControllerConstants.EmployerAgreementControllerName)">Your organisations and agreements</a></li>
            <li>Your ESFA agreement</li>
        </ol>
    </div>
}

