@{Layout = "~/Views/Shared/_Layout_CDN.cshtml"; }
@using SFA.DAS.EmployerAccounts.Web.Helpers
@model OrchestratorResponse<ICollection<OrganisationAgreementViewModel>>
@{
    ViewBag.PageID = "organisations-agreements-details";
    ViewBag.Title = "ViewAllAgreements";
    ViewBag.Section = "organisations";
    ViewBag.ZenDeskLabel = "eas-your-esfa-agreement";
}

@{
    ViewBag.GaData.Vpv = "/accounts/agreements/view-your-agreement/agreement-details";    
}


<h1>Your agreements with the Education and Skills Funding Agency (ESFA)</h1>

<div class="govuk-tabs" data-module="govuk-tabs">

    @foreach (var item in Model.Data)
    {
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href=@item.GetAgreementTabListId>
                    @Html.GetAgreementHistoryTabTitle(@item.Template.VersionNumber)
                </a>
            </li>
        </ul>

        <div class="govuk-tabs__panel" id=@item.GetAgreementTabPanelId>

            @if (item.SignedDate != null)
            {
                <h2>Accepted on @item.SignedDate</h2>

                <h2>Agreement between @item.AccountLegalEntity.Name and ESFA </h2>

                ViewBag.BreadCrumbsTrail = @item.AccountLegalEntity.Name;

                <insettext>@item.V2InsetText</insettext>

                <Subheading>
                    @Html.GetAgreementHistoryTabTitle(@item.Template.VersionNumber)
                </Subheading>

                <Insettext>
                    This is a new agreement.
                </Insettext>

                @Html.Partial("_AcceptedAgreement", item)
            }
            else
            {
                <h2>NOT ACCEPTED YET</h2>

                <h2>Agreement between @item.AccountLegalEntity.Name and ESFA </h2>

                ViewBag.BreadCrumbsTrail = @item.AccountLegalEntity.Name;

                <subheading>
                    @Html.GetAgreementHistoryTabTitle(@item.Template.VersionNumber)
                </subheading>

                @Html.Partial("_NotAcceptedAgreement", item)
            }
        </div>
    }

</div>

@section breadcrumb {

    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "EmployerTeam")">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "EmployerAgreement")">Your organisations and agreements</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">@ViewBag.BreadCrumbsTrail</li>
        </ol>
    </div>
    <caption>@ViewBag.BreadCrumbsTrail</caption>
}