@using SFA.DAS.EmployerAccounts.Web.Extensions
@model OrchestratorResponse<ICollection<OrganisationAgreementViewModel>>

@{
    Layout = "~/Views/Shared/_Layout_CDN.cshtml";
    ViewBag.PageID = "organisations-agreements-details";
    ViewBag.Title = "ViewAllAgreements";
    ViewBag.Section = "organisations";
    ViewBag.ZenDeskLabel = "eas-your-esfa-agreement";
    ViewBag.GaData.Vpv = "/accounts/agreements/view-your-agreement/agreement-details";
    var tabsCount = 0;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Your agreements with the Education and Skills Funding Agency (<abbr>ESFA</abbr>)
        </h1>

    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        <div class="govuk-tabs" data-module="govuk-tabs">

            <h2 class="govuk-tabs__title">
                By published dates
            </h2>

            <ul class="govuk-tabs__list">

                @foreach (var item in Model.Data)
                {
                    tabsCount++;
                    <li class="govuk-tabs__list-item@(tabsCount == 1 ? "" : " govuk-tabs__list-item--selected")">
                        <a class="govuk-tabs__tab" href="@item.GetAgreementTabListId">
                            @item.Template.PublishedInfo
                        </a>
                    </li>
                }
            </ul>
            @foreach (var item in Model.Data)
            {
                <div class="govuk-tabs__panel" id="@item.GetAgreementTabPanelId">

                    @if (item.SignedDate != null)
                    {
                        ViewBag.SelectedTab = @item.Template.VersionNumber;

                        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
                            Accepted on @item.SignedDateText
                        </strong>

                        ViewBag.BreadCrumbsTrail = @item.AccountLegalEntity.Name;

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">

                                <h3 class="govuk-heading-l govuk-!-margin-bottom-0">
                                    Agreement between @item.AccountLegalEntity.Name and <abbr>ESFA</abbr>
                                </h3>

                                <span class="govuk-caption-m govuk-!-margin-bottom-6">@item.Template.PublishedInfo</span>

                                @if (@item.Template.InsetText(Model.Data) != string.Empty)
                                {
                                    <div class="govuk-inset-text">
                                        @item.Template.InsetText(Model.Data)                                
                                    </div>
                                }

                            </div>
                        </div>

                        @Html.Partial("_AcceptedAgreement", item)
                    }
                    else
                    {
                        <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-4">
                            NOT ACCEPTED YET
                        </strong>

                        ViewBag.BreadCrumbsTrail = @item.AccountLegalEntity.Name;

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">

                                <h3 class="govuk-heading-l">
                                    Agreement between @item.AccountLegalEntity.Name and <abbr>ESFA</abbr>
                                </h3>

                                <span class="govuk-caption-m govuk-!-margin-bottom-6">@item.Template.PublishedInfo</span>

                                @if (@item.Template.InsetText(Model.Data) != string.Empty)
                                {
                                    <div class="govuk-inset-text">
                                        @item.Template.InsetText(Model.Data)
                                    </div>
                                }

                            </div>
                        </div>

                        @Html.Partial("_NotAcceptedAgreement", item)
                    }
                </div>
            }

        </div>
    </div>
</div>

@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list" role="navigation">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "EmployerTeam")">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "EmployerAgreement")">Your organisations and agreements</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">@ViewBag.BreadCrumbsTrail</li>
        </ol>
    </div>
}
