@using SFA.DAS.EmployerAccounts.Web.Extensions
@using SFA.DAS.EmployerAccounts.Web.Helpers
@{Layout = "~/Views/Shared/_Layout_CDN.cshtml"; }
@model OrchestratorResponse<OrganisationAgreementViewModelV1>
@{
    ViewBag.PageID = "organisations-agreements-details";
    ViewBag.Title = "ViewAllAgreements";
    ViewBag.Section = "organisations";
    ViewBag.ZenDeskLabel = "eas-your-esfa-agreement";
}

@{
    ViewBag.GaData.Vpv = "/accounts/agreements/view-your-agreement/agreement-details";
}


<h1>Your agreements with the Education and Skills Funding Agency (ESFA)</h1>

<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#v3-agreement">
                Published 9 January 2020
            </a>
        </li>
        @if (@Model.Data.OrganisationAgreementViewModel.AgreementV2Signed)
        {
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#v2-agreement">
                    Published 1 May 2018
                </a>
            </li>
        }
        @if (@Model.Data.OrganisationAgreementViewModel.AgreementV1Signed)
        {
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#v1-agreement">
                    Published 1 May 2017
                </a>
            </li>
        }
    </ul>
    <div class="govuk-tabs__panel" id="v3-agreement">
        V3 Agreement

        @if (@Model.Data.OrganisationAgreementViewModel.AgreementV3Signed)
        {
            <h2>Accepted on @Model.Data.OrganisationAgreementViewModel.AgreementV3SignedDate</h2>

            <h2>Agreement between @Model.Data.OrganisationAgreementViewModel.Name and ESFA </h2>
            <Subheading>
                Published 9 January 2020
            </Subheading>

            <Insettext>
                This is a new agreement.
            </Insettext>

            @Html.Partial("_AcceptedAgreement", @Model.Data.OrganisationAgreementViewModel.EmployerAgreementV3)
        }
        else
        {
            <h2>NOT ACCEPTED YET</h2>

            <h2>Agreement between @Model.Data.OrganisationAgreementViewModel.Name and ESFA </h2>

            <subheading>
                Published 9 January 2020
            </subheading>

            @Html.Partial("_NotAcceptedAgreement", @Model.Data.OrganisationAgreementViewModel)
        }
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="v2-agreement">

        V2 Agreement

        @if (@Model.Data.OrganisationAgreementViewModel.AgreementV2Signed)
        {
            <h2>Accepted on @Model.Data.OrganisationAgreementViewModel.AgreementV2SignedDate</h2>

            <h2>Agreement between @Model.Data.OrganisationAgreementViewModel.Name and ESFA </h2>
            <Subheading>
                Published 1 May 2018
            </Subheading>

            <Insettext>
                This is a variation of the agreement that we published 1 May 2017. We updated it to add clause 7 (transfer of funding).
            </Insettext>

            @Html.Partial("_AcceptedAgreement", @Model.Data.OrganisationAgreementViewModel.EmployerAgreementV2)
        }
        else
        {
            <p> Not Required </p>
        }

    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="v1-agreement">
        V1 Agreement
        @if (@Model.Data.OrganisationAgreementViewModel.AgreementV1Signed)
        {
            <h2>Accepted on @Model.Data.OrganisationAgreementViewModel.AgreementV1SignedDate</h2>

            <h2>Agreement between @Model.Data.OrganisationAgreementViewModel.Name and ESFA </h2>
            <Subheading>
                Published 1 May 2017
            </Subheading>

            @Html.Partial("_AcceptedAgreement", @Model.Data.OrganisationAgreementViewModel.EmployerAgreementV1)
        }
        else
        {
            <p> Not Required </p>
        }

    </div>
</div>
