@model OrganisationAgreementsViewModel

@{
    ViewBag.PageID = "organisations-agreements-details";
    ViewBag.Title = "ViewAllAgreements";
    ViewBag.Section = "organisations";
    ViewBag.ZenDeskLabel = "eas-your-esfa-agreement";
    ViewBag.GaData.Vpv = "/accounts/agreements/view-your-agreement/agreement-details";

    var hashedAccountId = ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId];
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your agreements with the Department for Education (<abbr>DfE</abbr>)</h1>
        <h3 class="govuk-heading-l">Agreement ID: @Model.AgreementId</h3>
    </div>
</div>

<hr class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">

@if (Model.HasUnsignedAgreement)
{
    @(await Html.PartialAsync("_AwaitingAcceptance", Model.UnsignedAgreement, new ViewDataDictionary(ViewData) {{ ControllerConstants.InsetText, Model.UnsignedAgreement.Template.InsetText(Model.Agreements)}}))
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">Accepted agreements</h3>
        @if (Model.HasSignedAgreements)
        {
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                @foreach (var agreement in Model.SignedAgreements)
                {
                    @(await Html.PartialAsync("_AcceptedAgreement", agreement, new ViewDataDictionary(ViewData){{ControllerConstants.InsetText, agreement.Template.InsetText(Model.Agreements) } }))
                }
            </div>
        }
        else
        {
            <h3 class="govuk-heading-s govuk-!-margin-bottom-9">You have no accepted agreements</h3>
        }
    </div>
</div>

@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list" role="navigation">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" asp-route="@RouteNames.EmployerTeamIndex" asp-route-hashedAccountId="@hashedAccountId">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" asp-route="@RouteNames.EmployerAgreementIndex" asp-route-hashedAccountId="@hashedAccountId">Your organisations and agreements</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Agreements</li>
        </ol>
    </div>
}
