@using SFA.DAS.EmployerAccounts.Web.Extensions
@using SFA.DAS.EmployerAccounts.Web.Helpers
@model OrganisationAgreementsViewModel

@{
    Layout = "~/Views/Shared/_Layout_CDN.cshtml";
    ViewBag.PageID = "organisations-agreements-details";
    ViewBag.Title = "ViewAllAgreements";
    ViewBag.Section = "organisations";
    ViewBag.ZenDeskLabel = "eas-your-esfa-agreement";
    ViewBag.GaData.Vpv = "/accounts/agreements/view-your-agreement/agreement-details";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your agreements with the Department for Education (<abbr>DfE</abbr>)</h1>
        <h3 class="govuk-heading-l">Agreement ID: @Model.AgreementId</h3>
    </div>
</div>

<hr class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">

@if (Model.HasUnsignedAgreement)
{
    @Html.Partial("_AwaitingAcceptance", Model.UnsignedAgreement, new ViewDataDictionary {{ ControllerConstants.InsetText, Model.UnsignedAgreement.Template.InsetText(Model.Agreements)}})
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">Accepted agreements</h3>
        @if (Model.HasSignedAgreements)
        {
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                @foreach (var agreement in Model.SignedAgreements)
                {
                    @Html.Partial("_AcceptedAgreement", agreement, new ViewDataDictionary{{ControllerConstants.InsetText, agreement.Template.InsetText(Model.Agreements) } })
                }
            </div>
        }
        else
        {
            <h3 class="govuk-heading-s govuk-!-margin-bottom-9">You have no accepted agreements</h3>
        }
    </div>
</div>

@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list" role="navigation">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "EmployerTeam")">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "EmployerAgreement")">Your organisations and agreements</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Agreements</li>
        </ol>
    </div>
}
