@model WhenDoYouWantToViewViewModel
@using SFA.DAS.EmployerAccounts.Web.Helpers
@{ViewBag.PageID = "when-do-you-want-to-view"; }
@{
    ViewBag.Title = "When do you want to view the employer agreement?";
    ViewBag.ZenDeskLabel = "eas-when-do-you-want-to-view-the-employer-agreement";
    ViewBag.ShowNav = false;
}

@{var errorClassFormGroup = Model.InError ? "govuk-form-group--error" : "";}
@{var errorClass = Model.InError ? "govuk-error-message" : "";}
@{var hiddenClass = Model.InError ? "" : "das-hidden";}
@{var ariaHidden = Model.InError ? "false" : "true";}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (Model.InError)
        {
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#view-it-now">Select whether you want to view the employer agreement now or later</a>
                        </li>
                    </ul>
                </div>
            </div>
        }

        
        <form method="POST" 
            asp-controller="@ControllerConstants.EmployerAgreementControllerName" 
            asp-action="@ControllerConstants.WhenDoYouWantToView"
            asp-route-HashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]"
            asp-route-hashedAgreementId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAgreementId]">
            <fieldset class="govuk-fieldset" aria-describedby="intro-hint">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        @ViewBag.Title
                    </h1>
                </legend>

                <p id="intro-hint" class="govuk-body govuk-!-margin-top-4">
                    The employer agreement is between @Model.EmployerAgreement.LegalEntityName and the Department for Education (<abbr>DfE</abbr>).
                </p>

                <div class="govuk-form-group @errorClassFormGroup">
                    <span class="@hiddenClass @errorClass" aria-hidden="@ariaHidden" id="select-option">
                        <span class="govuk-visually-hidden">Error:</span> Select whether you want to view the employer agreement now or later
                    </span>

                    <div class="govuk-radios govuk-!-margin-top-3 govuk-!-margin-bottom-7" id="agreementCheck">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" type="radio" name="choice" id="view-it-now" value="1">
                            <label class="govuk-label govuk-radios__label" for="view-it-now">
                                I'll view it now
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" type="radio" name="choice" id="view-it-later" value="2" aria-describedby="skip-hint">
                            <label class="govuk-label govuk-radios__label" for="view-it-later">
                                I'll view it later, after I've created an account
                            </label>

                            <span id="skip-hint" class="govuk-hint govuk-radios__hint">
                                You can skip the agreement and view it when @Model.EmployerAgreement.LegalEntityName is ready to get or reserve apprenticeship funding.
                            </span>
                        </div>
                    </div>

                </div>

                <button class="govuk-button" type="submit" id="submit-when-do-you-want-to-view-button">
                    Continue
                </button>

            </fieldset>
        </form>
        

    </div>
</div>

@section pageSpecificJS {
    <script type="text/javascript">
      $(function () {
        var pageTitle = $('h1.govuk-heading-xl').text().trim();
        $('.govuk-radios').each(function () {
          var dataLayerObj
          var radios = $(this).find('input:radio');
          radios.on('change', function () {
            dataLayerObj = {
              event: 'radio button selected',
              page: pageTitle,
              radio: this.id
            }
            window.dataLayer.push(dataLayerObj)
          })
        });
      });
    </script>
}
