@model SFA.DAS.EmployerAccounts.Web.OrchestratorResponse<SFA.DAS.EmployerAccounts.Web.ViewModels.UserInvitationsViewModel>
@using SFA.DAS.EmployerAccounts.Models;
@{
    ViewBag.Title = "Invitations";
    ViewBag.ShowNav = false;
}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Invitations</h1>
        @if (Model.Data.Invitations.Count == 0)
        {
            <p>You have no invitations. Invitations expire after 7 days.</p>
            <p><a class="govuk-button" href="@Url.Action("Index","Home")">Return to your profile</a></p>
        }
        else
        {
            <form method="post" action="@Url.Action("Accept","Invitation")">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"><span class="das-no-wrap">Account name</span></th>
                            <th class="govuk-table__header" scope="col"><span class="das-no-wrap">What you can do</span></th>
                            <th class="govuk-table__header" scope="col"><span class="das-no-wrap">Expires in</span></th>
                            <th class="govuk-table__header" scope="col"><span class="govuk-visually-hidden">Action</span></th>
                        </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                        @for (var index = 0; index < Model.Data.Invitations.Count; index++)
                        {
                            var invitation = Model.Data.Invitations[index];
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <div>@invitation.AccountName</div>
                                </td>
                                <td class="govuk-table__cell">

                                    <div>@RoleStrings.GetRoleDescription(invitation.Role)</div>
                                </td>
                                <td class="govuk-table__cell">

                                    <div>@invitation.ExpiryDays()</div>
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">

                                    <div>
                                        <input type="hidden" name="Invitations[@index].AccountName" value="@invitation.AccountName" />
                                        <input type="hidden" name="Invitations[@index].Id" value="@invitation.Id" />
                                        <input type="hidden" name="invitation" value="@invitation.Id" />
                                        <button type="submit" id="invitationId" class="das-button--inline-link" title="Accept invite to @invitation.AccountName">Accept invite</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        }
    </div>
</div>

@if (Model.Data.ShowBreadCrumbs)
{
    @section breadcrumb {
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item" class="govuk-breadcrumbs__link"><a href="/">Your accounts</a></li>
                <li class="govuk-breadcrumbs__list-item">Invitations</li>
            </ol>
        </div>
    }
}