@using SFA.DAS.Authorization
@using SFA.DAS.EmployerAccounts.Models.UserProfile
@model SFA.DAS.EmployerAccounts.Web.OrchestratorResponse<SFA.DAS.EmployerAccounts.Web.ViewModels.UserInvitationsViewModel>
@{
    ViewBag.Title = "Invitations";
    ViewBag.HideNav = "true";
}



<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Invitations</h1>
        @if (Model.Data.Invitations.Count == 0)
        {
            <p>You have no invitations. Invitations expire after 7 days.</p>
            <p><a class="button" href="@Url.Action("Index","Home")">Return to your profile</a></p>
        }
        else
        {
            
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Account name</th>
                            <th scope="col">What you can do</th>
                            <th scope="col">Expires in</th>
                            <th scope="col"><span class="vh">Action</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (var index = 0; index < Model.Data.Invitations.Count; index++)
                        {
                            var invitation = Model.Data.Invitations[index];
                            <tr>
                                <td>
                                    <div>@invitation.AccountName</div>
                                </td>
                                <td>
                                
                                    <div>@RoleStrings.GetRoleDescription(invitation.Role)</div>
                                </td>
                                <td>
                                 
                                    <div>@invitation.ExpiryDays()</div>
                                </td>
                                <td class="link-right">
                                    <form method="post" action="@Url.Action("Accept","Invitation")">
                                        @Html.AntiForgeryToken()

                                        <div>
                                            <input type="hidden" name="Invitations[@index].AccountName" value="@invitation.AccountName"/>
                                            <input type="hidden" name="Invitations[@index].Id" value="@invitation.Id" />
                                            <input type="hidden" name="invitation" value="@invitation.Id" />
                                            <button type="submit" id="invitationId" class="link-button" title="Accept invite to @invitation.AccountName">Accept invite</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
        }
    </div>
</div>

@if (Model.Data.ShowBreadCrumbs)
{
    @section breadcrumb {
        <div class="breadcrumbs">
            <ol role="navigation">
                <li><a href="/">Your accounts</a></li>
                <li>Invitations</li>
            </ol>
        </div>
    }
}

