@using SFA.DAS.Authorization
@using SFA.DAS.EmployerAccounts.Models.UserProfile
@model SFA.DAS.EmployerAccounts.Web.OrchestratorResponse<SFA.DAS.EmployerAccounts.Models.AccountTeam.InvitationView>
@{
    ViewBag.Title = "Accept invitation";
    ViewBag.HideNav = "true";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-medium">Accept invitation</h1>
        <form method="POST" action="@Url.Action("Accept")">
            <table class="th-nopadding">
                <thead>
                    <tr>
                        <th scope="col" style="padding-top: 0"></th>
                        <th scope="col" class="" style="padding-top: 0"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Account</td>
                        <td>@Model.Data.AccountName</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@Model.Data.Email</td>
                    </tr>
                    <tr>
                        <td>What you can do</td>
                        <td>@RoleStrings.GetRoleDescription(Model.Data.Role)</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>@Model.Status.ToString()</td>
                    </tr>
                </tbody>
            </table>
            <p></p>
            <input type="hidden" id="invitationId" name="invitationId" value="@Model.Data.Id" />
            <button type="submit" class="button" id="accept">Accept</button>
        </form>
    </div>
</div>

