@using SFA.DAS.EmployerAccounts.Web.Helpers
@{
    ViewBag.PageID = "page-paye-scheme-ways-to-add";
    ViewBag.Title = "Ways to add your PAYE scheme";
    ViewBag.Section = "paye";
    ViewBag.ShowNav = false;

    ViewBag.GaData.Vpv = "/accounts/pensionregulator/search-by-aorn";
}

@model SearchPensionRegulatorByAornViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.IsLocked)
        {
            <h1 class="govuk-heading-xl">Sorry</h1>
            <p class="govuk-body">Due to incorrect attempts, this has been disabled for <span class="govuk-!-font-weight-bold">@Model.RemainingLock minute@(Model.RemainingLock > 1 ? "s" : "").</span></p>
            <p class="govuk-body"><a href="@Url.Action(ControllerConstants.GatewayInformActionName, ControllerConstants.EmployerAccountControllerName)" class="govuk-link">Try adding your PAYE scheme via Government Gateway</a></p>
        }
        else
        {
            if (Model.RemainingAttempts != Model.AllowedAttempts)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title" id="error-summary-heading">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <span class="govuk-error-message">
                            You have @(Model.RemainingAttempts) attempt@(Model.RemainingAttempts > 1 ? "s" : "") remaining to enter a valid PAYE scheme and accounts office reference
                        </span>
                    </div>
                </div>
            }

            if (!string.IsNullOrEmpty(Model.AornError) || !string.IsNullOrEmpty(Model.PayeRefError))
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title" id="error-summary-heading">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            @if (!string.IsNullOrEmpty(Model.AornError))
                            {
                                <li>
                                    <a href="#aorn">@Model.AornError</a>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(Model.PayeRefError))
                            {
                                <li>
                                    <a href="#payeRef">@Model.PayeRefError</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }

            <h1 class="govuk-heading-xl">Enter your PAYE scheme details</h1>
            <p class="govuk-body">Enter your accounts office reference number and employer PAYE scheme reference. These details will be checked against the Pensions Regulator.</p>

            <form method="POST" asp-action="@ControllerConstants.SearchUsingAornActionName">
                <fieldset class="govuk-fieldset" id="aorn-details-form">
                    <div class="govuk-form-group @(!string.IsNullOrEmpty(Model.AornError) ? "govuk-form-group--error" : "")">
                        <label class="govuk-label govuk-!-font-weight-bold" for="aorn">Accounts office reference number</label>
                        <div class="govuk-hint">For example, 123PA12345678</div>
                        @if (!string.IsNullOrEmpty(Model.AornError))
                        {
                            <span class="govuk-error-message" id="error-message-aorn">@Model.AornError</span>
                        }
                        <input class="govuk-input govuk-!-width-three-quarters" id="aorn" name="aorn" type="text" value="@Model.Aorn" @(!string.IsNullOrEmpty(Model.AornError) ? "aria-invalid=true aria-describedby=error-message-aorn" : "")>
                    </div>

                    <div class="govuk-form-group @(!string.IsNullOrEmpty(Model.PayeRefError) ? "govuk-form-group--error" : "")">
                        <label class="govuk-label govuk-!-font-weight-bold" for="payeRef">Employer PAYE scheme reference</label>
                        <div class="govuk-hint">For example, 123/AB12345</div>
                        @if (!string.IsNullOrEmpty(Model.PayeRefError))
                        {
                            <span class="govuk-error-message" id="error-message-payeRef">@Model.PayeRefError</span>
                        }
                        <input class="govuk-input govuk-!-width-three-quarters" id="payeRef" name="payeRef" type="text" value="@Model.PayeRef" @(!string.IsNullOrEmpty(Model.PayeRefError) ? "aria-invalid=true aria-describedby=error-message-payeRef" : "")>
                    </div>
                </fieldset>

                <div class="govuk-button-group">
                    <button class="govuk-button" type="submit" id="submit-aorn-details">Continue</button>
                    <a href="@Url.Action(ControllerConstants.SkipRegistrationActionName, ControllerConstants.EmployerAccountControllerName)" class="govuk-link">Skip this step for now</a>
                </div>

            </form>
        }
    </div>
</div>

@section breadcrumb {
    <div class="das-js-back-link"></div>
}

@section pageSpecificJS {
    <script type="text/javascript">
        // DataLayer pushes when form validation message is shown
        $(function () {
            var errorSummary = $('.govuk-error-summary');
            var pageTitle = $('h1.govuk-heading-xl').text();
            errorSummary.each(function () {
                var dataLayerObj
                var numberOfErrors = $(this).find('ul.govuk-error-summary__list li').length;
                var validationMessage = "Form validation";
                if (numberOfErrors === 1) {
                    validationMessage = $(this).find('a').eq(0).text();
                }
                dataLayerObj = {
                    event: 'form submission error',
                    page: pageTitle,
                    message: validationMessage
                }
                window.dataLayer.push(dataLayerObj)
            });
        });
    </script>
}