@using SFA.DAS.EmployerAccounts.Web.Helpers
@model SearchPensionRegulatorResultsViewModel

@{ 
    ViewBag.PageID = "select-your-pension-regulator-organisation";
    ViewBag.Title = "Select your organisation";
    ViewBag.HideNav = !Model.IsExistingAccount;
    ViewBag.Section = "pensionregulator";
    Layout = "~/Views/Shared/_Layout_CDN.cshtml";
}

@{
    ViewBag.GaData.Vpv = Model.IsExistingAccount ? "/accounts/pensionregulator/search/results/select-your-pension-regulator-organisation" : "/onboarding/search/results/select-your-pension-regulator-organisation";
    var hiddenClass = ViewBag.InError != null && ViewBag.InError ? "" : "hidden";
    var errorClass = ViewBag.InError != null && ViewBag.InError ? "error" : "";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Choose an organisation
        </h1>

        <p>You can add other organisations to your account later.</p>
        
        <form method="POST" action="@Url.Action(ControllerConstants.SearchPensionRegulatorActionName)" >
            @Html.AntiForgeryToken()      
            @Html.HiddenFor(m => m.IsExistingAccount)
            @Html.HiddenFor(m => m.PayeRef)
            <div class="form-group @errorClass" id="pension-regulator-form">
                <fieldset>
                    <legend class="form-label-bold">
                        <span class="error-message @hiddenClass" aria-hidden="true" id="have-not-selected-organisation">
                            Please choose an organisation
                        </span>
                    </legend>
                    @for (int i = 0; i < Model.Results.Count; i++)
                    {
                        <label class="block-label">
                            @Html.RadioButtonFor(m => m.SelectedOrganisation, Model.Results[i].ReferenceNumber, false)
                            @Html.HiddenFor(m => m.Results[i].Name)
                            @Html.HiddenFor(m => m.Results[i].ReferenceNumber)
                            @Html.HiddenFor(m => m.Results[i].Status)
                            @Html.HiddenFor(m => m.Results[i].Address)
                            @Html.HiddenFor(m => m.Results[i].Type)
                            @Model.Results[i].Name
                        </label>
                    }
                </fieldset>
                <p class="form-block">or</p>
                <fieldset>
                    <label class="block-label">
                        @Html.RadioButtonFor(m => m.SelectedOrganisation, 0, false)
                        My organisation is not listed
                    </label>
                </fieldset>
            </div>
            <div class="form-group">
                <button class="button" type="submit" id="submit-organisation-button">Continue</button>
            </div>
        </form>
    </div>
</div>