@using SFA.DAS.Common.Domain.Types
@model OrchestratorResponse<SearchOrganisationResultsViewModel>

@{
    ViewBag.PageID = "select-your-organisation";
    ViewBag.Title = "Select your organisation";
    ViewBag.HideNav = !Model.Data.IsExistingAccount;
    ViewBag.Section = "organisations";
    ViewBag.ZenDeskLabel = "eas-select-your-organisation";
}

@{
    ViewBag.GaData.Vpv = Model.Data.IsExistingAccount ? "/accounts/organisations/search/results/select-your-organisation" : "/onboarding/search/results/select-your-organisation";
}

@{Layout = "~/Views/Shared/_Layout_CDN.cshtml"; }

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

        <form action="@Url.Action("SearchForOrganisationResults")" method="POST" role="search" aria-label="On this page">
            <div class="govuk-form-group">

                <label for="searchTerm" class="govuk-label govuk-label--s">
                    Search results
                </label>
                <div class="das-form-group-inline das-form-group-inline--sm">
                    <input id="searchTerm" name="searchTerm" title="Search" class="govuk-input" type="text" value="@Model.Data.SearchTerm" aria-describedby="inline-search-hint" />
                    <span id="inline-search-hint" class="govuk-hint">@(Model.Data?.Results.TotalResults ?? 0) results found</span>
                    <div class="das-form-group-inline__button-wrap">
                        <button class="govuk-button das-dashboard-search__button" type="submit">Search</button>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>

<div class="govuk-grid-row">
    <section class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-m">Filter results</h2>

        <form id="filter" action="@Url.Action("SearchForOrganisationResults")?searchTerm=@(HttpUtility.UrlEncode(Model.Data.SearchTerm))" method="POST">
            <div class="govuk-form-group das-form-group--panel">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h3 class="govuk-fieldset__heading">
                            <span class="das-visually-hidden">Filter by</span> Organisation type
                        </h3>
                    </legend>
                    <div class="govuk-radios govuk-radios--small">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="company" name="organisationType" type="radio" value="CompaniesHouse" @(Model.Data.OrganisationType == OrganisationType.CompaniesHouse ? "checked=\"checked\"" : "")>
                            <label class="govuk-label govuk-radios__label" for="company">
                                Company
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="charity" name="organisationType" type="radio" value="Charities" @(Model.Data.OrganisationType == OrganisationType.Charities ? "checked=\"checked\"" : "")>
                            <label class="govuk-label govuk-radios__label" for="charity">
                                Charity
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="publicSector" name="organisationType" type="radio" value="PublicBodies" @(Model.Data.OrganisationType == OrganisationType.PublicBodies ? "checked=\"checked\"" : "")>
                            <label class="govuk-label govuk-radios__label" for="publicSector">
                                Public sector
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="all" name="organisationType" type="radio" value="" @(Model.Data.OrganisationType == null ? "checked=\"checked\"" : "")>
                            <label class="govuk-label govuk-radios__label" for="all">
                                Show all
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="govuk-button govuk-button--secondary das-visually-hidden">Apply filter</button>
                </div>
            </div>

        </form>
    </section>

    <section class="govuk-grid-column-two-thirds">
        @if (Model.Data.Results.Data != null)
        {
            <ul class="govuk-list das-govuk-list-forms">

                @foreach (var organisation in Model.Data.Results.Data)
                {
                    if (!organisation.AddedToAccount)
                    {
                        <li>
                            <form action="@Url.Action("Confirm")" method="post">
                                <input type="hidden" name="DateOfInception" value="@organisation.DateOfInception" />
                                <input type="hidden" name="ReferenceNumber" value="@organisation.ReferenceNumber" />
                                <input type="hidden" name="Sector" value="@organisation.Sector" />
                                <input type="hidden" name="Type" value="@organisation.Type" />
                                <input type="hidden" name="Name" value="@organisation.Name" />
                                <input type="hidden" name="Address" value="@organisation.Address" />
                                <button type="submit">@organisation.Name</button>
                            </form>
                            <dl class="das-inline-def-list">
                                <dt>Address</dt>
                                <dd>@(string.IsNullOrEmpty(organisation.Address) ? "No address supplied" : organisation.Address)</dd>
                                <dt>Type</dt>
                                <dd>@organisation.Type.GetDescription()</dd>
                            </dl>
                        </li>
                    }
                    else
                    {
                        <li>
                            <p class="govuk-heading-s">@organisation.Name</p>
                            <dl class="das-inline-def-list">
                                <dt>Address</dt>
                                <dd>@(string.IsNullOrEmpty(organisation.Address) ? "No address supplied" : organisation.Address)</dd>
                                <dt>Type</dt>
                                <dd>@organisation.Type.GetDescription()</dd>
                            </dl>
                            <p class="govuk-body">
                                Already added - <a href="@Url.Action("Index", "EmployerAgreement")" class="govuk-link">view my organisations</a>
                            </p>
                        </li>
                    }
                }
                @if (Model.Data.Results.PageNumber == Model.Data.Results.TotalPages || Model.Data.Results.TotalPages == 0)
                {
                    <li>
                        <span class="govuk-heading-s">Can't find your organisation?</span>          <br>Check the spelling and <a href="#searchTerm" class="govuk-link">search again</a>.
                    </li>
                }

            </ul>
        }
        else
        {
            <ul class="govuk-list das-govuk-list-forms">
                <li>
                    <span class="govuk-heading-s"><strong>No results found.</strong></span> <br>
                    <span>Can't find your organisation?</span> <br>Check the spelling and <a href="#searchTerm" class="govuk-link">search again</a>.
                </li>
            </ul>
        }

        <nav class="das-pagination-link">
            <ul>
            @if (Model.Data.Results.PageNumber > 1)
            {
                <li class="das-pagination-link__wrap das-pagination-link--prev">
                    <a href="@Url.Action("SearchForOrganisationResults", new {searchTerm = Model.Data.SearchTerm, pageNumber = Model.Data.Results.PageNumber - 1, organisationType = Model.Data.OrganisationType })" class="govuk-link govuk-link--no-visited-state">
                        <span>Previous page</span><span class="das-visually-hidden">: </span>
                        <span>Page @(Model.Data.Results.PageNumber - 1) of @Model.Data.Results.TotalPages</span>
                    </a>
                </li>
            }
            @if (Model.Data.Results.PageNumber < Model.Data.Results.TotalPages)
            {
                <li class="das-pagination-link__wrap das-pagination-link--next">
                    <a href="@Url.Action("SearchForOrganisationResults", new {searchTerm = Model.Data.SearchTerm, pageNumber = Model.Data.Results.PageNumber + 1, organisationType = Model.Data.OrganisationType })" class="govuk-link govuk-link--no-visited-state">
                        <span>Next page</span><span class="das-visually-hidden">: </span>
                        <span>Page @(Model.Data.Results.PageNumber + 1) of @Model.Data.Results.TotalPages</span>
                    </a>
                </li>
            }
            </ul>
        </nav>
    </section>
</div>

@section pageSpecificJS {
    <script>
        $(function () {
            var filterForm = $('#filter');
            //if (filterForm.length > 0) {
            var radios = filterForm.find('input:radio');
            radios.on('change', function () {
                var radioLabel = radios.filter(':checked').siblings('label').text();
                dataLayer.push({
                    'cd1': radioLabel
                });
                filterForm.submit();
            });
            //}
        });
    </script>
}

@section gaDataLayer {
    @if (Model.Data.Results.PageNumber == Model.Data.Results.TotalPages || Model.Data.Results.TotalPages == 0)
    {
        <script>
  dataLayer.push({
            'event': 'zerosearch',
            'term' : '@Model.Data.SearchTerm'
  });  </script>
    }
}


@section breadcrumb {
    <div class="das-js-show govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list" role="navigation">
            <li class="govuk-breadcrumbs__list-item">
                <a href="javascript:history.back()" class="govuk-breadcrumbs__link govuk-back-link">Back</a>
            </li>
        </ol>
    </div>
}
