@model SFA.DAS.EmployerAccounts.Web.ViewModels.ApprenticeDetailsViewModel

<h3 class="govuk-heading-l">Apprentice details </h3>

<dl class="das-definition-list das-definition-list--inline">
    <dt class="das-definition-list__title">Name</dt>
    <dd class="das-definition-list__definition">@Model.ApprenticeName</dd>

    <dt class="das-definition-list__title">Apprenticeship training provider</dt>
    <dd class="das-definition-list__definition">@Model.TrainingProviderName</dd>

    <dt class="das-definition-list__title">Apprenticeship training course</dt>
    <dd class="das-definition-list__definition">@Model.CourseName</dd>

    <dt class="das-definition-list__title">Apprenticeship training start date</dt>
    <dd class="das-definition-list__definition">@Model.StartDateText</dd>

    <dt class="das-definition-list__title">Planned apprenticeship training end date</dt>
    <dd class="as-definition-list__definition">@Model.EndDateText</dd>

    <dt class="das-definition-list__title">Agreed apprenticeship training course price</dt>
    <dd class="das-definition-list__definition">@Model.ProposedCostText</dd>
</dl>

@if (!Model.IsApproved)
{
    <p><a href="@Url.EmployerCommitmentsAction("apprentices/cohorts/review")" class="das-panel__link govuk-link--no-visited-state">Review and approve</a> </p>
}
