@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel


    <h3 class="das-panel__heading">You've secured apprenticeship funding</h3>
    <dl class="das-definition-list das-definition-list--with-separator">
        <dt class="das-definition-list__title">Employer:</dt>
        <dd class="das-definition-list__definition">@Model.ReservedFundingOrgName</dd>
        <dt class="das-definition-list__title">Apprenticeship training start date: </dt>
        <dd class="das-definition-list__definition">@Model.ReservedFundingToShow.StartDate.ToString("MMMM yyyy") to @Model.ReservedFundingToShow.EndDate.ToString("MMMM yyyy")</dd>
        <dt class="das-definition-list__title">Apprenticeship training:</dt>
        <dd class="das-definition-list__definition">@Model.ReservedFundingToShow.CourseName</dd>
    </dl>

<p><a href="@Url.ReservationsAction("reservations/manage")" class="das-panel__link">Manage reservations</a> </p>
