@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel
<div class="das-panel das-panel--featured">

    <h3 class="das-panel__heading">Apprenticeship funding secured</h3>
    <dl class="das-definition-list das-definition-list--with-separator">
        <dt class="das-definition-list__title">Legal entity:</dt>
        <dd class="das-definition-list__definition">@Model.Account.Name</dd>
        <dt class="das-definition-list__title">Training course:</dt>
        <dd class="das-definition-list__definition">@Model.EmulatedFundingViewModel.CourseName</dd>
        <dt class="das-definition-list__title">Start and end date: </dt>
        <dd class="das-definition-list__definition">@Model.EmulatedFundingViewModel.StartDate to @Model.EmulatedFundingViewModel.EndDate</dd>
    </dl>
    <p><a href="@Url.Action("Index","EmulatedFundingJourney",new { HashedAccountId = Model.HashedAccountId })" class="das-panel__link">Check and secure funding now</a> </p>

</div>

