@model SFA.DAS.EmployerAccounts.Web.OrchestratorResponse<SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel>

@{
    ViewBag.Title = "Home";
    ViewBag.PageID = "page-company-homepage";
}

<div class="das-dashboard-header das-section--header">
    <div class="govuk-width-container das-dashboard-header__border">
        <h1 class="govuk-heading-m das-account__title">Your employer account</h1>
        <h2 class="govuk-heading-l das-account__account-name">@Model.Data.Account.Name</h2>
        @if (Model.Data.ShowSavedFavourites)
        {
        <a href="@Url.FavouritesAction()" class="das-favourites-link govuk-body">
            <span class="das-favourites-link__icon"><img src="@Html.CdnLink("images", "favourite-unchecked-black.svg")" alt=""></span>
            <span class="das-favourites-link__text">View saved favourites</span>
        </a>
        }
</div>
</div>

@if (Model.Data.ShowSearchBar)
{
    @Html.Action("SearchBar");
}

<main class="govuk-main-wrapper das-section--dashboard" id="main-content" role="main">
    <div class="govuk-width-container">
        <div class="das-panels">
            <div class="das-panels__col das-panels__col--primary">
                @Html.Action("Row1Panel1", new { model = Model.Data })
                @Html.Action("Row2Panel1", new { model = Model.Data })
            </div>
            <div class="das-panels__col das-panels__col--secondary">
                @Html.Action("Row1Panel2", new { model = Model.Data })
                @Html.Action("Row2Panel2", new { model = Model.Data })
            </div>
        </div>
    </div>
</main>

@if (Model.Data.ShowMostActiveLinks)
{
    @Html.Action("MostActiveLinks",new { model = Model.Data });
}