@model SFA.DAS.EmployerAccounts.Web.ViewModels.VacancyStatusViewModel

<h3 class="das-panel__heading">Your vacancy</h3>
<p>@Model.VacancyTitle <span class="das-!-display--block das-text--muted">@Model.Reference</span></p>
<dl class="das-definition-list das-definition-list--inline">
    <dt class="das-definition-list__title">Closing date</dt>
    <dd class="das-definition-list__definition">@Model.ClosingDateText</dd>

    @{ if (Model.NumberOfApplications.HasValue)
        {
            <dt class="das-definition-list__title">Applications</dt>
            <dd class="das-definition-list__definition">@Model.NumberOfApplications.Value</dd>
        }
    }

    <dt class="das-definition-list__title">Status</dt>
    <dd class="das-definition-list__definition">@Model.Status</dd>
</dl>
<ul class="govuk-list">
    <li><a href="@Model.ManageVacancyLinkUrl" class="govuk-link govuk-link--no-visited-state">@Model.ManageVacancyLinkText</a> </li>
    <li><a href="@Url.EmployerRecruitAction("create-options/")" class="govuk-link govuk-link--no-visited-state">Create vacancy</a> </li>
</ul>