@using SFA.DAS.EmployerAccounts.Web.Extensions
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

@{
    var vacancy = Model.AccountViewModel.SingleVacancy;
}

<h3 class="das-panel__heading">Your vacancy</h3>
<p>@vacancy.TrainingTitle <span class="das-!-display--block das-text--muted">VAC@(vacancy.Reference)</span></p>
<dl class="das-definition-list das-definition-list--inline">

    <dt class="das-definition-list__title">Closing date</dt>
    <dd class="das-definition-list__definition">@(vacancy.ClosingDate.HasValue ? vacancy.ClosingDate.Value.ToGdsFormatFull() : "-")</dd>

       <dt class="das-definition-list__title">Applications</dt>
       <dd class="das-definition-list__definition">@vacancy.NumberOfApplications</dd>

    <dt class="das-definition-list__title">Status</dt>
    <dd class="das-definition-list__definition">@vacancy.Status</dd>
</dl>
<ul class="govuk-list">
    <li><a href="@vacancy.ManageVacancyUrl" class="govuk-link govuk-link--no-visited-state">Manage vacancy</a></li>
    <li><a href="@Url.EmployerRecruitAction("create-options/")" class="govuk-link govuk-link--no-visited-state">Create a vacancy</a></li>
</ul>