
@using SFA.DAS.EAS.Portal.Client.Types;
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel
@{
    Vacancy vacancy = null;

    var actionLinkText = "";
    int? numberOfApplications = null;

    if (Model.HasSinglePendingReviewVacancy)
    {
        vacancy = Model.AccountViewModel.Vacancies.First(v => v.Status == VacancyStatus.PendingReview);
        actionLinkText = "Preview vacancy";
    };
}
<h3 class="das-panel__heading">Your vacancy</h3>
<p>@vacancy.TrainingTitle <span class="das-!-display--block das-text--muted">VAC @vacancy.Reference</span></p>
<dl class="das-definition-list das-definition-list--inline">
    <dt class="das-definition-list__title">Closing date</dt>
    <dd class="das-definition-list__definition">@(vacancy.ClosingDate.HasValue ? vacancy.ClosingDate.Value.ToGdsFormat() : "-")</dd>

    @{ if (numberOfApplications.HasValue)
        {
            <dt class="das-definition-list__title">Applications</dt>
            <dd class="das-definition-list__definition">@numberOfApplications.Value</dd>
        }
    }

    <dt class="das-definition-list__title">Status</dt>
    <dd class="das-definition-list__definition">@vacancy.Status</dd>
</dl>
<ul class="govuk-list">
    <li><a href="@Url.EmployerRecruitAction(vacancy.ManageVacancyUrl)" class="govuk-link govuk-link--no-visited-state">@actionLinkText</a> </li>
    <li><a href="@Url.EmployerRecruitAction("create-vacancy/")" class="govuk-link govuk-link--no-visited-state">Create a vacancy</a> </li>
</ul>
