@model EmployerAgreementViewModel

<script type="text/javascript" src="@Url.Content("../../../../dist/javascripts/jquery-1.11.0.min.js")"></script>
<script type="text/javascript" src="@Url.Content("../../../../dist/javascripts/accordion.js")"></script>
<link href="@Url.Content("../../../../dist/css/accordion.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("../../../../dist/css/legal/legal-agreement.css")" rel="stylesheet" type="text/css" />

<div>
    <h1 class="heading-xlarge">Agreement between @Model.EmployerAgreement.LegalEntityName and the Education and Skills Funding Agency (ESFA)</h1>
    <p>We updated the agreement on 1 May 2018.</p>
    <h3 class="heading-medium">Key features of the agreement</h3>
    <p>@Model.EmployerAgreement.LegalEntityName must:</p>
    <ul class="list list-bullet">
        <li>only use the funding in their apprenticeship service account to train and assess apprentices</li>
        <li>have a ‘contract for services’ with their training providers</li>
        <li>follow the apprenticeship funding rules</li>
    </ul>
    <p>The ESFA can:</p>
    <ul class="list list-bullet">
        <li>suspend payments, recover funds or close @Model.EmployerAgreement.LegalEntityName’s account if @Model.EmployerAgreement.LegalEntityName breaks the agreement</li>
        <li>change the terms of the agreement and any part of the apprenticeship service</li>
    </ul>
    <h3 class="heading-medium">The full agreement</h3>
    <div class="js-hidden" data-module="accordion-with-descriptions">
        <div class="subsection-wrapper">
            <div class="subsection js-subsection">
                <div class="subsection__header">
                    <h2 class="subsection__title">ESFA employer agreement</h2>
                </div>
                <div class="subsection__content js-subsection-content" id="subsection_content_0">
                    @Html.Partial(Model.EmployerAgreement.TemplatePartialViewName + "_body");
                </div>
            </div>
        </div>
    </div>
    <br />
<div class="notice">
    <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">
        The agreement is legally binding. If @Model.EmployerAgreement.LegalEntityName breaks it, we could close their account and stop them running apprenticeships.
    </strong>
</div>
<form method="post" action="@Url.Action("Sign", "EmployerAgreement")">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <fieldset>

            <legend>
                <h1 class="heading-medium">Do you accept the agreement?</h1>
            </legend>

            <label for="want-to-sign" class="block-label">
                <input type="radio" name="choice" id="want-to-sign" value="2" />
                Yes, I have read the agreement and accept it
            </label>
            <label for="do-not-want-to-sign" class="block-label">
                <input type="radio" name="choice" id="do-not-want-to-sign" value="1" />
                I’ll review it later
            </label>

        </fieldset>
        <br />
        <input class="button" type="submit" value="Continue" />
    </div>
</form>
</div>

