@using Microsoft.ApplicationInsights.Extensibility
@using SFA.DAS.EmployerAccounts.Web.Helpers

@inject HtmlHelpers HtmlHelpers;


@{
    ViewBag.UseCDN = true;
}
<!DOCTYPE html>
<html lang="en" class="govuk-template ">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l !== 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KWQBWGJ');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Manage apprentices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaDesc))
    {
        <meta name="description" content="@ViewBag.MetaDesc">
    }

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="@HtmlHelpers.CdnLink("assets/images","favicon.ico")" type="image/x-icon" />
    <link rel="mask-icon" href="@HtmlHelpers.CdnLink("assets/images","govuk-mask-icon.svg")" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="@HtmlHelpers.CdnLink("assets/images","govuk-apple-touch-icon-180x180.png")">
    <link rel="apple-touch-icon" sizes="167x167" href="@HtmlHelpers.CdnLink("assets/images","govuk-apple-touch-icon-167x167.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@HtmlHelpers.CdnLink("assets/images","govuk-apple-touch-icon-152x152.png")">
    <link rel="apple-touch-icon" href="@HtmlHelpers.CdnLink("assets/images","govuk-apple-touch-icon.png")">
    <link href="~/dist/css/select2.min.css" media="all" rel="stylesheet" />
    <!--[if !IE 8]><!-->
    <link href="@HtmlHelpers.CdnLink("css", "main.css")" rel="stylesheet" />
    <!--<![endif]-->
    <!--[if IE 8]>
        <link href="@HtmlHelpers.CdnLink("css", "all-ie8.css")" rel="stylesheet" />
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="/html5-shiv/html5shiv.js"></script>
    <![endif]-->

    <meta property="og:image" content="@HtmlHelpers.CdnLink("assets/images","govuk-opengraph-image.png")">

    @await Html.PartialAsync("GoogleAnalyticsInfo")
    <!-- This is from individual pages -->
    @await RenderSectionAsync("gaDataLayer", required: false)
    <script type="text/javascript">
        var appInsights = window.appInsights ||
            function (config) {
                function r(config) {
                    t[config] = function () {
                        var i = arguments;
                        t.queue.push(function () { t[config].apply(t, i) })
                    }
                }

                var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f;
                s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js";
                u.getElementsByTagName(o)[0].parentNode.appendChild(s);
                try {
                    t.cookie = u.cookie
                } catch (h) {
                }
                for (t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; i.length;)
                    r("track" + i.pop());
                return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"),
                    config.disableExceptionTracking ||
                    (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) {
                        var s = f && f(config, r, u, e, o);
                        return s !== !0 && t["_" + i](config, r, u, e, o), s
                    }), t
            }({
                instrumentationKey: "@TelemetryConfiguration.Active.InstrumentationKey"
            });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
    @await Html.PartialAsync("_ZenDeskWidget")
    @await Html.PartialAsync("_ZenDeskApiPush")
    <style>
        #agreement-list .call-to-action,
        #agreement-header.call-to-action {
            margin: 10px 0 40px 0;
            background-color: #f3f2f1;
            padding: 30px;
        }

        #agreement-list .clause-column-content {
            padding-left: 50px;
        }

        #agreement-list .clause-column-fig h4.govuk-body {
            float: left;
        }

        #agreement-list section > h3.govuk-heading-m span {
            display: inline-block;
            min-width: 50px;
        }

        .das-list-lower-alpha {
            list-style-type: lower-alpha;
        }

        .das-list-lower-roman {
            list-style-type: lower-roman;
        }

        .govuk-tabs__list-item--selected {
            padding-bottom: 11px !important
        }
    </style>
</head>
<body id="@ViewBag.PageID" class="govuk-template__body">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWQBWGJ" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    @await Html.PartialAsync("_CookieBanner", HtmlHelpers.GetCookieBannerViewModel(Html))
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <!--[if lt IE 8]>
        <div id="unsupported-browser-message" aria-hidden="true">
            <p>You're using a web browser that we don't support. Upgrade to one of the <a href="https://www.gov.uk/help/browsers" target="_blank">browsers that we do support</a> to access all the site's features.</p>
        </div>
    <![endif]-->
    @if (HtmlHelpers.IsSupportUser())
    {
        @(await Component.InvokeAsync("SupportUserBanner", new { model = Model is OrchestratorResponse ? Model?.Data : Model }))
        ;
    }


    @await Html.PartialAsync("_Header", HtmlHelpers.GetHeaderViewModel(Html))

    <div class="govuk-width-container">
        @await RenderSectionAsync("breadcrumb", required: false)

        <main class="govuk-main-wrapper" id="main-content" role="main">
            @if (User.Identity.IsAuthenticated)
            {
                @HtmlHelpers.GetContentByType("banner")

                if (HtmlHelpers.IsAuthorized("EmployerFeature.V3AgreementBanner"))
                {
                    var userId = User?.Claims.
                    FirstOrDefault(x => x.Type == ControllerConstants.UserRefClaimKeyName)?.Value;
                    var hashedAccountId = Html.ViewContext.RouteData.Values[ControllerConstants.AccountHashedIdRouteKeyName]?.ToString();
                    {
                        if (!string.IsNullOrEmpty(hashedAccountId))
                        {
                            if (HtmlHelpers.ShowExpiringAgreementBanner(userId, hashedAccountId))
                            {
                                @await Html.PartialAsync(@"_NotSignedV3AgreementMessage_CDN")
                            }
                        }
                    }
                }
            }

            @await Html.PartialAsync(@"_SuccessMessage_CDN", Model as OrchestratorResponse)
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_Footer", HtmlHelpers.GetFooterViewModel(Html))

    @if (!string.IsNullOrWhiteSpace(SystemDetailsViewModel.EnvironmentName))
    {
        <p class="govuk-body">
            Environment: @SystemDetailsViewModel.EnvironmentName ● Version: @SystemDetailsViewModel.VersionNumber
        </p>
    }

    <script src="@HtmlHelpers.CdnLink("libs/jquery","jquery.min.js")"></script>
    <script src="@HtmlHelpers.CdnLink("libs/govuk-frontend","all.js")"></script>

    <script src="@HtmlHelpers.CdnLink("js","das-all.min.js")"></script>
    <script src="@HtmlHelpers.CdnLink("js","app.min.js")"></script>

    <script>
        window.GOVUKFrontend.initAll();
        window.DASFrontend.initAll();
    </script>
    @await RenderSectionAsync("pageSpecificJS", required: false)

</body>
</html>
