@using Microsoft.ApplicationInsights.Extensibility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.Employer.Shared.UI.Models;
@using SFA.DAS.EmployerAccounts.Web.Helpers
@using SFA.DAS.EmployerAccounts.Web.ViewComponents

@inject IHtmlHelpers HtmlHelpers;


@{
    ViewBag.HideHeaderBorder = true;
    string hashedAccountId = (string)this.ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId] ?? "";
    var footerModel = new FooterModel { AccountId = hashedAccountId, UsePrivacyV2 = true };
}
<!DOCTYPE html>
<html lang="en" class="govuk-template ">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l !== 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KWQBWGJ');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Manage apprentices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaDesc))
    {
        <meta name="description" content="@ViewBag.MetaDesc">
    }

    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="assets/images/govuk-mask-icon.svg" color="#0b0c0c"/>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/govuk-apple-touch-icon-180x180.png"/>
    <link rel="apple-touch-icon" sizes="167x167" href="assets/images/govuk-apple-touch-icon-167x167.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/govuk-apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" href="assets/images/govuk-apple-touch-icon.png"/>

    <!--[if !IE 8]><!-->
    <link href="css/main.css" rel="stylesheet" />
    <link href="/css/app.css?v=1" rel="stylesheet" no-cdn />

    @RenderSection("styles", required: false)

    <!--<![endif]-->

    <meta property="og:image" content="assets/images/govuk-opengraph-image.png">

    @await Html.PartialAsync("GoogleAnalyticsInfo")
    <!-- This is from individual pages -->
    @await RenderSectionAsync("gaDataLayer", required: false)
    <script type="text/javascript">
        var appInsights = window.appInsights ||
            function (config) {
                function r(config) {
                    t[config] = function () {
                        var i = arguments;
                        t.queue.push(function () { t[config].apply(t, i) })
                    }
                }

                var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f;
                s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js";
                u.getElementsByTagName(o)[0].parentNode.appendChild(s);
                try {
                    t.cookie = u.cookie
                } catch (h) {
                }
                for (t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; i.length;)
                    r("track" + i.pop());
                return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"),
                    config.disableExceptionTracking ||
                    (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) {
                        var s = f && f(config, r, u, e, o);
                        return s !== !0 && t["_" + i](config, r, u, e, o), s
                    }), t
            }({
                instrumentationKey: "@TelemetryConfiguration.Active.InstrumentationKey"
            });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
    @await Html.PartialAsync("_ZenDeskWidget")
    @await Html.PartialAsync("_ZenDeskApiPush")
</head>
<body id="@ViewBag.PageID" class="govuk-template__body">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWQBWGJ" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    
    <partial name="_CookieBanner"></partial>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    @if (HtmlHelpers.IsSupportUser())
    {
        @(await Component.InvokeAsync(ComponentConstants.SupportUserBanner, new { hashedAccountId }))
    }
    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    <partial name="_Header">
        @* ReSharper disable once Mvc.PartialViewNotResolved *@
        <partial name="_Menu" model="@hashedAccountId">
        </partial>
    </partial>

    <div class="govuk-width-container">
        @await RenderSectionAsync("breadcrumb", required: false)
        <main class="govuk-main-wrapper" id="main-content" role="main">
            @if (User.Identity.IsAuthenticated)
            {
                @HtmlHelpers.GetContentByType("banner")
            }
            @await Html.PartialAsync(@"_SuccessMessage_CDN", Model as OrchestratorResponse)
            @RenderBody()
        </main>
    </div>

    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    <partial name="_Footer" model="@footerModel" />

    @if (!string.IsNullOrWhiteSpace(SystemDetailsViewModel.EnvironmentName))
    {
        <p class="govuk-body">
            Environment: @SystemDetailsViewModel.EnvironmentName ● Version: @SystemDetailsViewModel.VersionNumber
        </p>
    }

    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="/libs/govuk-frontend/all.js"></script>
    <script src="/js/das-all.min.js"></script>
    <script src="/js/app.min.js"></script>
    
    @await RenderSectionAsync("pageSpecificJS", required: false)

    <script src="/js/app.js" no-cdn></script>

    <script>
        window.GOVUKFrontend.initAll();
        window.DASFrontend.initAll();
    </script>

</body>
</html>
