@model EmployerAgreementViewModel

<script type="text/javascript" src="@Url.Content("../../../../dist/javascripts/jquery-1.11.0.min.js")"></script>
<script type="text/javascript" src="@Url.Content("../../../../dist/javascripts/accordion.js")"></script>
<link href="@Url.Content("../../../../dist/css/accordion.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("../../../../dist/css/legal/legal-agreement.css")" rel="stylesheet" type="text/css" />

<div>
    <h1 class="heading-xlarge">Memorandum of Understanding between @Model.EmployerAgreement.LegalEntityName and the Education and Skills Funding Agency (ESFA)</h1>
    <p>This document was updated on 25th July 2019.</p>
    <p>This Memorandum of Understanding sets out what is expected of you during the private beta testing period. This is not a contract, but the ESFA expects that when you have signed it, you will comply with its terms.</p>
    <h3 class="heading-medium">What is in the document</h3>
    <p>You must read and understand the Memorandum of Understanding and be aware that the following terms apply to private beta testing:</p>
    <ul class="list list-bullet">
        <li>you should agree the details of an apprenticeship (including the cost) with your training provider before it starts and this information should be recorded on your Apprenticeship Service Account</li>
        <li>you must use the functionality in your Apprenticeship Service Account to approve payments to your training provider for apprenticeships</li>
        <li>you must ensure that the training provider named on your application delivers the training for any of your apprentices</li>
        <li>you must ensure that the information about an apprenticeship is entered accurately on the Apprenticeship Service Account and that it is kept up to date</li>
        <li>if you do not follow the rules of this Memorandum of Understanding, you might be asked to leave the private beta testing</li>
    </ul>
    <h3 class="heading-medium">The full document</h3>
    <div class="js-hidden" data-module="accordion-with-descriptions">
        <div class="subsection-wrapper">
            <div class="subsection js-subsection">
                <div class="subsection__header">
                    <h2 class="subsection__title">Memorandum of Understanding</h2>
                </div>
                <div class="subsection__content js-subsection-content" id="subsection_content_0">
                    <article class="agreement">
                        <header style="background-color: #fff; padding-left:0; margin-bottom:0">
                            <nav id="contents">
                                <h2 class="govuk-heading-m">Contents</h2>
                                <div class="contents">
                                    <ol class="dinosaurs">                             
                                        <li><a href="#1">Introduction</a></li>
                                        <li><a href="#2">Registration</a></li>
                                        <li><a href="#3">Reservation</a></li>
                                        <li><a href="#4">Recruitment</a></li>
                                        <li><a href="#5">Payments, Approvals and Commitments</a></li>                                 
                                        <li><a href="#6">Requirements</a></li>
                                        <li><a href="#7">Disclaimer</a></li>                                   
                                    </ol>
                                </div>
                            </nav>
                        </header>
                        <div class="agreement-contents" style="float:none">
                           
                            <h2 class="govuk-heading-m" id="1" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">1.</span> Introduction</h2>
                            <h3 style="z-index:1">1.1</h3>
                            <p>The ESFA is trialling a new way to engage training providers, for employers that do not pay the apprenticeship levy. It puts the employer firmly in control. You have been selected by us (“the ESFA”) to participate in the private beta testing. This will help us to test and shape a service that will eventually be rolled out for thousands of employers. We will refer to you in this Memorandum of Understanding as “Employer”.</p>
                            <h3>1.2</h3>
                            <p data-point="1.2">In order to ensure that the private beta testing goes smoothly, the ESFA has a number of requirements of Employers. The purpose of this Memorandum of Understanding is to set them out and for you as an Employer to agree to comply with them.</p>
                            <h3>1.3</h3>
                            <p>This Memorandum of Understanding is not a contract but the expectation of the ESFA is that the Employer will comply with its terms.</p>
                            <h3>1.4</h3>
                            <p>This Memorandum of Understanding begins on 12 August 2019 or the date of the Employer's electronic acceptance of these terms and conditions on www.gov.uk (whichever is later) and ends on 31 December 2019 unless the ESFA communicates an extension to the Employer in writing.</p>
                           
                            <h2 class="govuk-heading-m" id="2" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">2.</span> Registration</h2>
                            <h3>2.1</h3>
                            <p>To participate in the private beta testing,the Employer must register for an account on the Apprenticeship Service (“Apprenticeship Service Account”).</p>
                            
                            <h2 class="govuk-heading-m" id="3" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">3.</span> Reservation</h2>
                            <h3>3.1</h3>
                            <p>The Employer must create a reservation of funds for the apprenticeship. The reservation must created before apprentice details are added in the Apprenticeship Service Account.</p>
                            <h3>3.2</h3>
                            <p>Once registered, an Employer can authorise the training provider to create a reservation of funds on their behalf using the provider permissions functionality within their Apprenticeship Service Account. The Employer will receive a notification each time the training provider takes action on behalf of the Employer.</p>
                            <h3>3.3</h3>
                            <p>An Employer can revoke provider permissions at any time.</p>

                            <h2 class="govuk-heading-m" id="4" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">4.</span> Recruitment</h2>
                            <h3>4.1</h3>
                            <p>Training providers and Employers can both undertake apprenticeship recruitment through the Apprenticeship Service Account.</p>
                            <h3>4.2</h3>
                            <p>If an Employer so chooses, it can give the training provider permission to use the Recruit an Apprentice feature on its behalf.</p>
                            <h3>4.3</h3>
                            <p>The Employer will receive a notification each time the training provider takes action on behalf of the Employer. The permissions can be revoked at any time and therefore the Employer remains in control.</p>

                            <h2 class="govuk-heading-m" id="5" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">5.</span> Payments, Approvals and Commitments</h2>
                            <h3>5.1</h3>
                            <p>The Employer and training provider must agree the details of the apprenticeship, including the cost, before it starts and this information must be recorded on the Apprenticeship Service Account.</p>
                            <h3>5.2</h3>
                            <p>The Employer must approve the apprenticeship details. If the details are not approved, the ESFA will not release funds to the training provider and they will not be paid.</p>    
                            <h3>5.3</h3>
                            <p>The employer must only approve apprenticeship details for the training provider(s) and the number of apprentices detailed in their application to take part in private beta testing, unless it has had written approval from the ESFA.</p>                
                    
                            <h2 class="govuk-heading-m" id="6" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">6.</span> Requirements</h2>
                            <h3>6.1</h3>
                            <p>An Employer must:</p>
                            <ol>
                                <h3>6.1.1</h3>
                                <p>Ensure that it has the appropriate registrations with the Information Commission for controlling and / or processing data (as appropriate) and that it maintains them.</p>
                                <h3>6.1.2</h3>
                                <p>Ensure that the information about an apprenticeship is entered accurately on the Apprenticeship Service Account and that it is kept up to date.</p>
                                <h3>6.1.3</h3>
                                <p>Promptly review and, if it is correct, approve details (including cost) about an apprenticeship entered on the Apprenticeship Service Account by a training provider.</p>                              
                                <h3>6.1.4</h3>
                                <p>Inform the ESFA of any concerns that the Employer might have about the apprenticeship training or the apprentice.</p>
                                <h3>6.1.5</h3>
                                <p>Inform the ESFA if its liabilities exceed its assets and it enters into any arrangements whatsoever with creditors or court action is taken against it to enforce the payment of the Employer’s debts.</p>
                                <h3>6.1.6</h3>
                                <p>Ensure that it only creates reservation of funds and approves apprenticeship details for the same training provider it agreed to work with when submitting the application to take part in private beta testing.</p>
                                <h3>6.1.7</h3>
                                <p>Ensure that it does not exceed the number of new apprenticeship starts details during the application to take part in private beta testing.</p>
                                <h3>6.1.8</h3>
                                <p>Ensure that information on its Apprenticeship Service Account is up to date, making and / or approving amendments when changes are required.</p>
                            </ol>
                        
                            <h3>6.2</h3>
                            <p>A failure by the Employer to comply with the obligations set out in paragraph 6.1 and any other obligations notified by the ESFA to the Employer in writing will lead to the ESFA taking action. Where the breach has been material, this will lead to the Employer being removed from private beta testing.</p>

                            <h2 class="govuk-heading-m" id="7" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">7.</span> Disclaimer</h2>
                            <h3>7.1</h3>
                            <p>The Employer takes part in the private beta testing entirely at its own cost and risk. The ESFA is not liable at all to the Employer for any costs, expenses, claims, loss of business or any other loss that might arise through participation in the private beta testing.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <br />
    <form method="post" action="@Url.Action("Sign", "EmployerAgreement")">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <fieldset>

                <legend>
                    <h1 class="heading-medium">Do you accept the Memorandum of Understanding?</h1>
                </legend>

                <label for="want-to-sign" class="block-label">
                    <input type="radio" name="choice" id="want-to-sign" value="2" />
                    Yes, I have read the Memorandum of Understanding and accept it
                </label>
                <label for="do-not-want-to-sign" class="block-label">
                    <input type="radio" name="choice" id="do-not-want-to-sign" value="1" />
                    I’ll review it later
                </label>

            </fieldset>
            <br />
            <input class="button" type="submit" value="Continue" />
        </div>
    </form>
</div>