@model EmployerAgreementViewModel

<script type="text/javascript" src="@Url.Content("../../../../dist/javascripts/jquery-1.11.0.min.js")"></script>
<script type="text/javascript" src="@Url.Content("../../../../dist/javascripts/accordion.js")"></script>
<link href="@Url.Content("../../../../dist/css/accordion.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("../../../../dist/css/legal/legal-agreement.css")" rel="stylesheet" type="text/css" />

<div>
    <h1 class="heading-xlarge">Memorandum of Understanding between @Model.EmployerAgreement.LegalEntityName and the Education and Skills Funding Agency (ESFA)</h1>
    <p>This document was updated on 25th July 2019.</p>
    <p>This document sets out what is expected of you during the Expression of Interest (EOI) testing period.</p>
    <h3 class="heading-medium">What is in the document</h3>
    <p>You must read and understand the Memorandum of Understanding and be aware of the following:</p>
    <ul class="list list-bullet">
        <li>you should agree the cost of an EOI apprenticeship with your training provider before it starts and this information should be recorded on your digital account</li>
        <li>you must use the functionality in your digital account to approve payments to your training provider for EOI apprenticeships</li>
        <li>you must ensure that the training provider named on your EOI application delivers the training for any of your EOI apprentices</li>
        <li>you must ensure that the information about an apprenticeship is entered accurately on the digital account and that it is kept up to date</li>
        <li>if you don’t follow the rules of this Memorandum of Understanding, you might be asked to leave the EOI</li>
    </ul>
    <h3 class="heading-medium">The full document</h3>
    <div class="js-hidden" data-module="accordion-with-descriptions">
        <div class="subsection-wrapper">
            <div class="subsection js-subsection">
                <div class="subsection__header">
                    <h2 class="subsection__title">Memorandum of Understanding</h2>
                </div>
                <div class="subsection__content js-subsection-content" id="subsection_content_0">
                    <article class="agreement">
                        <header style="background-color: #fff; padding-left:0; margin-bottom:0">
                            <nav id="contents">
                                <h2 class="govuk-heading-m">Contents</h2>
                                <div class="contents">
                                    <ol class="dinosaurs">                             
                                        <li><a href="#1">Introduction</a></li>
                                        <li><a href="#2">Registration</a></li>
                                        <li><a href="#3">Reservation</a></li>
                                        <li><a href="#4">Recruitment</a></li>
                                        <li><a href="#5">Payments, Approvals and Commitments</a></li>
                                        <li><a href="#6">Reporting</a></li>
                                        <li><a href="#7">Requirements</a></li>
                                        <li><a href="#8">Disclaimer</a></li>                                   
                                    </ol>
                                </div>
                            </nav>
                        </header>
                        <div class="agreement-contents" style="float:none">
                           
                            <h2 class="govuk-heading-m" id="1" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">1.</span> Introduction</h2>
                            <h3 style="z-index:1">1.1</h3>
                            <p>The EOI is trialling a new way to engage training providers, for employers that do not pay the apprenticeship levy. It puts the employer firmly in control. You have been selected by us (“the ESFA”) to participate in the EOI project (“EOI”). This will help us to test and shape a service that will eventually be rolled out for thousands of employers. We will refer to you in this Memorandum of Understanding as an “EOI Employer”.</p>
                            <h3>1.2</h3>
                            <p data-point="1.2">In order to ensure that the EOI goes smoothly, the ESFA has a number of requirements of EOI Employers. The purpose of this Memorandum of Understanding is to set them out and for you as an EOI employer to agree to comply with them.</p>
                            <h3>1.3</h3>
                            <p>This Memorandum of Understanding is not a contract but the expectation of the ESFA is that the EOI Employer will comply with its terms.</p>
                            <h3>1.4</h3>
                            <p>This Memorandum of Understanding begins on 12 August 2019 or the date of the Employer's electronic acceptance of these terms and conditions on www.gov.uk (whichever is later) and ends on 31 December 2019 unless the ESFA communicates an extension to the EOI Employer in writing.</p>
                            <h3>1.5</h3>
                            <p>A reference to a person or body includes a reference to its successor.</p>                    

                            <h2 class="govuk-heading-m" id="2" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">2.</span> Registration</h2>
                            <h3>2.1</h3>
                            <p>During the EOI, before any training delivery to new apprentices begins, the EOI Employer must register for an account on the Digital Service (“Digital Account”) in order to set up payments.</p>
                            
                            <h2 class="govuk-heading-m" id="3" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">3.</span> Reservation</h2>
                            <h3>3.1</h3>
                            <p>The EOI Employer must create a reservation for funding for the apprenticeship. This reservation must eventually be turned into a commitment and approved by the EOI employer (see Paragraph 5 below). If the EOI Employer does not take this step, the ESFA will not release funds to the training provider and the training provider will not get paid.</p>
                            <h3>3.2</h3>
                            <p>Once registered, an EOI Employer can authorise the training provider to proactively put the funding reservation on the Digital Account on behalf of the EOI Employer. To do this, the EOI Employer would need to select the appropriate training provider permissions. The EOI Employer will receive a notification each time the training provider takes action on behalf of the EOI Employer. Where this relates to the setting up of a new apprenticeship on the Digital Account, the EOI Employer must approve this on the Digital Account.</p>
                            <h3>3.3</h3>
                            <p>The permissions can be revoked at any time and therefore the EOI Employer remains in control.</p>

                            <h2 class="govuk-heading-m" id="4" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">4.</span> Recruitment</h2>
                            <h3>4.1</h3>
                            <p>Training providers and EOI Employers can both undertake apprenticeship recruitment through the Digital Account.</p>
                            <h3>4.2</h3>
                            <p>If an EOI Employer so chooses, it can give the training provider permission to use on its behalf the “On-Service Recruitment” feature.</p>
                            <h3>4.3</h3>
                            <p>The EOI Employer will receive a notification each time the training provider takes action on behalf of the EOI Employer. The permissions can be revoked at any time and therefore the EOI Employer remains in control.</p>

                            <h2 class="govuk-heading-m" id="5" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">5.</span> Payments, Approvals and Commitments</h2>
                            <h3>5.1</h3>
                            <p>The EOI Employer and training provider must agree the cost of the apprenticeship before it starts and this information should be recorded on the Digital Account.</p>
                            <h3>5.2</h3>
                            <p>The ESFA requires the EOI employer to commit the reserved funds to their selected training provider as referred to in paragraph 3.2 above AND approve the payment of those sums to the training provider. This training provider should be the same training provider the EOI Employer agreed to work with in their application to join the EOI. The EOI Employer need only give approval once to the total cost of the apprenticeship on the Digital Account. There is no requirement for the EOI Employer to approve each monthly payment.</p>    

                            <h2 class="govuk-heading-m" id="6" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">6.</span> Reporting</h2>
                            <h3>6.1</h3>
                            <p>Through taking part in the EOI, the EOI Employer will have access through the Digital Account to important information about the apprentice and the apprenticeship. This includes:</p>
                            <ol>
                                <h3>6.1.1</h3>
                                <p>Apprentice name and date of birth;</p>
                                <h3>6.1.2</h3>
                                <p>Apprenticeship training course including the level of qualification being studied for.</p>
                                <h3>6.1.3</h3>
                                <p>Planned start/end date of the apprenticeship</p>
                                <h3>6.1.4</h3>
                                <p>Training provider</p>
                                <h3>6.1.5</h3>
                                <p>Status</p>
                                <h3>6.1.6</h3>
                                <p>Training costs</p>
                                <h3>6.1.7</h3>
                                <p>Unique Learner Number</p>
                            </ol>
                    
                            <h2 class="govuk-heading-m" id="7" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">7.</span> Requirements</h2>
                            <h3>7.1</h3>
                            <p>An EOI Employer must:</p>
                            <ol>
                                <h3>7.1.1</h3>
                                <p>Ensure that it has the appropriate registrations with the Information Commission for controlling and / or processing data (as appropriate) and that it maintains them;</p>
                                <h3>7.1.2</h3>
                                <p>Ensure that the information about an apprenticeship is entered accurately on the Digital Account and that it is kept up to date;</p>
                                <h3>7.1.3</h3>
                                <p>Promptly review and if it is correct, approve details about an apprenticeship entered on the Digital Account by a training provider;</p>
                                <h3>7.1.4</h3>
                                <p>Promptly approve the cost of an apprenticeship on the Digital Account;</p>
                                <h3>7.1.5</h3>
                                <p>Inform the ESFA of any concerns that the EOI Employer might have about the training provision or the apprentice.</p>
                                <h3>7.1.6</h3>
                                <p>Inform the ESFA if its liabilities exceed its assets and it enters into any arrangements whatsoever with creditors or court action is taken against it to enforce the payment of the EOI Employer’s debts.</p>
                                <h3>7.1.7</h3>
                                <p>Ensure that it only creates Reservations and Commitments with the same training provider it agreed to work with when submitting the EOI application</p>
                                <h3>7.1.8</h3>
                                <p>Ensure that it does not exceed the number of new Apprenticeships started through EOI set out in its EoI application.</p>
                                <h3>7.1.9</h3>
                                <p>Ensure that information on its Digital Account is up to date, making and/or approving amendments when changes are required.</p>
                            </ol>
                        
                            <h3>7.2</h3>
                            <p>A failure by the EOI Employer to comply with the obligations set out in paragraph 7.1 and any other obligations notified by the ESFA to the EOI Employer in writing will lead to the ESFA taking action. Where the breach has been material, this will lead to the EOI Employer being removed from EOI.</p>

                            <h2 class="govuk-heading-m" id="8" style="position: -webkit-sticky; position: sticky; top: -1px; background-color:#fff"><span class="number">8.</span> Disclaimer</h2>
                            <p>The EOI Employer takes part in the EOI entirely at its own cost and risk. The ESFA is not liable at all to the EOI Employer for any costs, expenses, claims, loss of business or any other loss that might arise through participation in the EOI.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <br />
    <form method="post" action="@Url.Action("Sign", "EmployerAgreement")">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <fieldset>

                <legend>
                    <h1 class="heading-medium">Do you accept the Memorandum of Understanding?</h1>
                </legend>

                <label for="want-to-sign" class="block-label">
                    <input type="radio" name="choice" id="want-to-sign" value="2" />
                    Yes, I have read the Memorandum of Understanding and accept it
                </label>
                <label for="do-not-want-to-sign" class="block-label">
                    <input type="radio" name="choice" id="do-not-want-to-sign" value="1" />
                    I’ll review it later
                </label>

            </fieldset>
            <br />
            <input class="button" type="submit" value="Continue" />
        </div>
    </form>
</div>