@inject IHtmlHelpers HtmlHelpers;

@{
    ViewBag.PageID = "page-access-denied";
    ViewBag.Title = "Access denied";
    ViewBag.ShowNav = false;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl access-denied">Access denied</h1>
        <p class="access-denied">Your account does not have sufficient privileges</p>
        <p>@HtmlHelpers.ReturnParagraphContent()</p>
        <a class="govuk-button" href="@HtmlHelpers.ReturnToHomePageButtonHref((string)ViewBag.AccountId)">@HtmlHelpers.ReturnToHomePageButtonText((string)ViewBag.AccountId)</a>
    </div>
</div>

@section breadcrumb {
    <a href="@HtmlHelpers.ReturnToHomePageLinkHref((string)ViewBag.AccountId)" class="govuk-back-link">@HtmlHelpers.ReturnToHomePageLinkText((string)ViewBag.AccountId)</a>
}