@model SFA.DAS.EmployerApprenticeshipsService.Web.OrchestratorResponse<SFA.DAS.EmployerApprenticeshipsService.Web.Models.AddLegalEntityViewModel>
@{ViewBag.Title = "Find your organisation";}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Find your organisation</h1>
        <form action="@Url.Action("FindLegalEntity","EmployerAgreement")" method="POST">
            @Html.AntiForgeryToken()
            <div class="form-group @(TempData["companyNumberError"] != null ? "error" : "")">
                <label class="form-label" for="companyHouseNumber">Company House number</label>

                @if (TempData["companyNumberError"] != null)
                {
                   <span class="error-message" id="error-company-number">@TempData["companyNumberError"]</span>
                }

                <input class="form-control" type="text" name="entityReferenceNumber" id="companyHouseNumber" @(TempData?["companyNumberError"] != null ? "aria-describedby=\"error-company-number\"" : string.Empty) />
            </div>
            <input class="button" id="findOrganisation" type="submit" value="Continue"/>
        </form>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam")">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("Index", "EmployerAgreement")">Your Organisations</a></li>
            <li>Find your organisation</li>
        </ol>
    </div>
}
