@using SFA.DAS.EmployerApprenticeshipsService.Web.Models;

@model EmployerAgreementListViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Agreements</h1>
    </div>
    <div class="column-one-third rightalign">
        <form action="@Url.Action("Add")" method="GET">
            <input type="hidden" id="accountId" name="accountId" value="@Model.AccountId" />
            <input class="button" id="addNewPaye" type="submit" value="Add new scheme">
        </form>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <div class="responsive-table">
            <div class="responsive-thead">
                <div class="responsive-tr">
                    <div class="responsive-th">Agreement ID</div>
                    <div class="responsive-th">Employer</div>
                    <div class="responsive-th">Status</div>
                    <div class="responsive-th"> </div>
                </div>
            </div>
            <div class="responsive-tbody">

                @foreach (var employerAgreement in Model.EmployerAgreements)
            {
                    <div class="responsive-tr">
                        <div class="responsive-td">
                            <div>@employerAgreement.Id</div>
                            <div class="responsive-inner-caption">Agreement ID</div>
                        </div>
                        <div class="responsive-td">
                            <div class="responsive-inner-caption">Employer</div>
                            <div>
                                @employerAgreement.LegalEntityName
                            </div>
                        </div>
                        <div class="responsive-td">
                            <div class="responsive-inner-caption">Status</div>
                            <div>
                                @employerAgreement.Status.ToString()
                            </div>
                        </div>
                        <div class="responsive-td">
                            <div>
                                <a aria-label="View Employer Agreement @employerAgreement.Id"
                                   title="View Employer Agreement @employerAgreement.Id"
                                   href="#">View</a>
                            </div>
                            <div class="responsive-inner-caption"></div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>