@using SFA.DAS.EmployerApprenticeshipsService.Domain
@using SFA.DAS.EmployerApprenticeshipsService.Web;
@using SFA.DAS.EmployerApprenticeshipsService.Web.Models;

@model OrchestratorResponse<EmployerAgreementViewModel>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Employer agreement</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">@Model.Data.EmployerAgreement.LegalEntityName</h1>
        <h2>@Model.Data.EmployerAgreement.LegalEntityRegisteredAddress</h2>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <p>@Model.Data.EmployerAgreement.TemplateText</p>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.Data.EmployerAgreement.Status == EmployerAgreementStatus.Pending && !Model.Data.EmployerAgreement.ExpiredDate.HasValue)
        {
            <form action="@Url.Action("Sign")" method="POST">
                <input type="hidden" id="accountId" name="accountId" value="@Model.Data.EmployerAgreement.AccountId" />
                <input type="hidden" id="agreementId" name="agreementId" value="@Model.Data.EmployerAgreement.Id" />
                <input class="checkbox" id="understood" name="understood" type="checkbox" value="understood">
                <label for="understood">I have read and understood the agreement</label>
                <p></p>
                <input class="button" id="signAgreement" type="submit" value="Sign agreement">
            </form>
        }
        else if (Model.Data.EmployerAgreement.Status == EmployerAgreementStatus.Signed)
        {
            <p>Signed By</p>
            <p>@Model.Data.EmployerAgreement.SignedByName</p>
            <p>Signed Date</p>
            <p>@Model.Data.EmployerAgreement.SignedDate</p>
        }
    </div>
</div>