@using SFA.DAS.EmployerApprenticeshipsService.Web;
@using SFA.DAS.EmployerApprenticeshipsService.Web.Models;

@model OrchestratorResponse<EmployerAgreementViewModel>

<div class="grid-row">
    <h1 class="heading-xlarge">Sign agreement</h1>
    <p>
        You can't access levy funds and hire an apprentice through @Model.Data.EmployerAgreement.LegalEntityName
        until you sign the following agreement.
    </p>

    <p class="heading-medium">@Model.Data.EmployerAgreement.LegalEntityName</p>
    <p>@Model.Data.EmployerAgreement.LegalEntityRegisteredAddress</p>
    
    <hr/>
    
    <div class="column-two-thirds">
        <p>@Model.Data.EmployerAgreement.TemplateText</p>
    </div>

    <p class="heading-medium">Sign the agreement now?</p>
    <form action="@Url.Action("CreateLegalEntity")" method="POST">
        <input type="hidden" id="accountId" name="accountId" value="@Model.Data.EmployerAgreement.AccountId" />
        <input type="hidden" id="legalEntityName" name="name" value="@Model.Data.EmployerAgreement.LegalEntityName" />
        <input type="hidden" id="legalEntityCode" name="code" value="@Model.Data.EmployerAgreement.LegalEntityCode"/>
        <input type="hidden" id="legalEntityAddress" name="address" value="@Model.Data.EmployerAgreement.LegalEntityRegisteredAddress"/>
        <input type="hidden" id="legalEntityIncorporationDate" name="incorporated" value="@Model.Data.EmployerAgreement.LegalEntityIncorporatedDate" />
        <div class="form-group @(TempData["userNotAuthorised"] != null ? "error" : "")">

            @if (TempData["userNotAuthorised"] != null)
            {
                <legend>
                    <span class="error-message">You need to agree to the terms to sign the agreement.</span>
                </legend>
            }

            <label for="userAuthorised" class="block-label">
                <input class="checkbox" id="userAuthorised" name="userIsAuthorisedToSign" type="checkbox" value="true" />
                I've been authorised by my organisation to sign this agreement
            </label>
        </div>
        <div class="form-group">
            <button class="button" id="signAgreement" type="submit" name="submit" value="Sign">Sign, and add organisation</button>
            <button class="button button-link" id="createEntity" type="submit" name="submit" value="DoNotSign">Add organisation, but don't sign</button>
        </div>
</form>
</div>