@using SFA.DAS.EmployerFinance.Web
@using Microsoft.ApplicationInsights.Extensibility
@using SFA.DAS.Authorization
@using SFA.DAS.Authorization.Mvc
@using SFA.DAS.EmployerFinance.Web.Helpers

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Manage apprentices</title>
    @if (!string.IsNullOrWhiteSpace(ViewBag.MetaDesc))
    {
        <meta name="description" content="@ViewBag.MetaDesc">
    }
    <!--[if gt IE 8]><!-->
    <link href="~/dist/css/govuk-template.css" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/dist/css/govuk-template-ie6.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/dist/css/govuk-template-ie7.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/dist/css/govuk-template-ie8.css" media="screen" rel="stylesheet" /><![endif]-->
    <link href="~/dist/css/govuk-template-print.css" media="print" rel="stylesheet" />
    <!--[if IE 8]><link href="/dist/css/fonts-ie8.css" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="~/dist/css/fonts.css" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/dist/javascripts/ie.js"></script><![endif]-->
    <link rel="shortcut icon" href="/dist/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/dist/images/gov.uk_logotype_crown.svg" color="#0b0c0c">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/dist/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/dist/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/dist/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" href="/dist/images/apple-touch-icon-60x60.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image" content="/dist/images/opengraph-image.png">
    <meta name="msapplication-config" content="none" />
    <link href="~/dist/css/select2.min.css" media="all" rel="stylesheet" />

    <!--[if IE 6]><link href="@Styles.Url("~/bundles/screenie6")" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="@Styles.Url("~/bundles/screenie7")" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="@Styles.Url("~/bundles/screenie8")" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if gt IE 8]><!-->
    <link href="@Styles.Url("~/bundles/screen")" media="all" rel="stylesheet" />
    <!--<![endif]-->

    @Html.Partial("_GoogleTagManager")
    @Html.Partial("GoogleAnalyticsInfo")

    <!-- This is from individual pages -->
    @RenderSection("gaDataLayer", false)

    <script type="text/javascript">
        var appInsights = window.appInsights ||
            function(config) {
                function r(config) {
                    t[config] = function() {
                        var i = arguments;
                        t.queue.push(function() { t[config].apply(t, i) })
                    }
                }

                var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f;
                s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js";
                u.getElementsByTagName(o)[0].parentNode.appendChild(s);
                try {
                    t.cookie = u.cookie
                } catch (h) {
                }
                for (t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; i.length;)
                    r("track" + i.pop());
                return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"),
                    config.disableExceptionTracking ||
                    (i = "onerror", r("_" + i), f = e[i], e[i] = function(config, r, u, e, o) {
                        var s = f && f(config, r, u, e, o);
                        return s !== !0 && t["_" + i](config, r, u, e, o), s
                    }), t;
            }({
                instrumentationKey: "@TelemetryConfiguration.Active.InstrumentationKey"
            });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>

    <!--[if lt IE 9]><script src="/dist/javascripts/respond.min.js"></script><![endif]-->
    @Html.Partial("_ZenDeskWidget")
    @Html.Partial("_ZenDeskApiPush")
</head>
<body id="@ViewBag.PageID">
    @Html.Partial("_GoogleTagManagerNoScript")
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <div id="skiplink-container">
        <div>
            <a href="#content" class="skiplink">Skip to main content</a>
        </div>
    </div>
    <!--[if lt IE 8]>
        <div id="unsupported-browser-message" aria-hidden="true">
            <p>
                You're using a web browser that we don't support. Upgrade to one of the <a href="https://www.gov.uk/help/browsers" target="_blank">browsers that we do support</a> to access all the site's features.
            </p>
        </div>
    <![endif]-->
    @Html.Partial("_CookieBanner", Html.GetCookieBannerViewModel())
    <div id="svg-defs" aria-hidden="true">
        @Html.Partial("_SVGSprite")
    </div>

    @Html.Partial("_Header", Html.GetHeaderViewModel(useLegacyStyles: true))

    <main role="main" id="content">
        @RenderSection("breadcrumb", false)

        @if (HttpContextHelper.Current.User.Identity.IsAuthenticated)
        {
            @Html.GetContentByType("banner", useLegacyStyles: true)
        }

        @Html.Partial(@"_SuccessMessage", Model as OrchestratorResponse)
        @RenderBody()
    </main>

    @Html.Partial("_Footer", Html.GetFooterViewModel(useLegacyStyles: true))

    <div id="global-app-error" class="app-error hidden"></div>
    @Scripts.Render("~/bundles/sfajs")
    @RenderSection("pageSpecificJS", false)
    @if (!string.IsNullOrWhiteSpace(SystemDetailsViewModel.EnvironmentName))
    {
        <div class="about">
            Environment: @SystemDetailsViewModel.EnvironmentName ● Version: @SystemDetailsViewModel.VersionNumber
        </div>
    }
</body>
</html>