<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DAS Employer Finance</title>
    <!--[if gt IE 8]><!-->
    <link href="~/dist/css/govuk-template.css" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/dist/css/govuk-template-ie6.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/dist/css/govuk-template-ie7.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/dist/css/govuk-template-ie8.css" media="screen" rel="stylesheet" /><![endif]-->
    <link href="~/dist/css/govuk-template-print.css" media="print" rel="stylesheet" />
    <!--[if IE 8]><link href="/dist/css/fonts-ie8.css" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="~/dist/css/fonts.css" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/dist/javascripts/ie.js"></script><![endif]-->
    <link rel="shortcut icon" href="/dist/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/dist/images/gov.uk_logotype_crown.svg" color="#0b0c0c">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/dist/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/dist/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/dist/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" href="/dist/images/apple-touch-icon-60x60.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image" content="/dist/images/opengraph-image.png">
    <meta name="msapplication-config" content="none" />
    <link href="~/dist/css/select2.min.css" media="all" rel="stylesheet" />
    <!--[if IE 6]><link href="@Styles.Url("~/bundles/screenie6")" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="@Styles.Url("~/bundles/screenie7")" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="@Styles.Url("~/bundles/screenie8")" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if gt IE 8]><!-->
    <link href="@Styles.Url("~/bundles/screen")" media="all" rel="stylesheet" />
    <!--<![endif]-->
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DAS Employer Accounts</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/sfajs")
    @RenderSection("scripts", required: false)
</body>
</html>
