@model OrchestratorResponse<SFA.DAS.EmployerAccounts.Models.AccountTeam.InvitationView>

@{
    ViewBag.PageID = "page-team-member-cancel-invite";
    ViewBag.Title = "Cancel invitation";
    ViewBag.Section = "team";
    ViewBag.GaData.Vpv = "/accounts/teams/role/change/page-team-member-cancel-invite";

    string hashedAccountId = ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId].ToString();
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Cancel invitation</h1>
        <p class="govuk-body-l">Are you sure you want to cancel @Model.Data.Name's invitation?</p>
        <div class="govuk-button-group">
            <form asp-route="@RouteNames.EmployerTeamCancelInvitationPost" asp-route-hashedAccountId="@hashedAccountId" method="POST">
                <input type="hidden" id="cancel" name="cancel" value="1" />
                <input type="hidden" id="Email" name="Email" value="@Model.Data.Email" />
                <button type="submit" class="govuk-button" id="cancel_invitation">Yes, cancel invitation</button>
            </form>
            <a asp-route="@RouteNames.EmployerTeamView" asp-route-hashedAccountId="@hashedAccountId" class="govuk-link">No, don't cancel invitation</a>
        </div>
    </div>
</div>

@section breadcrumb {
    <a asp-route ="@RouteNames.EmployerTeamView" asp-route-hashedAccountId="@hashedAccountId" class="govuk-back-link">Back to your team</a>
}
