@{
    ViewBag.PageID = "page-company-homepage-continue-setup-create-advert";
    ViewBag.Title = "Continue Setup - Create Advert";
    ViewBag.Section = "home";
}

@{
    ViewBag.GaData.Vpv = "/accounts/agreements/page-continue-setup-create-advert";
}

<div class="breadcrumbs">
    <a href="/" class="back-link">Back</a>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large" id="heading-continue-setup-create-advert">
            Do you need to create an advert for this apprenticeship?
        </h1>

        <form method="POST" action="@Url.Action("ContinueSetupCreateAdvert")">
            <div class="form-group  @(!ViewData.ModelState.IsValid ? "error" : "")">
                <fieldset>
                    <legend>
                        <span class="visuallyhidden"></span>
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <span class="error-message" id="select-option">@ViewData.ModelState["Choice"].Errors[0].ErrorMessage</span>
                        }
                    </legend>
                    <label for="choice1" class="block-label" id="choice1-yes">
                        <input id="choice1" type="radio" name="requiresAdvert" value="@bool.TrueString" />
                        Yes
                    </label>
                    <label for="choice2" class="block-label" id="choice2-no">
                        <input id="choice2" type="radio" name="requiresAdvert" value="@bool.FalseString" />
                        No
                    </label>
                </fieldset>
            </div>
            <div class="form-group">
                <button type="submit" class="button" id="accept">Continue</button>
            </div>
        </form>
    </div>
</div>
