@using SFA.DAS.Authorization
@using SFA.DAS.Authorization.Mvc
@using SFA.DAS.Common.Domain.Types

@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<section class="dashboard-section">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="section-heading heading-large">Apprenticeships</h2>
            <p class="section-description">Manage your apprentices, recruit apprentice and set training provider permissions</p>
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <h3 class="heading-medium"><a href="@Url.EmployerCommitmentsAction("apprentices/home")">Apprentices</a></h3>
            <p>Add apprentices, update details of existing apprentices and authorise payments to training providers.</p>
        </div>
        @if (Html.IsAuthorized(FeatureType.Recruitments))
        {
            <div class="card">
                <h3 class="heading-medium"><a href="@Url.EmployerRecruitAction()">Recruitment</a></h3>
                <p>Recruit an apprentice by creating a vacancy. This vacancy will be advertised on Find an apprenticeship.</p>
            </div>
        }
        @if (Html.IsAuthorized(FeatureType.ProviderRelationships))
        {
            <div class="card">
                <h3 class="heading-medium"><a href="@Url.ProviderRelationshipsAction("providers")">Training provider permissions</a></h3>
                <p>Set training provider permissions and control what tasks they can do on your behalf.</p>
            </div>
        }
        <div class="card">
            <h3 class="heading-medium"><a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/Apprenticeship/Search" rel="external" target="_blank">Find apprenticeship training</a></h3>
            <p>Search for apprenticeships and see details of approved providers who can deliver the training.</p>
        </div>
    </div>
</section>

<section class="dashboard-section">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="section-heading heading-large">Finances</h2>
            <p class="section-description">Manage your apprenticeship funds</p>
        </div>
    </div>
    <div class="cards">
        @if (Model.ShowYourFundingReservationsLink())
        {
            <div class="card">
                <h3 class="heading-medium"><a href="@Url.ReservationsAction("reservations/manage")">Your funding reservations</a></h3>
                <p>Reserve and manage funding.</p>
            </div>
        }
        
        <div class="card">
            <h3 class="heading-medium"><a href="@Url.EmployerFinanceAction("finance")">Your finances</a></h3>
            <p>View your financial transactions, connect with other employers and @(Model.ApprenticeshipEmployerType ==  ApprenticeshipEmployerType.Levy ? "send or " : "")receive transfer funds.</p>
        </div>
    </div>
</section>

<section class="dashboard-section">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="section-heading heading-large">Account</h2>
            <p class="section-description">Manage your account details and team</p>
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <h3 class="heading-medium"><a href="@Url.Action("Index", "EmployerAgreement")">Your organisations and agreements</a></h3>
            <p>Add your organisations that will make contracts with training providers.</p>
        </div>
        <div class="card">
            <h3 class="heading-medium"><a href="@Url.Action("ViewTeam")">Your team</a></h3>
            <p>Control what your team can do and invite new team members.</p>
        </div>
        <div class="card">
            <h3 class="heading-medium"><a href="@Url.Action("Index", "EmployerAccountPaye")">PAYE schemes</a></h3>
            <p>Add or remove PAYE schemes.</p>
        </div>
    </div>
</section>