@using SFA.DAS.Authorization
@using SFA.DAS.Authorization.Mvc
@using SFA.DAS.Common.Domain.Types
@using SFA.DAS.EmployerAccounts.Web.Extensions
@using SFA.DAS.EmployerAccounts.Web.Helpers
@using SFA.DAS.Tasks.API.Types.Enums
@using SFA.DAS.EmployerAccounts.Web.Extensions

@model SFA.DAS.EmployerAccounts.Web.OrchestratorResponse<SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel>

@{
    ViewBag.Title = "Home";
    ViewBag.Section = "home";
    ViewBag.PageID = "page-company-homepage";
    ViewBag.GaData.Vpv = "/accounts/agreements/page-company-homepage";

    if (!string.IsNullOrEmpty(Model.Data.EmployerAccountType))
    {
        ViewBag.PageID = $"page-employer-account-created-{Model.Data.EmployerAccountType}";
    }
}

<h1 class="heading-secondary dashboard-heading">
    Account ID: @Model.Data.Account.PublicHashedId
</h1>
<p class="heading-xlarge dashboard-heading-company">@Model.Data.Account.Name</p>

    <a href="@Url.FavouritesAction("apprenticeships")" class="das-favourites-link govuk-body">
        <span class="das-favourites-link__icon">
        <svg class="icon" focusable="false" aria-hidden="true">
            <use xlink:href="#icon-favourite" />
        </svg></span>
        <span class="das-favourites-link__text">View saved favourites</span>
    </a>

<hr class="dashboard-heading-separator" />

    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Action("Row1Panel1", new { model = Model.Data })
            @Html.Action("Row2Panel1", new { model = Model.Data })

            <div class="panel panel-filled">
                <h3 class="heading-medium">Help us improve this service</h3>
                <p><a href="https://www.smartsurvey.co.uk/s/apprenticeshipservicefeedback/" target="_blank">Take our 3 minute survey</a> so that we can improve this service.</p>
                <p><a href="https://www.smartsurvey.co.uk/s/apprenticeshipservicefeedback/" target="_blank" class="button">Take the survey <span class="vh">so that we can improve the service</span></a></p>
            </div>
        </div>
        <div class="column-one-third">
            @Html.Action("Row1Panel2", new { model = Model.Data })
            @Html.Action("Row2Panel2", new { model = Model.Data })            
        </div>
    </div>




@if (Model.Data.ShowAcademicYearBanner)
{
    <section>
        <div class="panel alert-default">
            <h4 class="heading-small">Apprentice records in 2016/17</h4>
            <p>It's critical that you complete and approve any apprentice records for the academic year ending 31 July 2017 before <strong>18:00 on 19 October 2017</strong>.  After this date you will not be able to update apprentice details from 2016/17 or make payments for training in this period.</p>
        </div>
    </section>
}

@*@if (Model.Data.RequiresAgreementSigning > 0)
    {
        <section>
            <div class="panel alert-default">
                <h3 class="heading-small">Spending not enabled (@Model.Data.RequiresAgreementSigning)</h3>

                @if (Model.Data.UserRole == Role.Owner)
                {
                    <p>You need to <a href="@Url.Action("Index", "EmployerAgreement")">sign an agreement</a> to enable your organisations to spend funds.</p>
                }

                @if (Model.Data.UserRole == Role.Transactor)
                {
                    <p>An agreement needs to be signed to enable your organisations to spend funds. <a href="@Url.Action("Index", "EmployerAgreement")">View this agreement</a>.</p>
                }
            </div>
        </section>
    }

    <section>
        @foreach (var task in Model.Data.Tasks)
        {
            <div class="panel alert-default">
                <h3 class="heading-small">@task.Type</h3>
                <p>You have @task.ItemsDueCount items</p>
            </div>
        }
    </section>*@