@model SFA.DAS.EmployerAccounts.Web.OrchestratorResponse<SFA.DAS.EmployerAccounts.Web.ViewModels.InvitationViewModel>

@{
    var name = Model.Data.Name ?? Model.Data.Email;
    ViewBag.PageID = "page-remove-team-member";
    ViewBag.Title = "Remove team member";
    ViewBag.Section = "team";
    ViewBag.GaData.Vpv = "/accounts/teams/remove/page-remove-team-member";

    string hashedAccountId = ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId].ToString();
}
   
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Remove team member</h1>
        @if (!ViewContext.ViewData.ModelState.IsValid)
        {
            foreach (var state in ViewContext.ViewData.ModelState.Values)
            {
                foreach (var error in state.Errors)
                {
                    <div class="error" id="invalidMessage">
                        <p class="govuk-error-message">@error.ErrorMessage</p>
                    </div>
                }
            }
        }
        <p class="govuk-body-l">Are you sure you want to remove @name?</p>
        <div class="govuk-button-group">
            <form asp-route="@RouteNames.ConfirmRemoveTeamMember"
                  asp-route-hashedAccountId="@hashedAccountId"
                  asp-route-email="@Model.Data.Email" method="POST">
                <input type="hidden" id="remove" name="remove" value="1" />
                <input type="hidden" id="UserId" name="UserId" value="@Model.Data.Id" />
                <input type="hidden" id="Email" name="Email" value="@Model.Data.Email" />
                <button type="submit" class="govuk-button" id="remove_team_member">Yes, remove now</button>
            </form>
            <a asp-route="@RouteNames.EmployerTeamView" asp-route-hashedAccountId="@hashedAccountId" class="govuk-link">No, cancel</a>
        </div>
    </div>
</div>

@section breadcrumb {
    <a asp-route="@RouteNames.EmployerTeamView" asp-route-hashedAccountId="@hashedAccountId" class="govuk-back-link">Back to your team</a>
}