@using SFA.DAS.EmployerAccounts.Web.Helpers
@model SFA.DAS.EmployerAccounts.Web.ViewModels.TriageViewModel
@{ViewBag.PageID = "will-apprenticeship-training-start"; }
@{ViewBag.Title = "Will the apprenticeship training start in the next 6 months?"; }
@{ViewBag.MetaDesc = "Will the apprenticeship training start in the next 6 months"; }
@{ViewBag.GaData.Vpv = "/account/setupapprentice/will-apprenticeship-training-start"; }

@section breadcrumb
{
    <a href="javascript:history.back()" class="govuk-back-link js-show">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="govuk-error-summary__title" id="error-summary-heading">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#yes">Select yes if the apprenticeship training will start in the next 6 months</a>
                        </li>
                    </ul>
                </div>
            </div>
        }

        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
        <div class="govuk-hint">
            You do not need to know the exact date.
        </div>

        <form method="POST" action="@Url.Action(ControllerConstants.TriageWillApprenticeshipTrainingStartActionName)">
            <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")" id="will-apprenticeship-training-start">
                <fieldset class="govuk-fieldset" aria-describedby="will-apprenticeship-training-start">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" aria-hidden="false" id="will-apprenticeship-training-start-error">
                            Select yes if the apprenticeship training will start in the next 6 months
                        </span>
                    }

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.TriageOption, TriageOptions.Yes, new { @class = "govuk-radios__input", id = "yes" })
                            <label class="govuk-label govuk-radios__label" for="yes">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.TriageOption, TriageOptions.No, new { @class = "govuk-radios__input", id = "no" })
                            <label class="govuk-label govuk-radios__label" for="no">No</label>
                        </div>
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.TriageOption, TriageOptions.Unknown, new { @class = "govuk-radios__input", id = "unknown" })
                            <label class="govuk-label govuk-radios__label" for="unknown">I don't know</label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <button class="govuk-button" type="submit" id="will-apprenticeship-training-start-button">Continue</button>
            </div>
        </form>
    </div>
</div>

@section pageSpecificJS {
    <script src="~/public/js/dataLayerPushes.js"></script>
}