
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<section class="dashboard-section">
    <h2 class="section-heading heading-large">
        Your apprentice
    </h2>

    <table class="responsive">
        <tr>
            <th scope="row" class="tw-35">
                Name
            </th>
            <td class="tw-65">
                @Model.Row1Panel1ViewModel.ApprenticeName
            </td>
        </tr>
        <tr>
            <th scope="row">
                Training Provider
            </th>
            <td>
                @Model.Row1Panel1ViewModel.ProviderName
            </td>
        </tr>
        <tr>
            <th scope="row">
                Course
            </th>
            <td>
                @Model.Row1Panel1ViewModel.CourseName
            </td>
        </tr>        
        <tr>
            <th scope="row">
                Start month
            </th>
            <td>
                @Model.Row1Panel1ViewModel.CourseStartDate
            </td>
        </tr>
        <tr>
            <th scope="row">
                Finish month
            </th>
            <td>
                @Model.Row1Panel1ViewModel.CourseEndDate
            </td>
        </tr>
    </table>
    <p>
        <a href="@Url.Action("ViewApprenticeship", "EmployerTeam", new {Model.Row1Panel1ViewModel.HashedDraftApprenticeshipId, Model.Row1Panel1ViewModel.HashedCohortReference, Model.HashedAccountId})" role="button" draggable="false" class="button">
            View apprentice details
        </a>
    </p>
</section>

