@using SFA.DAS.EmployerAccounts.Web.Extensions
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<section class="dashboard-section">
    <h2 class="section-heading heading-large" id="call-to-action-your-apprentice-status">
        Your apprentice
    </h2>

    <table class="responsive">
        <tr>
            <th scope="row" class="tw-35">
                Name
            </th>
            <td class="tw-65">
                @Model.CallToActionViewModel.ApprenticeName
            </td>
        </tr>
        <tr>
            <th scope="row">
                Training Provider
            </th>
            <td>
                @Model.CallToActionViewModel.ProviderName
            </td>
        </tr>
        <tr>
            <th scope="row">
                Course
            </th>
            <td>
                @Model.CallToActionViewModel.CourseName
            </td>
        </tr>
        <tr>
            <th scope="row">
                Status
            </th>
            <td>                
                @Html.GetCohortStatus(@Model.CallToActionViewModel.CohortStatus)
            </td>
        </tr>
        <tr>
            <th scope="row">
                Start month
            </th>
            <td>
                @Model.CallToActionViewModel.CourseStartDate.Value.ToString("MMMM yyyy")
            </td>
        </tr>
        <tr>
            <th scope="row">
                Finish month
            </th>
            <td>
                @Model.CallToActionViewModel.CourseEndDate.Value.ToString("MMMM yyyy")
            </td>
        </tr>
    </table>
    <p>
        <a href="@Url.Action("ViewApprentice", "EmployerTeam", new {Model.CallToActionViewModel.HashedDraftApprenticeshipId, Model.CallToActionViewModel.HashedCohortReference, Model.HashedAccountId, Model.CallToActionViewModel.CohortStatus})" role="button" draggable="false" class="button">
            @Html.GetCallToActionButtonText(Model.CallToActionViewModel)
        </a>
    </p>
</section>

