@using SFA.DAS.EmployerAccounts.Web.Extensions
@using SFA.DAS.EmployerAccounts.Web.Helpers
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<section class="dashboard-section">
    <h2 class="section-heading heading-large" id="call-to-action-your-apprentice-status">
        Your apprentice
    </h2>

    <table class="responsive">
        <tr>
            <th scope="row" class="tw-35">
                Name
            </th>
            <td class="tw-65" id="apprentice-name">
                @Model.CallToActionViewModel.ApprenticeName
            </td>
        </tr>
        <tr>
            <th scope="row">
                Training Provider
            </th>
            <td id="provider-name">
                @Model.CallToActionViewModel.ProviderName
            </td>
        </tr>
        <tr>
            <th scope="row">
                Course
            </th>
            <td id="course-name">
                @Model.CallToActionViewModel.CourseName
            </td>
        </tr>
        <tr>
            <th scope="row">
                Status
            </th>
            <td id="with-training-provider">
                WITH TRAINING PROVIDER
            </td>
        </tr>
        @if (Model.CallToActionViewModel.CourseEndDate.HasValue)
        {
            <tr>
                <th scope="row">
                    Start month
                </th>
                <td id="course-start-date">
                    @Model.CallToActionViewModel.CourseStartDate.Value.ToString("MMMM yyyy")
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Finish month
                </th>
                <td id="course-end-date">
                    @Model.CallToActionViewModel.CourseEndDate.Value.ToString("MMMM yyyy")
                </td>
            </tr>
        }
    </table>
    <p>

        <a href="@Url.EmployerCommitmentsV2Action(ControllerConstants.ViewApprentice)" draggable="false" class="govuk-link">
            View apprentice details
        </a>
    </p>
</section>

