
@model SFA.DAS.EmployerAccounts.Web.ViewModels.AccountDashboardViewModel

<section class="dashboard-section">
    <h2 class="section-heading heading-large">
        Your apprentice
    </h2>

    <table class="responsive">
        <tr>
            <th scope="row" class="tw-35">
                Name
            </th>
            <td class="tw-65">
                @Model.ApprenticeName
            </td>
        </tr>
        <tr>
            <th scope="row">
                Training Provider
            </th>
            <td>
                @Model.ProviderName
            </td>
        </tr>
        <tr>
            <th scope="row">
                Course
            </th>
            <td>
                @Model.CourseName
            </td>
        </tr>        
        <tr>
            <th scope="row">
                Start month
            </th>
            <td>
                @Model.CourseStartDate
            </td>
        </tr>
        <tr>
            <th scope="row">
                Finish month
            </th>
            <td>
                @Model.CourseEndDate
            </td>
        </tr>
    </table>
    <p>

        <a href="@Url.RouteUrl("Details", new {Model.HasDraftApprenticeship, Model.HashedCohortReference, Model.HashedAccountId })"> Edit Link </a>
        <a href="@Url.Action("ContinueSetupForApprenticeship", "EmployerTeam", new {Model. HashedDraftApprenticeshipId, Model.HashedCohortReference, Model.HashedAccountId})" role="button" draggable="false" class="button">
            View apprentice details
        </a>
    </p>
</section>

