@using SFA.DAS.EmployerApprenticeshipsService.Domain
@using SFA.DAS.EmployerApprenticeshipsService.Web

@model OrchestratorResponse<InvitationView>

@{
    ViewBag.Title = "Cancel invitation";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Cancel invitation</h1>
        <p class="lede">Are you sure you want to cancel @Model.Data.Name's invitation?</p>
        <div class="form-group">
            <form action="@Url.Action("Cancel")" method="POST">
                @Html.AntiForgeryToken()
                <input type="hidden" id="cancel" name="cancel" value="1" />
                <input type="hidden" id="Email" name="Email" value="@Model.Data.Email" />
                <button type="submit" class="button" id="cancel_invitation">Yes, cancel invitation</button>
            </form>
            <a href="@Url.Action("Index", "EmployerTeam")" class="button button-link">No, don't cancel invitation</a>
        </div>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam")">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("Viewteam", "EmployerTeam")">Manage Team Members</a></li>
        </ol>
    </div>
}
