@using SFA.DAS.EmployerApprenticeshipsService.Domain
@model SFA.DAS.EmployerApprenticeshipsService.Domain.TeamMember

@{
    var name = Model.Name ?? Model.Email;
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-large">@name</h2>
        <p class="lede">Choose what you allow this team member to do.</p>
        @if (!ViewContext.ViewData.ModelState.IsValid)
        {
            foreach (var state in ViewContext.ViewData.ModelState.Values)
            {
                foreach (var error in state.Errors)
                {
                    <div class="error" style="margin-bottom: 10px;" id="invalidMessage">
                        <p class="error-message">@error.ErrorMessage</p>
                    </div>
                }
            }
        }
        <form method="POST" action="@Url.Action("ChangeRole")">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="block-label" for="radio1">
                    <input id="radio1" type="radio" name="Role" value="3" @(Model.Role == Role.Viewer ? "checked" : "") />
                   
                    Can @(RoleStrings.ToWhatTheyCanDoLower(Role.Viewer)).
                </label>
            </div>
            <div class="form-group">
                <label class="block-label" for="radio2">
                    <input id="radio2" type="radio" name="Role" value="2" @(Model.Role == Role.Transactor ? "checked" : "") />
                    
                    Can @(RoleStrings.ToWhatTheyCanDoLower(Role.Transactor)).
                </label>
            </div>
            <div class="form-group">
                <label class="block-label" for="radio3">
                    <input id="radio3" type="radio" name="Role" value="1" @(Model.Role == Role.Owner ? "checked" : "") />
                    
                    Can @(RoleStrings.ToWhatTheyCanDoLower(Role.Owner)).
                </label>
            </div>
            <input type="hidden" id="Email" name="Email" value="@Model.Email" />
            <button type="submit" class="button" id="update">Update</button>
            <p></p>
        </form>
    </div>
</div>