@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.EmployerTeamMembersViewModel

<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">Team Members</h1>



    </div>
    <div class="column-one-third">
        <form action="@Url.Action("Invite")" method="get">
            <input type="hidden" id="accountId" name="accountId" value="@Model.AccountId"/>
            <div style="margin-top: 30px; float: right"><input class="button" id="addNewUser" type="submit" value="Invite team member">
            </div>
        </form>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.TeamMembers.Count == 0)
        {
            <p>TODO : EMPTY STATE</p>
        }
        else
        {
            <p class="lede">This is the list of people who can access this account or have been invited
  to be a team member on this account. </p>
          
            <table>
                <thead>
                    <tr>
                        
                        <th scope="col" style="padding-top:0">Name</th>
                        <th scope="col" style="padding-top:0">Email address</th>

                        <th scope="col" class="" style="padding-top:0">Role</th>
                        <th scope="col" class="" style="padding-top:0">Status</th>

                        <th scope="col" style="padding-top:0"></th>
                        <th scope="col" style="padding-top:0"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var teamMember in Model.TeamMembers)
                    {
                        <tr>
                            <td>@teamMember.Name</td>
                            <td>@teamMember.Email</td>
                            <td>@teamMember.Role</td>
                            <td>@teamMember.Status</td>
                            <td><a href="@Url.Action("Review", new {accountId = Model.AccountId, email = teamMember.Email})">View</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        <p></p>
     
    </div>
</div>
