@using SFA.DAS.EmployerApprenticeshipsService.Domain
@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.InviteTeamMemberViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            Create invitation
        </h1>

        <p class="lede">Invite somebody to access this levy account.</p>
        @if (!ViewContext.ViewData.ModelState.IsValid)
        {
            foreach (var state in ViewContext.ViewData.ModelState.Values)
            {
                foreach (var error in state.Errors)
                {
                    <div class="error" style="margin-bottom: 10px;" id="invalidMessage">
                        <p class="error-message">@error.ErrorMessage</p>
                    </div>
                }
            }
        }
        <form method="POST" action="@Url.Action("Invite")">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="form-label" for="Email">
                    Email address
                    <span class="form-hint">An invitation will be sent to this email address</span>
                </label>
                <input class="form-control form-control-3-4" id="Email" name="Email" type="text"
                       aria-required="true" value="@Model.Email"/>
            </div>
            <div class="form-group">
                <label class="form-label" for="Name">Full name</label>
                <input class="form-control form-control-3-4" id="Name" name="Name" type="text"
                       aria-required="true" value="@Model.Name" />
            </div>
            <label class="form-label">
                Team member access
                <span class="form-hint">Choose the level of access this user can have.</span>
            </label>
            <div class="form-group">
                <label class="block-label" for="radio1">
                    <input id="radio1" type="radio" name="Role" value="3" @(Model.Role == Role.Viewer ? "checked" : "") />
                    <span class="heading-small">Viewer</span><br />
                    Can @(RoleStrings.ToWhatTheyCanDoLower(Role.Viewer)).
                </label>
            </div>
            <div class="form-group">
                <label class="block-label" for="radio2">
                    <input id="radio2" type="radio" name="Role" value="2" @(Model.Role == Role.Transactor ? "checked" : "") />
                    <span class="heading-small">Transactor</span><br />
                    Can @(RoleStrings.ToWhatTheyCanDoLower(Role.Transactor)).
                </label>
            </div>
            <div class="form-group">
                <label class="block-label" for="radio3">
                    <input id="radio3" type="radio" name="Role" value="1" @(Model.Role == Role.Owner ? "checked" : "") />
                    <span class="heading-small">Owner</span><br />
                    Can @(RoleStrings.ToWhatTheyCanDoLower(Role.Owner)).
                </label>
            </div>
            <input type="hidden" id="HashedId" name="HashedId" value="@Model.HashedId"/>
            <button type="submit" class="button" id="send_invitation">Send invitation</button>
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam", new {accountId = @Model.HashedId})">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("ViewTeam", "EmployerTeam", new {accountId = @Model.HashedId})">Manage Team Members</a></li>
            <li>Create Invitation</li>
        </ol>
    </div>
}
