@using SFA.DAS.EmployerApprenticeshipsService.Domain
@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.InviteTeamMemberViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-medium">Create invitation</h2>
        @if (!ViewContext.ViewData.ModelState.IsValid)
        {
            foreach (var state in ViewContext.ViewData.ModelState.Values)
            {
                foreach (var error in state.Errors)
                {
                    <div class="error" style="margin-bottom: 10px;" id="invalidMessage">
                        <p class="error-message">@error.ErrorMessage</p>
                    </div>
                }
            }
        }
        <form method="POST" action="@Url.Action("Invite")">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="form-label" for="Email">Name</label>
                <input class="form-control form-control-3-4" id="Name" name="Name" type="text"
                       aria-required="true" value="@Model.Name"/>
            </div>
            <div class="form-group">
                <label class="form-label" for="Email">Email</label>
                <input class="form-control form-control-3-4" id="Email" name="Email" type="text"
                       aria-required="true" value="@Model.Email"/>
            </div>
            <div class="form-group">
                    <label class="block-label" for="radio1">
                        <input id="radio1" type="radio" name="Role" value="1" @(Model.Role == Role.Owner ? "checked" : "")/>
                        Owner
                    </label>
            </div>
            <div class="form-group">
                    <label class="block-label" for="radio2">
                        <input id="radio2" type="radio" name="Role" value="2" @(Model.Role == Role.Transactor ? "checked" : "")/>
                        Transactor
                    </label>
            </div>
            <div class="form-group">
                    <label class="block-label" for="radio3">
                        <input id="radio3" type="radio" name="Role" value="3" @(Model.Role == Role.Viewer ? "checked" : "")/>
                        Viewer
                    </label>
            </div>
            <input type="hidden" id="AccountId" name="AccountId" value="@Model.AccountId"/>
            <button type="submit" class="button">Create</button>
            <p></p>
        </form>
    </div>
</div>
