@using SFA.DAS.EmployerApprenticeshipsService.Domain
@model TeamMember

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">@Model.Name</h1>
        <table>     
            <thead>
                <tr>
                    <th>Email</th>
                    <th>What they can do</th>
                    <th></th>
                </tr>
            </thead> 
            <tbody>
                <tr>
                    <td>@Model.Email</td>
                    <td>@RoleStrings.ToWhatTheyCanDo(@Model.Role)</td>
                    @if (Model.IsUser)
                    {
                        <td>@Html.ActionLink("Change", "ChangeRole", new { AccountId = Model.HashedId, Email = Model.Email })</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>              
            </tbody>
        </table>
      
        @if (@Model.Status == InvitationStatus.Pending || @Model.Status == InvitationStatus.Expired)
        {
            <div class="form-group">
                <form action="@Url.Action("Resend")" method="POST">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="Email" name="Email" value="@Model.Email" />
                    <button type="submit" class="button" id="resend_invitation">Resend Invitation</button>
                </form>
               
                <form action="@Url.Action("Cancel")" method="GET">
                    <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
                    <input type="hidden" id="Email" name="Email" value="@Model.Email" />
                    <button type="submit" class="button button-link" id="cancel_invitation">Cancel Invitation</button>
                </form>
            </div>
        }
        @if (@Model.IsUser)
        {
            <form action="@Url.Action("Remove")" method="GET">
                <input type="hidden" id="Email" name="Email" value="@Model.Email" />
                <button type="submit" class="button" id="delete_user">Remove team member</button>
            </form>
         
        }
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam", new {accountId = @Model.HashedId})">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("ViewTeam", "EmployerTeam", new {accountId = @Model.HashedId})">Manage Team Members</a></li>
            <li>@Model.Name</li>
        </ol>
    </div>
}