@using SFA.DAS.EmployerApprenticeshipsService.Domain
@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.InvitationViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-medium">Manage Team member</h2>

        <table>
            <thead>
            <tr>
                <th scope="col" style="padding-top: 0"></th>
                <th scope="col" class="" style="padding-top: 0"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Role</td>
                <td>@Model.Role.ToString()</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@Model.Status.ToString()</td>
            </tr>
            </tbody>
        </table>
        <p></p>
        @if (@Model.Status == InvitationStatus.Pending)
        {
            <p>This user has not accepted the invitation to be a team member.
                Their invitation will expire at Midnight on @Model.ExpiryDate.ToString("dddd d MMMM yyyy")</p>
        }
    </div>
</div>
