@using SFA.DAS.EmployerApprenticeshipsService.Domain
@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.InvitationViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-medium">Manage Team member</h2>

        <table>
            <thead>
            <tr>
                <th scope="col" style="padding-top: 0"></th>
                <th scope="col" class="" style="padding-top: 0"></th>
            </tr>
            </thead>
            <tbody>
            @if (!Model.IsUser)
            {
                <tr>
                    <td>Name</td>
                    <td>@Model.Name</td>
                </tr>
            }
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Role</td>
                <td>@Model.Role.ToString()</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@Model.Status.ToString()</td>
            </tr>
            </tbody>
        </table>
        <p></p>
        @if (@Model.Status == InvitationStatus.Pending)
        {
            <p>This user has not accepted the invitation to be a team member.
                Their invitation will expire at Midnight on @Model.ExpiryDate.ToString("dddd d MMMM yyyy")</p>
            <form action="@Url.Action("Resend")" method="POST">
                <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
                <input type="hidden" id="AccountId" name="AccountId" value="@Model.AccountId"/>
                <button type="submit" class="button">Resend Invitation</button>
            </form>
            <p></p>
             <form action="@Url.Action("Cancel")" method="GET">
                <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
                <button type="submit" class="button">Cancel Invitation</button>
            </form>
            <p></p>
        }
        @if (@Model.IsUser)
        {
            <form action="@Url.Action("Remove")" method="GET">
                <input type="hidden" id="Email" name="Email" value="@Model.Email" />
                <input type="hidden" id="AccountId" name="AccountId" value="@Model.AccountId" />
                <button type="submit" class="button">Delete user</button>
            </form>
            <p></p>
        }
    </div>
</div>
