@model SFA.DAS.EmployerApprenticeshipsService.Web.OrchestratorResponse<SFA.DAS.EmployerApprenticeshipsService.Web.Models.EmployerTeamMembersViewModel>

@if (!string.IsNullOrWhiteSpace(Model.Data.SuccessMessage))
{
    <div class="grid-row">
        <div class="column-full">
            <div class="panel panel-info  ">
                @Model.Data.SuccessMessage
            </div>
        </div>
    </div>
}
<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">Team Members</h1>
        @if (Model.Data.TeamMembers.Count == 0)
        {
            <p>TODO : EMPTY STATE</p>
        }
        else
        {
            <p class="lede">
                This is the list of people who can access this account or have been invited
                to be a team member on this account.
            </p>
        }
    </div>  
    <div class="column-one-third ">
        <form action="@Url.Action("Invite")" method="get">
            <input type="hidden" id="accountId" name="accountId" value="@Model.Data.AccountId" />
            <input class="button nextto-h1" id="addNewUser" type="submit" value="Invite team member">
        </form>
    </div>
</div>

@if (Model.Data.TeamMembers.Count > 0)
{
    <div class="grid-row">
        <div class="column-full">
            <div class="responsive-table th-nopadding full-width">
                <div class="responsive-thead">
                    <div class="responsive-tr">

                        <div class="responsive-th" scope="col">Name</div>
                        <div class="responsive-th" scope="col">Email address</div>

                        <div class="responsive-th" scope="col">Role</div>
                        <div class="responsive-th" scope="col">Status</div>

                        <div class="responsive-th" scope="col"></div>
                    </div>
                </div>
                <div class="responsive-tbody">

                    @foreach (var teamMember in Model.Data.TeamMembers)
                    {
                        <div class="responsive-tr">
                            <div class="responsive-td">
                                <div>
                                    @teamMember.Name
                                </div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                            <div class="responsive-td">
                                <div class="responsive-inner-caption">Email address</div>
                                <div>@teamMember.Email</div>
                            </div>
                            <div class="responsive-td">
                                <div class="responsive-inner-caption">Role</div>
                                <div>@teamMember.Role</div>
                            </div>
                            <div class="responsive-td">
                                <div class="responsive-inner-caption">Status</div>
                                <div>@teamMember.Status</div>
                            </div>
                            <div class="responsive-td">
                                <div>
                                    <a aria-label="View details for @teamMember.Name"
                                        title="View details for @teamMember.Name"
                                        href="@Url.Action("Review", new { accountId = Model.Data.AccountId, email = teamMember.Email })">View</a>
                                </div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
}
