@using System.Globalization
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.CoursePaymentDetailsViewModel>

@{
    var culture = new CultureInfo("en-GB");
    ViewBag.PageID = "page-course-payment-details";
    ViewBag.Title = "Payment details";
    ViewBag.Section = "finance";

}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Payment: apprentice details</h1>
        <dl class="inline">
            <dt>Date:</dt>
            <dd class="bold">@Model.Data.PaymentDate.ToString("dd MMMM yyyy")</dd>
            <dt>Payment to</dt>
            <dd class="bold">@Model.Data.ProviderName</dd>
            <dt>Course</dt>
            @{
                var courseTitle = Model.Data.CourseName;

                if (Model.Data.CourseLevel.HasValue)
                {
                    courseTitle += $" Level {Model.Data.CourseLevel.Value}";
                }
            }
            <dd class="bold">@courseTitle</dd>
        </dl>
    </div>
</div>    

<div class="grid-row">
    <div class="column-full">
        <table class="responsive">
            <thead>
            <tr>
                <th colspan="2"></th>
                <th class="highlight colgroup" scope="colgroup" colspan="2">Co-investment</th>
                <th colspan="2"></th>
            </tr>
            <tr>
                <th scope="col" class="tw-20">Apprentice</th>
                <th scope="col" class="numeric tw-20">Paid from levy</th>
                <th scope="col" class="numeric tw-20 highlight">90% paid by Government</th>
                <th scope="col" class="numeric tw-20 highlight">10% by you</th>
                <th scope="col" class="numeric tw-15">Amount</th>
                <th scope="col" class="tw-5"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var coursePaymentSummary in Model.Data.ApprenticePayments)
            {
                <tr class="responsive-tr">
                    <td data-label="Apprentice">@coursePaymentSummary.ApprenticeName</td>
                    <td class="numeric" data-label="Paid from levy">@coursePaymentSummary.LevyPaymentAmount.ToString("C0", culture)</td>
                    <td class="numeric highlight" data-label="Government contribution">@coursePaymentSummary.SFACoInvestmentAmount.ToString("C0", culture)</td>
                    <td class="numeric highlight" data-label="Your contribution">@coursePaymentSummary.EmployerCoInvestmentAmount.ToString("C0", culture)</td>
                    <td class="numeric" data-label="Amount">@coursePaymentSummary.TotalAmount.ToString("C0", culture)</td>
                </tr>
            }
            </tbody>
            <tfoot>
                <tr class="total">
                    <td data-label="Totals"> </td>
                    <td data-label="Paid from levy" class="total numeric nowrap">@Model.Data.LevyPaymentsTotal.ToString("C0", culture)</td>
                    <td data-label="Government contribution" class="highlight total numeric nowrap">@Model.Data.SFACoInvestmentTotal.ToString("C0", culture)</td>
                    <td data-label="Your contribution" class="highlight total numeric nowrap">@Model.Data.EmployerCoInvestmentTotal.ToString("C0", culture)</td>
                    <td data-label="Amount" class="total numeric nowrap">@Model.Data.PaymentsTotal.ToString("C0", culture)</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>




@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerTeam")">Home</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountTransactions")">Your transactions</a></li>
            <li>Debit details</li>
        </ol>
    </div>
}
