@using System.Globalization
@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.Orchestrators.TransactionLineItemViewModel

@{
    var culture = new CultureInfo("en-GB");
}
@{ViewBag.Title = "Credit details";}
<div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Credit details</h1>
            <div>
                <p>
                    The following shows details of the payment into your account.
                </p>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">

            <table class="table-19-font">
                <thead>
                    <tr>
                        <th colspan="2">
                            <h2 class="heading-medium">Overview</h2>

                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="rjTableName">Payment type</td>
                        <td class="">Levy Credit</td>

                    </tr>
                    <tr>
                        <td class="rjTableName">Date</td>
                       <td class="">@Model.LineItem.First().TransactionDate.ToGdsFormat()</td>

                    </tr>
                
                </tbody>
            </table>
            <h2 class="heading-medium">Payroll</h2>
            <div class="responsive-table table-19-font">
                <div class="responsive-thead">
                    <div class="responsive-tr">
                        <div class="responsive-th" scope="col">PAYE scheme</div>
                        <div class="responsive-th numeric" scope="col">Levy Declared</div>
                        <div class="responsive-th numeric" scope="col">English Percentage</div>
                        <div class="responsive-th numeric" scope="col">Top up</div>
                        <div class="responsive-th numeric" scope="col">Paid in</div>
                    </div>
                </div>
                <div class="responsive-tbody">


                    @foreach (var aggregationLineItem in Model.LineItem)
                    {
                        
                      

                        <div class="responsive-tr">
                            <div class="responsive-td rjTableName">
                                <div>@aggregationLineItem.Empref</div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                            <div class="responsive-td rjTableName">
                                <div>@aggregationLineItem.Amount</div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                            <div class="responsive-td numeric">
                                <div class="responsive-inner-caption">English percentage</div>
                                <div>@($"{aggregationLineItem.EnglishFraction*100:n0}")%</div>
                            </div>
                            <div class="responsive-td numeric">
                                <div class="responsive-inner-caption">Top up</div>
                                <div>@(aggregationLineItem.TopUp.ToString("C0", culture))</div>
                            </div>
                            <div class="responsive-td numeric">
                                <div class="responsive-inner-caption">Paid in</div>
                                <div>@((aggregationLineItem.Amount + aggregationLineItem.TopUp).ToString("C0", culture))</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam")">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountTransactions")">View Your Transactions</a></li>
            <li>Credit details</li>
        </ol>
    </div>
}
