@using System.Globalization
@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.Models.TransactionViewModel
@{
    var culture = new CultureInfo("en-GB");
}
@{ViewBag.Title = "Your levy transactions";}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Your levy transactions</h1>
        <div class="data">
            <h2 class="heading-small">Current balance</h2>
            <h2 class="bold-xlarge">@Model.CurrentBalance.ToString("C0", culture)</h2>
        </div>
        @if (Model.Data.TransactionLines.Count == 0)
        {
            <p class="panel panel-info">
                No transaction data exists for this account, please try again later.
            </p>
        }
        else
        {
            <table>
                <thead>
                    <tr>
                        <th scope="col">Payment date</th>
                        <th scope="col">Description</th>
                        <th scope="col" class="numeric">Amount</th>
                        <th scope="col" class="numeric">Balance</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var aggregationLine in Model.Data.TransactionLines)
                    {
                        var fromDate = aggregationLine.SubTransactions.Min(x => x.TransactionDate);
                        var toDate = aggregationLine.SubTransactions.Max(x => x.TransactionDate);

                        <tr>
                            <td>@{var date = aggregationLine.TransactionDate.ToGdsFormat();} @date </td>
                            <td>@aggregationLine.Description</td>
                            <td class="numeric"> @(aggregationLine.Amount.ToString("C0", culture)) </td>
                            <td class="numeric">@(aggregationLine.Balance.ToString("C0", culture))</td>
                            <td class="link-right">
                                <a title="View details for the transaction on @date" href="@Url.Action("Detail","EmployerAccountTransactions", new {accountId = Model.Data.HashedId, fromDate, toDate})">
                                    Details <span class="vh"> for the transaction on @date</span>
                                </a>
                            </td>
                        </tr>
                        }
                </tbody>
            </table>
            }
    </div>
    <div class="column-one-third">
        <section>
            <div class="panel panel-filled">
                <h2 class="heading-medium">Help us improve this section</h2>
                <p>Take a 3 minute survey about viewing levy transactions so that we can improve the service.</p>
                <p><a href="https://www.surveymonkey.co.uk/r/viewlevy" target="_blank" class="button">Take the survey <span class="vh">about viewing levy transactions</span></a></p>
            </div>
        </section>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam", new {accountId = @Model.Data.HashedId})">Employer Account Homepage</a></li>
            <li>View Your Transactions</li>
        </ol>
    </div>
}
