@using System.Globalization
@using SFA.DAS.EAS.Domain
@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.Models.TransactionViewModel
@{
    var culture = new CultureInfo("en-GB");
}
@{ViewBag.PageID = "page-transactions"; }
@{ViewBag.Section = "finance"; }
@{ViewBag.Title = "Your levy transactions";}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Your levy transactions</h1>
        
        @if (Model.Data.TransactionLines.Count == 0 && DateTime.Today > new DateTime(2017, 05, 20))
        {
            <div class="data">
                <h2 class="heading-small">Current balance</h2>
                <h2 class="bold-xlarge">@Model.CurrentBalance.ToString("C2", culture)</h2>
            </div>
        }
        else
        {
            <p>
                No levy funds will be paid into your account until May 2017.    
            </p>
            
        }
    </div>
    <div class="column-one-third">
        <section>
            <div class="panel panel-filled">
                <h2 class="heading-medium">Help us improve this section</h2>
                <p>Take a 3 minute survey about viewing levy transactions so that we can improve the service.</p>
                <p><a href="https://www.surveymonkey.co.uk/r/viewlevy" target="_blank" class="button">Take the survey <span class="vh">about viewing levy transactions</span></a></p>
            </div>
        </section>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        @if (Model.Data.TransactionLines.Count == 0 && DateTime.Today > new DateTime(2017, 05, 20))
        {
            <p class="panel panel-info">
                No transaction data exists for this account, please try again later.
            </p>
            
        }
        else
        {
            <table>
                <thead>
                    <tr>
                        <th scope="col"><span class="no-wrap">Payment date</span></th>
                        <th scope="col" class="mobile-hide-cell">Description</th>
                        <th scope="col" class="numeric">Amount</th>
                        <th scope="col" class="numeric">Balance</th>
                        <th scope="col"><span class="vh">Action</span></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var aggregationLine in Model.Data.TransactionLines)
                    {
                        var fromDate = aggregationLine.TransactionDate;
                        var toDate = aggregationLine.TransactionDate;
                        <tr>
                            <td>
                                <span class="no-wrap">@{var date = aggregationLine.TransactionDate.ToGdsFormat();} @date </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    @aggregationLine.Description
                                </span>
                            </td>
                            <td class="numeric"> @(aggregationLine.Amount.ToString("C2", culture)) </td>
                            <td class="numeric">@(aggregationLine.Balance.ToString("C2", culture))</td>
                            <td class="link-right">
                                @if (aggregationLine.TransactionType == TransactionItemType.Declaration ||
                         aggregationLine.TransactionType == TransactionItemType.TopUp)
                                {
                                    <a title="View details for the transaction on @date" href="@Url.Action("LevyDeclarationDetail", "EmployerAccountTransactions", new {HashedAccountId = Model.Data.HashedAccountId, fromDate, toDate})">
                                        Details <span class="vh"> for the transaction on @date</span>
                                    </a>
                                }
                                else if (aggregationLine.TransactionType == TransactionItemType.Payment)
                                {
                                    <a title="View details for the transaction on @date" href="@Url.Action("PaymentDetail", "EmployerAccountTransactions", new {HashedAccountId = Model.Data.HashedAccountId, fromDate, toDate})">
                                        Details <span class="vh"> for the transaction on @date</span>
                                    </a>
                                }
                            </td>
                        </tr>
                                    }
                </tbody>
            </table>
                                    }
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam", new {HashedAccountId = @Model.Data.HashedAccountId})">Employer Account Homepage</a></li>
            <li>View Your Transactions</li>
        </ol>
    </div>
}
