@using System.Globalization
@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.Models.TransactionLineViewModel<SFA.DAS.EAS.Domain.Models.Levy.LevyDeclarationTransactionLine>>

@{
    var culture = new CultureInfo("en-GB");
    var paymentType = "Credit";
    if (Model.Data.Amount < 0)
    {
        paymentType = "Adjustment";
    }
    ViewBag.PageID = "page-transaction-details";
    ViewBag.Title = paymentType + " details";
    ViewBag.Section = "finance";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">@paymentType details</h1>
        <p class="lede">@paymentType made on @Model.Data.SubTransactions.First().TransactionDate.ToGdsFormat().</p>
        <table>
            <thead>
                <tr>
                    <th scope="col">PAYE scheme</th>
                    <th class="numeric" scope="col">Levy declared</th>
                    <th class="numeric" scope="col">English %</th>
                    <th class="numeric" scope="col">Top up</th>
                    <th class="numeric" scope="col">Paid in</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var aggregationLineItem in Model.Data.SubTransactions)
                {
                    <tr class="responsive-tr">
                        <td>
                            @aggregationLineItem.EmpRef
                        </td>
                        <td class="numeric">
                            @(aggregationLineItem.Amount.ToString("C2", culture))
                        </td>
                        <td class="numeric">
                            @($"{aggregationLineItem.EnglishFraction*100:n2}")%
                        </td>
                        <td class="numeric">
                            @(aggregationLineItem.TopUp.ToString("C2", culture))
                        </td>
                        <td class="numeric">
                            @((aggregationLineItem.LineAmount).ToString("C2", culture))
                        </td>
                    </tr>
                }
                <tr class="total">
                    <th scope="row" colspan="4"><span class="vh">Total</span></th>
                    <td class="numeric">@Model.Data.Amount.ToString("C2",culture)</td>
                </tr>
            </tbody>
        </table>
        <div class="panel panel-border-wide">
            <p>Levy declared to HMRC might include negative adjustments from previous months. </p>
        </div>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam")">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountTransactions")">View Your Transactions</a></li>
            <li>@paymentType details</li>
        </ol>
    </div>
}
