@using System.Globalization
@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.TransactionLineViewModel<SFA.DAS.EAS.Domain.Models.Levy.LevyDeclarationTransactionLine>>

@{
    var culture = new CultureInfo("en-GB");
    var paymentType = "Levy";
    if (Model.Data.Amount < 0)
    {
        paymentType = "Adjustment";
    }
    ViewBag.PageID = "page-transaction-details";
    ViewBag.Title = paymentType;
    ViewBag.Section = "finance";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">@paymentType</h1>
        <p>Date <b>@Model.Data.TransactionDate.ToGdsFormatFull()</b></p>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <table>
            <thead>
                <tr>
                    <th id="th-ps" scope="col">PAYE scheme</th>
                    <th id="th-pd" scope="col">Payroll date</th>
                    <th id="th-ld" class="numeric" scope="col">Levy paid to HMRC</th>
                    <th id="th-ef" class="numeric" scope="col">English %</th>
                    <th id="th-tu" class="numeric" scope="col">10% Top up</th>
                    <th id="th-pi" class="numeric" scope="col">Your funds</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var aggregationLineItem in Model.Data.SubTransactions)
                {
                    <tr class="responsive-tr">
                        <td headers="th-ps">
                            <span>@aggregationLineItem.EmpRef</span>
                            <span>@aggregationLineItem.PayeSchemeName</span>
                        </td>
                        <td headers="th-pd">
                           @aggregationLineItem.PayrollDate.ToGdsFormatWithoutDayAbbrMonth()
                        </td>
                        <td headers="th-ld" class="numeric">
                            @(aggregationLineItem.Amount.ToString("C2", culture))
                        </td>
                        <td headers="th-ef" class="numeric">
                            @($"{aggregationLineItem.EnglishFraction * 100:n2}")%
                        </td>
                        <td headers="th-tu" class="numeric">
                            @(aggregationLineItem.TopUp.ToString("C2", culture))
                        </td>
                        <td headers="th-pi" class="numeric">
                            @((aggregationLineItem.LineAmount).ToString("C2", culture))
                        </td>
                    </tr>
                }
                <tr class="total">
                    <th scope="row" colspan="5" id="th-total"><span class="vh">Total</span></th>
                    <td class="numeric" headers="th-total">@Model.Data.Amount.ToString("C2", culture)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        @Html.Partial("_WhatIsEnglishPercentage")
        <div class="panel panel-border-wide panel-filled-purple panel-top-margin">
            <p><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/employer-enquiries" target="_blank">Contact HMRC</a> if the levied amount isn't what you expected. </p>
        </div>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerTeam")">Home</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountTransactions")">Your transactions</a></li>
            <li>@paymentType details</li>
        </ol>
    </div>
}
