@using System.Globalization
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.Models.PaymentTransactionViewModel>

@{
    var culture = new CultureInfo("en-GB");
    ViewBag.PageID = "page-payment-details";
    ViewBag.Title = "Debit details";

}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Debit details</h1>

        <p>The following shows details of the payment from your account.</p>

        <h2 class="heading-medium">Payment</h2>

        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="responsive-tr">
                    <td>Payment to</td>
                    <td>@Model.Data.ProviderName</td>
                </tr>
                <tr class="responsive-tr">
                    <td>This payment</td>
                    <td>@(Model.Data.Amount.ToString("C0", culture))</td>
                </tr>
                <tr class="responsive-tr">
                    <td>Date of payment</td>
                    <td>@Model.Data.TransactionDate.ToString("dd MMMM yyyy")</td>
                </tr>
            </tbody>
        </table>

            @foreach (var group in Model.Data.CoursePaymentGroups)
            {
                <h2 class="heading-medium">@group.ApprenticeCourseName</h2>

                if (group.CourseLevel != null)
                {
                    <p>Level: @group.CourseLevel</p>
                }

                var startDate = group.CourseStartDate?.ToString("d") ?? "Unavailable";

                <p>Start date: @startDate</p>

                <table>
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">National insurance number</th>
                            <th scope="col">Payment</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var payment in group.Payments)
                        {
                            <tr class="responsive-tr">
                                @if (string.IsNullOrWhiteSpace(payment.ApprenticeName) &&
            string.IsNullOrWhiteSpace(payment.ApprenticeNINumber))
                                {
                                    <td colspan="2">Appentice details unavailable</td>
                                }
                                else
                                {
                                    var apprenticeName = string.IsNullOrWhiteSpace(payment.ApprenticeName) ? "Name unavailable" : payment.ApprenticeName;
                                    var apprenticeNiNumber = string.IsNullOrWhiteSpace(payment.ApprenticeNINumber) ? "Number unavailable" : payment.ApprenticeNINumber;

                                    <td>
                                        @apprenticeName
                                    </td>
                                    <td>
                                        @apprenticeNiNumber
                                    </td>
                                }

                                <td class="numeric">
                                    @(payment.LineAmount.ToString("C0", culture))
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam")">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountTransactions")">View Your Transactions</a></li>
            <li>Debit details</li>
        </ol>
    </div>
}
