@using System.Globalization
@model dynamic

@{
    var culture = new CultureInfo("en-GB");
    ViewBag.PageID = "page-payment-details";
    ViewBag.Title = "Debit details";

}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Debit details</h1>
        <p class="lede">Payment to @Model.Provider for @Model.PaymentPeriod</p>
        <table>
            <thead>
                <tr>
                    <th scope="col">Course</th>
                    <th class="numeric" scope="col">Paid out</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var payment in Model.Payments)
                {
                    <tr class="responsive-tr">
                        <td>
                            @payment.Course
                        </td>
                        <td class="numeric">
                            @(payment.Amount.ToString("C0", culture))
                        </td>
                    </tr>
                }
            <tr class="total">
                <td></td>
                <td class="numeric">@Model.TotalAmount.ToString("C0", culture)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam")">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountTransactions")">View Your Transactions</a></li>
            <li>Debit details</li>
        </ol>
    </div>
}
