@using System.Globalization
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.PaymentTransactionViewModel>

@{
    var culture = new CultureInfo("en-GB");
    ViewBag.PageID = "page-payment-details";
    ViewBag.Title = "Debit details";
    ViewBag.Section = "finance";

}
@{
    ViewBag.GaData.Vpv = "/accounts/balance/levyDeclaration/page-transaction-details";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Debit details</h1>

        <p>The following shows details of the payment from your account.</p>

        <h2 class="heading-medium">Payment</h2>

        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="responsive-tr">
                    <td>Payment to</td>
                    <td>@Model.Data.ProviderName</td>
                </tr>
                <tr class="responsive-tr">
                    <td>This payment</td>
                    <td>@(Model.Data.Amount.ToString("C0", culture))</td>
                </tr>
                <tr class="responsive-tr">
                    <td>Date of payment</td>
                    <td>@Model.Data.TransactionDate.ToString("dd MMMM yyyy")</td>
                </tr>
            </tbody>
        </table>

@{
    var courseCount = 0;
}

            @foreach (var group in Model.Data.CoursePaymentGroups)
            {
                courseCount++;

                <h2 class="heading-medium">@group.ApprenticeCourseName</h2>
                var startDate = group.CourseStartDate?.ToString("d") ?? "Unavailable";

                <dl class="inline course-details">

                    @if (group.CourseLevel != null) 
                    {
                    <dt>Level: </dt>
                    <dd>@group.CourseLevel</dd>
                    }

                    <dt>Start date: </dt>
                    <dd>@startDate</dd>

                    <dt>Training code: </dt>
                    <dd>12345</dd>

                </dl>

                <h3 class="accordion-tab" aria-controls="learners-@courseCount" id="apprentices-heading-@courseCount">See all apprentices (@group.Payments.Count)</h3>
                <div class="accordion-panel" id="learners-@courseCount">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">National insurance number</th>
                                <th scope="col" class="numeric">Payment</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var payment in group.Payments)
                            {
                                <tr>
                                    @if (string.IsNullOrWhiteSpace(payment.ApprenticeName) && string.IsNullOrWhiteSpace(payment.ApprenticeNINumber))
                                    {
                                        <td colspan="2">Apprentice details unavailable</td>
                                    }
                                    else
                                    {
                                        var apprenticeName = string.IsNullOrWhiteSpace(payment.ApprenticeName) ? "Name unavailable" : payment.ApprenticeName;
                                        var apprenticeNiNumber = string.IsNullOrWhiteSpace(payment.ApprenticeNINumber) ? "Number unavailable" : payment.ApprenticeNINumber;

                                        <td>
                                            @apprenticeName
                                        </td>
                                        <td>
                                            @apprenticeNiNumber
                                        </td>
                                    }

                                    <td class="numeric">
                                        @(payment.LineAmount.ToString("C0", culture))
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerTeam")">Home</a></li>
            <li><a href="@Url.Action("TransactionsView", "EmployerAccountTransactions", new {year = Model.Data.TransactionDate.Year, month = Model.Data.TransactionDate.Month})">Your transactions</a></li>
            <li>Debit details</li>
        </ol>
    </div>
}
