@using System.Globalization
@model SFA.DAS.EAS.Web.Models.PaymentTransactionViewModel

@{
    var culture = new CultureInfo("en-GB");
    ViewBag.Title = "Debit details";
   
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Debit details</h1>
        <p class="lede">Payment to @Model.ProviderName for @Model.TransactionDate.ToString("MMMM yy")</p>
        <p><span class="strong">Amount: </span> @(Model.Amount.ToString("C0", culture))</p>
        <p><span class="strong">Payment Date: </span> @Model.TransactionDate.ToString("dd MMMM yy")</p>
        <table>
            <thead>
                <tr>
                    <th scope="col">Course</th>
                    <th class="numeric" scope="col">Paid out</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var payment in Model.SubTransactions)
                {
                    <tr class="responsive-tr">
                        <td>
                            @payment.Description
                        </td>
                        <td class="numeric">
                            @(payment.LineAmount.ToString("C0", culture))
                        </td>
                    </tr>
                }
            <tr class="total">
                <td></td>
                <td class="numeric">@Model.Amount.ToString("C0", culture)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam")">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountTransactions")">View Your Transactions</a></li>
            <li>Debit details</li>
        </ol>
    </div>
}
