@using System.Globalization
@model SFA.DAS.EAS.Web.ViewModels.Transactions.TransferSenderTransactionDetailsViewModel

@{
    var culture = new CultureInfo("en-GB");
    ViewBag.PageID = "page-transfer-transaction-details";
    ViewBag.Title = "Levy Transfer";
    ViewBag.Section = "finance";
}
@{
    ViewBag.GaData.Vpv = "/accounts/balance/levyDeclaration/page-transaction-details";
}
<div class="grid-row">
    <div class="column-two-thirds">

        @if (Model.IsTransferSenderAccount)
        {
            <h1 class="heading-xlarge">Levy transfer</h1>
        }
        else
        {
            <h1 class="heading-xlarge">Transfer Received</h1>
        }

        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="responsive-tr">
                    <td>Date</td>
                    <td>@Model.DateCreated.ToString("dd MMMM yyyy")</td>
                </tr>
                <tr class="responsive-tr">
                    <td>Account name</td>
                    <td>@Model.IsTransferSenderAccount ? Model.SenderAccountName : Model.ReceiverAccountName</td>
                </tr>
                <tr class="responsive-tr">
                    <td>Account ID</td>
                    <td>@Model.IsTransferSenderAccount ? Model.SenderAccountPublicHashedId : Model.ReceiverAccountPublicHashedId</td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th scope="col">Course</th>
                    <th scope="col">Apprentices</th>
                    <th scope="col" class="numeric">Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transferDetail in Model.TransferDetails)
            {
                <tr>
                    <td>
                        @transferDetail.CourseName
                    </td>
                    <td>
                        @transferDetail.ApprenticeCount
                    </td>
                    @if (Model.IsTransferSenderAccount)
                    {
                        <td class="numeric">
                            -@transferDetail.PaymentTotal.ToString("C2", culture)
                        </td>
                    }
                    else
                    {
                        <td class="numeric">
                            @transferDetail.PaymentTotal.ToString("C2", culture)
                        </td>
                    }
                </tr>
        }

                <tr class="total">
                    <td colspan="2"></td>
                    @if (Model.IsTransferSenderAccount)
                    {
                        <td class="numeric">-@Model.TransferPaymentTotal.ToString("C2", culture)</td>
                    }
                    else
                    {
                        <td class="numeric">@Model.TransferPaymentTotal.ToString("C2", culture)</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerTeam")">Home</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountTransactions")">Your transactions</a></li>
            <li>Debit details</li>
        </ol>
    </div>
}
