@using SFA.DAS.EAS.Application.Formatters.TransactionDowloads
@using SFA.DAS.EAS.Web.Extensions

@model SFA.DAS.EAS.Web.ViewModels.Transactions.TransactionDownloadViewModel

@{
    ViewBag.PageID = "download-transactions";
    ViewBag.Section = "finance";
    ViewBag.Title = "Download transactions";
    ViewBag.GaData.Vpv = "/accounts/finance/downloadtransactions";
}

@Html.Partial("_ValidationSummary", ViewData.ModelState)
<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">Download transactions</h1>
        <div class="column-two-thirds">
            <p>Enter a start and end date to download transactions within a specific date range.</p>
        </div>
        <div class="column-one-third">
            @using (Html.BeginForm("TransactionsDownload", "EmployerAccountTransactions", FormMethod.Post, new { novalidate = "novalidate" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Message.HashedAccountId)
                <div class="form-group @(Html.IsValid(m => m.Message.StartDate.Month) && Html.IsValid(m => m.Message.StartDate.Year) ? "" : "error")">
                    <span class="form-label-bold">Start date</span>
                    <span class="form-hint">For example, 5 2017</span>
                    <div class="form-date">
                        @Html.ValidationMessageFor(m => m.Message.StartDate.Month)
                        @Html.ValidationMessageFor(m => m.Message.StartDate.Year)
                        <div class="form-group">
                            <label for="@Html.IdFor(m => m.Message.StartDate.Month)">Month</label>
                            @Html.TextBoxFor(m => m.Message.StartDate.Month, new { @class = "form-control length-limit", type = "number", maxlength = "2", min = "1", max = "12" })
                        </div>
                        <div class="form-group form-group-year">
                            <label for="@Html.IdFor(m => m.Message.StartDate.Year)">Year</label>
                            @Html.TextBoxFor(m => m.Message.StartDate.Year, new { @class = "form-control length-limit", type = "number", maxlength = "4", min = "1900", max = "9999" })
                        </div>
                    </div>
                </div>
                <div class="form-group @(Html.IsValid(m => m.Message.EndDate.Month) && Html.IsValid(m => m.Message.EndDate.Year) ? "" : "error")">
                    <span class="form-label-bold">End date</span>
                    <span class="form-hint">For example, 10 2017</span>
                    <div class="form-date">
                        @Html.ValidationMessageFor(m => m.Message.EndDate.Month)
                        @Html.ValidationMessageFor(m => m.Message.EndDate.Year)
                        <div class="form-group">
                            <label for="@Html.IdFor(m => m.Message.EndDate.Month)">Month</label>
                            @Html.TextBoxFor(m => m.Message.EndDate.Month, new { @class = "form-control length-limit", type = "number", maxlength = "2", min = "1", max = "12" })
                        </div>
                        <div class="form-group form-group-year">
                            <label for="@Html.IdFor(m => m.Message.EndDate.Year)">Year</label>
                            @Html.TextBoxFor(m => m.Message.EndDate.Year, new { @class = "form-control length-limit", type = "number", maxlength = "4", min = "1900", max = "9999" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="@Html.IdFor(m => m.Message.DownloadFormat)">Select format</label>
                    @Html.DropDownListFor(m => m.Message.DownloadFormat, EnumHelper.GetSelectList(typeof(DownloadFormatType)), new { @class = "form-control" })
                </div>
                <button class="button" aria-label="Download">Download</button>
            }
        </div>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerTeam")">Home</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountTransactions")">Finance</a></li>
            <li>@ViewBag.Title</li>
        </ol>
    </div>
}

@section pageSpecificJS {
    <script src="~/dist/javascripts/length-limit.js"></script>
}
