@model SFA.DAS.EmployerApprenticeshipsService.Web.Orchestrators.TransactionLineItemViewModel

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Credit details</h1>
            <div>
                <p>
                    The following shows details of the payment into your account.
                </p>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">

            <table class="table-19-font">
                <thead>
                    <tr>
                        <th colspan="2">
                            <h2 class="heading-medium">Overview</h2>

                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="rjTableName">Payment type</td>
                        <td class="">Levy Credit</td>

                    </tr>
                    <tr>
                        <td class="rjTableName">Date</td>
                        <td class="">@{ var date = new DateTime(Model.LineItem.Year, Model.LineItem.Month, 1); }@date.ToString("d MMM yyyy")</td>

                    </tr>
                    <tr>
                        <td class="rjTableName">Payment amount</td>
                        <td class="">£@($"{Model.LineItem.Amount:n0}")</td>
                    </tr>
                </tbody>
            </table>
            <h2 class="heading-medium">Payroll</h2>
            <div class="responsive-table table-19-font">
                <div class="responsive-thead">
                    <div class="responsive-tr">
                        <div class="responsive-th" scope="col">Payroll number</div>
                        <div class="responsive-th" scope="col">Type</div>
                        <div class="responsive-th numeric" scope="col">English percentage</div>
                        <div class="responsive-th numeric" scope="col">Date submitted</div>
                        <div class="responsive-th numeric" scope="col">Levy YTD</div>
                        <div class="responsive-th numeric" scope="col">Amount</div>
                        <div class="responsive-th numeric" scope="col">Total</div>

                    </div>
                </div>
                <div class="responsive-tbody">


                    @foreach (var aggregationLineItem in Model.LineItem.Items)
                    {
                        <div class="responsive-tr">
                            <div class="responsive-td rjTableName">
                                <div>@aggregationLineItem.EmpRef</div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                            <div class="responsive-td rjTableName">
                                <div>@aggregationLineItem.LevyItemType</div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                            <div class="responsive-td numeric">
                                <div class="responsive-inner-caption">English percentage</div>
                                <div>@($"{aggregationLineItem.EnglishFraction*100:n0}")%</div>
                            </div>
                            <div class="responsive-td numeric">
                                <div class="responsive-inner-caption">DateSubmitted</div>
                                <div>@aggregationLineItem.ActivityDate.ToString("d MMM yyyy")</div>
                            </div>
                            <div class="responsive-td numeric">
                                <div class="responsive-inner-caption">LevyYtd</div>
                                <div>@($"{aggregationLineItem.LevyDueYtd:c0}")</div>
                            </div>
                            <div class="responsive-td numeric">
                                <div class="responsive-inner-caption">Amount</div>
                                <div>@($"{aggregationLineItem.Amount:c0}")</div>
                            </div>
                            <div class="responsive-td numeric">
                                <div class="responsive-inner-caption">CalculatedAmount</div>
                                <div>@($"{aggregationLineItem.CalculatedAmount:c0}")</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

