@using System.Globalization
@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.TransactionViewModel
@{
    var culture = new CultureInfo("en-GB");
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">View your transactions</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div>
            <div class="home-figures">
                <h2 class="heading-small">This is your current balance:</h2>
                <h2 class="bold-xlarge" data-bind="text: displayBalance">@Model.CurrentBalance.ToString("C0", culture)</h2> <!--style="color:#08c"-->
                <p style="font-size: 16px">on <span data-bind="text: displaySystemDate">@Model.CurrentBalanceCalcultedOn.ToString("d MMM yyyy")</span></p>
            </div>
        </div>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <div>
            <h2 class="heading-medium">Transactions</h2>
            @if (Model.Data.Data.Count == 0)
            {
                <p class="panel panel-info">
                    No transaction data exists for this account, please try again later.
                </p>
            } else {
                <div class="responsive-table" id="transactions">

                    <div class="responsive-thead">
                    <div class="responsive-tr">
                        <div class="responsive-th" scope="col">Date</div>
                        <div class="responsive-th" scope="col">Description</div>
                        <div class="responsive-th" scope="col">Credit</div>
                        <div class="responsive-th" scope="col">Debit</div>
                        <div class="responsive-th" scope="col">Balance</div>
                        <div class="responsive-th" scope="col"></div>
                    </div>
                    </div>
                    <div class="responsive-tbody">
                    @foreach (var aggregationLine in Model.Data.Data)
                    {

                        <div class="responsive-tr">
                            <div class="responsive-td">
                                <div>
                                    @{var date = new DateTime(aggregationLine.Year, aggregationLine.Month, 1).ToString("d MMM yyyy");} @date
                                </div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                            <div class="responsive-td">
                                <div class="responsive-inner-caption">Description</div>
                                <div>
                                    Levy Credit
                                </div>
                            </div>
                            <div class="responsive-td">
                                <div class="responsive-inner-caption">Credit</div>
                                <div>
                                    @(aggregationLine.Amount.ToString("C0", culture))
                                </div>
                            </div>
                            <div class="responsive-td">
                                <div class="responsive-inner-caption">Debit</div>
                                <div>
                                    
                                    @("£0")
                                </div>
                            </div>

                            <div class="responsive-td">
                                <div class="responsive-inner-caption">Balance</div>
                                <div>
                                    @(aggregationLine.Balance.ToString("C0", culture))
                                </div>
                            </div>
                            <div class="responsive-td">
                                <div>
                                    <a aria-label="View details for the transaction on @date"
                                       title="View details for the transaction on @date" 
                                       href="@Url.Action("Detail", "EmployerAccountTransactions", new {accountId = Model.Data.AccountId, itemId = aggregationLine.Id})">View</a>
                                </div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                        </div>
                    }
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam", new {accountId = @Model.Data.AccountId})">Employer Account Homepage</a></li>
            <li>View Your Transactions</li>
        </ol>
    </div>
}