@model SFA.DAS.EAS.Web.Models.AcknowledgementViewModel

<div class="grid-row">
    <div class="column-two-thirds">


        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge" id="changeHeadline">
                Instructions sent
            </h1>
        </div>

        <table class="instructionSent"> <!-- comment to lee : static table to be replaced with dynamic data with class "strong" -->
            <tbody>
                <tr>
                    <td>Reference</td>
                    <td class="strong">@Model.HashedCommitmentId</td>
                </tr>
                <tr>
                    <td>Sent to </td>
                    <td  class="strong">@Model.ProviderName</td>
                    
                </tr>
                @*<tr>
                    <td>Sent from</td>
                    <td  class="strong">Alice Jones</td>
                   
                </tr>*@
                <tr>
                    <td>On behalf of</td>
                    <td  class="strong">@Model.LegalEntityName</td>
                </tr>
                @*<tr>
                    <td>Date</td>
                    <td  class="strong">Thursday 18 May 2017</td>
                </tr>*@
                <tr>
                    <td>Message</td>
                    <td  class="strong">@Model.Message</td>
                </tr>
            </tbody>
        </table>


        <h2 class="heading-medium">What happens next?</h2>
        <p id="changeMainCopy">Your training provider will review your request and contact you as soon as possible - either with questions or to ask you to review the details they've added.</p>

        <a class="button" href="@Url.Action("Index")">Continue</a>
    </div>

    <div class="column-one-third">
        <aside>
            <div class="panel">
                <h2 class="heading-medium">Give us your feedback</h2>
                <p>Use the link below to take part in a short survey about your experience of adding apprentices so that we can improve the service.</p>
                <a href="https://www.surveymonkey.co.uk/r/addapprentice" target="_blank" class="button" title="Take the survey" aria-label="Take the survey">Take the survey</a>


            </div>
        </aside>
    </div>
</div>