@using SFA.DAS.EAS.Web
@model OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.AcknowledgementViewModel>

@{
    ViewBag.Title = "Instructions sent";
    ViewBag.PageID = "instructions-sent-end";
}

<div class="grid-row">
    <div class="column-full">
        <div class="govuk-box-highlight green-box">
            <h1 class="heading-xlarge" id="changeHeadline">
                @Model.Data.Content.Title
            </h1>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">

        <table class="instructionSent">
            <tbody>
                <tr>
                    <td>Cohort reference</td>
                    <td class="strong">@Model.Data.HashedCommitmentId</td>
                </tr>
                <tr>
                    <td>Sent to </td>
                    <td  class="strong">@Model.Data.ProviderName</td>
                    
                </tr>
                @*<tr>
                    <td>Sent from</td>
                    <td  class="strong">Alice Jones</td>
                   
                </tr>*@
                <tr>
                    <td>On behalf of</td>
                    <td  class="strong">@Model.Data.LegalEntityName</td>
                </tr>
                @*<tr>
                    <td>Date</td>
                    <td  class="strong">Thursday 18 May 2017</td>
                </tr>*@
                <tr>
                    <td>Message</td>
                    <td  class="strong">@Model.Data.Message</td>
                </tr>
            </tbody>
        </table>


        <h2 class="heading-medium">What happens next?</h2>
        <p id="changeMainCopy">
            @Model.Data.Content.Text
        </p>

        @if (!string.IsNullOrEmpty(Model.Data.BackLink?.Url))
        {
            <p>
                <a href="@Model.Data.BackLink.Url" aria-label="@Model.Data.BackLink.Text">@Model.Data.BackLink.Text</a>
            </p>
        }
    </div>
</div>

<div class="grid-row">
        <div class="column-full">
            <aside>
                <div class="panel panel-filled">
                    <h2 class="heading-medium">Help us improve this section</h2>
                    <p>Take a 3 minute survey about adding apprentices so that we can improve the service.</p>
                    <a href=" https://www.surveymonkey.co.uk/r/viewlevy" target="_blank" class="button" title="Take the survey" aria-label="Take the survey">Take the survey</a>


                </div>
            </aside>
        </div>
</div>


@section breadcrumb {
    <div class="breadcrumbs">       
            <a href="@Url.Action("Index", "EmployerCommitments")" aria-label="Back to Apprentices" class="back-link">Back to Apprentices</a>
    </div>
}