@using SFA.DAS.EAS.Web.Models

@model CreateCommitmentViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Start adding apprentices</h1>
        <p class="lede">You can start adding details of your apprentices or ask your training provider to add them for you.</p>
        <p>If you ask your training provider to add them, you can still check and agree the details before any payments are made.
</p>


        <form method="POST" action="@Url.Action("CreateCommitment")">
            @Html.AntiForgeryToken()
            <fieldset>
                <!--h2 class="heading-medium">Choose</h2-->
                <legend class="visuallyhidden">Choose provider to enter details</legend>
                <div class="form-group">
                    <label class="block-label" for="radio1">
                        <input id="radio1" type="radio" name="selectedRoute" value="employer">
                        I'll add apprentices
                    </label>
                    <label class="block-label" for="radio2">
                        <input id="radio2" type="radio" name="selectedRoute" value="provider">
                        I'd like my provider to add apprentices
                    </label>
                </div>
            </fieldset>
            @Html.HiddenFor(x => x.CohortRef)
            @Html.HiddenFor(x => x.LegalEntityCode)
            @Html.HiddenFor(x => x.LegalEntityName)
            @Html.HiddenFor(x => x.ProviderId)
            @Html.HiddenFor(x => x.ProviderName)
            <button type="submit" class="button">Continue</button>
        </form>
    </div>
    <div class="column-one-third"></div>
</div>