@using SFA.DAS.EAS.Web
@using SFA.DAS.EAS.Web.Extensions

@model OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.CreateCommitmentViewModel>

@{
    ViewBag.Title = "Start adding apprentices";
    ViewBag.PageID = "choose-add-path";
}

@*@section pageSpecificJS {
    @Scripts.Render("~/bundles/jqueryvalcustom")
}*@

<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("CreateCommitment")">
            @Html.AntiForgeryToken()
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)

            <h1 class="heading-xlarge">Start adding apprentices</h1>
            <p class="lede">You can start adding details of your apprentices or ask your training provider to add them for you.</p>
            <p class="lede">If you ask your training provider to add them, you need to check and agree the details before any payments are made.</p>
            <fieldset role="radiogroup" aria-required="true">
                <legend class="visuallyhidden">Choose provider to enter details</legend>
                <div class="form-error-group form-group @Html.AddClassIfPropertyInError("SelectedRoute", "error")">
                 
                        @Html.ValidationMessage("SelectedRoute", "Please choose an option", new { id = "error-message-SelectedRoute" })
                   
                    <label class="block-label selection-button-radio" for="SelectedRoute-Employer">
                        @Html.RadioButton("SelectedRoute", "employer", new { id = "SelectedRoute-Employer" })
                        I will add apprentices
                    </label>
                    <label class="block-label selection-button-radio" for="SelectedRoute-Provider">
                        @Html.RadioButton("SelectedRoute", "provider", new { id = "SelectedRoute-Provider" })
                        I would like my provider to add apprentices
                    </label>
                </div>
            </fieldset>
            @Html.Hidden("CohortRef", Model.Data.CohortRef)
            @Html.Hidden("LegalEntityCode", Model.Data.LegalEntityCode)
            @Html.Hidden("LegalEntityName", Model.Data.LegalEntityName)
            @Html.Hidden("LegalEntityAddress", Model.Data.LegalEntityAddress)
            @Html.Hidden("LegalEntitySource", Model.Data.LegalEntitySource)
            @Html.Hidden("ProviderId", Model.Data.ProviderId)
            @Html.Hidden("ProviderName", Model.Data.ProviderName)
            <button type="submit" class="button">Continue</button>
        </form>
    </div>
    <div class="column-one-third"></div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Index", "EmployerCommitments")" aria-label="Back to Apprentices" class="back-link">Back to Apprentices</a>   
    </div>
}