@using SFA.DAS.EAS.Web.Models
@using SFA.DAS.EAS.Web.Extensions

@model CreateCommitmentViewModel

@{
    ViewBag.Title = "Start adding apprentices";
    ViewBag.PageID = "choose-add-path";
}

@*@section pageSpecificJS {
    @Scripts.Render("~/bundles/jqueryvalcustom")
}*@

<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("CreateCommitment")">
            @Html.AntiForgeryToken()
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)

            <h1 class="heading-xlarge">Start adding apprentices</h1>
            <p class="lede">You can start adding details of your apprentices or ask your training provider to add them for you.</p>
            <p>If you ask your training provider to add them, you need to check and agree the details before any payments are made.</p>
            <fieldset role="radiogroup" aria-required="true">
                <legend class="visuallyhidden">Choose provider to enter details</legend>
                <div class="form-error-group form-group @Html.AddClassIfPropertyInError(x => x.SelectedRoute, "error")">
                 
                        @Html.ValidationMessageFor(m => m.SelectedRoute, "Please choose an option", new { id = "error-message-" + Html.IdFor(m => m.SelectedRoute) + "-Employer" })
                   
                    <label class="block-label selection-button-radio" for="@Html.IdFor(m => m.SelectedRoute)-Employer">
                        @Html.RadioButtonFor(m => m.SelectedRoute, "employer", new { id = Html.IdFor(m => m.SelectedRoute) + "-Employer" })
                        I will add apprentices
                    </label>
                    <label class="block-label selection-button-radio" for="@Html.IdFor(m => m.SelectedRoute)-Provider">
                        @Html.RadioButtonFor(m => m.SelectedRoute, "provider", new { id = Html.IdFor(m => m.SelectedRoute) + "-Provider" })
                        I would like my provider to add apprentices
                    </label>
                </div>
            </fieldset>
            @Html.HiddenFor(x => x.CohortRef)
            @Html.HiddenFor(x => x.LegalEntityCode)
            @Html.HiddenFor(x => x.LegalEntityName)
            @Html.HiddenFor(x => x.ProviderId)
            @Html.HiddenFor(x => x.ProviderName)
            <button type="submit" class="button">Continue</button>
        </form>
    </div>
    <div class="column-one-third"></div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerCommitments")" aria-label="Back" class="back-link">Back</a></li>
        </ol>
    </div>
}