@using SFA.DAS.Commitments.Api.Types
@using SFA.DAS.EAS.Web
@using SFA.DAS.EAS.Web.Models

@model OrchestratorResponse<CommitmentListViewModel>

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.Data.NumberOfTasks > 0)
        {
            <h2 class="heading-medium">Tasks</h2>
            <p>Any commitments that need your attention are shown below:</p>
            if (Model.Data.NumberOfTasks == 1)
            {
                <p>You have <span class="bold-small">1</span> task to complete.</p>
            }
            else
            {
                <p>You have <span class="bold-small">@Model.Data.NumberOfTasks.ToString()</span> tasks to complete.</p>
            }

            if (Model.Data.NumberOfTasks > 0)
            {
                <a href="@Url.Action("Index", "EmployerTasks")" class="link">View tasks</a>
            }
            <hr />
        }
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">Review and approve apprentices</h1>



            <p>You have the following requests in progress:</p>
        </div>

        @if (Model.Data.Commitments.Count == 0)
        {
            <div id="addApprenticesEmptyState" class="emptyState">
                <div class="emptyStateAlert">
                    <div class="emptyStateCopy">
                        <p>You currently have no requests. </p>

                    </div>
                </div>
            </div>
      
        }
        else
        {
<!-- Requested layout for wave2       -->       
    
   <!-- <p>You have <span class="strong">24</span> requests in progress</p>

            <div class="reviewApprove">
                <p class="trainingProvider">Hackney Skills &amp; Training Ltd</p>
                <p><span class="strong">Reference:</span> 98HGS3F</p>
                <p><span class="strong">Status:</span> With providers</p>
                <p><span class="strong">Last message:</span></p>
                <p>This is a message that has been added.  It runs along the bottom of the card for now. </p>
                <a href="#" class="button deleteRequest">Delete request</a>
                <hr />
            </div>
          
    -->


        <table class="tableResponsive cohort">
            <thead>
                <tr>
                    <th>Training provider</th>
                    <th>Organisation</th>
                    <th>Reference</th>
                    <th colspan="2">Status</th>
                 
                </tr>
            </thead>
            <tbody>
                @foreach (var commitment in Model.Data.Commitments)
                {
                    <tr>
                        <td>
                           @commitment.ProviderName
                         
                        </td>
                        <td>
                            @commitment.LegalEntityName
                          
                        </td>
                        <td>
                            @commitment.Name
                        </td>
                        <td>
                            @if (commitment.EditStatus == EditStatus.ProviderOnly)
                            {
                                @Html.Raw("Sent to provider")
                            }
                            else if (commitment.EditStatus == EditStatus.Both)
                            {
                                @Html.Raw("Approved")
                            }
                            else
                            {
                                @Html.Raw("Saved")
                            }
                        </td>
                        <td>
                            @if (commitment.EditStatus == EditStatus.EmployerOnly || commitment.EditStatus == EditStatus.Both)
                            {
                                <a href="@Url.Action("Details", new { hashedCommitmentId = commitment.HashedId })" aria-label="View @commitment.ProviderName">View</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

      

        }


    </div> <!-- /column-two-thirds-->

    <div class="column-one-third pull-right">
        <a href="@Url.Action("Inform")" class="button spacer">Add new request</a>
    </div><!-- /column-one-third -->

</div>



@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam", new {accountId = Model.Data.AccountHashId})">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("Index", new {accountId = Model.Data.AccountHashId})">Apprenticeships Home</a></li>
            <li>Review and approve apprentices</li>
        </ol>
    </div>
}
