@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.DeleteCommitmentViewModel>

@{
    ViewBag.Title = "Confirm Delete Cohort";
    ViewBag.PageId = "confirm-delete-cohort";
}

<div class="grid-row" id="confirm-delete">
    <div class="column-two-thirds">

        <form action="@Url.Action("DeleteCohort")" method="POST">
            @Html.AntiForgeryToken()
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)

            <h1 class="heading-xlarge">Confirm cohort deletion</h1>
            <p>You are about to delete the following cohort:</p>

            <table id="delete-cohort-summary">
                <tr>
                    <td>Provider</td>
                    <td class="strong">@Model.Data.ProviderName</td>
                </tr>
                <tr>
                    <td>Cohort reference</td>
                    <td class="strong">@Model.Data.HashedCommitmentId</td>
                </tr>
                <tr>
                    <td>Number of apprentices</td>
                    <td class="strong">@Model.Data.NumberOfApprenticeships</td>
                </tr>
                <tr>
                    <td>Apprenticeships</td>
                    @if (!Model.Data.ProgrammeSummaries.Any())
                    {
                        <td class="strong">0</td>
                    }
                    else
                    {
                        <td class="strong">
                            @Model.Data.ProgrammeSummaries.First()
                        </td>
                    }
                </tr>
                @foreach (var programSummary in Model.Data.ProgrammeSummaries.Skip(1))
                {
                    <tr>
                        <td></td>
                        <td class="strong">@programSummary</td>
                    </tr>

                }
            </table>

            <h2 class="heading-medium">
                Are you sure you want to delete this entire cohort and all the apprentices in it?
            </h2>

        <div class="form-error-group form-group @Html.AddClassIfPropertyInError("DeleteConfirmed", "error")">
                <div>
                    @Html.ValidationMessage("DeleteConfirmed", "Please choose an option", new { id = "error-message-" + "DeleteConfirmed" })
                </div>
                <fieldset>
                    <legend class="visually-hidden">
                        Are you sure you want to delete this entire cohort and all the apprentices in it?
                    </legend>

                    <label class="block-label selection-button-radio" for="@Html.IdFor(m => m.Data.DeleteConfirmed)-True">
                        @Html.RadioButton("DeleteConfirmed", true, Model.Data.DeleteConfirmed == false, new { @id = Html.IdFor(m => m.Data.DeleteConfirmed) + "-True" })
                        Yes, delete cohort
                    </label>
                    <label class="block-label selection-button-radio" for="@Html.IdFor(m => m.Data.DeleteConfirmed)-False">
                        @Html.RadioButton("DeleteConfirmed", false, Model.Data.DeleteConfirmed == true, new { @id = Html.IdFor(m => m.Data.DeleteConfirmed) + "-False" })
                        No, don't delete cohort
                    </label>
                </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
        </form>

    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Details", "EmployerCommitments", new { Model.Data.HashedAccountId, Model.Data.HashedCommitmentId })" aria-label="Back to Cohort" class="back-link">
            Back to Cohort
        </a>
    </div>
}