@using SFA.DAS.EAS.Web.Models
@using SFA.DAS.EAS.Web.Extensions

@model CommitmentViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">View cohort</h1>
        <table>
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>@Model.Name</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Legal entity</th>
                    <td>@Model.LegalEntityName</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Provider</th>
                    <td>@Model.ProviderName</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>@Model.Status.GetDescription()</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
   

        <h2 class="heading-medium">Apprentices</h2>
        @if (Model.Apprenticeships.Count == 0)
        {
            <p class="panel panel-info">
                No apprentices exist for this commitment.
            </p>
        }
        else
        {
            <table class="tableResponsive viewCommitment">
            <thead>
                <tr>

                    <th scope="col">Apprentice</th>
                    <th scope="col">Training</th>
                    <th scope="col" colspan="2">Status</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var apprenticeship in Model.Apprenticeships)
                {
                    <tr>
                        <td>
        
                           @apprenticeship.ApprenticeshipName &nbsp; 
                        </td>
                        <td>

                            @apprenticeship.TrainingName &nbsp;

                        </td>
                        <td>
                            
                            @apprenticeship.Status.GetDescription() &nbsp; 
                        </td>
                        <td>
                                <a href="@Url.Action("EditApprenticeship", new { hashedCommitmentId = Model.HashedId, hashedApprenticeshipId = apprenticeship.HashedId })">Edit</a>                   
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
        <a href="@Url.Action("CreateApprenticeshipEntry")" class="button">Add an apprentice</a>
    </div>
    <div class="column-one-third">
        <a class="button finishEditingBtn" href="@Url.Action("FinishedEditing")">Finish Editing</a>
    </div>
</div>
