@using SFA.DAS.EAS.Web.Models
@using SFA.DAS.EAS.Web.Extensions

@{
    ViewBag.Title = "Add apprentices";
    ViewBag.PageID = "apprentice-details";
}

@model CommitmentDetailsViewModel
    
<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">Add apprentices</h1>
    </div>
</div>
  

<div class="grid-row">
    <div class="column-one-half employer-details">
        <p><span class="strong">Training provider:</span> @Model.ProviderName</p>
        <p><span class="strong">Status:</span> @Model.Status.GetDescription()</p>
    </div>

       
    <div class="column-one-half employer-details">
            <p class="strong">Instructions:</p>
            <p>@(string.IsNullOrWhiteSpace(Model.LatestMessage) ? "No note added" : Model.LatestMessage)</p>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        @{
            var finishEditingText = Model.ShowApproveOnlyOption ? "Continue to approval" : "Save and continue";
        }

        <div class="grid-row">
            <div class="column-full">
                <div class="emptyStateButton">
                    <hr class="hr-top">
                    <a href="@Url.Action("CreateApprenticeshipEntry")" class="button button-secondary" aria-label="Add an apprentice">Add an apprentice</a>
                    <a class="button finishEditingBtn" href="@Url.Action("FinishedEditing")" aria-label="@finishEditingText">@finishEditingText</a>
                    <hr class="hr-bottom">
                </div>
            </div>
        </div>

        @functions {

            public string GetApprenticesCountText(IList<ApprenticeshipListItemViewModel> apprenticeships)
            {
                if (apprenticeships.Count == 1)
                    return "1 Apprentice";

                return $"{apprenticeships.Count} Apprentices";
            }
        }

        @if (!Model.HasApprenticeships)
        {

            <div class="grid-row" id="empty-alert-top">
                <div class="column-full">
                    <div class="panel panel-border-wide alert-default">
                        <p>You haven't added any apprentices yet. Use the options on this page to add apprentices.</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            if (Model.IncompleteApprenticeships.Count > 0)
            {
                <div class="grid-row">
                    <div class="column-full incompleted">
                        <p class="heading-large">Incomplete details</p>
                        <p class="heading-medium">@GetApprenticesCountText(Model.IncompleteApprenticeships)</p>
                        <table class="tableResponsive viewCommitment">
                            <thead>
                                <tr>
                                    <th scope="col">Apprentice</th>
                                    <th scope="col">Training course</th>
                                    <th scope="col">Training dates</th>
                                    <th scope="col" colspan="2">Cost</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var apprenticeship in Model.IncompleteApprenticeships)
                                {
                                    <tr class="row-bg">
                                        <td>
                                            @GetValueOrDefault(apprenticeship.ApprenticeName)
                                        </td>
                                        <td>
                                            @GetValueOrDefault(apprenticeship.TrainingName)
                                        </td>
                                        <td>
                                            @if (apprenticeship.StartDate != null && apprenticeship.EndDate != null)
                                            {
                                                <span>
                                                    @apprenticeship.StartDate.Value.ToGdsFormatWithoutDay() to @apprenticeship.EndDate.Value.ToGdsFormatWithoutDay()
                                                </span>
                                            }
                                            else
                                            {
                                                <span>&ndash;</span>
                                            }
                                        </td>
                                        <td>
                                            @GetValueOrDefault(FormatCost(apprenticeship.Cost))
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditApprenticeship", new { hashedApprenticeshipId = apprenticeship.HashedApprenticeshipId })" aria-label="Edit @apprenticeship.ApprenticeName">Add details</a>                   
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            if (Model.CompleteApprenticeships.Count > 0)
            {
                <div class="grid-row">
                    <div class="column-full">
                        <p class="heading-large">Complete details</p>
                        <p class="heading-medium">@GetApprenticesCountText(Model.CompleteApprenticeships)</p>
                        <table class="tableResponsive viewCommitment">
                            <thead>
                                <tr>
                                    <th scope="col">Apprentice</th>
                                    <th scope="col">Training course</th>
                                    <th scope="col">Training dates</th>
                                    <th scope="col" colspan="2">Cost</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var apprenticeship in Model.CompleteApprenticeships)
                                {
                                    <tr>
                                        <td>
                                            @GetValueOrDefault(apprenticeship.ApprenticeName)
                                        </td>
                                        <td>
                                            @GetValueOrDefault(apprenticeship.TrainingName)
                                        </td>
                                        <td>
                                            @if (apprenticeship.StartDate != null && apprenticeship.EndDate != null)
                                            {
                                                <span>
                                                    @apprenticeship.StartDate.Value.ToGdsFormatWithoutDay() to @apprenticeship.EndDate.Value.ToGdsFormatWithoutDay()
                                                </span>
                                            }
                                            else
                                            {
                                                <span>&ndash;</span>
                                            }
                                        </td>
                                        <td>
                                            @GetValueOrDefault(FormatCost(apprenticeship.Cost))
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditApprenticeship", new { hashedApprenticeshipId = apprenticeship.HashedApprenticeshipId })" aria-label="Edit @apprenticeship.ApprenticeName">Edit details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }

    </div>
</div>

@functions
{
    public string FormatCost(decimal? cost)
    {
        if (!cost.HasValue)
            return string.Empty;

        return $"{cost.Value:£0,0}";
    }
}

@helper GetValueOrDefault(string property){
    if (!string.IsNullOrEmpty(property))
    {
        <span>@property &nbsp;</span>
    }
    else
    {
        <span>@Html.Raw("&ndash;")</span>
    }
}

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerCommitments")" aria-label="Back to Apprentices" class="back-link">Back to Apprentices</a></li>
        </ol>
    </div>
}