@using SFA.DAS.Commitments.Api.Types
@using SFA.DAS.EAS.Web.Models
@using SFA.DAS.EAS.Web.Extensions

@model CommitmentViewModel
    
@{
    var status = Model.Status == CommitmentStatus.New ? "Saved" : "Sent to provider";
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">Add apprentices</h1>

  
        <p><span class="strong">Training provider:</span> @Model.ProviderName</p>
        <p><span class="strong">Status:</span>
          @if (Model.EditStatus == EditStatus.ProviderOnly)
          {
            @Html.Raw("Sent to provider")
          }
          else if (Model.EditStatus == EditStatus.Both)
          {
            @Html.Raw("Approved")
          }
          else
          {
            @Html.Raw("Saved")
          }
        </p>

        <h2 class="heading-medium">Apprentices</h2>
        @if (Model.Apprenticeships.Count == 0)
        {
         
            <div id="addApprenticesEmptyState" class="panel panel-filled">
        
                        <p>        You haven't added any apprentices yet. Use the options on this page to add apprentices or finish editing.</p>

           
            </div>
          
        }
        else
        {
            <table class="tableResponsive viewCommitment">
                <thead>
                <tr>

                    <th scope="col">Apprentice</th>
                    <th scope="col" colspan="2">Training course</th>
                 

                </tr>
                </thead>
                <tbody>
                @foreach (var apprenticeship in Model.Apprenticeships)
                {
                    <tr>
                        <td>
        
                            @apprenticeship.ApprenticeshipName &nbsp; 
                        </td>
                        <td>

                            @apprenticeship.TrainingName &nbsp;

                        </td>
                        <td>
                            <a href="@Url.Action("EditApprenticeship", new { hashedApprenticeshipId = apprenticeship.HashedId })" aria-label="Edit @apprenticeship.ApprenticeshipName">Edit</a>                   
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
      
        <div class="emptyStateButton">
            <a href="@Url.Action("CreateApprenticeshipEntry")" class="button-secondary" aria-label="Add an apprentice">Add an apprentice</a>
            <a class="button finishEditingBtn" href="@Url.Action("FinishedEditing")" aria-label="Save and continue">Save and continue</a>
        </div>
      
    </div>

</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam", new {accountId = ViewBag.HashedAccountId })">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("Index", new {accountId = ViewBag.HashedAccountId})">Apprenticeships Home</a></li>
            <li><a href="@Url.Action("Cohorts", new {accountId = ViewBag.HashedAccountId})">Review and approve apprentices</a></li>
            <li>Add apprentices</li>
        </ol>
    </div>
}
