@using SFA.DAS.EAS.Web.Models
@using SFA.DAS.EAS.Web.Extensions

@model CommitmentViewModel

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">Add apprentices</h1>
        <!--<table>
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>@Model.Name</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Legal entity</th>
                    <td>@Model.LegalEntityName</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Provider</th>
                    <td>@Model.ProviderName</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>@Model.Status.GetDescription()</td>
                    <td></td>
                </tr>
            </tbody>
        </table>-->
   

        <p><span class="strong">Provider:</span> @Model.ProviderName</p>

        <h2 class="heading-medium">Apprentices</h2>
        @if (Model.Apprenticeships.Count == 0)
        {
         
            <div id="addApprenticesEmptyState" class="emptyState">
                <div class="emptyStateAlert">
                    <div class="emptyStateCopyDetails">
                        <p>        You haven't added any apprentices yet. Use the options on this page to add apprentices or finish editing.</p>

                    </div>
                </div>
            </div>
          
        }
        else
        {
            <table class="tableResponsive viewCommitment">
            <thead>
                <tr>

                    <th scope="col">Apprentice</th>
                    <th scope="col">Training</th>
                    <th scope="col" colspan="2">Status</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var apprenticeship in Model.Apprenticeships)
                {
                    <tr>
                        <td>
        
                           @apprenticeship.ApprenticeshipName &nbsp; 
                        </td>
                        <td>

                            @apprenticeship.TrainingName &nbsp;

                        </td>
                        <td>
                            
                            @apprenticeship.Status.GetDescription() &nbsp; 
                        </td>
                        <td>
                                <a href="@Url.Action("EditApprenticeship", new { hashedApprenticeshipId = apprenticeship.HashedId })" aria-label="Edit @apprenticeship.ApprenticeshipName">Edit</a>                   
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
      
        <div class="emptyStateButton">
            <a href="@Url.Action("CreateApprenticeshipEntry")" class="button" aria-label="Add an apprentice">Add an apprentice</a>
            <a class="button finishEditingBtn" href="@Url.Action("FinishedEditing")" aria-label="Finished editing">Finished editing</a>
        </div>
      
    </div>

</div>
