@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.Models.ApprenticeshipViewModel

@*@section pageSpecificJS {
    @Scripts.Render("~/bundles/jqueryvalcustom");
}*@

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Edit an apprentice</h1>
        <p>
            Change the details of your apprentice below. If you don't have the information now you can leave it blank and add it later.
        </p>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("EditApprenticeship")">
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            @Html.AntiForgeryToken()

            <div class="form-group @Html.AddClassIfPropertyInError(x => x.FirstName, "error")">
                @Html.LabelFor(m => m.FirstName, "Apprentice first name", new { @class = "form-label" })
                @Html.ValidationMessageFor(m => m.FirstName, null, new { id = "error-message-" + Html.IdFor(m => m.FirstName) })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control form-control-3-4" })

            </div>
            <div class="form-group @Html.AddClassIfPropertyInError(x => x.LastName, "error")">
                @Html.LabelFor(m => m.LastName, "Apprentice last name", new { @class = "form-label" })
                @Html.ValidationMessageFor(m => m.LastName, null, new { id = "error-message-" + Html.IdFor(m => m.LastName) })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control form-control-3-4" })

            </div>
            <hr />
            <div class="form-group">
                <label class="form-label" for="TrainingId">Find apprenticeship</label>
                <select name="TrainingId" id="TrainingId" class="form-control" aria-label="Training standard">
                    <option value=""></option>
                    @foreach (var standard in ViewBag.ApprenticeshipProducts)
                    {
                        <option value="@standard.Id" @if (standard.Id.ToString() == Model.TrainingId) { @Html.Raw("selected") }> @standard.Title</option>
                    }
                </select>

            </div>

            <div class="form-error-group form-group @Html.AddClassIfPropertyInError(x => x.StartMonth, "error") @Html.AddClassIfPropertyInError(x => x.StartYear, "error")">
                <fieldset>
                    <legend>
                        <span class="form-label-bold">Projected start date</span>
                    </legend>
                    <div class="form-date">
                        @Html.ValidationMessageFor(m => m.StartMonth, null, new { id = "error-message-" + Html.IdFor(m => m.StartMonth), @class = "error-message" })
                        @Html.ValidationMessageFor(m => m.StartYear, null, new { id = "error-message-" + Html.IdFor(m => m.StartYear), @class = "error-message" })
                        <div class="form-group form-group-month">
                            <label for="@Html.IdFor(m => m.StartMonth)">
                                <span class="form-label-bold">Month</span>
                            </label>
                            @Html.TextBoxFor(m => m.StartMonth, new { @class = "form-control", type = "text", aria_describedby = "error-message-" + Html.IdFor(m => m.StartMonth) })
                        </div>
                        <div class="form-group form-group-month">
                            <label for="@Html.IdFor(m => m.StartYear)">
                                <span class="form-label-bold">Year</span>
                            </label>
                            @Html.TextBoxFor(m => m.StartYear, new { @class = "form-control", type = "text", aria_describedby = "error-message-" + Html.IdFor(m => m.StartYear) })
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="form-error-group form-group @Html.AddClassIfPropertyInError(x => x.EndMonth, "error") @Html.AddClassIfPropertyInError(x => x.EndYear, "error")">
                <fieldset>
                    <legend>
                        <span class="form-label-bold">Projected finish date</span>
                    </legend>
                    <div class="form-date">
                        @Html.ValidationMessageFor(m => m.EndMonth, null, new { id = "error-message-" + Html.IdFor(m => m.EndMonth), @class = "error-message" })
                        @Html.ValidationMessageFor(m => m.EndYear, null, new { id = "error-message-" + Html.IdFor(m => m.EndYear), @class = "error-message" })
                        <div class="form-group form-group-month">
                            <label for="@Html.IdFor(m => m.EndMonth)">
                                <span class="form-label-bold">Month</span>
                            </label>
                            @Html.TextBoxFor(m => m.EndMonth, new { @class = "form-control", type = "text", aria_describedby = "error-message-" + Html.IdFor(m => m.EndMonth) })
                        </div>
                        <div class="form-group form-group-month">
                            <labefdfl for="@Html.IdFor(m => m.EndYear)">
                                <span class="form-label-bold">Year</span>
                            </labefdfl>
                            @Html.TextBoxFor(m => m.EndYear, new { @class = "form-control", type = "text", aria_describedby = "error-message-" + Html.IdFor(m => m.EndYear) })
                        </div>
                    </div>
                </fieldset>

            </div>

            <div class="form-group @Html.AddClassIfPropertyInError(x => x.Cost, "error")">
                <label for="@Html.IdFor(m => m.Cost)">
                    <span class="form-label-bold">Cost</span>
                    @Html.ValidationMessageFor(m => m.Cost, null, new { id = "error-message-" + Html.IdFor(m => m.Cost), @class = "error-message" })
                </label>
                <span class="heading-small">£ </span>@Html.TextBoxFor(m => m.Cost, new { @class = "form-control form-control-3-4", type = "text", aria_describedby = "error-message-" + Html.IdFor(m => m.Cost) })
            </div>

            @Html.HiddenFor(m => m.ULN)
            <input type="hidden" id="status" name="status" value="@Model.Status" />
            <input type="hidden" id="agreementStatus" name="agreementStatus" value="@Model.AgreementStatus" />
            <button type="submit" class="button">Finish</button>
            <a class="button" href="@Url.Action("Details", new { hashedAccountId = Model.HashedAccountId, hashedCommitmentId = Model.HashedCommitmentId })">Cancel</a>
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam", new {accountId = @Model.HashedAccountId})">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("Index", new {hashedAccountId = @Model.HashedAccountId})">Apprenticeships Home</a></li>
            <li><a href="@Url.Action("Details", new {hashedAccountId = @Model.HashedAccountId})">Add apprentices</a></li>
            <li>Edit an apprentice</li>
        </ol>
    </div>
}
