@model SFA.DAS.EAS.Web.Models.FinishEditingViewModel
@using SFA.DAS.EAS.Web.Extensions
@using SFA.DAS.EAS.Web.Models.Types

@{
    ViewBag.Title = "Finish editing";
    ViewBag.PageID = "finish-editing";
}

@*@section pageSpecificJS {
    @Scripts.Render("~/bundles/jqueryvalcustom")
}*@

<div class="grid-row">
    <div class="column-two-thirds">
        <form action="@Url.Action("FinishedEditing")" method="post">
            @Html.AntiForgeryToken()
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)

            <h1 class="heading-xlarge">Finish editing</h1>
            <fieldset>
                <legend class="visuallyhidden">Things to do next</legend>
                <div class="form-error-group form-group @Html.AddClassIfPropertyInError(x => x.SaveStatus, "error")">
                    <div>
                        @Html.ValidationMessageFor(m => m.SaveStatus, "Please choose an option", new { id = "error-message-" + Html.IdFor(m => m.SaveStatus) + "-SendAmend" })
                    </div>
                    @if (Model.ApproveAndSend)
                    {
                        <label class="block-label selection-button-radio" for="@RadioButtonId(SaveStatus.ApproveAndSend)">
                            @Html.RadioButtonFor(m => m.SaveStatus, SaveStatus.ApproveAndSend, new { id = RadioButtonId(SaveStatus.ApproveAndSend) })
                            <span id="changeTwo">Approve and send to training provider</span>
                        </label>
                    }
                    else
                    {
                        <label class="block-label selection-button-radio" for="@RadioButtonId(SaveStatus.Approve)">
                            @Html.RadioButtonFor(m => m.SaveStatus, SaveStatus.Approve, new { id = RadioButtonId(SaveStatus.Approve) })
                            <span id="changeTwo">Approve</span>
                        </label>
                    }

                    <label class="block-label selection-button-radio" for="@RadioButtonId(SaveStatus.AmendAndSend)">
                        @Html.RadioButtonFor(m => m.SaveStatus, SaveStatus.AmendAndSend, new { id = RadioButtonId(SaveStatus.AmendAndSend) })
                        <span id="changeOne">Send to training provider to review or add details</span>
                    </label>

                    <label class="block-label selection-button-radio" for="@RadioButtonId(SaveStatus.Save)">
                        @Html.RadioButtonFor(m => m.SaveStatus, SaveStatus.Save, new { id = RadioButtonId(SaveStatus.Save) })
                        <span id="changeThree">Save but don't send to training provider</span>
                    </label>
                </div>

                <div style="margin-top:20px;">
                    <input type="submit" class="button" id="paymentPlan" value="Continue">
                    <a class="links" aria-label="Cancel" href="@Url.Action("Details", new { hashedAccountId = Model.HashedAccountId, hashedCommitmentId = Model.HashedCommitmentId })">Cancel</a>
                </div>
                @Html.HiddenFor(x => x.HashedCommitmentId)
            </fieldset>
        </form>
     
    </div>

    <div class="column-one-third">
    </div>
</div>

@functions
{
     public string RadioButtonId(SaveStatus status)
     {
         return $"{Html.IdFor(m => m.SaveStatus)}-{status}";
     }
 }