@model SFA.DAS.EAS.Web.Models.FinishEditingViewModel
@using SFA.DAS.EAS.Web.Extensions

@*@section pageSpecificJS {
    @Scripts.Render("~/bundles/jqueryvalcustom")
}*@

<div class="grid-row">
    <div class="column-two-thirds">
        <form action="@Url.Action("FinishedEditing")" method="post">
            @Html.AntiForgeryToken()
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)

            <h1 class="heading-xlarge">Finished editing</h1>
            <fieldset>
                <legend class="visuallyhidden">Things to do next</legend>
                <div class="form-error-group form-group @Html.AddClassIfPropertyInError(x => x.SaveOrSend, "error")">
                    <div>
                        @Html.ValidationMessageFor(m => m.SaveOrSend, "Please choose an option", new { id = "error-message-" + Html.IdFor(m => m.SaveOrSend) + "-SendAmend" })
                    </div>
                    <label class="block-label selection-button-radio" for="@Html.IdFor(m => m.SaveOrSend)-SendAmend">
                        @Html.RadioButtonFor(m => m.SaveOrSend, "send-amend", new { id = Html.IdFor(m => m.SaveOrSend) + "-SendAmend" })
                        <span id="changeOne">Send to provider to amend or add details</span>
                    </label>
                    <label class="block-label selection-button-radio" for="@Html.IdFor(m => m.SaveOrSend)-SendApprove">
                        @Html.RadioButtonFor(m => m.SaveOrSend, "send-approve", new { id = Html.IdFor(m => m.SaveOrSend) + "-SendApprove" })
                        <span id="changeTwo">Approve and send to provider</span>
                    </label>
                    <label class="block-label selection-button-radio" for="@Html.IdFor(m => m.SaveOrSend)-SaveNoSend">
                        @Html.RadioButtonFor(m => m.SaveOrSend, "save-no-send", new { id = Html.IdFor(m => m.SaveOrSend) + "-SaveNoSend" })
                        <span id="changeThree">Save but do not send to provider</span>
                    </label>
                </div>

                <div style="margin-top:20px;">
                    <input type="submit" class="button" id="paymentPlan" value="Continue">
                    <a class="links" aria-label="Cancel" href="@Url.Action("Details", new { hashedAccountId = Model.HashedAccountId, hashedCommitmentId = Model.HashedCommitmentId })">Cancel</a>
                </div>
                @Html.HiddenFor(x => x.HashedCommitmentId)
            </fieldset>
        </form>
     
    </div>

    <div class="column-one-third">
    </div>
</div>
