@using SFA.DAS.EAS.Web
@using SFA.DAS.EAS.Web.ViewModels

@model OrchestratorResponse<CommitmentsIndexViewModel>

@{
    ViewBag.PageID = "apprentices-home-page";
    ViewBag.Title = "Apprentices";
    ViewBag.Section = "apprentices";
}

 
<form method="POST" action="@Url.Action("SetLegalEntity")">
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge heading-dashboard">Apprentices</h1>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="grid-row">
                <div class="column-half ">
                    <h2 class="heading-medium"><a href="@Url.Action("Inform")">Add an apprentice</a></h2>
                    <p class="rj-home-spacer">Add apprentices to a new cohort or ask your training provider to add them.</p>
                    <hr />
                </div>
                <div class="column-half ">
                    <h2 class="heading-medium"><a href="@Url.Action("YourCohorts")">Your cohorts</a></h2>
                    <p class="rj-home-spacer">Review, edit, approve and add more apprentices to cohorts you’ve already started.</p>
                    <hr />
                </div>

                <div class="column-half">
                    <h2 class="heading-medium">
                        <a href="@Url.Action("ListAll", "EmployerManageApprentices")">Manage your apprentices</a>
                    </h2>
                    <p class="rj-home-spacer">
                        View approved apprentices, update details of existing apprentices or stop and pause payments to training providers.
                    </p>
                    <hr />
                </div>
                @if (Model.Data.ShowSetPaymentPriorityLink)
                {
                    <div class="column-half">
                        <h2 class="heading-medium">
                            <a href="@Url.Action("PaymentOrder", "EmployerManageApprentices")">Set payment order</a>
                        </h2>
                        <p class="rj-home-spacer">
                            View and change the order in which your providers are paid from your available funds.
                        </p>
                        <hr />
                    </div>
                }
            </div>
        </div>
    </div>
</form>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerTeam", new {accountId = ViewBag.HashedAccountId })">Home</a></li>
            <li>Apprentices</li>
        </ol>
    </div>
}
