@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.CommitmentListViewModel>

@{
    ViewBag.Title = Model.Data.PageTitle;
    ViewBag.PageId = Model.Data.PageId;
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">@Model.Data.PageHeading</h1>

        <p class="dynamic-heading">@Html.Raw(Model.Data.PageHeading2)</p>

        <table class="tableResponsive to-be-sent-list">
            <thead>
            <tr>
                <th>Provider</th>
                <th>Cohort reference</th>
                <th>Last message</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            @foreach (var commitment in Model.Data.Commitments)
            {
                <tr>
                    <td>
                        @commitment.ProviderName &nbsp;
                    </td>
                    <td>
                        @commitment.HashedCommitmentId &nbsp;
                    </td>
                    <td>
                        @commitment.LatestMessage &nbsp;
                    </td>
                    <td>
                        @if (commitment.ShowViewLink)
                        {
                            <a href="@Url.Action("Details", new { commitment.HashedCommitmentId })" title="View cohort" aria-label="View cohort">View</a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>


    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("YourCohorts", "EmployerCommitments")" aria-label="Back to Apprentices" class="back-link">Back to Apprentices</a>
    </div>
}
