@model SFA.DAS.EAS.Web.Models.SelectProviderViewModel

@*@section pageSpecificJS {
    @Scripts.Render("~/bundles/jqueryvalcustom")
}*@

<form method="POST" action="@Url.Action("SelectProvider")">

    <div class="grid-row">

      

        <div class="column-two-thirds">
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            <h1 class="heading-xlarge">Add training provider details</h1>

        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">

            @Html.AntiForgeryToken()

            <div class="form-error-group form-group">
                @Html.LabelFor(m => m.ProviderId, "UK Provider Reference Number", new { @class = "form-label-bold" })

                <div>
                    @Html.ValidationMessageFor(m => m.ProviderId, "Please enter an 8-digit UK Provider Reference Number")

                </div>
                @Html.TextBoxFor(m => m.ProviderId, new { @class = "form-control trainingProvider", aria_label = "Training Provider" })
            </div>


            <button type="submit" class="button">Continue</button>


            @Html.HiddenFor(x => x.LegalEntityCode)
            @Html.HiddenFor(x => x.CohortRef)

        </div>
    </div>
</form>