@using SFA.DAS.EAS.Web
@using SFA.DAS.EAS.Web.Extensions

@model OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.SelectProviderViewModel>

@{
    ViewBag.Title = "Add training provider details";
    ViewBag.PageID = "add-provider-reference";
}

@*@section pageSpecificJS {
    @Scripts.Render("~/bundles/jqueryvalcustom")
}*@

<form method="POST" action="@Url.Action("SelectProvider")">

    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            <h1 class="heading-xlarge">Add training provider details</h1>

            @Html.AntiForgeryToken()
            
            <div class="form-error-group form-group @Html.AddClassIfPropertyInError("ProviderId", "error") @Html.AddClassIfPropertyInError("NotFound", "error")">
                @Html.LabelFor(m => m.Data.ProviderId, "UK Provider Reference Number", new { @class = "form-label-bold" })

                @Html.ValidationMessage("ProviderId", "Number not recognised. Check the number you've entered is correct or contact your training provider for help.", new { id = "error-message-ProviderId" })
                @Html.ValidationMessage("NotFound", "Number not recognised. Check the number you've entered is correct or contact your training provider for help.", new { id = "error-message-NotFound" })
           
                @Html.TextBox("ProviderId", Model.Data.ProviderId, new { @class = "form-control trainingProvider", aria_required = "true", aria_labelledby = "ProviderId" })
            </div>

            <details class="ukprn-help">
                <summary><span class="summary">What is a UK Provider Reference Number?</span></summary>
                <div class="panel panel-border-narrow" role="note" aria-label="UKPRN help">
                    <p>
                        A UK Provider Reference Number (UKPRN) is a unique, 8-digit number that identifies a training provider. Your training provider can tell you their UKPRN.
                    </p>
                </div>
            </details>


            <button type="submit" class="button">Continue</button>

            @Html.Hidden("LegalEntityCode", Model.Data.LegalEntityCode)
            @Html.Hidden("CohortRef", Model.Data.CohortRef)
        </div>
    </div>
</form>


@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Index", "EmployerCommitments")" aria-label="Back to Apprentices" class="back-link">Back to Apprentices</a>
    </div>
}