@model SFA.DAS.EAS.Web.Models.SelectProviderViewModel
@using SFA.DAS.EAS.Web.Extensions

@{
    ViewBag.Title = "Add training provider details";
    ViewBag.PageID = "add-provider-reference";
}

@*@section pageSpecificJS {
    @Scripts.Render("~/bundles/jqueryvalcustom")
}*@

<form method="POST" action="@Url.Action("SelectProvider")">

    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            <h1 class="heading-xlarge">Add training provider details</h1>

            @Html.AntiForgeryToken()
            
            <div class="form-error-group form-group @Html.AddClassIfPropertyInError(x => x.ProviderId, "error")">
                @Html.LabelFor(m => m.ProviderId, "UK Provider Reference Number", new { @class = "form-label-bold" })

             
                    @Html.ValidationMessageFor(m => m.ProviderId, "Please enter an 8-digit UK Provider Reference Number", new { id = "error-message-" + Html.IdFor(m => m.ProviderId) })

           
                @Html.TextBoxFor(m => m.ProviderId, new { @class = "form-control trainingProvider", aria_required = "true", aria_describedby= "8-digit UK Provider Reference Number" })
            </div>

            <details>
                <summary><span class="summary">What is a UK Provider Reference Number?</span></summary>
                <div class="panel panel-border-narrow">
                    <p>
                        A UK Provider Reference Number (UKPRN) is a unique, 8-digit number that identifies a training provider. Your training provider can tell you their UKPRN.
                    </p>
                </div>
            </details>


            <button type="submit" class="button">Continue</button>


            @Html.HiddenFor(x => x.LegalEntityCode)
            @Html.HiddenFor(x => x.CohortRef)

        </div>
    </div>
</form>