@using SFA.DAS.EAS.Web
@using SFA.DAS.EAS.Web.Extensions

@model OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.ConfirmProviderViewModel>

@{
    ViewBag.Title = "Confirm training provider";
    ViewBag.PageID = "confirm-training-provider";
}

@*@section pageSpecificJS {
    @Scripts.Render("~/bundles/jqueryvalcustom")
}*@

<div class="grid-row">
    <div class="column-two-thirds">

        @if (Model.Data.Provider != null)
        { 
            <form action="@Url.Action("ConfirmProvider")" method="POST">
                @Html.AntiForgeryToken()
                @Html.Partial("ValidationSummary", Html.ViewData.ModelState)

                <h1 class="heading-xlarge">Confirm training provider</h1>
                <p class="">UK Provider Reference Number <span style="font-weight:700">'@Model.Data.ProviderId'</span> matches:</p>

                <h2 class="heading-large" style="margin-bottom:0;">@Model.Data.Provider.ProviderName</h2>
                <h3 class="heading-small" style="margin-top:0px; color:#6F777B">UKPRN: @Model.Data.ProviderId</h3>

                <fieldset class="spacerConfirmProvider" role="radiogroup" aria-required="true">
                    <legend class="visuallyhidden">Training provider</legend>
                <div class="form-error-group form-group @Html.AddClassIfPropertyInError("Confirmation", "error")">
                        <label class="form-label-bold" for="">Is this the main provider of the apprenticeship training?</label>
                        <div>
                            @Html.ValidationMessage("Confirmation", "Please choose an option", new { id = "error-message-Confirmation" })
                        </div>
                        <label class="block-label selection-button-radio" for="Confirmation-True">
                            @Html.RadioButton("Confirmation", "True", new { id = "Confirmation-True" })
                            Yes, use @Model.Data.Provider.ProviderName
                        </label>
                        <label class="block-label selection-button-radio" for="Confirmation-False">
                            @Html.RadioButton("Confirmation", "False", new { id = "Confirmation-False" })
                            No, change UK Provider Reference Number
                        </label>
                    </div>
                </fieldset>

                @Html.Hidden("HashedAccountId", Model.Data.HashedAccountId)
                @Html.Hidden("LegalEntityCode", Model.Data.LegalEntityCode)
                @Html.Hidden("CohortRef", Model.Data.CohortRef)
                @Html.Hidden("ProviderId", Model.Data.ProviderId)
                <button class="button" type="submit">Continue</button>
            </form>
        }
        else
        {
            <h1 class="heading-xlarge">Training provider not found</h1>
            <p class="">No matches found for <span style="font-weight:700">'@Model.Data.ProviderId'</span>.</p>
            <form action="@Url.Action("SearchProvider")" method="GET">
                @Html.AntiForgeryToken()
                @Html.Hidden("HashedAccountId", Model.Data.HashedAccountId)
                @Html.Hidden("LegalEntityCode", Model.Data.LegalEntityCode)
                @Html.Hidden("CohortRef", Model.Data.CohortRef)
                @Html.Hidden("ProviderId", "")
                <button class="button" type="submit">Search again</button>
            </form>
        }

    </div>
    <div class="column-one-third"></div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Index", "EmployerCommitments")" aria-label="Back to Apprentices" class="back-link">Back to Apprentices</a>
    </div>
}