@using SFA.DAS.EAS.Web.Models
@using SFA.DAS.EAS.Domain.Entities.Account

@model SelectLegalEntityViewModel

@section Scripts {
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryvalcustom")
}


<div class="grid-row">
    <form method="POST" action="@Url.Action("SetLegalEntity")">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Choose organisation
</h1>

            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
          
            @Html.AntiForgeryToken()
            <div class="form-group">

                <fieldset>

                 

                    <p>Choose the organisation your apprentices will be employed through:</p>

                    <div>
                        @Html.ValidationMessageFor(m => m.LegalEntityCode, "Please choose an option")
                    </div>
                    @foreach (LegalEntity entity in ViewBag.LegalEntities)
                    {
                        <label class="block-label selection-button-radio" for="@Html.IdFor(m => m.LegalEntityCode)-@entity.Code">
                        @Html.RadioButtonFor(m => m.LegalEntityCode, entity.Code, new { id = Html.IdFor(m => m.LegalEntityCode) + "-" + @entity.Code })
                            @entity.Name
                        </label>
                    }
               </fieldset>
            </div>
            @Html.HiddenFor(x => x.CohortRef)
            <button type="submit" class="button">Continue</button>

        </div>
    </form>
</div>
