@using SFA.DAS.EAS.Domain.Data.Entities.Account
@using SFA.DAS.EAS.Web
@using SFA.DAS.EAS.Web.Extensions

@{
    ViewBag.Title = "Choose organisation";
    ViewBag.PageID = "choose-organisation";
}

@model OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.SelectLegalEntityViewModel>

@*@section pageSpecificJS {
    @Scripts.Render("~/bundles/jqueryvalcustom")
}*@


<div class="grid-row">
    <form method="POST" action="@Url.Action("SetLegalEntity")">
        <div class="column-two-thirds">
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            <h1 class="heading-xlarge">Choose organisation</h1>
            @Html.AntiForgeryToken()
            <div class="form-group @Html.AddClassIfPropertyInError("LegalEntityCode", "error")">
                <fieldset>
                    <legend>
                        <span class="form-label-bold">Which organisation is named on the contract with the training provider for the apprentices you’d like to add?</span>
                        @Html.ValidationMessage("LegalEntityCode", "Please choose an option", new { id = "error-message-LegalEntityCode" })
                    </legend>
  
                    @foreach (LegalEntity entity in Model.Data.LegalEntities)
                    {
                        <label class="block-label selection-button-radio" for="LegalEntityCode-@entity.Code">
                        @Html.RadioButton("LegalEntityCode", @entity.Code, new { @id = "LegalEntityCode-" + entity.Code })
                            @entity.Name
                        </label>
                    }
               </fieldset>
                <details id="service-help">
                    <summary><span class="summary">What is a contract for services?</span></summary>
                    <div class="panel panel-border-narrow">
                        <p>
                           A contract for services is a formal agreement between a buyer and a supplier.
                        </p>

                        <p>
                           In this case, the contract is between the organisation that's buying apprenticeship training for their apprentices and the training provider that's training the apprentices.
                        </p>
                        <p>If you're an employer-provider, for example, you won't need a contract for services as your organisation is both the buyer and the supplier.</p>
                    </div>
                </details>

            </div>
            @Html.Hidden("CohortRef", Model.Data.CohortRef)
            <button type="submit" class="button">Continue</button>
        </div>
    </form>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Index", "EmployerCommitments")" aria-label="Back to Apprentices" class="back-link">Back to Apprentices</a>
    </div>
}