@using SFA.DAS.EAS.Web

@model OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.SubmitCommitmentViewModel>

@{
    ViewBag.Title = "Instructions for your training provider";
    ViewBag.PageID = "submit-instructions";
}

@{
    var targetName = string.IsNullOrWhiteSpace(Model.Data.HashedCommitmentId) ? "SubmitNewCommitmentEntry" : "SubmitExistingCommitmentEntry";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Message for your training provider</h1>

        <p class="lede">Let <span class="heading-medium">@Model.Data.ProviderName</span> know what you'd like them to do next.
        </p>
        <form method="POST" action="@Url.Action(targetName)">
            @Html.AntiForgeryToken()

            <div class="form-error-group form-group">
                <label class="form-label strong" for="Message">Message (optional)</label>
                @*<p class="form-hint">For example, please add the 12 admin level 2 apprentices and 13 engineering level 3 apprentices</p>*@
                <textarea class="form-control form-control-3-4" id="Message" name="Message"
                          cols="40" rows="10"
                          aria-required="true"></textarea>
            </div>
            @Html.Hidden("HashedCommitmentId", Model.Data.HashedCommitmentId)
            @Html.Hidden("LegalEntityCode", Model.Data.LegalEntityCode)
            @Html.Hidden("LegalEntityName", Model.Data.LegalEntityName)
            @Html.Hidden("LegalEntityAddress", Model.Data.LegalEntityAddress)
            @Html.Hidden("LegalEntitySource", Model.Data.LegalEntitySource)
            @Html.Hidden("ProviderId", Model.Data.ProviderId)
            @Html.Hidden("ProviderName", Model.Data.ProviderName)
            @Html.Hidden("CohortRef", Model.Data.CohortRef)
            @Html.Hidden("SaveStatus", Model.Data.SaveStatus)
            <button type="submit" class="button">Send</button>
        </form>
    </div>
</div>


@section breadcrumb {
    <div class="breadcrumbs">
       <a href="@Url.Action("Index", "EmployerCommitments")" aria-label="Back to Apprentices" class="back-link">Back to apprentices</a>
    </div>
}