@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.YourCohortsViewModel>

@{
    ViewBag.Title = "Your cohorts";
    ViewBag.PageID = "cohorts-landing-page";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">Your cohorts</h1>
        </div>

        <div class="column-one-half bingo-background block-one @GetClickableClass(Model.Data.WaitingToBeSentCount)">
            <h2 class="bold-xxlarge">
                @if (Model.Data.WaitingToBeSentCount > 0)
                {
                    <a href="@Url.Action("WaitingToBeSent", new { redirectTo = "NewRequests" } )" title="@Model.Data.WaitingToBeSentCount waiting to be sent" aria-label="Waiting to be sent">
                        @Model.Data.WaitingToBeSentCount
                    </a>
                }
                else
                {
                    <span>0</span>
                }
            </h2>
            <p class="heading-small">Waiting to be sent</p>
        </div>

        <div class="column-one-half bingo-background block-two @GetClickableClass(Model.Data.ReadyForApprovalCount)">
            <h2 class="bold-xxlarge">
                @if (Model.Data.ReadyForApprovalCount > 0)
                {
                    <a href="@Url.Action("ReadyForApproval")" title="@Model.Data.ReadyForApprovalCount need your approval" aria-label="View all new requests that are ready for approval">
                        @Model.Data.ReadyForApprovalCount
                    </a>
                }
                else
                {
                    <span>0</span>
                }
            </h2>
            <p class="heading-small">Need your approval</p>
        </div>


        <div class="column-one-half bingo-background block-three @GetClickableClass(Model.Data.ReadyForReviewCount)">
            <h2 class="bold-xxlarge">
                @if (Model.Data.ReadyForReviewCount > 0)
                {
                    <a href="@Url.Action("ReadyForReview")" title="@Model.Data.ReadyForReviewCount ready for review" aria-label="View all new requests that are ready for review">
                        @Model.Data.ReadyForReviewCount
                    </a>
                }
                else
                {
                    <span>0</span>
                }
            </h2>
            <p class="heading-small">Ready for review</p>
        </div>

        <div class="column-one-half bingo-background block-four @GetClickableClass(Model.Data.WithProviderCount)">
            <h2 class="bold-xxlarge">
                @if (Model.Data.WithProviderCount > 0)
                {
                    <a href="@Url.Action("WithProvider")" title="@Model.Data.WithProviderCount with provider" aria-label="View all new requests from that are with the provider">
                        @Model.Data.WithProviderCount
                    </a>
                }
                else
                {
                    <span>0</span>
                }
            </h2>
            <p class="heading-small">With training providers</p>
        </div>

    </div> <!-- /column-two-thirds-->

    <div class="column-one-third pull-right"></div><!-- /column-one-third -->
</div>


@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Index", "EmployerCommitments")" aria-label="Back to Apprentices" class="back-link">Back to apprentices</a>
    </div>
}



@functions {
    private string GetClickableClass(int requestsCount)
    {
        return requestsCount > 0 ? "clickable" : "";
    }
}
