@using SFA.DAS.EAS.Domain
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.Models.AddLegalEntityViewModel>
@{ViewBag.PageID = "enter-organisation-type"; }
@{
    ViewBag.Title = "Add an organisation";
    ViewBag.Section = "organisations";
}

@if (TempData["companyError"] != null || TempData["charityError"] != null || TempData["publicBodyError"] != null)
{
    ViewBag.PageID = "error-organisation-entry";
    <div class="grid-row">
        <div class="column-full error-summary-wrapper">
            <div tabindex="-1" role="group" class="error-summary">
                <h1 id="error-summary" class="heading-medium error-summary-heading">
                    Errors to fix
                </h1>
                <p>Check the following details:</p>
                <ul class="error-summary-list">
                    @{
                        if (TempData["companyError"] != null)
                        {
                            <li><a href="#error-company-number" data-focuses="error-company-number">@TempData["companyError"]</a></li>
                        }
                        if (TempData["charityError"] != null)
                        {
                            <li><a href="#error-charity-number" data-focuses="error-charity-number">@TempData["charityError"]</a></li>
                        }
                        if (TempData["publicBodyError"] != null)
                        {
                            <li><a href="#error-publicbody-number" data-focuses="error-publicbody-number">@TempData["publicBodyError"]</a></li>
                        }
                    }

                    
                </ul>
            </div>
        </div>
    </div>
}



<div class="column-two-thirds org-type-search">

    <h1 class="heading-xlarge">Add an organisation</h1>

    <form action="@Url.Action("AddOrganisation", "EmployerAgreement")" method="POST">
        @Html.AntiForgeryToken()
        <section>
            <label for="company">
                <span class="form-label-bold">Listed on Companies House</span>
                <span>Limited company, public limited company, royal charter or industrial and provident organisation.</span>
            </label>
            <input type="radio" name="orgType" id="company" value="@OrganisationType.CompaniesHouse" />
            <div id="search-company" class="search-form panel panel-border-narrow">
                <div class="form-group">
                    <label class="strong" for="CompaniesHouseNumber">Enter Companies House number</label>
                    <input type="text" id="CompaniesHouseNumber" name="CompaniesHouseNumber"" class="form-control" />
                </div>
            </div>
        </section>
        <section>
            <label for="publicbody">
                <span class="form-label-bold">Public sector organisation</span>
            </label>
            <input type="radio" name="orgType" value="@OrganisationType.PublicBodies" id="publicbody" />
            <div id="search-publicbody" class="search-form panel panel-border-narrow">
                <div class="form-group">
                    <label class="strong" for="PublicBodyName">Enter organisation's name</label>
                    <input type="text" id="PublicBodyName" name="PublicBodyName"" class="form-control" />
                </div>
            </div>
        </section>
        <section>
            <label for="charity">
                <span class="form-label-bold">Registered charity</span>
            </label>
            <input type="radio" name="orgType" value="@OrganisationType.Charities" id="charity" />
            <div id="search-charity" class="search-form panel panel-border-narrow">
                <div class="form-group">
                    <label class="strong" for="CharityRegNo">Enter charity number</label>
                    <input type="text" id="CharityRegNo" name="CharityRegNo" class="form-control" />
                </div>
                <div class="form-group">
                    <h2 class="heading-small">Don't know your charity number?</h2>
                    <p>You can <a href="http://apps.charitycommission.gov.uk/Showcharity/RegisterOfCharities/registerhomepage.aspx" target="_blank" rel="external"> search for your charity number</a>
                        or <a href="">enter your charity details manually</a>.</p>
                </div>
            </div>
        </section>


        @*<div class="form-group orgtype-wrapper">

            <label class="collapse" for="option4">Sole trader, partnership or other</label>
            <input id="option4" type="radio" name="orgType" value="@OrganisationType.Other"/>

            <div class="panel">Sole trader content...</div>


        </div>*@

        <div class="form-group">
            <input class="button" id="addOrganisation" type="submit" value="Continue" />
        </div>

</form>
</div>






