@using SFA.DAS.EAS.Domain
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.Models.AddLegalEntityViewModel>
@{ViewBag.PageID = "enter-organisation-type"; }
@{
    ViewBag.Title = "Add an organisation";
    ViewBag.Section = "organisations";
}

<div class="column-two-thirds org-type-search">

    <h1 class="heading-xlarge">Add an organisation</h1>

    <form action="@Url.Action("AddOrganisation", "Organisation")" method="POST">
        @Html.AntiForgeryToken()

            <h2 class="vh" id="select-title">Select your organisation type</h2>
            <section>
                <label for="company">
                    <span class="form-label-bold">Listed on Companies House</span>
                    <span>Limited company, public limited company, royal charter or industrial and provident organisation.</span>
                </label>
            <input type="radio" name="organisationType" id="company" aria-labelledby="select-title" value="@OrganisationType.CompaniesHouse" @(Convert.ToBoolean(Model.Data.OrganisationType == OrganisationType.CompaniesHouse) ?  "checked='checked'" : "") />
                <div id="search-company" class="search-form panel panel-border-narrow">
                <div class="form-group @(!string.IsNullOrEmpty(Model.Data.CompaniesHouseNumberError) ? "error" : "")">
                    <label class="strong" for="CompaniesHouseNumber">Enter Companies House number</label>
                    @if (!string.IsNullOrEmpty(Model.Data.CompaniesHouseNumberError))
                    {
                        <span class="error-message" id="error-message-comapnieshouse">@Model.Data.CompaniesHouseNumberError</span>
                    }
                    <input type="text" id="CompaniesHouseNumber" name="CompaniesHouseNumber" class="form-control" />
                </div>
                <p>
                    <a href="https://beta.companieshouse.gov.uk/" target="_new">Search for your Companies House number</a>.
                </p>
                @if (!String.IsNullOrEmpty(@Model.Data.CompaniesHouseNumberError))
                {
                    <div class="strong">
                        Not on Companies House?
                    </div>
                    <div>
                        <a href="@Url.Action("AddOtherOrganisationDetails")">Enter your company details manually</a>.
                    </div>
                }
                </div>
            </section>
            <section>
                <label for="publicbody">
                    <span class="form-label-bold">Public sector organisation</span>
                </label>
            <input type="radio" name="organisationType" aria-labelledby="select-title" value="@OrganisationType.PublicBodies" id="publicbody" @(Convert.ToBoolean(Model.Data.OrganisationType == OrganisationType.PublicBodies) ?  "checked='checked'" : "")/>
            <div id="search-publicbody" class="search-form panel panel-border-narrow">
                <div class="form-group @(!string.IsNullOrEmpty(Model.Data.PublicBodyNameError) ? "error" : "")">
                    <label class="strong" for="PublicBodyName">Enter organisation's name</label>
                    @if (!string.IsNullOrEmpty(Model.Data.PublicBodyNameError))
                    {
                        <span class="error-message" id="error-message-publicbody">@Model.Data.PublicBodyNameError</span>
                    }
                    <input type="text" id="PublicBodyName" name="PublicBodyName" class="form-control" />
                </div>
            </div>
        </section>
        <section>
            <label for="charity">
                <span class="form-label-bold">Registered charity</span>
            </label>
            <input type="radio" name="organisationType" aria-labelledby="select-title" value="@OrganisationType.Charities" id="charity" @(Convert.ToBoolean(Model.Data.OrganisationType == OrganisationType.Charities) ?  "checked='checked'" : "") />
                <div id="search-charity" class="search-form panel panel-border-narrow">
                    <div class="form-group @(!string.IsNullOrEmpty(Model.Data.CharityRegistrationNumberError) ? "error" : "")">
                        <label class="strong" for="CharityRegistrationNumber">Enter charity number</label>
                        @if (!string.IsNullOrEmpty(Model.Data.CharityRegistrationNumberError))
                        {
                            <span class="error-message" id="error-message-charity">@Model.Data.CharityRegistrationNumberError</span>
                        }
                        <input type="text" id="CharityRegistrationNumber" name="CharityRegistrationNumber" class="form-control" />
                    </div>
                    <div class="form-group">
                        <h2 class="heading-small">Don't know your charity number?</h2>
                        <p>
                            You can <a href="http://apps.charitycommission.gov.uk/Showcharity/RegisterOfCharities/registerhomepage.aspx" target="_blank" rel="external"> search for your charity number</a>
                            or <a href="@Url.Action("AddOtherOrganisationDetails")">Enter your charity details manually</a>.
                        </p>
                </div>
                    }

                </div>
            </section>
            <section>
                <label for="other">
                    <span class="form-label-bold">Sole trader, partnership or other</span>
                </label>
                <input type="radio" name="orgType" value="@OrganisationType.Other" id="other" aria-labelledby="select-title" />
                
            </section>
   
        <div class="form-group">
            <input class="button" id="addOrganisation" type="submit" value="Continue" />
        </div>

</form>
</div>






