@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.Models.OrganisationDetailsViewModel>
@{ViewBag.PageID = "page-extra-add-orgainsation-address"; }
@{
    ViewBag.Title = "Add Organisation Address";
    ViewBag.Section = "organisations";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Enter your orgainsation's address
        </h1>
        <p class="lede">Use your orgainsation's main address, such as your head office.</p>
        <p class="heading-medium">Is this the correct organisation?</p>
        <form action="@Url.Action("UpdateOrganisationAddress")" method="POST">
            @Html.AntiForgeryToken()
            <label for="addressFirstLine">Address</label>
            <input type="text" id="addressFirstLine" name="addressFirstLine"/>
            <input type="text" id="addressSecondLine" name="addressSecondLine" />
            <label for="townOrCity">Town or city</label>
            <input type="text" id="townOrCity" name="townOrCity" />
            <label for="county">County</label>
            <input type="text" id="county" name="county" />
            <label for="postcode">Postcode</label>
            <input type="text" id="postcode" name="postcode" />
            <input type="hidden" id="organisationName" name="organisationName" value="@Model.Data.Name" />
            <input type="hidden" id="OrgainsationReferenceNumber" name="OrgainsationReferenceNumber" value="@Model.Data.ReferenceNumber" />
            <input type="hidden" id="OrganisationDateOfInception" name="OrganisationDateOfInception" value="@Model.Data.DateOfInception" />
            <input class="button" type="submit" value="Continue" />
        </form> 
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerAgreement")" class="back-link">Back to Your Organisations</a></li>
        </ol>
    </div>
}
