@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.OrganisationDetailsViewModel>

@{ViewBag.PageID = "page-onboard-legal-agreement"; }
@{ViewBag.Title = "Your legal agreement"; }
@{ViewBag.HideNav = "true"; }


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">@ViewBag.Title</h1>
        <p>Before May 2017 you'll be asked to accept an agreement for each of your organisations that will spend levy funds. This agreement will allow the <abbr title="Skills Funding Agency">SFA</abbr> to pay your training providers. </p>
        <p>We'll tell you when the agreement is available to read.</p>
        
        <form action="@Url.Action("Confirm", "Organisation")" method="POST">
            @Html.AntiForgeryToken()
            <input type="hidden" id="legalEntityName" name="name" value="@Model.Data.Name" />
            <input type="hidden" id="legalEntityCode" name="code" value="@Model.Data.ReferenceNumber" />
            <input type="hidden" id="legalEntityAddress" name="address" value="@Model.Data.Address" />
            <input type="hidden" id="legalEntityIncorporationDate" name="incorporated" value="@Model.Data.DateOfInception" />
            <input type="hidden" id="legalEntityStatus" name="legalEntityStatus" value="@Model.Data.Status" />
            <input type="hidden" id="organisationType" name="organisationType" value="@Model.Data.Type" />
            <input type="hidden" id="userAuthorised" name="userIsAuthorisedToSign" value="true" />
            <input type="hidden" id="submit" name="submit" value="Sign" />
            <div class="form-group">
                <button type="submit" class="button" id="continue">Continue</button>
            </div>
        </form>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerAgreement")" class="back-link">Back to organisations</a></li>
        </ol>
    </div>
}