@using SFA.DAS.Common.Domain.Types
@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.Organisation.ReviewOrganisationAddressViewModel>
@{
    ViewBag.Title = "Update an organisation";
    ViewBag.Section = "organisations";
    ViewBag.PageID = "update-organisation-details";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Review your details</h1>
        <p>We've retrieved the most up-to-date details we could find for your organisation.</p>

        <table>
            <tbody>
                <tr>
                    <td>Information from</td>
                    <td>@Model.Data.DataSourceFriendlyName</td>
                </tr>
                <tr>
                    <td>Organisation name</td>
                    <td>@Model.Data.RefreshedName</td>
                </tr>
                <tr>
                    <td>Organisation address</td>
                    <td>@Html.CommaSeperatedAddressToHtml(@Model.Data.RefreshedAddress)</td>
                </tr>
            </tbody>
        </table>

        <div>
            <h3>
                Are these details correct?
            </h3>

            <form method="POST" action="@Url.Action("ProcessReviewSelection")">
                @Html.AntiForgeryToken()

                <input type="hidden" name="organisationName" value="@Model.Data.RefreshedName" />
                <input type="hidden" name="organisationAddress" value="@Model.Data.RefreshedAddress" />
                <input type="hidden" name="accountLegalEntityPublicHashedId" value="@Model.Data.AccountLegalEntityPublicHashedId" />
                <input type="hidden" name="dataSourceFriendlyName" value="@Model.Data.DataSourceFriendlyName" />

                <div class="form-group">
                    <label for="update" class="block-label">
                        <input id="update" type="radio" name="updateChoice" value="update" />
                        Yes, update my details using this information
                    </label>
                    <label for="cancel" class="block-label">
                        <input id="cancel" type="radio" name="updateChoice" value="incorrectDetails" />
                        No, these details are incorrect
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="button" id="accept">Continue</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerAgreement")" class="back-link">Back to your organisations</a></li>
        </ol>
    </div>
}
