@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.EmployerAgreementViewModel>
@{
    ViewBag.PageID = "agreement-about";
    ViewBag.Title = "About your agreement";
    ViewBag.Section = "organisations";
} 
@{
    ViewBag.GaData.Vpv = "/accounts/agreements/about-your-agreement/agreement-about";
}
<div class="grid-row header-index">
    <div class="column-two-thirds">
        
        <h1 class="heading-xlarge">
            <span class="heading-secondary">@Model.Data.EmployerAgreement.LegalEntityName</span>
            About your agreement
        </h1>

        <p>This agreement creates a legal contract between <span class="bold">@Model.Data.EmployerAgreement.LegalEntityName</span> and the <span class="bold">Education and Skills Funding Agency (ESFA)</span>. It allows you to transfer funds to other employers and pay training providers for apprenticeships.</p> 
        <p>You need to ensure you have the authority from your organisation before you sign this agreement.</p> 
              
        <form method="get" action="@Url.Action("SignAgreement","EmployerAgreement")">
            @Html.AntiForgeryToken()
            <input class="button" type="submit" value="Continue to your agreement" />
        </form>
</div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerAgreement")" class="back-link">Back to your organisations</a></li>
        </ol>
    </div>
}
