@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.EmployerAgreementViewModel>
@{
    ViewBag.PageID = "agreement-about";
    ViewBag.Title = "About your SFA agreement";
    ViewBag.Section = "organisations";
} 
<div class="grid-row header-index">
    <div class="column-two-thirds">
        
        <h1 class="heading-xlarge">
            <span class="heading-secondary">@Model.Data.EmployerAgreement.LegalEntityName</span>
            About your SFA agreement
        </h1>

        <p>This agreement creates a legal contract between <b>@Model.Data.EmployerAgreement.LegalEntityName</b> and the <b>Skills Funding Agency (SFA)</b>. It allows SFA to pay your training providers for apprenticeships.</p>
        <p>You need to make sure you have authority from your organisation before you accept this agreement.</p>
        
        <div class="panel panel-border-wide panel-filled-purple">
            <h2 class="heading-small">Only levy payers can use this service</h2>
            <p>By continuing you confirm that your organisation, or its <a href="https://www.gov.uk/government/publications/employment-allowance-more-detailed-guidance" rel="external" target="_blank">connected organisations</a>, submits or will submit apprenticeship levy payments to HMRC.</p>
            <p>Your account could be suspended if you don't pay the apprenticeship levy.</p>
        </div>
        
        <form method="get" action="@Url.Action("SignAgreement","EmployerAgreement")">
            @Html.AntiForgeryToken()
            <input class="button" type="submit" value="Continue to your agreement" />
        </form>
</div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerAgreement")" class="back-link">Back to your organisations</a></li>
        </ol>
    </div>
}
