@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.Models.AddLegalEntityViewModel>
@{ViewBag.PageID = "enter-companies-house-detail"; }
@{
    ViewBag.Title = "Enter your Companies House number";
    ViewBag.Section = "organisations";
 }
@if (TempData["companyNumberError"] != null)
{
   ViewBag.PageID = "error-companies-house-entry";
    <div class="grid-row">
        <div class="column-full error-summary-wrapper">
            <div tabindex="-1" role="group" class="error-summary">
                <h1 id="error-summary" class="heading-medium error-summary-heading">
                    Errors to fix
                </h1>
                <p>Check the following details:</p>
                <ul class="error-summary-list">
                    <li><a href="#error-company-number" data-focuses="error-company-number">Enter a valid Companies House number</a></li>
                </ul>
            </div>
        </div>
    </div>
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Enter your Companies House number</h1>
        <p><a href="https://beta.companieshouse.gov.uk/search/" rel="external" target="_blank">Find my Companies House number</a></p>
        <form action="@Url.Action("FindLegalEntity","EmployerAgreement")" method="POST">
            @Html.AntiForgeryToken()
            <div class="form-group @(TempData["companyNumberError"] != null ? "error" : "")">
                <label for="companyHouseNumber">
                    <span class="form-label-bold">Company House number</span>
                    @if (TempData["companyNumberError"] != null)
                    {
                        <span class="error-message" id="error-company-number">Enter a valid Companies House number</span>
                    }
                </label>
                <input class="form-control" type="text" name="entityReferenceNumber" id="companyHouseNumber" @(TempData?["companyNumberError"] != null ? "aria-describedby=\"error-company-number\"" : string.Empty) />
            </div>
            <input class="button" id="findOrganisation" type="submit" value="Continue"/>
        </form>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
       <a href="@Url.Action("Index", "EmployerAgreement")" class="back-link">Back to organisations</a>
    </div>
}
