@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.Models.FindOrganisationViewModel>
@{ViewBag.PageID = "page-extra-confirm-organisation"; }
@{ViewBag.Title = "Confirm organisation";}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">Confirm organisation</span>
            @Model.Data.CompanyName
        </h1>
        <p class="lede">Companies House number: @Model.Data.CompanyNumber</p>
        <p class="heading-medium">Is this the correct organisation?</p>
        <form action="@Url.Action("CreateLegalEntity")" method="POST">
            @Html.AntiForgeryToken()
            <input type="hidden" id="legalEntityName" name="name" value="@Model.Data.CompanyName" />
            <input type="hidden" id="legalEntityCode" name="code" value="@Model.Data.CompanyNumber" />
            <input type="hidden" id="legalEntityAddress" name="address" value="@Model.Data.RegisteredAddress" />
            <input type="hidden" id="legalEntityIncorporationDate" name="incorporated" value="@Model.Data.DateOfIncorporation" />
            <input type="hidden" id="userAuthorised" name="userIsAuthorisedToSign" value="true" />
            <input type="hidden" id="submit" name="submit" value="Sign" />
            <span>
                <input class="button" type="submit" value="Yes, continue" />
                <a class="button button-link" href="@Url.Action("Add", new {AccountId = @Model.Data.HashedId})">No, search again</a>
            </span>
        </form> 
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerAgreement")" class="back-link">Back to Your Organisations</a></li>
        </ol>
    </div>
}
