@using SFA.DAS.EAS.Domain
@using SFA.DAS.EAS.Domain.Extensions
@using SFA.DAS.EAS.Domain.Models.EmployerAgreement
@using SFA.DAS.EAS.Web;

@model OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.EmployerAgreementListViewModel>
@{
    ViewBag.PageID = "organisations-agreements-home";
    ViewBag.Title = "Organisations";
    ViewBag.Section = "organisations";

    if (TempData.ContainsKey("extraCompanyAdded"))
    {
        ViewBag.PageID = "page-organisations-added";
        TempData.Remove("extraCompanyAdded");
    }
}

<div class="grid-row header-index">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Your organisations and agreements</h1>
    </div>
    <div class="column-one-third">
        <form action="@Url.Action("AddOrganisation", "Organisation")" method="GET">
            <input class="button action-add" id="addNewPaye" type="submit" value="Add new organisation">
        </form>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <p>Add each organisation that will make an agreement with a training provider for apprenticeship training.</p>
        <p>There is no restriction on the number of <a href="https://www.gov.uk/government/publications/employment-allowance-more-detailed-guidance" target="_blank" rel="external">connected organisations</a> you can add.</p>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <table class="organisations">
            <thead>
                <tr>
                    <th scope="col">Organisation</th>
                    <th scope="col">Agreement</th>
                    <th scope="col">Spending status</th>
                    <th scope="col"><span class="vh">Action</span></th>
            </thead>
            <tbody>

                @foreach (var employerAgreement in Model.Data.EmployerAgreements)
                {
                    <tr>
                        <td>@employerAgreement.LegalEntityName</td>
                        <td>
                            @if (employerAgreement.Status == EmployerAgreementStatus.Signed) {
                                @: Signed by @employerAgreement.SignedByName
                                if (employerAgreement.SignedDate.HasValue)
                                {
                                    <span class="secondary-text">Signed on: @employerAgreement.SignedDate.Value.ToString("dd/MM/yyyy")</span>
                                }
                            }
                            else
                            {
                                @: Agreement not signed
                                <span class="secondary-text">SFA agreement needs to be signed</span>
                            }
                        </td>
                        <td>
                            @(employerAgreement.Status == EmployerAgreementStatus.Signed ? "Spending enabled" : "Spending disabled")
                        </td>
                        <td class="link-right">
                            @if (employerAgreement.Status == EmployerAgreementStatus.Signed)
                            {
                                <a href="#" title="View agreement for @employerAgreement.LegalEntityName">View <span class="vh">agreement for @employerAgreement.LegalEntityName</span></a>
                            }
                            else
                            {
                                <a href="@Url.Action("AboutYourAgreement", "EmployerAgreement", new { agreementid = employerAgreement.HashedAgreementId })" title="Sign agreement for @employerAgreement.LegalEntityName">Sign agreement <span class="vh">for @employerAgreement.LegalEntityName</span></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>



    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerTeam", new {HashedAccountId = @Model.Data.HashedAccountId})">Home</a></li>
            <li>Your organisations and agreements</li>
        </ol>
    </div>
}
