@using SFA.DAS.EAS.Domain
@using SFA.DAS.EAS.Domain.Models.EmployerAgreement
@using SFA.DAS.EAS.Web;
@using SFA.DAS.EAS.Web.Extensions

@model OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.EmployerAgreementViewModel>
@{ViewBag.Title = "Employer agreement";}


<div class="grid-row">
                <div class="column-two-thirds">

                    <h1 class="heading-xlarge">Employer agreement</h1>
                    <h2 class="heading-large">@Model.Data.EmployerAgreement.LegalEntityName</h2>
                    <h3>@Model.Data.EmployerAgreement.LegalEntityAddress</h3>
                    <p>@Html.Raw(Model.Data.EmployerAgreement.TemplatePartialViewName)</p>

                </div>
            </div>
            @section breadcrumb {
                <div class="breadcrumbs">
                    <ol role="navigation">
                        <li><a href="@Url.Action("Index", "EmployerTeam")">Home</a></li>
                        <li><a href="@Url.Action("Index", "EmployerAgreement")">Your organisations and agreements</a></li>
                        <li>Employer agreement</li>
                    </ol>
                </div>
            }
