@using SFA.DAS.EAS.Domain
@using SFA.DAS.EAS.Domain.Models.EmployerAgreement
@using SFA.DAS.EAS.Web;
@using SFA.DAS.EAS.Web.Extensions

@model OrchestratorResponse<SFA.DAS.EAS.Web.ViewModels.EmployerAgreementViewModel>
@{ViewBag.Title = "Employer agreement";}

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-large">@Model.Data.EmployerAgreement.LegalEntityName</h2>
        <h1 class="heading-xlarge">Your SFA agreement</h1>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <table>
            <tr>
                <th>Accepted by:</th>
                <td>@Model.Data.EmployerAgreement.SignedByName</td>
            </tr>
            <tr>
                <th>On behalf of:</th>
                <td>@Model.Data.EmployerAgreement.LegalEntityName</td>
            </tr>
            <tr>
                <th>Address:</th>
                <td>@Model.Data.EmployerAgreement.LegalEntityAddress</td>
            </tr>
            <tr>
                <th>Accepted on:</th>
                <td>@Model.Data.EmployerAgreement.SignedDate.Value.ToLongDateString()</td>
            </tr>
        </table>
    </div>
</div>
<div class="grid-row">
    <div>
        @Html.Partial(Model.Data.EmployerAgreement.TemplatePartialViewName)
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("Index", "EmployerTeam")">Home</a></li>
            <li><a href="@Url.Action("Index", "EmployerAgreement")">Your organisations and agreements</a></li>
            <li>Employer agreement</li>
        </ol>
    </div>
}
