@using SFA.DAS.EAS.Web.Extensions
@using SFA.DAS.EAS.Web.ViewModels
@model SFA.DAS.Activities.Client.ActivitiesResult

@if (Model.Activities.Any())
{
    var now = DateTime.UtcNow.ToGMTStandardTime();
    var date = (DateTime?)null;

    <ol class="timeline timeline--complete">
        @foreach (var activity in Model.Activities)
        {
            if (Html.ActivityViewExists(activity.Type))
            {
                var at = activity.At.ToGMTStandardTime();

                <li class="@(at.Date != date ? "first" : "")">
                    <h4 title="@at.ToString("U")">@at.ToRelativeFormat(now)</h4>
                    @Html.Activity(activity.Type, new ActivityViewModel { Activity = activity, MetaIsVisible = true })
                </li>

                date = at.Date;
            }
        }
                
        @if (Model.Activities.Count() != Model.Total)
        { 
            <li class="item all-activity">
                <div class="item-label">
                    <a href="@Url.Action("Activity", "EmployerTeam", new { take = Model.Total })">See all activity</a>
                </div>
            </li>
        }
    </ol>
}
else
{
    <p>You have no recent activity</p>
}