@using SFA.DAS.EAS.Domain
@using SFA.DAS.EAS.Web

@model OrchestratorResponse<InvitationView>

@{
    ViewBag.PageID = "page-team-member-cancel-invite";
    ViewBag.Title = "Cancel invitation";
    ViewBag.Section = "team";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Cancel invitation</h1>
        <p class="lede">Are you sure you want to cancel @Model.Data.Name's invitation?</p>
        <div class="form-group">
            <form action="@Url.Action("Cancel")" method="POST">
                @Html.AntiForgeryToken()
                <input type="hidden" id="cancel" name="cancel" value="1" />
                <input type="hidden" id="Email" name="Email" value="@Model.Data.Email" />
                <button type="submit" class="button" id="cancel_invitation">Yes, cancel invitation</button>
            </form>
            <a href="@Url.Action("Viewteam", "EmployerTeam")" class="button button-link">No, don't cancel invitation</a>
        </div>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("ViewTeam", "EmployerTeam")", class="back-link">Back to your team</a>
    </div>
}
