@using SFA.DAS.EAS.Domain
@using SFA.DAS.EAS.Web

@model OrchestratorResponse<TeamMember>

@{
    ViewBag.PageID = "page-team-member-change-role";
    var name = Model.Data.Name ?? Model.Data.Email;
    ViewBag.Title = name;
    var errorMessage = string.Empty;

}

@if (!ViewContext.ViewData.ModelState.IsValid)
{
    foreach (var state in ViewContext.ViewData.ModelState.Values)
    {
        foreach (var error in state.Errors)
        {
            errorMessage = error.ErrorMessage;
        }
    }

    <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
        <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            Errors to fix
        </h1>
        <ul class="error-summary-list">
            <li><a href="#change-role-selection">@errorMessage</a></li>
        </ul>
    </div>

}


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">@name</h1>
        <p class="lede">Choose what you allow this team member to do.</p>
       
        <form method="POST" action="@Url.Action("ChangeRole")">
            @Html.AntiForgeryToken()
            <div class="form-group @(!ViewContext.ViewData.ModelState.IsValid ? "error" : "")">
                <fieldset>
                    <legend id="change-role-selection">
                        <span class="vh">Select a role for @name</span>
                        @if (!string.IsNullOrWhiteSpace(errorMessage))
                        {
                            <span class="error-message">@errorMessage</span>
                        }
                    </legend>
                    <label class="block-label" for="radio1">
                        <input id="radio1" type="radio" name="Role" value="3" @(Model.Data.Role == Role.Viewer ? "checked" : "") />
                        @(RoleStrings.GetRoleDescription(Role.Viewer))
                    </label>
                    <label class="block-label" for="radio2">
                        <input id="radio2" type="radio" name="Role" value="2" @(Model.Data.Role == Role.Transactor ? "checked" : "") />
                        @(RoleStrings.GetRoleDescription(Role.Transactor))
                    </label>
                    <label class="block-label" for="radio3">
                        <input id="radio3" type="radio" name="Role" value="1" @(Model.Data.Role == Role.Owner ? "checked" : "") />
                        @(RoleStrings.GetRoleDescription(Role.Owner))
                    </label>
                    <input type="hidden" id="Email" name="Email" value="@Model.Data.Email" />
                </fieldset>
            </div>
            <button type="submit" class="button" id="update">Update</button>
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("ViewTeam", "EmployerTeam")", class="back-link">Back to Manage Team Members</a></li>
        </ol>
    </div>
}
