@using SFA.DAS.EAS.Web
@using SFA.DAS.EAS.Domain.Entities.Account

@model OrchestratorResponse<Account>

@{
    ViewBag.Title = Model.Data.Name;
    ViewBag.PageID = "page-company-homepage";

    if (TempData.ContainsKey("employerAccountCreated"))
    {
        ViewBag.PageID = "page-employer-account-created";
        TempData.Remove("employerAccountCreated");
    }
}



<h1 class="heading-xlarge" id="company-Name">@Model.Data.Name</h1>

<div class="grid-row page-dashboard">
    <div class="column-two-thirds">
     
            <div class="grid-row">
                <div class="column-half">
                    <h2 class="heading-medium">
                        <a href="@Url.Action("ViewTeam")">Your team</a>
                    </h2>
                    <p>Control what your team can do and invite new team members.</p>
                </div>
                <div class="column-half ">
                    <h2 class="heading-medium">
                        <a href="@Url.Action("Index", "EmployerAccountTransactions")">Finance</a>
                    </h2>
                    <p>View transactions and forecast your funds.</p>
                </div>

            </div>
            <div class="grid-row">
                <div class="column-half ">
                    <h2 class="heading-medium">
                        <a href="@Url.Action("Index", "EmployerAgreement")">Organisations and agreements</a>
                    </h2>
                    <p>Add and manage organisations that'll hire apprentices.</p>
                </div>
                <div class="column-half">
                    <h2 class="heading-medium">
                        <a href="@Url.Action("Index", "EmployerAccountPaye")">PAYE schemes</a>
                    </h2>
                    <p>Add or remove <abbr title="Pay as your earn">PAYE</abbr> schemes.</p>
                </div>
            </div>
            <div class="grid-row">
                <div class="column-half ">
                    <h2 class="heading-medium">
                        <a href="@Url.Action("Index", "EmployerCommitments")">Apprentices</a>
                    </h2>
                    <p>Update the status of your apprentices, or recruit new ones.</p>
                </div>
            </div>
        </div>
    <div class="column-one-third">

        <section>
            <div class="panel panel-filled">
                <h3 class="heading-medium">Help us improve this section</h3>
                <p>Take a 3 minute survey about managing your account or invitations so that we can improve the service.</p>
                <p><a href="https://www.surveymonkey.co.uk/r/viewlevy" target="_blank" class="button">Take the survey <span class="vh">about your experience of managing your own account or being invited to a team</span></a></p>
            </div>
        </section>
    </div>
</div>

@section breadcrumb {
<div class="breadcrumbs">
    <ol role="navigation">
        <li><a href="/">Your User Profile</a></li>
        <li>Employer Account Homepage</li>
    </ol>
</div>
}
