@model SFA.DAS.EAS.Web.OrchestratorResponse<SFA.DAS.EAS.Web.Models.InvitationViewModel>

@{
    var name = Model.Data.Name ?? Model.Data.Email;
    ViewBag.Title = "Remove team member";
}
   
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Remove team member</h1>
        @if (!ViewContext.ViewData.ModelState.IsValid)
        {
            foreach (var state in ViewContext.ViewData.ModelState.Values)
            {
                foreach (var error in state.Errors)
                {
                    <div class="error" id="invalidMessage">
                        <p class="error-message">@error.ErrorMessage</p>
                    </div>
                }
            }
        }
        <p class="lede">Are you sure you want to remove @name?</p>
        <div class="form-group">
            <form action="@Url.Action("Remove")" method="POST">
                @Html.AntiForgeryToken()
                <input type="hidden" id="remove" name="remove" value="1" />
                <input type="hidden" id="UserId" name="UserId" value="@Model.Data.Id" />
                <input type="hidden" id="Email" name="Email" value="@Model.Data.Email" />
                <button type="submit" class="button" id="remove_team_member">Yes, remove now</button>
            </form>
            <a href="@Url.Action("Viewteam", "EmployerTeam")" class="button button-link">No, cancel</a>
        </div>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam", new {accountId = @Model.Data.AccountId})">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("Viewteam", "EmployerTeam")">Manage Team Members</a></li>
            <li>Remove team member</li>
        </ol>
    </div>
}
