@using SFA.DAS.EAS.Domain
@using SFA.DAS.EAS.Web

@model OrchestratorResponse<TeamMember>

@{
    ViewBag.PageID = "page-review-team-member";
    ViewBag.Title = Model.Data.Name;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">@Model.Data.Name</h1>
        <table>     
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">What they can do</th>
                    <th></th>
                </tr>
            </thead> 
            <tbody>
                <tr>
                    <td>@Model.Data.Email</td>
                    <td>@RoleStrings.GetRoleDescription(@Model.Data.Role)</td>
                    @if (Model.Data.IsUser)
                    {
                        <td class="link-right">
                            <a href="@Url.Action("ChangeRole", new {Model.Data.HashedAccountId, Model.Data.Email })">Change <span class="vh">role for @Model.Data.Name</span></a>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>              
            </tbody>
        </table>
      
        @if (@Model.Data.Status == InvitationStatus.Pending || @Model.Data.Status == InvitationStatus.Expired)
        {
            <div class="form-group">
                <form action="@Url.Action("Resend")" method="POST">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="Email" name="Email" value="@Model.Data.Email" />
                    <button type="submit" class="button" id="resend_invitation">Resend Invitation</button>
                </form>
                <a href="@Url.Action("Cancel", "EmployerTeam",new {Model.Data.HashedAccountId,email = Model.Data.Email, invitationId = Model.Data.HashedInvitationId })" class="button button-link">Cancel Invitation</a> 
                
            </div>
        }
        @if (@Model.Data.IsUser)
        {
            <form action="@Url.Action("Remove")" method="GET">
                <input type="hidden" id="Email" name="Email" value="@Model.Data.Email" />
                <button type="submit" class="button" id="delete_user">Remove team member</button>
            </form>
         
        }
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.Action("ViewTeam", "EmployerTeam", new {@Model.Data.HashedAccountId})" class="back-link">Back to Manage Team Members</a></li>
        </ol>
    </div>
}
