@using SFA.DAS.EAS.Domain
@using SFA.DAS.EAS.Web
@using SFA.DAS.EAS.Web.Models

@model OrchestratorResponse<EmployerTeamMembersViewModel>

@{
    ViewBag.PageID = "page-manage-team";
    ViewBag.Title = "Manage team members";
    ViewBag.Section = "team";

    if (TempData.ContainsKey("userAdded"))
    {
        ViewBag.PageID = "page-invite-team-member-sent";
        TempData.Remove("userAdded");
    }

    if (TempData.ContainsKey("userDeleted"))
    {
        ViewBag.PageID = "page-team-member-deleted";
        TempData.Remove("userDeleted");
    }

    if (TempData.ContainsKey("userRoleChange"))
    {
        ViewBag.PageID = "page-team-member-role-changed";
        TempData.Remove("userRoleChange");
    }
}



@if (!string.IsNullOrWhiteSpace(Model.Data.SuccessMessage))
{
    <div class="grid-row">
        <div class="column-full">
            <div class="panel panel-info">
                @Model.Data.SuccessMessage
            </div>
        </div>
    </div>
}
<div class="grid-row header-index">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Manage team members</h1>
        @if (Model.Data.TeamMembers.Count == 0)
        {
            <p>TODO : EMPTY STATE</p>
        }
        else
        {
            <p class="lede">
                Invite members, control what they can do, remove members and cancel or resend invitations.
            </p>
        }
    </div>
    <div class="column-one-third">
        <form action="@Url.Action("Invite")" method="get">
            <input class="button action-add" id="addNewUser" type="submit" value="Invite a new member">
        </form>
    </div>
</div>

@if (Model.Data.TeamMembers.Count > 0)
{
    <div class="grid-row">
        <div class="column-full">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">What they can do</th>
                        <th scope="col">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teamMember in Model.Data.TeamMembers)
                {
                        <tr>
                            <td>
                                <span>@teamMember.Name</span>
                                <span class="responsive-detail mobile-hide">@teamMember.Email</span>
                            </td>
                            <td>@RoleStrings.GetRoleDescription(teamMember.Role)</td>
                            <td>@InvitationStatusStrings.ToString(teamMember.Status)</td>
                            <td class="link-right">
                                <a aria-label="View details for @teamMember.Name"
                                   title="View details for @teamMember.Name"
                                   href="@Url.Action("Review", new { email = teamMember.Email })">View<span class="vh"> details for @teamMember.Name</span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
           
        </div>
    </div>
}

<div class="grid-row">
    <div class="column-two-thirds">
        <section>
            <div class="panel panel-filled">
                <h2 class="heading-medium">Help us improve this section</h2>
                <p>Take a 3 minute survey about managing team members so that we can improve the service.</p>
                <p><a href="https://www.surveymonkey.co.uk/r/viewlevy" target="_blank" class="button">Take the survey <span class="vh">about your experience of managing team members</span></a></p>
            </div>
        </section>
    </div>
</div>

        @section breadcrumb {
            <div class="breadcrumbs">
                <ol role="navigation">
                    <li><a href="/">Your User Profile</a></li>
                    <li><a href="@Url.Action("Index", "EmployerTeam")">Employer Account Homepage</a></li>
                    <li>Manage Team Members</li>
                </ol>
            </div>
        }
