@using SFA.DAS.EAS.Web.Extensions
@model SFA.DAS.EAS.Web.ViewModels.ActivityViewModel

@if (Model.Count > 1)
{
    <p class="activity">@Model.Count PAYE schemes added</p>
}
else
{
    <p class="activity">PAYE scheme @Model.Activity.Data["PayeScheme"] added by @Model.Activity.Data["CreatorName"]</p>
    
    if (Model.MetaIsVisible)
    {
        <p class="meta">
            At <time>@Model.Activity.At.ToGMTStandardTime().ToString("h:mm tt")</time>
            <a href="@Url.Action("Index", "EmployerAccountPaye")">See details</a>
        </p>
    }
}