@using SFA.DAS.EmployerApprenticeshipsService.Domain
@model SFA.DAS.EmployerApprenticeshipsService.Web.OrchestratorResponse<SFA.DAS.EmployerApprenticeshipsService.Web.Models.UserAccountsViewModel>

@{ViewBag.Title = "Levy accounts"; }

@if (!string.IsNullOrWhiteSpace(Model.Data.ErrorMessage))
{
    <div class="grid-row">
        <div class="column-full">
            <div class="panel panel-error  ">
                @Model.Data.ErrorMessage
            </div>
        </div>
    </div>
}
<div class="grid-row">
    <div class="column-one-third pull-right">
        
        <aside class="sidebar">
            <h3 class="heading-small">Manage your account</h3>
            <ul role="navigation">
                <li><a href="@ViewBag.ChangeEmailLink">Change your email address</a></li>
                <li><a href="@ViewBag.ChangePasswordLink">Change your password</a></li>
            </ul>
        </aside>
    </div>
    <div class="column-two-thirds">
       
        <section>
            <h1 class="heading-xlarge">Levy accounts</h1>
            @if (Model.Data.Accounts.AccountList.Count == 0)
            {

                <p>With levy accounts you can:</p>
                <ul class="list list-bullet">
                    <li>view financial information</li>
                    <li>create or amend apprenticeships</li>
                    <li>spend money</li>
                </ul>
                <p>At the moment, you don't have access to any levy accounts. You need to be invited to an account or add a new one.</p>

            }
            else
            {
                <p>Select an account or add a new one.</p>
                <div class="responsive-table">
                    <div class="responsive-thead">
                        <div class="responsive-tr">
                            <div class="responsive-th">Account name</div>
                            <div class="responsive-th">What you can do</div>
                            <div class="responsive-th"> </div>
                        </div>
                    </div>
                    <div class="responsive-tbody">

                        @foreach (var account in Model.Data.Accounts.AccountList)
                        {
                            <div class="responsive-tr" id="list_of_accounts">
                                <div class="responsive-td">
                                    <div class="full-width">@account.Name</div>
                                </div>
                                <div class="responsive-td">
                                    <div class="responsive-inner-caption">What you can do</div>
                                    <div>
                                        @RoleStrings.ToWhatYouCanDo(account.RoleName)
                                    </div>
                                </div>
                                <div class="responsive-td">
                                    <div>
                                        <a aria-label="View transactions for @account.Name"
                                           title="View transactions for @account.Name"
                                           href="@Url.Action("Index", "EmployerTeam", new {accountId = account.HashedId})">Open</a>
                                    </div>
                                    <div class="responsive-inner-caption"></div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            }
            <p>
                <a href="@Url.Action("SelectEmployer", "EmployerAccount")" class="button action-add" id="add_new_account">Add new account</a>
            </p>
        </section>
        
            @if (Model.Data.Invitations > 0)
            {
                <section>
                    <h2 class="heading-medium">Invitiations</h2>
                    <p>
                        You have <strong class="bold-small">@Model.Data.Invitations</strong> pending invitation@(Model.Data.Invitations == 1 ? "" : "s") to employer accounts.
                    </p>
                    <p>
                        <a href="@Url.Action("All", "Invitation")" class="link">View Invitations</a>
                    </p>
                </section>
            }

      
    </div>  
</div>

@if (TempData.ContainsKey("virtualPageUrl") && TempData.ContainsKey("virtualPageTitle"))
{
    <script type="text/javascript">

        dataLayer.push({
            'event': 'VirtualPageview',
            'virtualPageURL': '@TempData["virtualPageUrl"]',
            'virtualPageTitle': '@TempData["virtualPageTitle"]'
        });

    </script>
}
