@{ViewBag.PageID = "page-used-service-before"; }
@{ViewBag.Title = "Have you used this service before?"; }
@{ViewBag.HideNav = "true"; }
@{
    ViewBag.GaData.Vpv = "/service/usedServiceBefore/page-used-service-before";
}
@{
    var errorMessage = Model?.GetType().GetProperty("ErrorMessage") != null ? Model.GetType().GetProperty("ErrorMessage").GetValue(Model,null) as string : "";
}

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="grid-row">
        <div class="column-full error-summary-standalone">
            <div class="validation-summary-errors error-summary" role="group">
                <h1 id="error-summary" class="heading-medium error-summary-heading">
                    Errors to fix
                </h1>
                <p>Check the following details:</p>
                <ul class="error-summary-list">
                    <li>
                        <a href="#select-option">@errorMessage</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Have you used this service before?
        </h1>
        <form method="POST" action="@Url.Action("UsedServiceBefore", "Home")">
            @Html.AntiForgeryToken()
            <div class="form-group  @(!string.IsNullOrEmpty(errorMessage) ? "error" : "")">
                <fieldset>
                    <legend>
                        <span class="visuallyhidden">Have you used this service before?</span>
                        @if (!string.IsNullOrWhiteSpace(errorMessage))
                        {
                            <span class="error-message" id="select-option">@errorMessage</span>
                        }
                    </legend>
                    <label for="used-service-before" class="block-label">
                        <input type="radio" name="choice" id="used-service-before" value="2" />
                        Yes, I've used this service before
                    </label>
                    <label for="not-used-service-before" class="block-label">
                        <input type="radio" name="choice" id="not-used-service-before" value="1" />
                        No, this is my first time
                    </label>
                </fieldset>
            </div>
            <div class="form-group">
                <button class="button" type="submit" id="submit-button">Continue</button>
            </div>
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <a href="/" class="link-back">Back</a>
    </div>
}