
@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.ConfirmNewPayeScheme

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-medium">Search for your company</h1>
        <p>
            We need to add a company name to the contract between you and the Skills Funding Agency.
            To find your company enter the company number of your organisation that is registered with Companies House.
        </p>
        <form method="POST" action="@Url.Action("SelectCompany")">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="form-label" for="EmployerRef">Companies House number</label>
                <input class="form-control form-control-3-4" id="EmployerRef" name="LegalEntityCode" type="text"
                       aria-required="true"/>
            </div>
            <input type="hidden" value="@Model.PayeScheme" name="PayeScheme"/>
            <input type="hidden" value="@Model.AccountId" name="AccountId"/>
            <input type="hidden" value="@Model.RefreshToken" name="RefreshToken"/>
            <input type="hidden" value="@Model.AccessToken" name="AccessToken"/>
            <button type="submit" class="button">Continue</button>
        </form>
    </div>
</div>