@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.AddNewPayeScheme

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Choose Company</h1>
        <p>You can choose your existing company to be used for the legal agreement or search for a new one.</p>


        <form>
            @Html.AntiForgeryToken()

            <input type="hidden" value="@Model.PayeScheme" name="PayeScheme"/>
            <input type="hidden" value="@Model.AccountId" name="AccountId"/>


            @foreach (var entity in Model.LegalEntities.LegalEntityList)
            {
                <div class="form-group">
                    <label class="block-label" >
                        <input type="radio" name="entity" value="@entity.Id" />
                        <span class="heading-small">@entity.Name</span>
                    </label>
                </div>
            }
            <div class="form-group">
                <label class="block-label">
                    <input type="radio" name="entity" value="-1"/>
                    <span class="heading-small">Add new legal entity</span>
                </label>
            </div>

            <button type="submit" class="button">Continue</button>
        </form>
        

    </div>
</div>
