@model SFA.DAS.EmployerApprenticeshipsService.Web.OrchestratorResponse<SFA.DAS.EmployerApprenticeshipsService.Web.Models.AddNewPayeScheme>
    
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Confirm PAYE Scheme</h1>

        @if (!string.IsNullOrEmpty(Model.Data.PayeScheme))
        {
            <form method="post">
                @Html.AntiForgeryToken()

                <p>Do you want to associate @Model.Data.PayeScheme with your account?</p>

                <input type="hidden" value="@Model.Data.HashedId" name="HashedId"/>
                <input type="hidden" value="@Model.Data.PayeScheme" name="PayeScheme"/>
                <input type="hidden" value="@Model.Data.RefreshToken" name="RefreshToken"/>
                <input type="hidden" value="@Model.Data.AccessToken" name="AccessToken"/>

                <button type="submit" class="button"id="accept">Accept</button>
            </form>
        }
        else
        {
            <p>The scheme is already in use, please use a new Gateway login</p>
        }



        <a class="" href="@Url.Action("Getgateway", "EmployerAccountPaye", new {confirmPayeVisibility = true})">Search Again</a>
    </div>
</div>