
@model SFA.DAS.EmployerApprenticeshipsService.Web.OrchestratorResponse<SFA.DAS.EmployerApprenticeshipsService.Web.Models.EmployerAccountPayeListViewModel>

<div class="grid-row">
    <div class="column-one-third pull-right">
        <form action="@Url.Action("Add")" method="GET">
            <input class="button button-add" id="addNewPaye" type="submit" value="Add new scheme">
        </form>
    </div>
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">PAYE Schemes</h1>
            <p>Add PAYE schemes to allow levy funds to be added to your account.</p>    
        </div>
        

        @if (Model.Data.PayeSchemes.Any())
        {
            <div class="responsive-table">
                <div class="responsive-thead">
                    <div class="responsive-tr">
                        <div class="responsive-th">Scheme ID</div>
                        <div class="responsive-th">Legal Entity</div>
                        <div class="responsive-th"> </div>
                        <div class="responsive-th"> </div>
                    </div>
                </div>
                <div class="responsive-tbody">
                    @foreach (var scheme in Model.Data.PayeSchemes)
                    {
                        <div class="responsive-tr">
                            <div class="responsive-td">
                                <div>@scheme.EmpRef</div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                            <div class="responsive-td">
                                <div class="responsive-inner-caption">Legal Entity</div>
                                <div>
                                    @scheme.LegalEntityName
                                </div>
                            </div>
                            <div class="responsive-td">
                                <div>
                                    <a aria-label="Remove PAYE scheme @scheme.EmpRef"
                                       title="Remove PAYE scheme @scheme.EmpRef"
                                       href="@Url.Action("Remove", new {empRef = scheme.EmpRef.FormatPayeForUrl()})">Remove</a>
                                </div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                            <div class="responsive-td">
                                <div>
                                    <a aria-label="View PAYE scheme @scheme.EmpRef"
                                       title="View PAYE scheme @scheme.EmpRef"
                                       href="@Url.Action("Details", new {empRef = scheme.EmpRef.FormatPayeForUrl()})">View</a>
                                </div>
                                <div class="responsive-inner-caption"></div>
                            </div>
                        </div>

                    }


                </div>
            </div>

        }
        else
        {
            <div class="notice">
                <p class="">There are no PAYE schemes added.</p>
            </div>
        }


    </div>
  
    </div>


@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam")">Employer Account Homepage</a></li>
            <li>PAYE Schemes</li>
        </ol>
    </div>
}