@model SFA.DAS.EmployerApprenticeshipsService.Web.OrchestratorResponse<SFA.DAS.EmployerApprenticeshipsService.Web.Models.RemovePayeScheme>


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Remove this scheme?</h1>
        <h2 class="heading-medium">@Model.Data.PayeRef</h2>
        <p>The @Model.Data.AccountName levy account will stop receiving funds through this PAYE scheme.</p>
        <form method="post" action="@Url.Action("RemovePaye")">
            @Html.AntiForgeryToken()    
            <input type="hidden" value="@Model.Data.PayeRef" name="PayeRef"/>

            <div class="form-group @(Model.Data.Valid ? "" : "error")">
                @if (!Model.Data.Valid)
                {
                    <span class="error-message">@Model.Data.RemoveSchemeErrorMessage</span>   
                }
                <label class="block-label">
                    <input type="radio" name="RemoveScheme" value="true"/>
                    <span class="heading-small">Yes, remove scheme</span>
                </label>
                <label class="block-label">
                    <input type="radio" name="RemoveScheme" value="false" checked="checked"/>
                    <span class="heading-small">No, don't remove</span>
                </label>
            </div>
           
            <button type="submit" class="button">Continue</button>
            <a href="@Url.Action("Index","EmployerAccountPaye")" class="link">Cancel</a>
        </form>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam")">Employer Account Homepage</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountPaye")">PAYE Schemes</a></li>
            <li>Remove PAYE Scheme</li>
        </ol>
    </div>
}