@{ViewBag.Title = "Add a new account - What you need"; }

@if (TempData.Keys.Contains("ErrorMessage"))
{
    <div class="grid-row">
        <div class="column-full">
            <div class="panel panel-danger  ">
                @TempData["ErrorMessage"]
                or you can go back to the <a href="/">Service Home</a> page.
            </div>
        </div>
    </div>
}

<div class="grid-row">
    <div class="column-two-thirds">
        @if (TempData["notunderstood"] != null)
        {
            <div tabindex="-1" role="group" class="error-summary">
                <h1 id="error-summary" class="heading-medium error-summary-heading">
                    Errors to fix
                </h1>
                <p>Check the following details:</p>
                <ul class="error-summary-list">
                    <li><a href="#error-message-understand" data-focuses="error-message-understand">Check statement to continue</a></li>
                </ul>
            </div>
        }
        <h1 class="heading-xlarge">What you need</h1>
        <p>To add a levy account you need:</p>
        <ul class="list-bullet">
            <li>the Companies House number for your organisation</li>
            <li>the Government Gateway login details for the PAYE scheme you want to use to claim levy funds</li>
        </ul>
        <p><a href="http://www.gateway.gov.uk/Help/Help.aspx?content=help_more_info_gateway.htm&languageid=0" target="_blank" rel="external">What's Government Gateway?</a></p>
        <form method="POST" action="@Url.Action("Index")">
            @Html.AntiForgeryToken()
           
                <div class="form-group  @(TempData?["notunderstood"] != null ? "error" : string.Empty)">
                    @if (TempData["notunderstood"] != null)
                    {
                        <span class="error-message" id="error-message-understand">Check this statement to continue</span>
                    }
                    <label class="block-label" for="understood">
                        <input type="checkbox" id="understood" name="understood" value="understood" @(TempData?["notunderstood"] != null ? "aria-describedby=\"error-message-understand\"" : string.Empty)>
                        
                        I have authority to add PAYE schemes to this account.
                        <br /><br />
                        I understand that all account users will be able to see financial information from any PAYE schemes I add.
                        <br /><br />
                        All PAYE schemes I add are owned and operated by an organisation that’ll use this account, or owned and operated by a <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/308734/connected-companies.pdf" target="_blank" title="Connected companies and Employment Allowance: detailed technical guidance for employers and their agents">connected organisation</a>. 
                    </label>
                </div>
            <button type="submit" class="button button-start" id="start">Start</button>
        </form>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol>
            <li><a href="/" class="back-link">Back to Your User Profile</a></li>
        </ol>
    </div>
}
