@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.SummaryViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Check details</h1>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        @if (string.IsNullOrEmpty(Model.EmployerRef))
        {
            <p class="lede">The PAYE scheme is already associated with an account. Please use a different gateway login</p>
            <p><a class="button" id="search_again" href="@Url.Action("Gateway","EmployerAccount")">Search Again</a></p>
        }
        else
        {

            <table class="top-border">
                <tr>
                    <th scope="row">
                        Organisation
                    </th>
                    <td>
                        <dl class="inline">
                            <dt>Name:</dt>
                            <dd>@Model.CompanyName</dd>
                            <dt>Companies House number:</dt>
                            <dd>@Model.CompanyNumber</dd>
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        PAYE scheme
                    </th>
                    <td>
                        @Model.EmployerRef
                    </td>
                </tr>
            </table>
            <form method="GET" action="@Url.Action("ViewAccountAgreement")">
                <input id="radio1" type="hidden" name="confirm_create" checked="checked" value="1">
                <div class="form-group">
                    <button type="submit" class="button" id="continue">These details are correct</button>
                    <a class="button button-link" href="@Url.Action("Index", "Home")">Change details</a>
                </div>
            </form>
        }

        
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol>
            <li><a href="/" class="back-link">Back to Your User Profile</a></li>
        </ol>
    </div>
}