@model SFA.DAS.EAS.Application.Queries.GetSentTransferConnectionQuery.SentTransferConnectionViewModel

@{
    ViewBag.Title = "Transfer connection sent";
    ViewBag.Section = "finance";
    ViewBag.PageID = "page-transfer-connections-sent";
    ViewBag.GaData.Vpv = "/accounts/transfers/connections/sent";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="success-summary">
            <h1 class="bold-large">Request sent</h1>
            <p><i class="icon-green-tick"></i> A request to connect has been sent to @Model.ReceiverAccount.Name with account ID @Model.ReceiverAccount.HashedId</p>
        </div>
        <h1 class="heading-xlarge">What next?</h1>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <fieldset>
                    <legend>
                        <span class="visuallyhidden">What next?</span>
                    </legend>
                    <label class="block-label selection-button-radio">
                        @Html.RadioButtonFor(m => m.Choice, 1)
                        Go to the transfers dashboard
                    </label>
                    <label class="block-label selection-button-radio">
                        @Html.RadioButtonFor(m => m.Choice, 2)
                        Go to the homepage
                    </label>
                </fieldset>
            </div>
            <button class="button" type="submit">Continue</button>
        }
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a class="link-back" href="@Url.Action("Index", "TransferConnection")">Back</a></li>
        </ol>
    </div>
}