@using System.Globalization
@using SFA.DAS.Authorization
@using SFA.DAS.Authorization.Mvc
@using SFA.DAS.EmployerFinance.Web.Helpers

@model OrchestratorResponse<FinanceDashboardViewModel>

@{
    ViewBag.PageID = "finance";
    ViewBag.Section = "finance";
    ViewBag.Title = "Finance";
    ViewBag.AnalyticsData.Vpv = $"/finance/home";
    ViewBag.ZenDeskLabel = "eas-finance";

    var culture = new CultureInfo("en-GB");
    var now = DateTime.UtcNow.ToGmtStandardTime();
}



<h1 class="heading-xlarge">Finance</h1>

@if (Model.Data.IsLevyEmployer)
{
    <div class="grid-row finance_funds current-funds">
        <div class="column-one-third">
            @{
                var balance = Model.Data.CurrentLevyFunds.ToString("C0", culture);
                var balanceClass = string.Empty;

                if (balance.Length > 8)
                {
                    balanceClass = "long";
                }
                if (balance.Length > 10)
                {
                    balanceClass = "longer";
                }
            }
            <p class="finance-figure__title" id="lbl-current-funds">Current funds</p>
            <div class="finance-figure @balanceClass" aria-labelledby="lbl-current-funds">@balance</div>
        </div>
        <div class="column-one-third">
            @{
                var currentSpend = Model.Data.TotalSpendForLastYear.ToString("C0", culture);
                var currentSpendClass = string.Empty;

                if (currentSpend.Length > 8)
                {
                    currentSpendClass = "long";
                }
                if (currentSpend.Length > 10)
                {
                    currentSpendClass = "longer";
                }
            }
            <p class="finance-figure__title" id="lbl-current-spent-funds">Funds spent since @DateTime.Now.AddMonths(-12).ToString("MMM yyyy")</p>
            <div class="finance-figure @currentSpendClass" aria-labelledby="lbl-current-spent-funds">@currentSpend</div>
        </div>
    </div>

    <div class="finance_funds">
        <div class="grid-row ">
            <div class="column-one-third">
                <p class="finance-figure__title" id="lbl-estimates-all-funds">Estimates</p>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-one-third">
                @{
                    var expected = Model.Data.FundingExpected.ToString("C0", culture);
                    var expectedClass = string.Empty;

                    if (expected.Length > 8)
                    {
                        expectedClass = "long";
                    }
                    if (expected.Length > 10)
                    {
                        expectedClass = "longer";
                    }
                }
                <div class="finance-figure @expectedClass" aria-labelledby="lbl-estimated-future-funding">@expected</div>
                <p class="finance-figure__label" id="lbl-estimated-future-funding">Estimated total funding for the next 12 months (based on funds entering your Apprenticeship service account, including the 10% top up)</p>
            </div>
            <div class="column-one-third">
                @{
                    var estimatedSpending = Model.Data.ProjectedSpend.ToString("C0", culture);
                    var estimatedSpendingClass = string.Empty;

                    if (estimatedSpending.Length > 8)
                    {
                        estimatedSpendingClass = "long";
                    }
                    if (estimatedSpending.Length > 10)
                    {
                        estimatedSpendingClass = "longer";
                    }
                }
                <div class="finance-figure @estimatedSpendingClass" aria-labelledby="lbl-estimated-spending">@estimatedSpending</div>
                <p class="finance-figure__label" id="lbl-estimated-spending">Estimated planned spending for the next 12 months</p>
            </div>
            @if (Model.Data.ExpiringFunds.HasValue && Model.Data.ExpiringFunds > 0 && Model.Data.ExpiryDate.HasValue)
            {
                <div class="column-one-third">
                    @{
                        var expiringFunds = Model.Data.ExpiringFunds.Value.ToString("C0", culture);

                        var expiringFundsClass = string.Empty;

                        if (expiringFunds.Length > 8)
                        {
                            expiringFundsClass = "long";
                        }
                        if (expiringFunds.Length > 10)
                        {
                            expiringFundsClass = "longer";
                        }
                    }
                    <div class="finance-figure finance-figure--expiring @expiringFundsClass" aria-labelledby="lbl-current-funds-expiring">@expiringFunds</div>
                    @{
                        var expiryDate = Model.Data.ExpiryDate.Value.ToString("MMM yyyy");
                    }
                    <p class="finance-figure__label" id="lbl-current-funds-expiring">
                        Estimated funds expiring in @expiryDate<br />
                        <a title="Find out more about expired funds" href="@Url.EmployerProjectionsAction("forecasting/expired-funds-guidance")">
                            Find out more about expired funds
                        </a>
                    </p>
                </div>
            }
        </div>
    </div>
    <details id="inform-accurate-estimates" class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                How accurate are the estimates?
            </span>
        </summary>
        <div class="govuk-details__text">
            <p>Estimates are based on details we have about your last levy payment and apprenticeship arrangements, which may not be up-to-date.</p>
            <p>You should use additional financial information when planning how to spend your funds.</p>
        </div>
    </details>

    <hr>
}

<div class="grid-row">
    <div class="column-half">
        <h2 class="heading-medium">
            <a title="View transactions" href="@Url.Action("TransactionsView", "EmployerAccountTransactions", new { year=now.Year, month=now.Month })">
                View transactions
            </a>
        </h2>
        <p>View payments made into and out of your apprenticeship service account. </p>
    </div>


    <div class="column-half">
        <h2 class="heading-medium">
            <a title="Download transactions" href="@Url.Action("TransactionsDownload", "EmployerAccountTransactions")">
                Download transactions
            </a>
        </h2>
        <p>Download your financial transactions within a specific date range. </p>
    </div>

    @if (Model.Data.IsLevyEmployer)
    {
        <div class="column-half">
            <h2 class="heading-medium">
                <a title="Funding projection" href="@Url.EmployerProjectionsAction("forecasting/projections")">
                    Funding projection
                </a>
            </h2>
            <p>View funding projection to plan your future spending. </p>
        </div>
    }

    <div class="column-half">
        <h2 class="heading-medium">
            <a title="Manage transfers" href="@Url.Action("Index", "TransferConnections")">
                Transfers
            </a>
        </h2>
        <p>Connect with other employers and @(Model.Data.IsLevyEmployer ? "send or" : "") receive transfer funds. </p>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.EmployerAccountsAction("teams")">Home</a></li>
            <li>@ViewBag.Title</li>
        </ol>
    </div>
}

@section pageSpecificJS {
    <script language="javascript" type="text/javascript" src="~/bundles/modernizr"></script>
}