@using System.Globalization
@using SFA.DAS.EmployerFinance.Web.Extensions
@model OrchestratorResponse<TransactionLineViewModel<SFA.DAS.EmployerFinance.Models.Levy.LevyDeclarationTransactionLine>>

@{
    var culture = new CultureInfo("en-GB");
    var paymentType = "Levy";
    if (Model.Data.Amount < 0)
    {
        paymentType = "Adjustment";
    }
    ViewBag.PageID = "levy-declaration-details";
    ViewBag.Title = paymentType;
    ViewBag.Section = "finance";
    ViewBag.GaData.Vpv = $"/finance/{ViewBag.PageID}";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">@paymentType</h1>
        <p>Date <b>@Model.Data.TransactionDate.ToGdsFormatFull()</b></p>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <table class="small responsive--desktop">
            <thead>
                <tr>
                    <th id="th-ps" scope="col">PAYE scheme</th>
                    <th id="th-pd" scope="col">Payroll date</th>
                    <th id="th-ld" class="numeric" scope="col">Levy declared</th>
                    <th id="th-ef" class="numeric nowrap" scope="col">English %</th>
                    <th id="th-tu" class="numeric" scope="col">10% top up</th>
                    <th id="th-pi" class="numeric" scope="col">Your funds</th>
                </tr>
            </thead>
            <tbody>
                <tr class="total total--top">
                    <th scope="row" colspan="5" id="th-total"><span class="vh">Total</span></th>
                    <td data-label="Your funds total" class="numeric" headers="th-total">@Model.Data.Amount.ToString("C2", culture)</td>
                </tr>

            @{
                var orderedTransactions = Model.Data.SubTransactions.OrderBy(t => t.PayrollDate);
                foreach (var aggregationLineItem in orderedTransactions)
                {
                    <tr class="responsive-tr">
                        <td data-label="PAYE scheme" headers="th-ps">
                            <span>@aggregationLineItem.EmpRef</span>
                            <span>@aggregationLineItem.PayeSchemeName</span>
                        </td>
                        <td data-label="Payroll date" headers="th-pd">
                            @aggregationLineItem.PayrollDate.ToGdsFormatWithoutDayAbbrMonth()
                        </td>
                        <td data-label="Levy declared" headers="th-ld" class="numeric">
                            @(aggregationLineItem.Amount.ToString("C2", culture))
                        </td>
                        <td data-label="English %" headers="th-ef" class="numeric nowrap">
                            @($"{aggregationLineItem.EnglishFraction:P3}")
                        </td>
                        <td data-label="10% top up" headers="th-tu" class="numeric">
                            @(aggregationLineItem.TopUp.ToString("C2", culture))
                        </td>
                        <td data-label="Your funds" headers="th-pi" class="numeric">
                            @((aggregationLineItem.LineAmount).ToString("C2", culture))
                        </td>
                    </tr>
                }
            }
                <tr class="total">
                    <th scope="row" colspan="5" id="th-total"><span class="vh">Total</span></th>
                    <td data-label="Your funds total" class="numeric" headers="th-total">@Model.Data.Amount.ToString("C2", culture)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        @Html.Partial("_WhatIsEnglishPercentage")
        <div class="panel panel-border-wide panel-filled-purple panel-top-margin">
            <p><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/employer-enquiries" target="_blank">Contact HMRC</a> if the levied amount isn't what you expected. </p>
        </div>
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.EmployerAccountsAction($"teams")">Home</a></li>
            <li><a href="@Url.Action("TransactionsView", "EmployerAccountTransactions", new {year = Model.Data.TransactionDate.Year, month = Model.Data.TransactionDate.Month})">Your transactions</a></li>
            <li>@paymentType details</li>
        </ol>
    </div>
}
