@using SFA.DAS.EmployerFinance.Web.Extensions
@using System.Globalization
@using SFA.DAS.Common.Domain.Types;
@model OrchestratorResponse<ProviderPaymentsSummaryViewModel>

@{
    var culture = new CultureInfo("en-GB");
    ViewBag.PageID = "provider-payment-summary";
    ViewBag.Title = "Payment details";
    ViewBag.Section = "finance";
    ViewBag.GaData.Vpv = $"/finance/{ViewBag.PageID}";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">Payment details</h1>
            <dl class="inline">
                <dt>Date</dt>
                <dd>@Model.Data.PaymentDate.ToGdsFormat()</dd>
                <dt>Payment to</dt>
                <dd>@Model.Data.ProviderName</dd>
            </dl>
        </div>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <table class="responsive">
            <thead>
                <tr>
                    <th colspan="@(Model.Data.ShowNonCoInvesmentPaymentsTotal ? "2" : "1")"></th>
                    <th class="highlight colgroup" scope="colgroup" colspan="2">Co-investment</th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <th scope="col" class="tw-20">Course</th>
                    @if (Model.Data.ShowNonCoInvesmentPaymentsTotal)
                    {
                        <th scope="col" class="numeric tw-20">@(Model.Data.ApprenticeshipEmployerType == ApprenticeshipEmployerType.Levy ? "Paid from levy" : "Transferred funds")</th>
                    }
                    <th scope="col" class="numeric tw-20 highlight">Government contribution</th>
                    <th scope="col" class="numeric tw-20 highlight">Your contribution</th>
                    <th scope="col" class="numeric tw-15">Amount</th>
                    <th scope="col" class="tw-5"><span class="vh">Action</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var coursePaymentSummary in Model.Data.CoursePayments)
                {
                    <tr>
                        @if (string.IsNullOrEmpty(coursePaymentSummary.CourseName))
                        {
                            <td data-label="Course">(Course details not available)</td>
                        }
                        else
                        {
                            <td data-label="Course">@coursePaymentSummary.CourseName: @coursePaymentSummary.PathwayName <span class="no-wrap">level @coursePaymentSummary.CourseLevel</span></td>
                        }

                        @if (Model.Data.ShowNonCoInvesmentPaymentsTotal)
                        {
                            <td class="numeric" data-label="Paid from levy">@coursePaymentSummary.LevyPaymentAmount.ToString("C2", culture)</td>
                        }
                        <td class="numeric highlight" data-label="Government contribution">@coursePaymentSummary.SFACoInvestmentAmount.ToString("C2", culture)</td>
                        <td class="numeric highlight" data-label="Your contribution">@coursePaymentSummary.EmployerCoInvestmentAmount.ToString("C2", culture)</td>
                        <td class="numeric" data-label="Amount">@coursePaymentSummary.TotalAmount.ToString("C2", culture)</td>
                        <td>
                            @{
                                var courseDetailsLink = string.Empty;

                                if (!coursePaymentSummary.PathwayCode.HasValue)
                                {
                                    courseDetailsLink = Url.Action("CourseStandardPaymentSummary", "EmployerAccountTransactions",
                                        new
                                        {
                                            hashedAccountId = Model.Data.HashedAccountId,
                                            Ukprn = Model.Data.UkPrn,
                                            CourseName = coursePaymentSummary.CourseName,
                                            CourseLevel = coursePaymentSummary.CourseLevel,
                                            Model.Data.FromDate,
                                            Model.Data.ToDate
                                        });
                                }
                                else
                                {
                                    courseDetailsLink = Url.Action("CourseFrameworkPaymentSummary", "EmployerAccountTransactions",
                                        new
                                        {
                                            hashedAccountId = Model.Data.HashedAccountId,
                                            Ukprn = Model.Data.UkPrn,
                                            CourseName = coursePaymentSummary.CourseName,
                                            CourseLevel = coursePaymentSummary.CourseLevel,
                                            PathwayCode = coursePaymentSummary.PathwayCode,
                                            Model.Data.FromDate,
                                            Model.Data.ToDate
                                        });
                                }
                            }

                            <a id="CoursePaymentDetails" title="View details of payment for @coursePaymentSummary.CourseName level @coursePaymentSummary.CourseLevel" href="@courseDetailsLink">
                                Details <span class="vh"> of payment for @coursePaymentSummary.CourseName level @coursePaymentSummary.CourseLevel</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="total">
                    <td data-label="Totals"> </td>
                    @if (Model.Data.ShowNonCoInvesmentPaymentsTotal)
                    {
                        <td data-label="Paid from levy" class="total numeric no-wrap">@Model.Data.LevyPaymentsTotal.ToString("C2", culture)</td>
                    }
                    <td data-label="Government contribution" class="highlight total numeric no-wrap">@Model.Data.SFACoInvestmentsTotal.ToString("C2", culture)</td>
                    <td data-label="Your contribution" class="highlight total numeric no-wrap">@Model.Data.EmployerCoInvestmentsTotal.ToString("C2", culture)</td>
                    <td data-label="Amount" class="total numeric no-wrap">@Model.Data.PaymentsTotal.ToString("C2", culture)</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="panel panel-top-margin">
            <p>It's up to you and your training provider to decide when your contribution is paid.</p>
        </div>

        @if (Model.Data.PaymentDate.Equals(new DateTime(2017, 09, 14)))
        {
            <div class="panel panel-top-margin">
                <h3 class="heading-small">Why are there two payments to individual providers this month?</h3>
                <p>
                    The second payment is the result of final adjustments made by the training providers
                    for the academic year ending 31 July 2017. These payments only occur in September and October.
                </p>
            </div>
        }

        @if (Model.Data.PaymentDate.Equals(new DateTime(2017, 11, 2)))
        {
            <div class="panel panel-top-margin">
                <h3 class="heading-small">Note on payments dated 2 November</h3>
                <p>
                    Payments on 2 November are for final costs submitted by training providers for training
                    during the academic year ending July 31 2017. The amount was calculated based on your
                    levy balance on 6 October and does not include the levy payment on 23 October.
                </p>
            </div>
        }
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs" id="js-breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.EmployerAccountsAction($"accounts/{@Model.Data.HashedAccountId}/teams")">Home</a></li>
            <li><a href="@Url.Action("Index", "EmployerAccountTransactions")">Your transactions</a></li>
            <li>Debit details</li>
        </ol>
    </div>
}