@using System.Globalization
@model TransferTransactionDetailsViewModel

@{
    var culture = new CultureInfo("en-GB");
    ViewBag.PageID = "transfer-transaction-details";
    ViewBag.Title = "Levy Transfer";
    ViewBag.Section = "finance";
    ViewBag.GaData.Vpv = $"/finance/{ViewBag.PageID}";
}

<div class="grid-row">
    <div class="column-two-thirds">

        @if (Model.IsCurrentAccountSender)
        {
            <h1 class="heading-xlarge">Levy transfer</h1>
        }
        else
        {
            <h1 class="heading-xlarge">Transfer received</h1>
        }

        <div class="account-info">
            <p>Date <b>@Model.DateCreated.ToGdsFormatFull()</b></p>
            <p>Account Name <b>@(Model.IsCurrentAccountSender ? Model.ReceiverAccountName : Model.SenderAccountName)</b></p>
            <p>Account ID <b>@(Model.IsCurrentAccountSender ? Model.ReceiverAccountPublicHashedId : Model.SenderAccountPublicHashedId)</b></p>
        </div>
    </div>

    <div class="column-full">

        <table>
            <thead>
                <tr>
                    <th class="numeric" scope="col">Course</th>
                    <th class="numeric" scope="col">Apprentices</th>
                    <th class="numeric" scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transferDetail in Model.TransferDetails)
            {
                <tr>
                    <td class="numeric">
                        @(@transferDetail.CourseLevel.HasValue ? 
                              $"{transferDetail.CourseName}: level {transferDetail.CourseLevel}" : 
                              transferDetail.CourseName)
                    </td>
                    <td class="numeric">
                        @transferDetail.ApprenticeCount
                    </td>
                    @if (Model.IsCurrentAccountSender)
                    {
                        <td class="numeric no-wrap">
                            -@transferDetail.PaymentTotal.ToString("C2", culture)
                        </td>
                    }
                    else
                    {
                        <td class="numeric no-wrap">
                            @transferDetail.PaymentTotal.ToString("C2", culture)
                        </td>
                    }
                </tr>
        }

                <tr class="total">
                    <td colspan="2"></td>
                    @if (Model.IsCurrentAccountSender)
                    {
                        <td class="numeric no-wrap">-@Model.TransferPaymentTotal.ToString("C2", culture)</td>
                    }
                    else
                    {
                        <td class="numeric no-wrap">@Model.TransferPaymentTotal.ToString("C2", culture)</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.EmployerAccountsAction($"teams")">Home</a></li>
            <li><a href="@Url.EmployerFinanceAction("finance")">Finance</a></li>
            <li><a href="@Url.Action("TransactionsView", "EmployerAccountTransactions", new {year = Model.DateCreated.Year, month = Model.DateCreated.Month})">Your transactions</a></li>
            <li>@(Model.IsCurrentAccountSender ? "Levy details" : "Transfer Details")</li>
        </ol>
    </div>
}
