@using SFA.DAS.EmployerAccounts.Models.TransferConnections
@using SFA.DAS.EmployerAccounts.Web.Extensions
@using SFA.DAS.Validation.Mvc

@model SFA.DAS.EmployerFinance.Web.ViewModels.TransferConnectionInvitationViewModel

@{
    ViewBag.Title = "Transfer connection request details";
    ViewBag.Section = "finance";
    ViewBag.PageID = "page-transfer-connection-requests-details";
    ViewBag.GaData.Vpv = "/accounts/transfers/connections/requests/details";
}

@Html.Partial("_ValidationSummary", ViewData.ModelState)
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Connection request details</h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.TransferConnectionInvitationId)
            <div class="form-group">
                <table>
                    <tbody>
                        @{
                            var pendingChange = Model.TransferConnectionInvitation.GetPendingChange();
                        }
                        <tr>
                            <td>Status</td>
                            <td>@Model.TransferConnectionInvitation.Status.ToString()</td>
                        </tr>
                        <tr>
                            <td>Sending employer</td>
                            <td>@Model.TransferConnectionInvitation.SenderAccount.Name</td>
                        </tr>
                        <tr>
                            <td>Sent by</td>
                            <td>@pendingChange.User.FullName</td>
                        </tr>
                        <tr>
                            <td>Sent on</td>
                            <td>@pendingChange.CreatedDate.ToString("d MMMM yyyy")</td>
                        </tr>
                        <tr>
                            <td>Receiving employer</td>
                            <td>@Model.TransferConnectionInvitation.ReceiverAccount.Name</td>
                        </tr>
                        <tr>
                            <td>Receiver account ID</td>
                            <td>@Model.TransferConnectionInvitation.ReceiverAccount.PublicHashedId</td>
                        </tr>
                        @switch (Model.TransferConnectionInvitation.Status)
                        {
                            case TransferConnectionInvitationStatus.Approved:
                                var approvedChange = Model.TransferConnectionInvitation.GetApprovedChange();
                                <tr>
                                    <td>Approved by</td>
                                    <td>@approvedChange.User.FullName</td>
                                </tr>
                                <tr>
                                    <td>Approved on</td>
                                    <td>@approvedChange.CreatedDate.ToString("d MMMM yyyy")</td>
                                </tr>
                                break;
                            case TransferConnectionInvitationStatus.Rejected:
                                var rejectedChange = Model.TransferConnectionInvitation.GetRejectedChange();
                                <tr>
                                    <td>Rejected by</td>
                                    <td>@rejectedChange.User.FullName</td>
                                </tr>
                                <tr>
                                    <td>Rejected on</td>
                                    <td>@rejectedChange.CreatedDate.ToString("d MMMM yyyy")</td>
                                </tr>
                                break;
                        }
                    </tbody>
                </table>
            </div>
            if (Model.TransferConnectionInvitation.Status == TransferConnectionInvitationStatus.Rejected)
            {
                <div class="form-group @(Html.IsValid(m => m.Choice) ? "" : "error")">
                    <fieldset>
                        <legend>
                            <span class="form-label-bold">Do you want to delete this connection request?</span>
                            @Html.ValidationMessageFor(m => m.Choice)
                        </legend>
                        <label class="block-label selection-button-radio">
                            @Html.RadioButtonFor(m => m.Choice, "Confirm")
                            Yes, delete this connection
                        </label>
                        <label class="block-label selection-button-radio">
                            @Html.RadioButtonFor(m => m.Choice, "GoToTransfersPage")
                            No, go back to transfers
                        </label>
                    </fieldset>
                </div>
                <button class="button" type="submit">Continue</button>
            }
        }
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs" id="js-breadcrumbs">
        <a aria-label="Back" class="back-link" href="@Url.Action("Index", "Transfers")">Back</a>
    </div>
}