@using SFA.DAS.EmployerAccounts.Web.Extensions
@using SFA.DAS.Validation.Mvc
@model SFA.DAS.EmployerFinance.Web.ViewModels.RejectedTransferConnectionInvitationViewModel

@{
    ViewBag.Title = "Rejected transfer connection request";
    ViewBag.Section = "finance";
    ViewBag.PageID = "page-transfer-connection-requests-rejected";
    ViewBag.GaData.Vpv = "/accounts/transfers/connection/requests/rejected";
}

@Html.Partial("_ValidationSummary", ViewData.ModelState)
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="success-summary">
            <h1 class="bold-large">Connection request rejected</h1>
            <p><i class="icon-green-tick"></i> You've successfully rejected this connection request</p>
        </div>
        <h1 class="heading-xlarge">Connection request details</h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.TransferConnectionInvitationId)
            <div class="form-group">
                <table>
                    <tbody>
                        @{
                            var pendingChange = Model.TransferConnectionInvitation.GetPendingChange();
                        }
                        <tr>
                            <td>Status</td>
                            <td>@Model.TransferConnectionInvitation.Status.ToString()</td>
                        </tr>
                        <tr>
                            <td>Sending employer</td>
                            <td>@Model.TransferConnectionInvitation.SenderAccount.Name</td>
                        </tr>
                        <tr>
                            <td>Sent by</td>
                            <td>@pendingChange.User.FullName</td>
                        </tr>
                        <tr>
                            <td>Sent on</td>
                            <td>@pendingChange.CreatedDate.ToString("d MMMM yyyy")</td>
                        </tr>
                        <tr>
                            <td>Receiving employer</td>
                            <td>@Model.TransferConnectionInvitation.ReceiverAccount.Name</td>
                        </tr>
                        <tr>
                            <td>Receiver account ID</td>
                            <td>@Model.TransferConnectionInvitation.ReceiverAccount.PublicHashedId</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group @(Html.IsValid(m => m.Choice) ? "" : "error")">
                <fieldset>
                    <legend>
                        <span class="form-label-bold">Do you want to delete this connection request?</span>
                        @Html.ValidationMessageFor(m => m.Choice)
                    </legend>
                    <label class="block-label selection-button-radio">
                        @Html.RadioButtonFor(m => m.Choice, "Confirm")
                        Yes, delete this connection
                    </label>
                    <label class="block-label selection-button-radio">
                        @Html.RadioButtonFor(m => m.Choice, "GoToTransfersPage")
                        No, go back to transfers
                    </label>
                </fieldset>
            </div>
            <button class="button" type="submit">Continue</button>
        }
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a class="link-back" href="@Url.Action("Index", "Transfers")">Back</a></li>
        </ol>
    </div>
}