@using SFA.DAS.Validation.Mvc
@model SFA.DAS.EmployerFinance.Web.ViewModels.StartTransferConnectionInvitationViewModel

@{
    ViewBag.Title = "Start transfer connection request";
    ViewBag.Section = "finance";
    ViewBag.PageID = "page-transfer-connection-requests-start";
    ViewBag.GaData.Vpv = "/accounts/transfers/connections/requests/start";
}

@Html.Partial("_ValidationSummary", ViewData.ModelState)
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Which employer are you connecting with?</h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group @(Html.IsValid(m => m.ReceiverAccountPublicHashedId) ? "" : "error")">
                <label for="@Html.IdFor(m => m.ReceiverAccountPublicHashedId)">
                    <span class="form-label-bold">Enter the employer's apprenticeship account ID</span>
                    <span class="form-hint">You need to request this directly from the employer. Account IDs can be found under the account name on the apprenticeship service homepage.</span>
                    @Html.ValidationMessageFor(m => m.ReceiverAccountPublicHashedId)
                </label>
                @Html.TextBoxFor(m => m.ReceiverAccountPublicHashedId, new { aria_required = true, @class = "form-control form-control-3-4" })
            </div>
            <button class="button" type="submit">Continue</button>
        }
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs" id="js-breadcrumbs">
        <ol role="navigation">
            <li><a class="link-back" href="@Url.Action("Index", "TransferConnectionInvitations")">Back</a></li>
        </ol>
    </div>
}