@using SFA.DAS.EmployerFinance.Web.Extensions
@using SFA.DAS.Common.Domain.Types;

@{
    ViewBag.Title = "Transfers";
    ViewBag.Section = "finance";
    ViewBag.PageID = "page-transfers";
    ViewBag.GaData.Vpv = "/accounts/transfers";
    ViewBag.ZenDeskLabel = "eas-transfers";
    Layout = "~/Views/Shared/_Layout_CDN.cshtml";
}

<h1 class="govuk-heading-xl">Transfers</h1>

@if (ViewBag.ApprenticeshipEmployerType == ApprenticeshipEmployerType.Levy)
{
    @Html.Action("TransferAllowance")
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (ViewBag.ApprenticeshipEmployerType == ApprenticeshipEmployerType.Levy)
        {
            <p><a href="@Url.EmployerProjectionsAction("forecasting/estimations/start-transfer")" class="govuk-link govuk-link--no-visited-state">Estimate</a> the number of apprentices you can fund with your transfer allowance.</p>
        }

        @Html.Action("TransferConnectionInvitationAuthorization")
        @Html.Action("TransferConnectionInvitations")
        @Html.Action("TransferRequests")
        
    </div>
</div>

@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@Url.EmployerAccountsAction("teams")">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "EmployerAccountTransactions")">Finance</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                @ViewBag.Title
            </li>
        </ol>
    </div>
}
