@using SFA.DAS.EmployerFinance.Models.TransferConnections
@using SFA.DAS.EmployerFinance.Web.Extensions
@using SFA.DAS.EmployerFinance.Web.Helpers

@model SFA.DAS.EmployerFinance.Web.ViewModels.TransferConnectionInvitationsViewModel

@{
    var transferConnectionRequestsAuthorized = Html.IsAuthorized("EmployerFeature.TransferConnectionRequests");
}

<h3 class="govuk-heading-m">
    Connection requests
</h3>

<table class="govuk-table das-table--responsive" id="connections-send">
    <caption class="govuk-table__caption">Employers you are connecting with to send funds to</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header das-table-cell-width-50" scope="col">Employer</th>
            <th class="govuk-table__header  das-table-cell-width-35" scope="col">Status</th>
            <th class="govuk-table__header  das-table-cell-width-15">&nbsp;</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @if (Model.TransferSenderConnectionInvitations.Any())
        {
            foreach (var transferConnectionInvitation in Model.TransferSenderConnectionInvitations)
            {
                <tr class="govuk-table__row">
                    <td data-label="Employer" class="govuk-table__cell">@transferConnectionInvitation.ReceiverAccount.Name</td>
                    <td data-label="Status" class="govuk-table__cell">@transferConnectionInvitation.Status.ToString()</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        @if (transferConnectionRequestsAuthorized)
                        {
                            <a href="@Url.Action("Details", "TransferConnectionInvitations", new { transferConnectionInvitationId = transferConnectionInvitation.Id })" class="govuk-link">
                                Details<span class="govuk-visually-hidden"> about the @transferConnectionInvitation.ReceiverAccount.Name request</span>
                            </a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="govuk-table__row">
                <td colspan="3" class="govuk-table__cell">You have no pending or approved requests</td>
            </tr>
        }
    </tbody>
</table>

<table class="govuk-table das-table--responsive" id="connections-receive">
    <caption class="govuk-table__caption">Employers you are connecting with to receive funds from</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header das-table-cell-width-50" scope="col">Employer</th>
            <th class="govuk-table__header  das-table-cell-width-35" scope="col">Status</th>
            <th class="govuk-table__header  das-table-cell-width-15">&nbsp;</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @if (Model.TransferReceiverConnectionInvitations.Any())
        {
            foreach (var transferConnectionInvitation in Model.TransferReceiverConnectionInvitations)
            {
                <tr class="govuk-table__row">
                    <td data-label="Employer" class="govuk-table__cell">@transferConnectionInvitation.SenderAccount.Name</td>
                    <td data-label="Status" class="govuk-table__cell">@transferConnectionInvitation.Status.ToString()</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        @if (transferConnectionRequestsAuthorized)
                        {
                            if (transferConnectionInvitation.Status == TransferConnectionInvitationStatus.Pending)
                            {
                                <a href="@Url.Action("Receive", "TransferConnectionInvitations", new { transferConnectionInvitationId = transferConnectionInvitation.Id })" class="govuk-link">
                                    Details<span class="govuk-visually-hidden"> about the @transferConnectionInvitation.SenderAccount.Name request</span>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Details", "TransferConnectionInvitations", new { transferConnectionInvitationId = transferConnectionInvitation.Id })" class="govuk-link">
                                    Details<span class="govuk-visually-hidden"> about the @transferConnectionInvitation.SenderAccount.Name request</span>
                                </a>
                            }
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="govuk-table__row">
                <td colspan="3" class="govuk-table__cell">You have no pending or approved requests</td>
            </tr>
        }
    </tbody>
</table>
