@using SFA.DAS.EmployerAccounts.Web.Helpers
@{ViewBag.PageID = "get-apprenticeship-funding"; }
@{ViewBag.Title = "Add a PAYE Scheme"; }
@{ViewBag.HideNav = true; }

@{
    ViewBag.GaData.Vpv = "/service/getApprenticeshipFunding/get-government-funding";
    var hiddenClass = Model?.GetType().GetProperty("InError") != null ? "" : "hidden";
    var errorClass = Model?.GetType().GetProperty("InError") != null ? "error" : "";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Add a PAYE Scheme
        </h1>
        <p>We need you to add the PAYE scheme for your organisation.</p>
        <p>
            You can do this by using either of the following:
            <ul class="list list-bullet">
                <li>the Government Gateway login for your organisation</li>
                <li>your accounts office reference number for your organisation</li>
            </ul>
        </p>
        <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Find your Government Gateway details</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                <p>
                    If you have lost your Government Gateway log in details you can
                    <a rel="external" target="_blank" href="https://www.gov.uk/log-in-register-hmrc-online-services/problems-signing-in">get help signing in</a>
                </p>
            </div>
        </details>
        <br />
        <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Find your accounts office and PAYE scheme reference numbers</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                <p>
                    You can find your 13-character accounts office reference number on the letter HMRC sent you when you first registered as an employer.
                </p>
                <p>
                    You will find your employer PAYE scheme reference in the payslip booklet HMRC provided. Contact HMRC or your accountant if you do not have access to the booklet.
                </p>
            </div>
        </details>
        <br />
        <form method="POST" action="@Url.Action(ControllerConstants.GetApprenticeshipFundingActionName)">
            @Html.AntiForgeryToken()
            <div class="form-group @errorClass" id="do-you-want-to-add-paye-scheme-form">
                <p>
                    <fieldset>
                        <legend class="form-label-bold">
                            <span>You can add a PAYE scheme later if you need more time, we can still create your account for you.</span>
                            <span class="error-message js-hidden @hiddenClass" aria-hidden="true" id="have-not-got-everything">
                                Tell us if you want to add a PAYE scheme
                            </span>
                        </legend>
                        <label for="want-to-add-paye-scheme" class="block-label">
                            <input type="radio" name="choice" id="want-to-add-paye-scheme" value="2" />
                            Use Government Gateway log in
                        </label>
                        <label for="want-to-add-paye-scheme-aorn" class="block-label">
                            <input type="radio" name="choice" id="want-to-add-paye-scheme-aorn" value="3" />
                            Use accounts office reference number and employer PAYE scheme reference. <b>You should only use this if your payroll for your organisation is under £3 million.</b>
                        </label>
                        <label for="do-not-want-to-add-paye-scheme" class="block-label">
                            <input type="radio" name="choice" id="do-not-want-to-add-paye-scheme" value="1" />
                            No, I’ll do this later
                        </label>
                    </fieldset>
                </p>
                <p>
                    <div class="notice">
                        <i class="icon icon-important">
                            <span class="visuallyhidden">Warning</span>
                        </i>
                        <strong class="bold-small">
                            Before you continue, you must make sure you have authority to add PAYE schemes to the account for this organisation
                        </strong>
                    </div>
                </p>

                <button class="button" type="submit" id="submit-add-a-paye-scheme-button">Continue</button>

            </div>
        </form>
    </div>
</div>

@section pageSpecificJS {
    <script type="text/javascript">
        $(function () {
            sfa.homePage.init();
        });
    </script>
}

@Html.SetZenDeskLabels(ZenDeskLabels.AddPAYESchemesToYourAccount, ZenDeskLabels.ApprenticeshipFunding)