@using SFA.DAS.Common.Domain.Types
@using SFA.DAS.EmployerAccounts.Web.Helpers
@model OrchestratorResponse<SummaryViewModel>

@{ViewBag.PageID = "page-onboard-paye-check-details"; }
@{ViewBag.Title = "Check Details"; }
@{ViewBag.HideNav = true; }
@{ViewBag.GaData.Vpv = "/onboarding/address/update/page-extra-confirm-organisation";}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Check your details</h1>
        <table class="top-border">
            <tr>
                <th scope="row">
                    Organisation
                </th>
                <td>
                    @Model.Data.OrganisationName
                </td>
                <td class="link-right">
                    <a href="@Url.Action(ControllerConstants.AmendOrganisationActionName, ControllerConstants.EmployerAccountControllerName)">Change</a>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Address
                </th>
                <td colspan="2">
                    @foreach (var line in Model.Data.RegisteredAddress)
                    {
                        <div>@line</div>
                    }
                </td>
            </tr>
            @if (Model.Data.OrganisationType == OrganisationType.CompaniesHouse || Model.Data.OrganisationType == OrganisationType.Charities)
            {
                <tr>
                    <th scope="row">                       
                        @if (Model.Data.OrganisationType == OrganisationType.CompaniesHouse)
                        {
                            <span>Companies House number</span>
                        }
                        else
                        {
                            <span>Charity number</span>
                        }                     
                    </th>
                    <td colspan="2">                      
                        <span>@Model.Data.OrganisationReferenceNumber</span>                
                    </td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Data.AORN))
            {
                <tr>
                    <th scope="row">
                        Account office reference number
                    </th>
                    <td>
                        @Model.Data.AORN
                    </td>
                    <td class="link-right">
                        <a href="@Url.Action(ControllerConstants.SearchUsingAornActionName, ControllerConstants.SearchPensionRegulatorControllerName)">Change</a>
                    </td>
                </tr>
            }
            <tr>
                <th scope="row">
                    PAYE scheme
                </th>
                <td>
                    <dl class="inline">
                        <dt>@Model.Data.PayeReference</dt>
                        @if (!string.IsNullOrEmpty(Model.Data.EmployerRefName))
                        {
                            <dt>@Model.Data.EmployerRefName</dt>
                        }
                    </dl>
                </td>
                <td class="link-right">
                    <a href="@Url.Action(ControllerConstants.GetApprenticeshipFundingActionName, ControllerConstants.EmployerAccountControllerName)">Change</a>
                </td>
            </tr>
        </table>
        <form method="POST" action="@Url.Action("CreateAccount", "EmployerAccount")">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <button type="submit" class="button" id="continue">These details are correct</button>                
            </div>
        </form> 
    </div>
</div>
