@using SFA.DAS.EmployerApprenticeshipsService.Web.Models

@model ApproveApprenticeshipViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Submit commitment</h1>
        <hr />
        <form method="POST" action="@Url.Action("ApproveApprenticeship")">
            <div class="form-group">
                <label class="form-label" for="Uln">ULN</label>
                <label class="form-label" id="Uln">@Model.Apprenticeship.ULN</label>
            </div>
            <div class="form-group">
                <label class="form-label" for="Name">Learner Name</label>
                <label class="form-label" id="Name">@Model.Name</label>
            </div>
            <div class="form-group">
                <label class="form-label" for="Message">Message</label>
                <textarea class="form-control form-control-3-4" id="Message" name="Message"
                          cols="40" rows="10"
                          aria-required="true">
                    @Model.ApproveApprenticeshipModel.Message
                    </textarea>
                </div>
                <input type="hidden" id="accountId" name="accountId" value="@Model.ApproveApprenticeshipModel.AccountId" />
                <input type="hidden" id="commitmentId" name="commitmentId" value="@Model.ApproveApprenticeshipModel.CommitmentId" />
                <input type="hidden" id="commitmentId" name="apprenticeshipId" value="@Model.ApproveApprenticeshipModel.ApprenticeshipId" />
                <button type="submit" class="button">Submit</button>
            </form>
        </div>
    </div>



