@using SFA.DAS.EmployerApprenticeshipsService.Web.Models
@using System.Globalization


@model ExtendedApprenticeshipViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Apprentice details</h1>
        <p>Add the details of your apprentice below. If you don't have the information now you can leave it blank and add it later.</p>
        <table>
            <tbody>
                <tr>
                    <th scope="row">First Name</th>
                    <td>@Model.Apprenticeship.FirstName</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Last Name</th>
                    <td>@Model.Apprenticeship.LastName</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Unique Learner Number</th>
                    <td>@Model.Apprenticeship.ULN</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Cost</th>
                    <td>@Model.Apprenticeship.Cost</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Training</th>
                    <td>@Model.Apprenticeship.TrainingId</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Start Date</th>
                    <td>@Model.Apprenticeship.StartMonthName @Model.Apprenticeship.StartYear</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">End Date</th>
                    <td>@Model.Apprenticeship.EndMonthName @Model.Apprenticeship.EndYear</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>@Model.Apprenticeship.Status</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <a href="@Url.Action("Details")" class="button">Back</a>
    </div>
</div>
