@using SFA.DAS.EmployerApprenticeshipsService.Web
@using SFA.DAS.EmployerApprenticeshipsService.Web.Models

@model OrchestratorResponse<CreateCommitmentViewModel>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Create commitment</h1>
        <hr />
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <table>
            <tbody>
                <tr>
                    <th scope="row">Legal entity</th>
                    <td>@Model.Data.LegalEntityName</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Provider</th>
                    <td>@Model.Data.ProviderName</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <form method="POST" action="@Url.Action("Create")">
            <div class="form-group">
                <label class="form-label" for="Name">Name</label>
                    <p>Give this commitment a name, for example a code or reference - your training provider will see this.</p>
                    <input class="form-control form-control-3-4" id="Name" name="Name" type="text"
                       aria-required="true" />
            </div>
            <input type="hidden" id="accountId" name="accountId" value="@Model.Data.AccountId" />
            <input type="hidden" id="legalEntityId" name="legalEntityId" value="@Model.Data.LegalEntityId" />
            <input type="hidden" id="legalEntityName" name="legalEntityName" value="@Model.Data.LegalEntityName" />
            <input type="hidden" id="providerId" name="providerId" value="@Model.Data.ProviderId" />
            <input type="hidden" id="providerName" name="providerName" value="@Model.Data.ProviderName" />
            <button type="submit" class="button">Create</button>
        </form>
    </div>
</div>
