@model SFA.DAS.EmployerApprenticeshipsService.Web.Models.ApprenticeshipViewModel

@section Scripts {
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryvalcustom");    
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Add an apprentice</h1>
        <p>
            Add the details of your apprentice below. If you don't have the information now you can leave it blank and add it later.
        </p>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("CreateApprenticeship")">
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            <hr />
            @Html.EditorFor(m => m.FirstName, "FormString", new { htmlAttributes = new { @class = "form-control form-control-3-4" }, labelText = "Apprentice first name" })
            @Html.EditorFor(m => m.LastName, "FormString", new { htmlAttributes = new { @class = "form-control form-control-3-4" }, labelText = "Apprentice last name" })
            <hr />
            <div class="form-group">
                <label class="form-label" for="TrainingId">Find apprenticeship</label>
                <select name="TrainingId" id="TrainingId" class="form-control" aria-label="Training standard">
                    <option value=""></option>
                    @foreach (var standard in ViewBag.ApprenticeshipProducts)
                    {
                        <option value="@standard.Name">@standard.Name</option>
                    }
                </select>
                <hr />
            </div>

            <div class="form-group">
                <fieldset>
                    <legend>
                        <span class="form-label-bold">Projected start date</span>
                    </legend>
                    <div class="form-date">
                        <div class="form-group form-group-month">
                            <label for="startMonth">Month</label>
                            <input class="form-control" id="startMonth" name="startMonth" type="number"
                                   min="1" max="12" placeholder="MM" value="@Model.StartMonth">
                        </div>
                        <div class="form-group form-group-year">

                            <label for="startYear">Year</label>
                            <input class="form-control" id="startYear" name="startYear" type="number"
                                   min="2016" max="2030" placeholder="YYYY" value="@Model.StartYear">
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="form-group">
                <fieldset>
                    <legend>
                        <span class="form-label-bold" style="margin-bottom: 0; padding-bottom: 0">Projected finish date</span>
                    </legend>
                    <div class="form-date">
                        <div class="form-group form-group-month">
                            <label for="endMonth">Month</label>
                            <input class="form-control" id="endMonth" name="endMonth" type="number"
                                   min="1" max="12" placeholder="MM" value="@Model.EndMonth">
                        </div>
                        <div class="form-group form-group-year">
                            <label for="endYear">Year</label>
                            <input class="form-control" id="endYear" name="endYear" type="number"
                                   min="2016" max="2030" placeholder="YYYY" value="@Model.EndYear">
                        </div>
                    </div>
                </fieldset>
                <hr />
            </div>

            @Html.EditorFor(m => m.Cost, "FormCurrencyString", new { htmlAttributes = new { @class = "form-control form-control-3-4", type = "number", min = "1", step = "1" }, labelText = "Cost" })
            <hr />
            @Html.EditorFor(m => m.ULN, "FormString", new { htmlAttributes = new { @class = "form-control form-control-3-4", type = "number", min = "1000000000", step = "1" }, labelText = "Unique learner number" })
          
            <input type="hidden" id="status" name="status" value="@Model.Status" />
            <input type="hidden" id="agreementStatus" name="agreementStatus" value="@Model.AgreementStatus" />
            <button type="submit" class="button">Add apprentice</button>
        </form>
    </div>
</div>
