@using SFA.DAS.EmployerApprenticeshipsService.Web.Models
@using SFA.DAS.EmployerApprenticeshipsService.Web.Extensions

@model CommitmentViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">View commitment</h1>
        <table>
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>@Model.Name</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Legal entity</th>
                    <td>@Model.LegalEntityName</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Provider</th>
                    <td>@Model.ProviderName</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-medium">Apprentices</h2>
        @if (Model.Apprenticeships.Count == 0)
        {
            <p class="panel panel-info">
                No apprentices exist for this commitment.
            </p>
        }
        else
        {
        <div class="responsive-table">
            <div class="responsive-thead">
                <div class="responsive-tr">
                    <div class="responsive-th">Apprentice</div>
                    <div class="responsive-th">Training</div>
                    <div class="responsive-th">Status</div>
                    <div class="responsive-th"> </div>
                    <div class="responsive-th"> </div>
                </div>
            </div>
            <div class="responsive-tbody">
                @foreach (var apprenticeship in Model.Apprenticeships)
                {
                    <div class="responsive-tr">
                        <div class="responsive-td">
                            <div class="responsive-inner-caption">ApprenticeshipName</div>
                            <div>@apprenticeship.ApprenticeshipName</div>
                        </div>
                        <div class="responsive-td">
                            <div class="responsive-inner-caption">Training</div>
                            <div>@apprenticeship.TrainingName</div>
                        </div>
                        <div class="responsive-td">
                            <div class="responsive-inner-caption">Status</div>
                            <div>@apprenticeship.Status.GetDescription()</div>
                        </div>
                        <div class="responsive-td">
                            <div>
                                <a href="@Url.Action("ApprenticeshipDetails", new { hashedApprenticeshipId = apprenticeship.HashedId })" class="button">View</a>
                            </div>
                            <div class="responsive-inner-caption"></div>
                        </div>
                        <div class="responsive-td">
                            @if (apprenticeship.CanBeApproved())
                            {
                                <div>
                                    <form action="@Url.Action("ApproveApprenticeship", new { hashedApprenticeshipId = apprenticeship.HashedId })" method="POST">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" name="commitment" class="button">Approve</button>
                                    </form>
                                </div>
                                <div class="responsive-inner-caption"></div>
                            }
                            @if (apprenticeship.CanBePaused())
                            {
                                <div>
                                    <form action="@Url.Action("PauseApprenticeship", new { hashedApprenticeshipId = apprenticeship.HashedId })" method="POST">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" name="commitment" class="button">Pause</button>
                                    </form>
                                </div>
                                <div class="responsive-inner-caption"></div>
                            }
                            @if (apprenticeship.CanBeResumed())
                            {
                                <div>
                                    <form action="@Url.Action("ResumeApprenticeship", new { hashedApprenticeshipId = apprenticeship.HashedId })" method="POST">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" name="commitment" class="button">Resume</button>
                                    </form>
                                </div>
                                <div class="responsive-inner-caption"></div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        }
        <a href="@Url.Action("CreateApprenticeshipEntry")" class="button">Add an apprentice</a>
    </div>
</div>
