@using SFA.DAS.EmployerApprenticeshipsService.Web
@using SFA.DAS.EmployerApprenticeshipsService.Web.Models

@model OrchestratorResponse<CommitmentListViewModel>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Commitments</h1>
        <hr />
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <div class="responsive-table">
            <div class="responsive-thead">
                <div class="responsive-tr">
                    <div class="responsive-th">Provider</div>
                    <div class="responsive-th">Name</div>
                    <div class="responsive-th"> </div>
                </div>
            </div>
            <div class="responsive-tbody">
                @foreach (var commitment in Model.Data.Commitments)
                {
                    <div class="responsive-tr">
                        <div class="responsive-td">
                            <div>@commitment.ProviderName</div>
                            <div class="responsive-inner-caption"></div>
                        </div>
                        <div class="responsive-td">
                            <div class="responsive-inner-caption">Role</div>
                            <div>@commitment.Name</div>
                        </div>
                        <div class="responsive-td">
                            <div>
                                <form action="@Url.Action("Details")" method="GET">
                                    <input type="hidden" name="accountId" value="@commitment.EmployerAccountId" />
                                    <input type="hidden" name="commitmentId" value="@commitment.Id" />
                                    <button type="submit" name="commitment" class="button">View</button>
                                </form>
                            </div>
                            <div class="responsive-inner-caption"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<form action="@Url.Action("Create")" method="GET">
    <input type="hidden" name="accountId" value="@Model.Data.AccountId" />
    <button type="submit" name="commitment" class="button">Create commitment</button>
</form>
