@using SFA.DAS.EmployerApprenticeshipsService.Web
@using SFA.DAS.EmployerApprenticeshipsService.Web.Models

@model OrchestratorResponse<CommitmentListViewModel>

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.Data.NumberOfTasks > 0)
        {
            <h2 class="heading-medium">Tasks</h2>
           <p>Any commitments that need your attention are shown below:</p>
            if (Model.Data.NumberOfTasks == 1)
            {
                <p>You have <span class="bold-small">1</span> task to complete.</p>
            }
            else
            {
                <p>You have <span class="bold-small">Model.Data.NumberOfTasks.ToString()</span> tasks to complete.</p>
            }

            if (Model.Data.NumberOfTasks > 0)
            {
                <a href="@Url.Action("Index", "EmployerTasks", new { accountId = Model.Data.AccountId })" class="link">View tasks</a>
            }
            <hr />
        }
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Commitments</h1>
        <hr />
        <p>Any commitments that are new or in discussion with your training provider are listed below:/p>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        @if (Model.Data.Commitments.Count == 0)
        {
            <p class="panel panel-info">
                There are no commitments.
            </p>
        }
        else
        {
        <div class="responsive-table">
            <div class="responsive-thead">
                <div class="responsive-tr">
                    <div class="responsive-th">Provider</div>
                    <div class="responsive-th">Legal entity</div>
                    <div class="responsive-th">Name</div>
                    <div class="responsive-th"> </div>
                    <div class="responsive-th"> </div>
                </div>
            </div>
            <div class="responsive-tbody">
                @foreach (var commitment in Model.Data.Commitments)
                {
                    <div class="responsive-tr">
                        <div class="responsive-td">
                            <div>@commitment.ProviderName</div>
                            <div class="responsive-inner-caption"></div>
                        </div>
                        <div class="responsive-td">
                            <div>@commitment.LegalEntityName</div>
                            <div class="responsive-inner-caption"></div>
                        </div>
                        <div class="responsive-td">
                            <div class="responsive-inner-caption">Role</div>
                            <div>@commitment.Name</div>
                        </div>
                        <div class="responsive-td">
                            <div>
                                <form action="@Url.Action("Details")" method="GET">
                                    <input type="hidden" name="accountId" value="@commitment.EmployerAccountId"/>
                                    <input type="hidden" name="commitmentId" value="@commitment.Id"/>
                                    <button type="submit" name="commitment" class="button">View</button>
                                </form>
                            </div>
                            <div class="responsive-inner-caption"></div>
                        </div>
                        <div class="responsive-td">
                            @if (commitment.CanBeSubmitted())
                            {
                                <div>
                                    <form action="@Url.Action("Submit")" method="GET">
                                        <input type="hidden" name="accountId" value="@commitment.EmployerAccountId" />
                                        <input type="hidden" name="commitmentId" value="@commitment.Id" />
                                        <button type="submit" name="commitment" class="button">Submit</button>
                                    </form>
                                </div>
                                <div class="responsive-inner-caption"></div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        }
    </div>
</div>
<form action="@Url.Action("Inform")" method="GET">
    <input type="hidden" name="accountId" value="@Model.Data.AccountId" />
    <button type="submit" name="commitment" class="button">Add new commitment</button>
</form>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="/">Your User Profile</a></li>
            <li><a href="@Url.Action("Index", "EmployerTeam", new {accountId = @Model.Data.AccountId})">Employer Account Homepage</a></li>
            <li>Commitments</li>
        </ol>
    </div>
}
