@using SFA.DAS.EmployerApprenticeshipsService.Web.Models
@using SFA.DAS.EmployerApprenticeshipsService.Domain.Entities.Account

@model SelectLegalEntityViewModel

@section Scripts {
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryvalcustom")
}


<div class="grid-row">
    <form method="POST" action="@Url.Action("SetLegalEntity")">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Choose employer</h1>

            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
          
            @Html.AntiForgeryToken()
            <div class="form-group">

                <fieldset>

                    @Html.LabelFor(m => m.LegalEntityCode, "Organisation", new { @class = "form-label" })

                    <p>Choose the organisation that's entered into the contract for the apprentices you're adding.</p>

                    <div>
                        @Html.ValidationMessageFor(m => m.LegalEntityCode, "Please choose an option from the list.")
                    </div>
                    @foreach (LegalEntity entity in ViewBag.LegalEntities)
                    {
                        <label class="block-label selection-button-radio" for="@Html.IdFor(m => m.LegalEntityCode)">
                            @Html.RadioButtonFor(m => m.LegalEntityCode, entity.Code, new { id = entity.Code })
                            @entity.Name
                        </label>
                    }
               </fieldset>
            </div>
            <button type="submit" class="button">Next</button>

        </div>
    </form>
</div>
