@using SFA.DAS.EmployerApprenticeshipsService.Web.Models
@using SFA.DAS.EmployerApprenticeshipsService.Domain.Entities.Account

@model SelectLegalEntityViewModel

@section Scripts {
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryvalcustom")
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Choose employer</h1>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("SetLegalEntity")">
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            <hr />
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.LegalEntityCode, "Organisation", new { @class = "form-label" })
                <div class="form-group">
                    <p>Choose the organisation that's entered into the contract for the apprentices you're adding.</p>
                </div>
                @Html.ValidationMessageFor(m => m.LegalEntityCode)
                @foreach (LegalEntity entity in ViewBag.LegalEntities)
                {
                    <label class="block-label" for="@Html.IdFor(m => m.LegalEntityCode)">
                        @Html.RadioButtonFor(m => m.LegalEntityCode, entity.Code, new { id = entity.Code })
                        @entity.Name
                    </label>
                }
            </div>
            <button type="submit" class="button">Next</button>
        </form>
    </div>
</div>
