@using SFA.DAS.EmployerApprenticeshipsService.Web.Models

@model SelectProviderViewModel

@section Scripts {
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryvalcustom")
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Find your training provider</h1>
        <p>Search for the training provider that will be training your apprentices.</p>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("SetProvider")">
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            <hr />
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.ProviderId, "Search for training provider", new { @class = "form-label" })
                <div class="form-group">
                    <p>Search by UK Provider Reference Number (UKPRN).</p>
                </div>
                @Html.ValidationMessageFor(m => m.ProviderId)
                @Html.DropDownListFor(m => m.ProviderId, new SelectList(ViewBag.Providers, "Id", "Name"), "Select", new { @class = "form-control", aria_label = "Training Provider" })
            </div>
            <a href="#" class="toggle toggle-closed">What is a UKPRN?</a>
            <div class="help-content" data-toggle-text="What is a UKPRN?" aria-hidden="false" aria-expanded="true">
                <h2 class="visuallyhidden">What is a UKPRN?</h2>
                <p>A UK Provider Reference Number (UKPRN) is a unique number that identifies an individual training provider. Your training provider will be able to tell you their UKPRN.</p>
            </div>
            <button type="submit" class="button">Search</button>
            <input type="hidden" id="legalEntityCode" name="legalEntityCode" value="@Model.LegalEntityCode" />
        </form>
    </div>
</div>
