@using SFA.DAS.EmployerApprenticeshipsService.Web
@using SFA.DAS.EmployerApprenticeshipsService.Web.Models

@model OrchestratorResponse<CreateCommitmentViewModel>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Create cohort</h1>
        <hr />
        <p>You're about to create a cohort that you can add one or more apprentices to.</p>
        <p>You can give your cohort a name, such as 'September cohort' or 'Coventry apprentices', to help you and your training provider identify it.</p>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <table>
            <tbody>
                <tr>
                    <th scope="row">Employer</th>
                    <td>@Model.Data.LegalEntityName</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Training provider</th>
                    <td>@Model.Data.ProviderName</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <form method="POST" action="@Url.Action("CreateCommitment")">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="form-label" for="Name">Cohort name</label>
                    <p>Your training provider will see this.</p>
                    <input class="form-control form-control-3-4" id="Name" name="Name" type="text"
                       aria-required="true" />
            </div>
            <input type="hidden" id="legalEntityCode" name="legalEntityCode" value="@Model.Data.LegalEntityCode" />
            <input type="hidden" id="legalEntityName" name="legalEntityName" value="@Model.Data.LegalEntityName" />
            <input type="hidden" id="providerId" name="providerId" value="@Model.Data.ProviderId" />
            <input type="hidden" id="providerName" name="providerName" value="@Model.Data.ProviderName" />
            <button type="submit" class="button">Create</button>
        </form>
    </div>
</div>
