@using SFA.DAS.Authorization
@using SFA.DAS.EmployerAccounts.Web.Extensions
@switch (Model.AuthorizationResult)
{
    case AuthorizationResult.Ok:
        <div class="grid-row">
            <div class="column-two-thirds">
                <p><a href="@Url.EmployerProjectionsAction("forecasting/estimations/start-transfer")">Estimate</a> the number of apprentices you can fund with your transfer allowance.</p>
                <p>Employers who pay the apprenticeship levy can connect with other employers and transfer up to @Model.TransferAllowancePercentage.ToString("N0")% of their previous year's annual funds.</p>
                <p>Before starting a connection, both the sending and receiving employers need to read and understand the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-and-performance-management-rules-2017-to-2018">rules for sending and receiving transfers</a>.</p>
                <p>Only the sending employer can start a connection.</p>
            </div>
        </div>
        if (Model.IsValidSender)
        {
            <div class="grid-row">
                <div class="column-two-thirds">
                    <a class="button" href="@Url.Action("Index", "TransferConnectionInvitations")">Connect to a receiving employer</a>
                </div>
            </div>
        }
        break;
    case AuthorizationResult.FeatureAgreementNotSigned:
        <div class="grid-row">
            <div class="column-two-thirds">
                <p><a href="@Url.EmployerProjectionsAction("forecasting/estimations/start-transfer")">Estimate</a> the number of apprentices you can fund with your transfer allowance.</p>
                <p>Employers who pay the apprenticeship levy can connect with other employers and transfer up to @Model.TransferAllowancePercentage.ToString("N0")% of their previous year's annual funds.</p>
                <p>Before starting a connection, both the sending and receiving employers need to read and understand the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-and-performance-management-rules-2017-to-2018">rules for sending and receiving transfers</a> and sign the updated organisation agreement with ESFA.</p>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <a class="button" href="@Url.Action("Index", "EmployerAgreement")">Sign ESFA agreement</a>
            </div>
        </div>
        break;
    default:
        throw new ArgumentOutOfRangeException();
}