@using SFA.DAS.EmployerAccounts.Models.TransferConnections
@using SFA.DAS.EmployerAccounts.Web.Extensions
@using SFA.DAS.EmployerAccounts.Web.Helpers

@model SFA.DAS.EmployerAccounts.Web.ViewModels.TransferConnectionInvitationsViewModel

<h3 class="heading-medium">
    Connection requests
</h3>

<div class="grid-row">
    <div class="column-full">
        <table class="responsive">
            <caption class="heading-small">Employers you are connecting with to send funds to</caption>
            <thead>
                <tr>
                    <th>Employer</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.TransferSenderConnectionInvitations.Any())
                {
                    foreach (var transferConnectionInvitation in Model.TransferSenderConnectionInvitations)
                    {
                        <tr>
                            <td data-label="Employer">@transferConnectionInvitation.ReceiverAccount.Name</td>
                            <td data-label="Status">@transferConnectionInvitation.Status.ToString()</td>
                            <td>
                                @if (Html.IsAuthorized("EmployerFeature.TransferConnectionRequests"))
                                {
                                    <a href="@Url.Action("Details", "TransferConnectionInvitations", new { transferConnectionInvitationId = transferConnectionInvitation.Id })">Details</a>   
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">You have no pending or approved requests</td>
                    </tr>
                }
            </tbody>
        </table>

        <table class="responsive">
            <caption class="heading-small">Employers you are connecting with to receive funds from</caption>
            <thead>
                <tr>
                    <th>Employer</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.TransferReceiverConnectionInvitations.Any())
                {
                    foreach (var transferConnectionInvitation in Model.TransferReceiverConnectionInvitations)
                    {
                        <tr>
                            <td data-label="Employer">@transferConnectionInvitation.SenderAccount.Name</td>
                            <td data-label="Status">@transferConnectionInvitation.Status.ToString()</td>
                            <td>
                                @if (Html.IsAuthorized("EmployerFeature.TransferConnectionRequests"))
                                {
                                    if (transferConnectionInvitation.Status == TransferConnectionInvitationStatus.Pending)
                                    {
                                        <a href="@Url.Action("Receive", "TransferConnectionInvitations", new { transferConnectionInvitationId = transferConnectionInvitation.Id })">Details</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Details", "TransferConnectionInvitations", new { transferConnectionInvitationId = transferConnectionInvitation.Id })">Details</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">You have no pending or approved requests</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>