@using SFA.DAS.EmployerAccounts.Web.Extensions
@using SFA.DAS.EmployerAccounts.Web.Helpers

@model SFA.DAS.EmployerAccounts.Web.ViewModels.TransferRequestsViewModel

@{
    var culture = new CultureInfo("en-GB");
}

<h3 class="heading-medium">
    Transfer requests
</h3>

<div class="grid-row">
    <div class="column-full">
        <table class="responsive">
            <caption class="heading-small">Transfer funds you are sending other employers</caption>
            <thead>
                <tr>
                    <th>Employer</th>
                    <th>Status</th>
                    <th>Total cost</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.TransferSenderRequests.Any())
                {
                    foreach (var transferRequest in Model.TransferSenderRequests)
                    {
                        <tr>
                            <td data-label="Employer">@transferRequest.ReceiverAccount.Name</td>
                            <td data-label="Status">@transferRequest.Status.ToString()</td>
                            <td data-label="Total cost">@transferRequest.TransferCost.ToString("C0", culture)</td>
                            <td>
                                @if (Html.IsAuthorized("EmployerFeature.TransferConnectionRequests"))
                                {
                                    <a href="@Url.EmployerCommitmentsV2Action($"sender/transfers/{transferRequest.TransferRequestHashedId}")">Details</a>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">You have no pending or approved requests</td>
                    </tr>
                }
            </tbody>
        </table>

        <table class="responsive">
            <caption class="heading-small">Transfer funds you are receiving from other employers</caption>
            <thead>
                <tr>
                    <th>Employer</th>
                    <th>Status</th>
                    <th>Total cost</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.TransferReceiverRequests.Any())
                {
                    foreach (var transferRequest in Model.TransferReceiverRequests)
                    {
                        <tr>
                            <td data-label="Employer">@transferRequest.SenderAccount.Name</td>
                            <td data-label="Status">@transferRequest.Status.ToString()</td>
                            <td data-label="Total cost">@transferRequest.TransferCost.ToString("C0", culture)</td>
                            <td>
                                @if (Html.IsAuthorized("EmployerFeature.TransferConnectionRequests"))
                                {
                                    <a href="@Url.EmployerCommitmentsV2Action($"receiver/transfers/{transferRequest.TransferRequestHashedId}")">Details</a>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">You have no pending or approved requests</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>