@model OrchestratorResponse<AddNewPayeSchemeViewModel>
@{
    ViewBag.PageID = "page-paye-scheme-confirm";
    ViewBag.ZenDeskLabel = "eas-confirm-paye-scheme";
    ViewBag.Title = "Confirm PAYE Scheme";
    ViewBag.Section = "paye";

    string hashedAccountId = ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]?.ToString();
}

@if (string.IsNullOrEmpty(Model.Data.PayeScheme))
{
    ViewBag.PageID = "page-paye-scheme-in-use-error";
    ViewBag.Title = "PAYE scheme already in use";
    ViewBag.ZenDeskLabel = "eas-paye-scheme-already-in-use";
    ViewBag.GaData.Vpv = "/accounts/schemes/confirm";
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (!string.IsNullOrEmpty(Model.Data.PayeScheme))
        {
            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Confirm <abbr>PAYE</abbr> scheme</span>
                @Model.Data.PayeScheme
            </h1>

            <form method="post">

                <p class="govuk-body">Is this the correct <abbr>PAYE</abbr> scheme?</p>

                <input type="hidden" value="@Model.Data.HashedAccountId" name="HashedId" />
                <input type="hidden" value="@Model.Data.PayeScheme" name="PayeScheme" />
                <input type="hidden" value="@Model.Data.RefreshToken" name="RefreshToken" />
                <input type="hidden" value="@Model.Data.AccessToken" name="AccessToken" />
                <input type="hidden" value="@Model.Data.PayeName" name="PayeName" />

                <div class="govuk-form-group">
                    <button type="submit" class="govuk-button" id="accept">Yes, continue</button>
                    <a asp-route="@RouteNames.EmployerAccountPayeGateway" asp-route-hashedAccountId="@hashedAccountId" class="govuk-link das-link--button-aligned">No, use different details</a>
                </div>
            </form>
        }
        else if (Model.Data.EmprefNotFound)
        {
            @await Html.PartialAsync("_PayeNotFound", Url.Action("Getgateway", "EmployerAccountPaye", new { hashedAccountId }))
        }
        else
        {
            ViewBag.GaData.Vpv = "/accounts/schemes/page-paye-scheme-in-use-error";

            <h1 class="govuk-heading-xl"><abbr>PAYE</abbr> scheme already in use</h1>
            <p class="govuk-body">The <abbr>PAYE</abbr> scheme for the Government Gateway details you entered is already added to an account.</p>
            <p class="govuk-body"><a class="govuk-button" asp-route="@RouteNames.EmployerAccountPayeGateway" asp-route-hashedAccountId="@hashedAccountId">Use different details</a></p>
        }

    </div>
</div>

@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <a asp-route="@RouteNames.EmployerAccountPaye" asp-route-hashedAccountId="@hashedAccountId" class="govuk-back-link">Back to <abbr>PAYE</abbr> schemes</a>
    </div>
}
