@using System.Linq
@model SFA.DAS.EmployerAccounts.Web.OrchestratorResponse<SFA.DAS.EmployerAccounts.Web.ViewModels.PayeSchemeDetailViewModel>

@{
    ViewBag.Title = "View PAYE scheme";
    ViewBag.PageID = "page-paye-schemes-view";
    ViewBag.Section = "paye";
    ViewBag.ZenDeskLabel = "eas-paye-scheme";
    ViewBag.GaData.Vpv = "/accounts/schemes/details";

    var hashedAccountId = ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId];
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl"><abbr>PAYE</abbr> scheme</span>
            @Model.Data.EmpRef
            <span class="govuk-caption-xl">@Model.Data.PayeSchemeName</span>
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-heading-m">Scheme history</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Date</th>
                    <th class="govuk-table__header govuk-table__header--numeric" scope="col"><span class="das-no-wrap">English %</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @if (Model.Data.Fractions.Any()) {
                    foreach (var fraction in Model.Data.Fractions)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <span class="das-no-wrap">@fraction.DateCalculated.ToString("dd MMM yy")</span>
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                @if (fraction.Amount == 1) {
                                    @:100%
                                }
                                else if (fraction.Amount == 0) {
                                    @:0%
                                }
                                else {
                                    @fraction.Amount.ToString("P3")
                                }
                            </td>
                        </tr>
                    }
                } else {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span class="das-no-wrap"> @Model.Data.EmpRefAdded.ToString("dd MMM yy")</span>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            100%
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @await Html.PartialAsync("_WhatIsEnglishPercentage")

    </div>
    <div class="govuk-grid-column-one-third">
        <a asp-controller="@ControllerConstants.EmployerAccountPayeControllerName"
        asp-action="Remove"
        asp-route-hashedAccountId="@hashedAccountId" 
        asp-route-empRef="@Model.Data.EmpRef.FormatPayeForUrl()" 
        class="govuk-button das-float-right" 
        aria-label="Remove PAYE scheme @Model.Data.EmpRef"
        title="Remove PAYE scheme @Model.Data.EmpRef">Remove <abbr>PAYE</abbr> scheme</a>
    </div>
</div>

@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list" role="navigation">
            <li class="govuk-breadcrumbs__list-item"><a asp-route="@RouteNames.EmployerTeamIndex" asp-route-hashedAccountId="@hashedAccountId" class="govuk-breadcrumbs__link">Home</a></li>
            <li class="govuk-breadcrumbs__list-item"><a asp-route="@RouteNames.EmployerAccountPaye" asp-route-hashedAccountId="@hashedAccountId" class="govuk-breadcrumbs__link"><abbr>PAYE</abbr> schemes</a></li>
            <li class="govuk-breadcrumbs__list-item"><abbr>PAYE</abbr> scheme @Model.Data.EmpRef</li>
        </ol>
    </div>
}
