@model OrchestratorResponse<EmployerAccountPayeListViewModel>
@{
    ViewBag.PageID = "page-paye-schemes-index";
    ViewBag.Title = "PAYE schemes";
    ViewBag.Section = "paye";
    ViewBag.ZenDeskLabel = "eas-paye-schemes";
    ViewBag.GaData.Vpv = "/accounts/schemes/page-paye-schemes-index";

    if (!string.IsNullOrEmpty(Model.FlashMessage?.HiddenFlashMessageInformation))
    {
        ViewBag.PageID = Model.FlashMessage.HiddenFlashMessageInformation;
    }

    var hashedAccountId = ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId];
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6"><abbr>PAYE</abbr> schemes</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">You'll need to add all the <abbr>PAYE</abbr> schemes you intend to use to pay for apprenticeship training.</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <form asp-controller="@ControllerConstants.EmployerAccountPayeControllerName"
              asp-action="@ControllerConstants.GatewayInformActionName"
              asp-route-hashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]"
              method="GET">
            <input class="govuk-button das-float-right" id="addNewPaye" type="submit" value="Add new scheme">
        </form>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.Data.PayeSchemes.Any())
        {
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-visually-hidden">Table of <abbr>PAYE</abbr> schemes</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Added <abbr>PAYE</abbr> schemes</th>
                        <th scope="col" class="govuk-table__header"><span class="das-no-wrap">English %</span></th>
                        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var scheme in Model.Data.PayeSchemes)
                    {
                        var englishFractionPercentage = (scheme.EnglishFraction?.Amount ?? 1);
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                @scheme.Ref
                                <span class="secondary-text">@scheme.Name</span>
                            </td>

                            @if (englishFractionPercentage == 1)
                            {
                                <td class="govuk-table__cell">100%</td>
                            }
                            else if (englishFractionPercentage == 0)
                            {
                                <td class="govuk-table__cell">0%</td>
                            }
                            else
                            {
                                <td class="govuk-table__cell">@englishFractionPercentage.ToString("P3")</td>
                            }

                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <a asp-route="@RouteNames.PayeDetails"
                                   asp-route-hashedAccountId="@hashedAccountId"
                                   asp-route-empRef="@scheme.Ref.FormatPayeForUrl()"
                                   class="govuk-link"
                                   aria-label="Details for PAYE scheme @scheme.Ref"
                                   title="Details for PAYE scheme @scheme.Ref">
                                    Details <span class="govuk-visually-hidden">for <abbr>PAYE</abbr> scheme @scheme.Ref</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            @await Html.PartialAsync("_WhatIsEnglishPercentage")
        }
        else
        {

            <p class="govuk-body">There are no <abbr>PAYE</abbr> schemes associated with this organisation.</p>

        }
    </div>
</div>

@section pageSpecificJS {
    <script>
        var seenEPInform = false;
        $('#inform-english-percentage').on('toggle', function (e) {
            if (!seenEPInform) {
                dataLayer.push(
                    { 'event': 'englishPercentageDropdown' }
                );
            }
        });

    </script>
}

@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list" role="navigation">
            <li class="govuk-breadcrumbs__list-item">
                <a asp-route="@RouteNames.EmployerTeamIndex" asp-route-hashedAccountId="@hashedAccountId" class="govuk-breadcrumbs__link">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <abbr>PAYE</abbr> schemes
            </li>
        </ol>
    </div>
}