@model OrchestratorResponse<PayeSchemeNextStepsViewModel>
@{ViewBag.PageID = "page-paye-scheme-next-steps";}
@{ViewBag.Title = "What's next";}
@{ViewBag.Section = "paye";}
@{Layout = "~/Views/Shared/_Layout_CDN.cshtml"; }

@{
    ViewBag.GaData.Vpv = "/accounts/schemes/page-paye-scheme-next-steps";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="POST" action="@Url.Action("NextSteps")">
            @Html.AntiForgeryToken()

            <div class="govuk-form-group @(!string.IsNullOrEmpty(Model.Data.ErrorMessage) ? "govuk-error-message" : "")">
                <fieldset class="govuk-fieldset" @(!string.IsNullOrEmpty(Model.Data.ErrorMessage) ? " aria-describedby='select-option'" : "")>
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            What's next
                        </h1>
                    </legend>

                    @if (!string.IsNullOrWhiteSpace(Model.Data.ErrorMessage))
                    {
                        <span id="select-option" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @Model.Data.ErrorMessage
                        </span>
                    }

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="choice1" name="choice" type="radio" value="1">
                            <label class="govuk-label govuk-radios__label" for="choice1">
                                Add another <abbr>PAYE</abbr> scheme
                            </label>
                        </div>
                        @if (!Model.Data.ShowWizard)
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="choice2" name="choice" type="radio" value="2">
                                <label class="govuk-label govuk-radios__label" for="choice2">
                                    Check finances
                                </label>
                            </div>
                        }
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="choice3" name="choice" type="radio" value="3">
                            <label class="govuk-label govuk-radios__label" for="choice3">
                                @(Model.Data.ShowWizard ? "Continue account setup" : "Return to homepage")
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" id="accept">Continue</button>
            </div>

        </form>

    </div>
</div>
