@model OrchestratorResponse<RemovePayeSchemeViewModel>
@{ViewBag.PageID = "page-remove-paye-scheme";}
@{ViewBag.Title = "Remove PAYE scheme";}
@{ViewBag.Section = "paye";}

@{
    ViewBag.GaData.Vpv = "/accounts/schemes/page-paye-scheme-remove";
    ViewBag.ZenDeskLabel = "eas-remove-paye-scheme";
}

@if (!Model.Data.Valid)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li>
                    <a href="#yes">Please confirm you wish to remove the scheme</a>
                </li>
            </ul>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Remove this scheme? </span>

            @if (!string.IsNullOrWhiteSpace(Model.Data.PayeSchemeName))
            {
                @Model.Data.PayeSchemeName <br />
            }
            @Model.Data.PayeRef
        </h1>

        <p class="govuk-body">The <b>@Model.Data.AccountName</b> account will stop receiving funds through this <abbr title="Pay As You Earn">PAYE</abbr> scheme.</p>

        <form 
            method="post" 
            asp-route="@RouteNames.PayePostRemove" 
            asp-route-hashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]" >

            <input type="hidden" value="@Model.Data.PayeRef" name="PayeRef" />
            <input type="hidden" value="@Model.Data.HashedAccountId" name="HashedId" />

            <div class="govuk-form-group govuk-!-margin-top-6 @(Model.Data.Valid ? "" : "govuk-form-group--error")">

                <fieldset id="confirm" class="govuk-fieldset" aria-describedby="confirm-hint  @(Model.Data.Valid ? "" : "confirm-error")">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 id="confirm-hint" class="govuk-fieldset__heading">
                            Remove this <abbr>PAYE</abbr> scheme
                        </h1>
                    </legend>

                    @if (!Model.Data.Valid)
                    {
                        <span id="confirm-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error: </span>@Model.Data.RemoveSchemeErrorMessage
                        </span>
                    }

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input type="radio" id="yes" class="govuk-radios__input" name="RemoveScheme" value="2">
                            <label class="govuk-label govuk-radios__label" for="yes">
                                Yes, remove scheme
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input type="radio" id="no" class="govuk-radios__input" name="RemoveScheme" value="1">
                            <label class="govuk-label govuk-radios__label" for="no">
                                No, don't remove
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button">Continue</button>
            </div>

        </form>
    </div>
</div>
@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list" role="navigation">
            <li class="govuk-breadcrumbs__list-item"><a href="@Url.Action("Index", "EmployerTeam")"" class="govuk-breadcrumbs__link">Home</a></li>
            <li class="govuk-breadcrumbs__list-item"><a href="@Url.Action("Index", "EmployerAccountPaye")"" class="govuk-breadcrumbs__link"><abbr>PAYE</abbr> schemes</a></li>
            <li class="govuk-breadcrumbs__list-item">Remove <abbr>PAYE</abbr> scheme</li>
        </ol>
    </div>
}