@using SFA.DAS.EmployerAccounts.Web.Helpers
@{ViewBag.PageID = "page-paye-scheme-ways-to-add"; }
@{ViewBag.Title = "Ways to add your PAYE scheme"; }
@{ViewBag.Section = "paye";}
@{ViewBag.HideNav = true; }
@{
    ViewBag.GaData.Vpv = "/accounts/schemes/ways-to-add";
    var hiddenClass = ViewBag.InError != null && ViewBag.InError ? "" : "js-enabled js-hidden";
    var errorClass = ViewBag.InError != null && ViewBag.InError ? "govuk-form-group--error" : "";
    var aornAction = ViewBag.AornLock > 0 ? "$('#AornWarning').removeClass('js-hidden');$('#how-do-you-want-to-add-paye-scheme-form').addClass('govuk-form-group--error');" : "";
}
@{Layout = "~/Views/Shared/_Layout_CDN.cshtml"; }

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Ways to add your PAYE scheme</h1>
        <p class="govuk-heading-s">If you know the annual payroll for your organisation is under £3 million, you can use either:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Government Gateway login for your PAYE scheme</li>
            <li>accounts office reference number and employer PAYE scheme reference</li>
        </ul>

        <p class="govuk-heading-s">If you know the annual payroll for your organisation is over £3 million, you can use:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Government Gateway login for your PAYE scheme</li>
        </ul>
        <p class="govuk-inset-text">If you’re not sure how much your annual payroll is, choose <br>Government Gateway.</p>

        <form method="POST" action="@Url.Action(ControllerConstants.WaysToAddPayeSchemeActionName)">
            @Html.AntiForgeryToken()
            <div class="govuk-form-group @errorClass" id="how-do-you-want-to-add-paye-scheme-form">

                <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                    <span class="govuk-error-message @hiddenClass" aria-hidden="true" id="have-not-got-everything">
                        You must select an option to continue.
                    </span>

                    <div class="js-enabled js-hidden" id="AornWarning">
                        <span class="govuk-error-message">Due to incorrect attempts, this has been disabled for @ViewBag.AornLock minute@(ViewBag.AornLock > 1 ? "s" : "")</span>
                    </div>

                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" type="radio" name="choice" id="ways-to-add-your-paye" value="1" />
                            <label class="govuk-label govuk-radios__label" for="ways-to-add-your-paye">
                                I want to use Government Gateway
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" type="radio" name="choice" id="want-to-use-aorn" value="2" onclick="@aornAction" />
                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                                I want to use my accounts office reference number and employer PAYE scheme reference
                            </label>
                        </div>

                    </div>
                </fieldset>

            </div>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Before you continue, you must make sure you have authority to add PAYE schemes to the account for this organisation
                </strong>
            </div>

            <div class="govuk-form-group">
                <button class="govuk-button" type="submit" id="submit-how-to-add-payescheme">Continue</button>
            </div>

  
            
        </form>
    </div>
</div>
