@using System.Globalization
@model OrchestratorResponse<SFA.DAS.EmployerFinance.Web.ViewModels.Transfers.FinancialBreakdownViewModel>
@{
    ViewBag.PageID = "transfers-breakdown";
    ViewBag.Section = "finance";
    ViewBag.Title = "View my transfer finances";
    ViewBag.GaData.Vpv = $"/finance/transfers/breakdown";
    ViewBag.ZenDeskLabel = "eas-finance";
    var culture = new CultureInfo("en-GB");
}

<h1 class="heading-xlarge">View my transfer finances</h1>
<div class="grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="heading-medium">Transfer allowance for financial year @Model.Data.FinancialYearString</h2>
    </div>
    <br/>

    <div class="column-one-half">
        <p>This is calculated every year on 6 April and shows in your account after 20 April.</p>
        <p>
            This is the maximum amount of levy funds that you can transfer this financial year using pledges and <a href="https://www.gov.uk/guidance/transferring-your-apprenticeship-levy-to-another-business#how-can-i-transfer-levy-funds" target="_blank" rel="noopener" class="govuk-link govuk-link--no-visited-state">transfer connections</a>.
            Read more about <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/articles/360011900419-Transfers" target="_blank" rel="noopener" class="govuk-link govuk-link--no-visited-state">how transfers work</a>.
        </p>
    </div>

    <div class="column-one-half">
        <div class="finance-data">
            <dl>
                <dt>Transfer allowance for @Model.Data.FinancialYearString</dt>
                <dd>@Model.Data.StartingTransferAllowance.ToString("C0", culture)</dd>
            </dl>
        </div>
    </div>

</div>

<hr />


<h2 class="heading-medium">
    Projected funds for financial year @Model.Data.FinancialYearString
</h2>

<div class="grid-row">
    <div class="column-one-half">
        <table>
            <tr>
                <th scope="row">Approved applications to my transfer funds: accepted by applicant</th>
                <td class="numeric">@Model.Data.AcceptedPledgeApplications.ToString("C0", culture)</td>
            </tr>
            <tr>
                <th scope="row">Approved applications to my transfer funds: awaiting acceptance by applicant</th>
                <td class="numeric">@Model.Data.ApprovedPledgeApplications.ToString("C0", culture)</td>
            </tr>
            <tr>
                <th scope="row">Transfer connections</th>
                <td class="numeric">@Model.Data.TransferConnections.ToString("C0", culture)</td>
            </tr>
            <tr>
                <th scope="row">Total estimated spend</th>
                <td class="numeric"><strong>@Model.Data.CurrentYearEstimatedSpend.ToString("C0", culture)</strong></td>
            </tr>
        </table>
        <details>
            <summary><span class="summary">How are my projected funds calculated?</span></summary>
            <div class="panel panel-border-narrow">
                <p>Your projected funds are calculated by subtracting your <strong>total estimated spend</strong> from your <strong>@Model.Data.StartingTransferAllowance.ToString("C0", culture) transfer allowance</strong>.</p>
            </div>
        </details>
    </div>
    <div class="column-one-half">
        
        <div class="finance-data finance-data">
            <dl>
                <dt>Total estimated spend for @Model.Data.FinancialYearString</dt>
                <dd>@Model.Data.CurrentYearEstimatedSpend.ToString("C0", culture)</dd>
            </dl>
        </div>
        <br/>

        <div class="finance-data finance-data--highlight">
            <dl>
                <dt>Estimated remaining allowance for @Model.Data.FinancialYearString</dt>
                <dd>@Model.Data.EstimatedRemainingAllowance.ToString("C0", culture)</dd>
            </dl>
        </div>
    </div>
</div>

<hr />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h2 class="heading-medium">Approved applications and transfer connections in future financial years</h2>
        <p>These finances show approved applications for your pledges and for transfers where you have connected directly with an employer.</p>
        <p>This uses an estimated total cost of training and assessment, based on the funding band maximum for these apprenticeships.</p>
        <p>The yearly estimated costs are based on the planned start date of training and the 20% completion payment. It uses the financial year starting April. For our estimate we assume the completion payment will be made in the month after the planned end date.</p>

        <h2 class="heading-small">How is my estimated spend calculated?</h2>
        <p>The amount of your estimated spend can change during the financial year depending on the start and end dates, final agreed costs, and breaks in learning. Therefore these estimates can only be used as a guide.</p>

        <div class="grid-row">
            <div class="column-one-third">
                <div class="finance-data finance-data--future">
                    <dl>
                        <dt>Estimated spend @Model.Data.FinancialYearString</dt>
                        <dd>@Model.Data.CurrentYearEstimatedSpend.ToString("C0", culture)</dd>
                    </dl>
                </div>
            </div>
            <div class="column-one-third">
                <div class="finance-data finance-data--future">
                    <dl>
                        <dt>Estimated spend @Model.Data.NextFinancialYearString</dt>
                        <dd>@Model.Data.NextYearEstimatedSpend.ToString("C0", culture)</dd>
                    </dl>
                </div>
            </div>
            <div class="column-one-third">
                <div class="finance-data finance-data--future">
                    <dl>
                        <dt>Estimated spend @Model.Data.YearAfterNextFinancialYearString</dt>
                        <dd>@Model.Data.YearAfterNextYearEstimatedSpend.ToString("C0", culture)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>




@*TODO: <div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-medium">
            Download transfers finance data
        </h2>
        <p>Below are two downloadable csv files that will provide you with a detailed breakdown of your transfer finances.</p>

        <div class="notice finance-notice">
            <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
            </i>
            <strong class="bold-small">
                Your projections was last updated on 14 November 2021
            </strong>
        </div>

        <p><a href="#">Download year-to-date finance data - excel</a></p>
        <p>This shows actual learner level spend based on transactions reported by training providers via ILRs.</p>

        <p><a href="#">Download forecasted finance data - excel</a></p>
        <p>
            This shows learner level forecasted financial data. This is based on the information provided within approved pledge
            applications and confirmed transfers. This is a forecast and subject to change as details such as start and end dates,
            final agreed costs and breaks in learning may change.
        </p>

    </div>
</div>*@

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.EmployerAccountsAction("teams")">Home</a></li>
            <li><a href="@Url.EmployerFinanceAction("finance")">Finance</a></li>
            <li><a href="@Url.EmployerAccountsAction("transfers")">Transfers</a></li>
            <li>Financial breakdown</li>
        </ol>
    </div>
}
