@model OrchestratorResponse<TransfersIndexViewModel>

@{
    ViewBag.PageID = "transfers";
    ViewBag.Section = "finance";
    ViewBag.Title = "Transfers";
    ViewBag.AnalyticsData.Vpv = $"/finance/transfers";
    ViewBag.ZenDeskLabel = "eas-finance";
}

@if (Model.Data.CanViewTransfersSection)
{
    <h1 class="heading-xlarge">Transfers</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">My pledges</h2>
            <p>Create a public funding pledge which is shown online so that businesses can apply to you for a transfer of funds.</p>
            <div class="panel panel-border-wide">
                You have <strong>@Model.Data.PledgesCount</strong> transfer pledges.
            </div>
            <div class="">
                @if (Model.Data.RenderCreateTransfersPledgeButton)
                {
                    <a class="button" href="@Url.LevyMatchingTransfersAction("pledges/create/inform")" id="CreateTransfersPledgeButton">Create a transfers pledge</a>
                }
                <a href="@Url.LevyMatchingTransfersAction("pledges")" class="button button-secondary">View my transfer pledges and applications</a>
            </div>
        </div>
    </div>
}

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a href="@Url.EmployerAccountsAction("teams")">Home</a></li>
            <li><a href="@Url.LegacyEasAccountAction("finance")">Finance</a></li>
            <li>@ViewBag.Title</li>
        </ol>
    </div>
}

@section pageSpecificJS {
}