@using SFA.DAS.EAS.Web
@using SFA.DAS.EAS.Web.ViewModels

@model dynamic 

@{
    var viewModel = Model as OrchestratorResponse;
}

@if (!string.IsNullOrEmpty(viewModel?.FlashMessage?.Message) || !string.IsNullOrEmpty(viewModel?.FlashMessage?.SubMessage) || !string.IsNullOrEmpty(viewModel?.FlashMessage?.Headline))
{

    <div class="grid-row notification-wrapper">
        <div class="column-two-thirds">
            <div class="@viewModel.FlashMessage.SeverityCssClass" tabindex="-1">
                @if (!string.IsNullOrWhiteSpace(viewModel.FlashMessage.Headline))
                {
                    <h1 class="@(viewModel.FlashMessage.Severity == FlashMessageSeverityLevel.Error ? "bold-medium" : "bold-large")">@viewModel.FlashMessage.Headline</h1>
                }
                @if (!string.IsNullOrEmpty(viewModel.FlashMessage.Message))
                {
                    if (viewModel.FlashMessage.Severity == FlashMessageSeverityLevel.Okay)
                    {
                        <p><i class="icon-green-tick"></i>
                        @Html.Raw(viewModel.FlashMessage.Message)</p>
                    }
                    else
                    {
                        <p>@Html.Raw(viewModel.FlashMessage.Message)</p>
                    }

                }
                @if (!string.IsNullOrEmpty(viewModel.FlashMessage.SubMessage))
                {
                    <p>@Html.Raw(viewModel.FlashMessage.SubMessage)</p>
                }
                @if (viewModel.FlashMessage.ErrorMessages.Any())
                {
                    <ul class="error-summary-list">
                        @foreach (var errorMessage in viewModel.FlashMessage.ErrorMessages)
                        {
                            <li>
                                <a class="danger" href="#@errorMessage.Key">@errorMessage.Value</a>
                            </li>
                        }
                    </ul>
                }
            </div>

        </div>
    </div>
}